[2022-04-18 07:52] javiercasares commented on #132
Also, index disk space is not the same as backup / dump space, so maybe the database increases, but should not affect other parts.

[2022-04-18 11:02] mxbclang commented on #220
@tommydv It sounds like your issue is not related to the Performance Lab plugin, which is what this repo and issue are for. Can you please post to the <a href="https://wordpress.org/support/plugin/amp/">AMP plugin support forum</a> for assistance? Thanks!

[2022-04-18 11:32] mxbclang commented on #300
_Please vote for this approach with the designated emoji. Voting will close on **Monday, May 2 at 5pm UTC**._

- 👍 for option 1, **following WordPress core's versioning approach and increment the minor version until a maximum of 9 before incrementing the major version.** Patch releases would only be used on demand for hot fix releases (e.g. critical bug fix, security fix).
- ❤️ for option 2, follo

[2022-04-18 17:30] #285 closed, assigned to felixarntz

[2022-04-18 18:01] felixarntz opened #306 "Fix command line utilities to sort modules correctly"
The various JS-based command line utilities that access module files to parse out some information (`npm run translations` and `npm run enabled-modules`) currently do so in random order. While this is not a major problem, it's certainly inconvenient and undesirable, as it may introduce changes to the generated files without any of the actual data in there changing.

We should fix it, so that these

[2022-04-18 18:36] felixarntz commented on #295
@mitogh The constant `IMAGE_EDIT_OVERWRITE` is not defined in my environment (I'm using the built-in testing environment from the Performance Lab plugin).

After further testing, I've verified the issue I originally reported is indeed valid. However, **it only happens when restoring an image**. It does not happen when doing multiple edits to an image, that all works fine.

Please review all of the

[2022-04-18 18:40] felixarntz commented on #295
@mitogh I've updated the issue title and description based on my finding above. The bug is still valid, but it only happens when restoring the original.

[2022-04-18 18:45] jeffpaul commented on #300
👍🏼 and additional thoughts... While I appreciate SemVer and wish more would follow that to keep version changes explicit in terms of what's included, keeping the same approach that both WordPress core and Gutenberg take is probably the easiest approach here.

[2022-04-18 18:46] felixarntz commented on #285
The 1.0.0 release has been published! 🎉

* [Announcement post](https://make.wordpress.org/core/2022/04/18/version-1-0-0-of-the-performance-lab-plugin-published/)
* [WordPress plugin repository](https://wordpress.org/plugins/performance-lab/)
* [GitHub release tag](https://github.com/WordPress/performance/releases/tag/1.0.0)

[2022-04-18 22:48] erikyo commented on #7
[Here](https://dev.codekraft.it/perf-test/compare-mozjpeg/) is a js script I made to compare compressed formats, it's included into a wp template that you can find [here](https://github.com/erikyo/perftest) and, with an sh script, can generate all the resizes automatically check the ssim, psnr and mae.

The interesting thing is the possibility to [compare](https://dev.codekraft.it/perf-test/compar

[2022-04-19 04:19] mitogh opened #307 "Introduce filter to use a custom mechanism to create additional mime images"
The main objective of this filter is to allow third party plugins or developers to replace the current mechanism provided by this plugin in order to introduce his own logic or mechanism to create the additional mime types.

This is a sub-issue of #160 and related to #311.

## Filter

`webp_uploads_pre_generate_additional_image_source`

### Paramaters

- `image` - By default a `null` value, or eith

[2022-04-19 09:31] erikyo commented on #294
This is what I found on this topic:

Since MOZjpeg is a fork of the default encoder (jpeg-turbo) **hosts need to build and install** the encoder replacing the default one.

Yes but we need to **recompile PHP** [with MozJPEG](https://github.com/mozilla/mozjpeg/issues/345) instead of libjpeg

Is MozJPEG compression detectable from image meta (if not stripped)?

No, afaik isn't possible

**Mozjpeg we

[2022-04-19 11:36] anteksiler commented on #283
This would be a great addition! #155 seems to be closed.

[2022-04-19 11:45] mxbclang commented on #283
Hi @anteksiler! #155 is still open and we're still exploring the best approach there. Feel free to review and comment in [the proposal document](https://docs.google.com/document/d/1CSi61ky0b9A84VOYkTXCE7wfl3QUSCtuHzF78T3t0CU/edit#heading=h.2aigy8pb1r18) with your thoughts!

[2022-04-19 15:16] blogtutor commented on #289
Glad to see this research project!

Regarding the question "What's the average size of a media library from a WordPress site?" -- Averages can hide important details, so I think it's important to dig into this question deeper.

Since sites with larger libraries will be the ones impacted most, looking at "averages" doesn't go far enough to help us understand what the impacts will be on any "above a

[2022-04-19 15:48] pbearne opened #309 "Dominant color background for lazy-loading images needs to back fill existing images"
## Feature Description

Currently, the dominant colour background for lazy-loading images code only adds to new/edited images
I believe we should backfill the existing images

I have created some code that adds a run once cron task for each image that does have the data when the image is loaded on a page

https://github.com/WordPress/performance/pull/303

Is this the correct approach?

There are f

[2022-04-19 17:30] maximejobin commented on #132
Should indexes be revisited? Of course.

Should this solution be applied everywhere? Hell no.

In my opinion, we (in general) tend to want a solution to work flawlessly out-of-the-box. The thing is these manipulations (redoing all indexes) have a cost (space) and, in maybe 90% of the cases, they do not produce an output that is noticeable.

If you have millions of rows and your website is slow, I

[2022-04-19 20:32] OllieJones commented on #132
Doing database optimization work for WordPress is a challenge. There are many installations out there, operated by people with a breathtakingly wide range of skill levels, running code developed by people with a wide range of skill levels, running on a wide variety of database server versions, the majority of which are obsolete or soon will be obsolete.  We must address the WordPress world as it i

[2022-04-19 20:49] felixarntz opened #310 "Define owners for each module"
This is a proposal to define ownership for each module in the Performance Lab plugin. This should help with the following:
* Have clearly defined points of contact per module, someone to reach out to in case questions come up.
* Have dedicated code owners per module, since the focus area leads cannot be expected to know every module inside out, especially with a growing number of modules.
* Have p

[2022-04-19 20:57] felixarntz commented on #310
Pinging a few of you that have previously worked quite a bit on the existing modules here, to provide feedback on the proposal. What do you think about the above?

@adamsilverstein @mitogh @eugene-manuilov @tillkruss @spacedmonkey @manuelRod

[2022-04-19 20:58] tillkruss commented on #310
I agree and will gladly own all object cache modules.

[2022-04-20 03:13] mitogh commented on #310
I like this approach as would allow iterating faster by having more owners as new modules are added as well, as you described is not easier to keep track of which changes are happening under a specific focus area. @felixarntz

[2022-04-20 03:45] mitogh opened #311 "Introduce filter to use custom logic to find additional mime types images"
The main objective of this filter is to allow third-party plugins or developers to change the current logic used for this plugin (the performance plugin) to locate additional mime images, for example, if a plugin stores the images in a different location and the file names are created out of a custom hash functions rather than in a predictable way, this filter would allow developers to provide the

[2022-04-20 07:59] alessandrocarrera commented on #176
Hi @thelovekesh , awesome work! I tried locally and it works for the second and third test, but not for the first test (the only thats enqueue a script). When I click the button it not increment the counter. Furthermore, basing on the [official doc](https://partytown.builder.io/partytown-scripts#why-typetextpartytown) (for the second and third tests), I see that the script changes in `type="text/p

[2022-04-20 08:13] alessandrocarrera commented on #176
@thelovekesh I add that I tried it on a Wordpress clean installation (same theme of you and with only your plugin active). Thank you!

[2022-04-20 13:35] mauu1t commented on #120
Is there a TRAC ticket for this?

[2022-04-20 15:04] patrick-leb commented on #132
I'm with @OllieJones and @lkraav here.

Disk space is basically a non-issue. It's extremely cheap and DB providers are giving generous disk allotment for VPS'es nowadays. It's a bit of whataboutism.  To Ollie's point, disk space is probably a bigger factor for very, very old sites, which probably aren't running MySQL8.0 anyway nor even 5.7.

This doesn't mean for new installations the indexes shou

[2022-04-20 16:06] getsource commented on #7
It was requested to move the conversation over here from Slack, so that the WebP team can take a look, so I'll try to summarize.

While I was working on adapting the [image testing script](https://github.com/getsource/avif-webp-quality-setting/tree/generate-with-wordpress-gd) to work with WordPress, I noticed that one of the example sizes didn't seem to be equivalent to the JPEG, even though it wa

[2022-04-20 16:08] tillkruss commented on #132
@patrick-leb: This sounds like a perfect module for this plugin, making it opt-in.

[2022-04-20 16:15] LukaszJaro opened #312 ""More info about performance optimization" should link to #database-tuning"
Right now it's not linking to anything specific. Also nothing specifically talks about autoloaded options in the article, so best option seems to be https://wordpress.org/support/article/optimization/#database-tuning

![image](https://user-images.githubusercontent.com/10998875/164275705-598a5109-0b85-498b-8095-cf62f5ea1ba7.png)

[2022-04-20 16:48] erikyo commented on #7
@getsource i guess the reason of the "margin" is to get in addition to all the images with a good DSSIM result (info.dssim <= ref.dssim) also all the images within a range (0.000243 was the value established by the author as reliable for "similar" images).
This "margin" probably makes some webps move from discarded to passed and represents an "acceptable loss of quality" (to answer your question,

[2022-04-21 09:18] eugene-manuilov commented on #310
Yes, this is a good idea. I think we definitely need at least 2 owners per module to make sure that we don't have a bottleneck if a module owner disappears or is offline for some period of time.

[2022-04-21 09:52] kasparsd commented on #300
The 💯 option seems to be missing from the selector:

![selector](https://user-images.githubusercontent.com/169055/164429364-6e454b0e-bef9-4a1b-ae07-37ba5abfc954.png)

Is that a user preference somewhere or a recent change? Or is the intention to use the comments instead?

[2022-04-21 11:22] mxbclang commented on #300
@kasparsd Sorry about that! Please use 🚀 for option 3; I've updated the comment.

[2022-04-21 11:57] mxbclang commented on #312
Hi @LukaszJaro Good catch! We're working on building out autoload-specific documentation in #234, but until that's ready to go, I agree that we should link this to https://wordpress.org/support/article/optimization/#database-tuning. We'll make that update. Thank you again!

[2022-04-21 12:09] mxbclang commented on #24
Noting that the [document shared in this comment](https://github.com/WordPress/performance/issues/24#issuecomment-1025962863) is outdated and we are working a new one that's still in progress. A new link will be shared here when ready for review.

[2022-04-21 16:46] erikyo commented on #7
@markhowellsmead this is because the jpg image quality is about 55%
![image](https://user-images.githubusercontent.com/8550908/164507077-c1f04768-9e67-4284-9119-5e365dd16234.png)
![image](https://user-images.githubusercontent.com/8550908/164512546-5f5cc07d-fbed-43bc-8a51-752e9bbf7a58.png)
(this image @100% bottom center)
and to get the real **size** comparison you would need to save the image at t

[2022-04-21 17:05] markhowellsmead commented on #7
Thanks for the feedback @erikyo. Exporting an optimised JPG will certainly add artefacts, which will then also be present in the resultant WebP file. (An aside: your screenshot isn't the export panel from Lightroom and bears no correlation to the settings or results of my export process.)

The goal is to convert this JPG to WebP and that the WebP file should be smaller than the JPG.

I'd overlooke

[2022-04-21 17:37] erikyo commented on #7
yes but afaik if I can save this file without any quality loss at 55% means the source was saved at that quality. Probably you have checked the [flag](https://havecamerawilltravel.com/lightroom/exporting-jpegs-lightroom-quality-settings/#:~:text=When%20you%20export%20JPG%20images,in%20increments%20of%20one%20percent.) "limit filesize to [  ]kb" and this has unpredictable results if you need to kno

[2022-04-22 15:25] eugene-manuilov commented on #290
Ok, I have created a draft email that contains an image with a webp picture. Then I decided to check email clients that I could install on my laptop. The following are are my findings which clearly mean that webp is supported by modern email clients.

I wasn't been able to check Microsoft Outlook and Hiri, but I believe they support webp as well. If someone can verify it, let me know and I'll upda

[2022-04-23 03:49] webaware commented on #290
According to the website Can I email, Outlook on Windows is a no:

https://www.caniemail.com/search/?s=webp

[2022-04-23 18:06] mitogh commented on #295
Oh got it this is only on the new meta added by this plugin. Thanks, let me take a look at this issue.

[2022-04-25 09:18] manuelRod commented on #310
I agree too.

[2022-04-25 09:19] spacedmonkey commented on #310
Me too.

[2022-04-25 14:26] #312 closed, assigned to mxbclang

[2022-04-25 16:39] eugene-manuilov commented on #290
We have manually checked it and can confirm that webp images are displayed correctly in Microsoft Outlook.

[2022-04-25 22:38] felixarntz commented on #310
Thanks all for the replies so far! I've opened #317 with a take on the `CODEOWNERS` file to define the module owners. Please review.

I'd also like to ask for additional support for the following modules:
* **Site Health: Audit Autoloaded Options**
* **Site Health: Audit Enqueued Assets**

Based on the work so far, these are currently owned by only @manuelRod. Is anyone here interested and willing

[2022-04-25 22:53] felixarntz commented on #307
@mitogh Issue description looks good to move forward from my perspective, just a few details:

This feels a bit odd to me. Shouldn't we use `full` for the full size? `full` is already used in core to represent the full image size, and that is typically not a size found within the metadata `sizes` array, but refers to the "original" full image. So I would be in favor to use `full` here for the full

[2022-04-25 23:04] felixarntz commented on #311
@mitogh The issue description mostly looks good, a few comments on the proposed implementation:

1. You have `image` in here twice, so that part wouldn't work. I think the first parameter needs to be the image HTML tag, and then we don't need to provide it again. This also makes the parameters better aligned with the one from the filter in #307, only this one has `context` as additional parameter.

[2022-04-26 01:51] mitogh commented on #307
The main reason for going with this approach was due we don't really have a size name, however  I do agree that Core already uses `full` as the size name to represent this size, however you can create a new image size with the name full and that can collide with existing subsizes. So the main logic behind this decision was to avoid any possible collision in case a `full` size is defined in the ins

[2022-04-26 02:08] felixarntz commented on #307
@mitogh Thanks for the quick reply! It's a fair point that developers could also create their own size called `full`, however per core using `full` as a special scenario already, that would be a clear case of a developer doing it wrong. For example, when editing an image there would then suddenly be conflicts between `full-orig` storage key (is that the full image, or just the `full` image size, w

[2022-04-26 02:26] mitogh commented on #307
Thanks @felixarntz sounds good to me just wanted to make sure the original scenario was covering that but I agree that sticking to what core already does makes more sense in this case in order to be consistent.

I'm updating the original issue description to note this scenario instead.

[2022-04-26 02:36] mitogh commented on #311
Thanks @felixarntz I just updated the issue description to reflect your feedback.

That's a great point, I will add it to the issue description as well in order to make sure is clear.

[2022-04-26 08:22] eclarke1 commented on #307
Thanks both - just a note that @mehulkaklotar is going to pick up the Execution of this issue now it has been finalised. Along with #311

[2022-04-29 19:49] adamsilverstein commented on #288
Nice work @mitogh! I'll make sure this is covered in the core patch as well.

[2022-05-02 13:27] jb510 commented on #289
Semantics but “Impact of additional WebP images on upload” is different than “Impact of additional WebP images on _existing_ uploads”.

The CPU impact, and resulting delay processing, due to generating alternative image format (WebP, avif) thumbnails does matter it’s just a bit of a different issue.  Years ago I had a client who posted breaking news (think buzzfeed) that included very high resolut

[2022-05-02 15:17] adamsilverstein commented on #290
This might depend on the version of Windows you are running similar to the way WebP support on OsX depends on the underlying operating system.

Can you clarify which version of Windows you were testing on @eugene-manuilov?

[2022-05-02 16:11] eugene-manuilov commented on #290
@adamsilverstein, Mehul checked it on his end and confirmed that it worked for him. @mehulkaklotar, which version of Windows do you have?

[2022-05-02 17:28] mxbclang commented on #300
**Voting is now closed.**

Based on **10** thumbs up votes and no votes for the other options, we will follow WordPress core's versioning approach and increment the minor version until a maximum of 9 before incrementing the major version. Patch releases will only be used on demand for hot fix releases (e.g. critical bug fix, security fix).

[2022-05-02 18:56] felixarntz commented on #300
I've updated the milestone name accordingly: https://github.com/WordPress/performance/milestone/6 is now "1.1.0". We can close this issue now that this has been decided.

[2022-05-02 18:56] #300 closed, assigned to nobody

[2022-05-02 19:05] felixarntz opened #320 "Define plugin release cadence"
After #300, this is the second of two critical issues defining how we're going to release new versions of the Performance Lab plugin. As part of that first issue, it was decided to follow WordPress core's versioning approach, i.e. the next releases will be 1.1.0, 1.2.0, 1.3.0, and so on, up until 1.9.0, before it will become 2.0.0.

We also have to decide how regularly we want to publish new stabl

[2022-05-02 19:08] felixarntz commented on #320
I think it might make sense to have a vote on this issue eventually, but let's briefly check first whether the initial options provided even make sense or whether there are additional suggestions for which cadences to consider.

Also, just for reference: The 1.0.0 release was on April 18, which means that technically today is the 2-week mark after that. Which doesn't mean the "Every 2 weeks" optio

[2022-05-02 20:06] pbearne commented on #19
I have started writing the dev notes
https://docs.google.com/document/d/1C7S-5GMw9R81fQOXrc2PjzEaQniMpIgg2dT1ta69LmQ/edit#heading=h.l8wdvygotok4

[2022-05-02 23:56] #288 closed, assigned to mitogh

[2022-05-03 09:26] mehulkaklotar commented on #289
@jb510 CPU impact and delay in processing is surely a point of discussion but there will be lots of server configurations to test with and that is impossible to take into consideration. We account on the more load on server by having more retries to complete the upload. It is more of an hosting and server configuration discussion rather than just the impact on additional WebP image uploads on stor

[2022-05-03 14:15] mehigh commented on #120
Trac ticket created:
https://core.trac.wordpress.org/ticket/53232

it has patch & unit tests (contribution to core), maybe we need to mark this as in progress in the project board.

[2022-05-03 14:15] mehigh commented on #120
You can also assing this to @mauu1t

[2022-05-03 14:22] futtta commented on #120
that's for async decoding of an img, not for async CSS @mehigh ?

[2022-05-03 14:31] mauu1t commented on #120
https://core.trac.wordpress.org/ticket/55639 This is the correct trac ticket

[2022-05-03 14:32] mehigh commented on #120
Yes,  yes. Thanks for correcting me, Mihai :)
Too many tabs open.

[2022-05-03 14:53] jb510 commented on #289
That's not impossible. It's a very simple measurement. Does processing WebP on upload increase wait time on upload 10%? 50%? 1000%? It had an easily measurable affect and should be calculated and considered. I'm not talking about the time spend uploading the original, that's bandwidth dependent. I'm just talked about the processing time to generate JPEG image sub-sizes vs JPEG and WebP sub-sizes.

[2022-05-03 15:45] mxbclang commented on #320
_Please vote for a release cadence using the following emojis. Voting will close on **Monday, May 9, 2022 at 5pm UTC**._

* 👍 for every 2 weeks
* 👎 for every 4 weeks
* 😄 for every 6 weeks
* 🎉 for every 8 weeks
* ❤️ for monthly, e.g. second Monday of the month

[2022-05-03 15:57] #310 closed, assigned to nobody

[2022-05-03 22:08] felixarntz opened #321 "Add generator tag with plugin version and modules"
## Feature Description

Given that the Performance Lab plugin is a beta testing plugin for future WordPress core performance features, it is crucial that through the plugin we can showcase how a certain feature/module improves performance as expected, and through that to prove and allow data-based reasoning around whether it should or should not be in WordPress core in its current state.

A transp

[2022-05-03 22:38] felixarntz commented on #321
I have opened a PR #322 ready for review.

[2022-05-03 22:45] #292 closed, assigned to jjgrainger

[2022-05-03 22:56] westonruter opened #323 "Add Site Health test to verify that static assets are served with far-future expires"
## Feature Description

In order to leverage the browser cache effectively, page assets like images, scripts, and stylesheets should all be served with far-future expires. A Site Health test could be added which checks for the necessary asset response headers (i.e. `Cache-Control` and/or `Expires`) and warns when they are not present. The call to action would be to fix the web server configuration

[2022-05-04 15:51] mxbclang opened #326 "Update Settings language for health checks"
## Feature Description

Currently, the Persistent Object Cache health check is the only one of the four health checks in the plugin that includes that phrase on the Settings screen:

<img width="932" alt="image" src="https://user-images.githubusercontent.com/12189958/166720625-f5652567-c72f-4045-9bc7-defe0aafb03c.png">

The other health checks should be updated to add the word "Health Check" to ma

[2022-05-05 12:50] mxbclang commented on #165
Assigning to myself to create new templates.

[2022-05-08 11:35] mukeshpanchal27 commented on #244
@dainemawer The link return 404 can you please update it if you know it?

[2022-05-08 17:31] dainemawer commented on #244
Hmm, looks like its been taken down :/

[2022-05-08 23:04] mitogh commented on #19
Thanks would be great to have permission to comment on the document to provide feedback, wanted to ask if we can include how the data (colors) are being stored in WordPress in order to inform plugins and external developers about this new property and how is stored in the database for later consumption.

Thanks @pbearne

[2022-05-09 07:51] mukeshpanchal27 opened #328 "Correct persistent object cache label"
## Bug Description

In persistent object cache module file - [modules/object-cache/persistent-object-cache-health-check/load.php](https://github.com/WordPress/performance/blob/trunk/modules/object-cache/persistent-object-cache-health-check/load.php#L22) it uses a key in the label it should be label like other site health module label https://github.com/WordPress/performance/blob/trunk/modules/site

[2022-05-09 08:01] mehulkaklotar commented on #290
@eugene-manuilov I checked it on macos outlook app.

[2022-05-09 09:55] manuelRod commented on #323
That makes sense, should we define the cache headers list and what we consider far-future expire?

[2022-05-09 14:10] eugene-manuilov commented on #290
Thanks, @mehulkaklotar. @adamsilverstein do you have Windows? We can't verify it on Windows. Perhaps someone else can verify it?

[2022-05-09 14:16] pushpakpop commented on #289
I do agree with @jb510

This is a highly important measurement which impacts all the sites.

I did some tests on a fresh local environment with the Twenty Twenty Two theme and noticed that there was an increase in the overall time taken to upload and process the images. Did same tests on similar setup on InstaWP environment and the results were almost same.

Without the WebP images enabled, for a

[2022-05-09 14:19] pushpakpop commented on #290
I do have windows.
I can check and provide an update accordingly asap @eugene-manuilov

[2022-05-09 16:18] westonruter commented on #323
I think the headers would be `Cache-Control` with `max-age` and/or an `Expires`. As for the time that should be considered future, I recall generally 1 year as being normal for this. But 1 week would probably work just as well. In any case, the threshold should be filterable.

Also, there could be some cases where an author needs for an asset to not have a far-future expiration date. In that case,

[2022-05-09 17:06] mxbclang commented on #320
**Voting is now closed.**

Based on **7** heart votes, we'll proceed with monthly releases. @felixarntz and I will work to define the exact day (e.g. second Monday of the month) and update here. Thanks, all!

[2022-05-09 17:23] mxbclang commented on #320
Confirmed that releases will occur on the **third Monday of every month**, beginning with next Monday, 16 May. We'll plan to hold release party chats on the third Monday of the month at 5pm UTC in the #performance Slack channel.

[2022-05-09 17:25] #321 closed, assigned to nobody

[2022-05-09 18:01] #306 closed, assigned to mitogh

[2022-05-09 18:04] felixarntz commented on #320
[Milestones](https://github.com/WordPress/performance/milestones) for the next couple releases (for now up to 1.4.0 in August) have been added accordingly.

[2022-05-09 18:04] #320 closed, assigned to nobody

[2022-05-09 18:06] felixarntz opened #331 "Prepare 1.1.0 release"
This issue is to track preparation of the upcoming `1.1.0` release up until publishing, which is due **May 16, 2022**.

* [x] Create `release/1.1.0` branch closer to the release date
* [x] Finalize scope and punt unfinished pull requests to following release
* [x] Prepare the release (**Monday, May 16, 2022**)

[2022-05-10 11:26] pushpakpop commented on #290
hey @eugene-manuilov

I tried downloading the Microsoft Outlook 2019 but was not successful.
It moves me to microsoft 365 which is not free.
I did signup for the student one, but that did not include the outlook app in it.
I tried with my other account where while downloading the OutLook, it brings to the Mail and Calendar App on the appstore https://apps.microsoft.com/store/detail/mail-and-calend

[2022-05-10 15:17] adamsilverstein commented on #290
re: Linked in and other services that rely on "OpenGraph" tags, this article explores where WebP can and can't be used in: https://www.ctrl.blog/entry/webp-ogp.html

[2022-05-10 15:20] wp-seopress commented on #290
<img width="468" alt="Capture d’écran 2022-05-10 à 17 20 41" src="https://user-images.githubusercontent.com/30056254/167664067-5668ca98-9413-409a-bc12-f8e8282561f9.png">

[2022-05-10 17:50] #328 closed, assigned to nobody

[2022-05-10 19:49] #311 closed, assigned to mehulkaklotar

[2022-05-10 20:02] felixarntz commented on #331
[Release branch `release/1.1.0`](https://github.com/WordPress/performance/tree/release/1.1.0) has been created, and the [remaining 1.1.0 pull requests](https://github.com/WordPress/performance/pulls?q=is%3Aopen+is%3Apr+milestone%3A1.1.0) are now based on the new branch.

[2022-05-11 08:19] manuelRod commented on #220
~~@felixarntz why do we move this to 1.2.0? The PR is _ready_, it could get in this week.~~
I saw the comment in the PR.

[2022-05-12 16:07] felixarntz commented on #299
Fixed via #301.

[2022-05-12 16:07] #299 closed, assigned to mehulkaklotar

[2022-05-12 16:08] felixarntz commented on #307
Fixed via #318.

[2022-05-12 16:08] #307 closed, assigned to mehulkaklotar

[2022-05-12 17:53] felixarntz commented on #160
@mitogh Following up on your comment in https://github.com/WordPress/performance/pull/318#pullrequestreview-971118682:

While my first reaction in https://github.com/WordPress/performance/pull/318#pullrequestreview-971118682 was to implement this indeed, I'm now wondering whether we really need it. My thinking is the following:
* The `filesize` is also part of the filter, so WordPress core wouldn'

[2022-05-13 03:08] mitogh commented on #160
Thanks for the questions @felixarntz

I think the problem relies on the fact that the filter is an option for third party developers to provide an image to be used as a reference instead of relying on WordPress mechanism to create one, this works fine if the images and logic lives in the same locations as the WordPress installation however the current logic of the filter assumes this is the case b

[2022-05-13 12:15] mukeshpanchal27 commented on #331
@felixarntz before releasing 1.1.0. we should update `* @since n.e.x.t` to `* @since 1.1.0` for the actions, filters, and functions that were added in this version.

[2022-05-13 14:43] adamsilverstein commented on #289
@jb510 interesting point! this issue is more related to the fact that even though image processing is happening the "the background" when you upload an image in the editor or media library, you can't really use the image until **sub-size generation completes**.  In fact, if you drag an image into Gutenberg today and publish the post before processing completes, the resulting image is broken (see h

[2022-05-13 16:29] felixarntz commented on #331
@mukeshpanchal27 Thank you, this is going to be part of the release process that happens the day of the release, during our release party chat (Monday at 17:00 UTC). Part of that process is going through all the steps on https://github.com/WordPress/performance/blob/trunk/docs/Releasing-the-plugin.md#preparing-the-release

[2022-05-13 16:33] mukeshpanchal27 commented on #331
I don't know it. Thank you for the information.

[2022-05-13 16:40] felixarntz opened #333 "Enhance `webp_uploads_pre_generate_additional_image_source` filter to support returning `filesize` value"
Follow-up to #307: As identified by @mitogh in https://github.com/WordPress/performance/pull/318#pullrequestreview-971118682 and then further discussed in https://github.com/WordPress/performance/issues/160#issuecomment-1125271238, we should allow developers to optionally return the file size of a custom generated additional image source when using the `webp_uploads_pre_generate_additional_image_s

[2022-05-13 16:43] felixarntz commented on #160
Thanks @mitogh, my thinking here was off, you're completely right.

Regarding the approach:

That would be a bit complicated because it would require to use yet another filter for this (plus `wp_filesize()` was just recently introduced so may not be available in core yet). Also, for CDNs you may not be able to even return a `path`, since the only meaningful thing there would maybe be an external U

[2022-05-13 17:14] jb510 commented on #289
Just a minor point of clarification about this situation. The inability to "use" the image in the editor is less of an issue here then the "wait time" where the author is effectively blocked from continuing with what they were doing (writing) while they stare at a progress bar for an increasingly long time.  As others have pointed out that UX is awful in it's current state and would get 2x worse g

[2022-05-13 18:57] tiffanybridge commented on #289
Re:

Also relevant is considering what the impacts might be on the plans themselves. Even hosts that offer "unlimited" storage have to contend with the reality of hardware, and are no doubt deciding which plans get to be "unlimited" based on certain assumptions about how WordPress media library works today, and how big a site is likely to get. A 70% increase in that size is likely to change the ca

[2022-05-14 18:42] mitogh commented on #160
Thanks I agree that behavior would work best, thanks @felixarntz

[2022-05-16 17:51] #331 closed, assigned to felixarntz, mxbclang

[2022-05-17 14:02] adamsilverstein commented on #289
@tiffanybridge good point - this is an important question to answer in the research here, how much will hosts actually be impacted by the increased storage requirements? I created a survey and shared in the hosting community channel in part to try to answer this question.

[2022-05-17 14:16] adamsilverstein commented on #290
I've been researching the WebP polyfill which could be added to support older Safari versions that don't yet support WebP - https://github.com/chase-moskal/webp-hero.

I created a test page that includes the polyfill and verified the WebP images load correctly in older Safari versions (using Browserstack) - https://refined-github-html-preview.kidonng.workers.dev/adamsilverstein/webp-tests/raw/main

[2022-05-17 19:02] lukecav commented on #289
Enabling WebP images on upload would make the most sense on sites that have lower image storage usage in the uploads folder. If a site has 100GB+ images in the uploads directly with high media library counts then WebP image conversion on upload should not be enabled by default and is opt-in.

[2022-05-18 13:40] OllieJones opened #338 "Module proposal: Performance-oriented indexing for WordPress database tables"
## Feature Description
This proposes a **module** for the **Performance Lab Plugin**. It's intended to follow the process for [Proposing a new module](https://github.com/WordPress/performance/blob/add/new-module-doc/docs/Proposing-a-new-module.md).

See also #132.

The indexes on WordPress tables need improvement, especially to handle sites with many posts or users. Many WooCommerce sites, especia

[2022-05-18 13:45] adamsilverstein commented on #290
Reviewing the webp-hero repository I discovered an existing ticket that proposes adding conditional loading either by default or in documentation. The method used is very similar to the one in my code, so maybe we can contribute something directly back to the project to support this. See https://github.com/chase-moskal/webp-hero/issues/42#issuecomment-894623401

[2022-05-18 15:28] eugene-manuilov commented on #290
@adamsilverstein, if that script is added to the webp-hero bundle, it will mean that we will need to load an external script that checks whether `webp` polyfill is needed on every page. This will have worse performance than if we use inlined script as you use in your example. Or not?

[2022-05-18 16:05] adamsilverstein commented on #290
It could be added to the project as a separate script.

[2022-05-18 18:22] tillkruss commented on #338
Related #132.

[2022-05-20 12:03] mukeshpanchal27 commented on #97
Valid point. If we add a new tab for "Performance" then other folks propose adding a new tab for other modules so it's good to add all information under current tabs.

[2022-05-20 12:43] mxbclang commented on #234
@felixarntz Circling back on this – if you have a moment to take a look at [the doc](https://docs.google.com/document/d/1LyEDpAvqDcE_vAJNJRioe_2LrorOZt9NMoetBzYC3Vw/edit?usp=sharing) and give your okay, I can then work on getting this added.

[2022-05-21 09:51] mukeshpanchal27 opened #339 "Old content images not show in webp format"
## Bug Description

As discussed on #325.

Some old content images already have WebP format images but they will not load because the new image has a different attachment ID than the old attachment ID.

## Steps to reproduce
1. Activate the Performance Lab plugin
2. Import posts and attachments using theme unit test data https://codex.wordpress.org/Theme_Unit_Test
3. Go to Block Image post.
4. It

[2022-05-23 11:15] mxbclang commented on #339
:wave: @mukeshpanchal27 Can you confirm if this issue is currently in the Performance Lab plugin or if it's specific to PR #325? #325 is a WIP PR that has been put on hold for now as we explore some alternatives, so this issue/PR isn't necessary unless this is an issue that is in the Performance Lab plugin in its current release.

cc @felixarntz @adamsilverstein

[2022-05-23 11:39] mukeshpanchal27 commented on #339
@bethanylang Yes, this issue is for the Performance Lab plugin. Please follow the steps to reproduce the issue.

Check screenshot and issue here: https://github.com/WordPress/performance/pull/325#issuecomment-1118474023

[2022-05-23 14:34] mxbclang commented on #339
Thanks for clarifying, @mukeshpanchal27! I'm assigning this to someone on our team to take a look.

[2022-05-24 15:08] eugene-manuilov opened #341 "Provide polyfill to serve JPEG or PNG if a page contains WebP images"
## Feature Description

In order to provide support for webp on older browser we need to load webp-hero polyfill on pages that have webp images. The polyfill needs to be loaded only if webp isn't supported by the browser.

https://github.com/chase-moskal/webp-hero

[2022-05-24 22:36] radosek commented on #119
@dainemawer Other way than safeList could be just a whitelist option as it would just need a list of all classes, that are presented on the page and the rest would be wiped from the final CSS.

[2022-05-25 10:06] aristath commented on #119
Note: I recently made a PR in Gutenberg to allow tree-shaking blocks CSS: https://github.com/WordPress/gutenberg/pull/41020
Since WordPress is moving towards an "everything is a block" model and block-themes, it makes sense to implement things like tree-shaking and similar concepts to the blocks themselves.
In the future, there will not be much need for CSS that is not attached to a specific block

[2022-05-25 17:56] eugene-manuilov commented on #341
@adamsilverstein @felixarntz after looking at the webp-hero library I found that the polyfill has very limited functionality. It certainly helps to load webp images when they aren't supported by the browser, but images loaded dynamically (pulled from the server using AJAX requests or added by js script) won't be polyfilled automatically.

This happens because to start polyfilling we need to call t

[2022-05-25 23:14] felixarntz commented on #19
@pbearne @spacedmonkey I've created a `[Module] Dominant Color` label for the eventual module here.

[2022-05-25 23:18] felixarntz commented on #220
@manuelRod @westonruter I've added a `[Module] Audit Full Page Cache` label for the eventual module here.

[2022-05-26 13:56] adamsilverstein commented on #339
to clarify, does this mean the image class ID is no longer accurate?

Is that a normal import process and did you "import media"?

I feel like this is a valid problem and fix, however it is somewhat unrelated to WebP support. Wouldn't this also cause srcset to not be generated correctly for images (without WebP). If so, this is really more of an importer problem - it should probably correct the cl

[2022-05-26 20:15] felixarntz commented on #234
@bethanylang Review the draft, overall looks solid to me! I left one comment with a suggestion.

@zzap We would like to add the section in [the doc](https://docs.google.com/document/d/1LyEDpAvqDcE_vAJNJRioe_2LrorOZt9NMoetBzYC3Vw/edit) to `https://wordpress.org/support/`. Is that something you could potentially help with? We're not entirely sure what the next steps would be.

[2022-05-26 20:36] felixarntz commented on #339
@mukeshpanchal27 Apologies for not reviewing this issue earlier, but after my review of the PR in https://github.com/WordPress/performance/pull/340#pullrequestreview-986759883, I wonder whether this is something that we realistically can (and should) address. 🤔

My main question is: Why do the post images have the incorrect attachment ID classes in the first place? To me that seems to be the under

[2022-05-27 03:42] mukeshpanchal27 commented on #339
Right.

Yes. I import media.

Yes, I think. Imported does not change updated attachment ID in the IMG tag class.

[2022-05-27 03:45] mukeshpanchal27 commented on #339
@felixarntz and @adamsilverstein Thanks for your review and comment.

I think it was the WP Imported issue that they doesn't change the updated attachment ID in IMG tag classes. So do you think i/we have to create this issue in WP Importer if they solve this issue then we don't need to work on this ticket and PR?

[2022-05-27 11:46] jonathan-dejong commented on #19
Hey!

Stumbled upon this topic as I was researching why Google lighthouse did not like our implementation of lazy loading using https://imgproxy.net/

We got a response that might be interesting to this conversation as well so adding it here slightly redacted. This was in response to our questions about negative scoring due to doing a LQIP lazyloading solution using Imgproxy.

_Our Q:_ The placeho

[2022-05-27 14:39] zzap commented on #234
Hi @felixarntz, thanks for pinging me. Yes, we can and should add that. I can help with everything needed.

For now, the easiest thing to do is to open [new issue in Docs repo](https://github.com/WordPress/Documentation-Issue-Tracker/issues). I created [new label](https://github.com/WordPress/Documentation-Issue-Tracker/labels/performance) for you, `performance` so you can combine it with `develop

[2022-05-27 19:27] adamsilverstein commented on #339
It is worth raising and proposing fixing there, yes.

My guess is this also prevents the `srcset` attribute from being applied as well (because the image meta cannot be located to find the available sizes). so this is a wider problem and not something specific to the performance plugin.

[2022-05-28 09:18] mukeshpanchal27 commented on #339
I quickly checked on the WP Import code base and they change only the old to new image URL in https://github.com/WordPress/wordpress-importer/blob/master/src/class-wp-import.php#L1269-L1280 function with an update query.

`$wpdb->query( $wpdb->prepare( "UPDATE {$wpdb->posts} SET post_content = REPLACE(post_content, %s, %s)", $from_url, $to_url ) );`

There may be some major work for WP Importer to

[2022-05-31 12:23] mxbclang commented on #234
Thanks @zzap! I've opened https://github.com/WordPress/Documentation-Issue-Tracker/issues/358, but it doesn't appear that I can change the label; let me know if there's anything that I need to do there.

[2022-05-31 12:48] mukeshpanchal27 opened #342 "`accepted_args` parameter issue in `add_action`"
## Bug Description

In the admin_menu action we use `add_action( "load-{$hook_suffix}", 'perflab_load_modules_page', 10, 0 );` action which tell user that it's the number of arguments this function accepts and we use 0 so this function will not take any arguments. But on function we use two arguments https://github.com/WordPress/performance/blob/trunk/admin/load.php#L49, https://github.com/WordPre

[2022-06-01 14:41] felixarntz commented on #339
@mukeshpanchal27 Could you open an issue on the WP Importer repo to address this change? I think that would be a good path forward here. Once that issue has been opened, I'd say we can close this issue here with a reference to it.

[2022-06-01 14:47] felixarntz opened #344 "Use `wp_filesize` instead of `filesize` if available"
WordPress 6.0 introduced the `wp_filesize()` function which should be used in favor of PHP's `filesize()` going forward. We should use it in this plugin where available.

Since we currently support WordPress 5.8 and 5.9 as well, it's probably not worth bumping up the requirement just for that. I suggest we instead create a backward compatibility layer. Maybe the easiest approach would be to implem

[2022-06-01 14:50] #333 closed, assigned to nobody

[2022-06-01 14:51] felixarntz commented on #160
With #333 completed, this overarching issue is now complete as well. 🎉

[2022-06-01 14:51] #160 closed, assigned to eugene-manuilov

[2022-06-01 16:29] felixarntz commented on #341
@eugene-manuilov

I think the part of not supporting AJAX-loaded pictures is not super critical since it nothing WordPress themes typically do, but the aspect of breaking/ignoring `loading="lazy"` is a no-go IMO. Even the AJAX-loaded pictures it would be good to support them though.

I think a solution that somehow relies on `HTMLImageElement.onload` and/or [`HTMLImageElement.complete`](https://de

[2022-06-02 10:59] bvdr opened #346 "Quick Start section in the readme file"
##  Quick Start section explaining how to set the project locally

The readme file should offer first time instructions on how to setup the project locally.
There's no mention about `composer install` currently as an example.

[2022-06-02 11:16] pbearne opened #347 "Module proposal: Cache `alloptions` to load only needed values"
### This proposes a **module** for the **Performance Lab Plugin**.

 ## Overview
- Proposed module name: Conditional Option Autoloading:
- Proposed module slug: conditional_option_autoloading
- Proposed module owner GitHub username(s): pbearne

## About the module
Early in the WordPress load, we load from the wp_options all the rows with the column autoload set "yes" this causes un-needed data to

[2022-06-02 11:35] eugene-manuilov commented on #341
@felixarntz

I think what we need to use is the MutationObserver that allows us to monitor DOM tree and perform different actions when a new node is added or an existing one is removed. It will allow us to add event listeners for the `error` event to already existing images and images that added dynamically to the page. The error handler will let us detect "broken" images after they are actually l

[2022-06-02 12:18] adamsilverstein commented on #7
I'm going to take the test images and manually run them through processing with core imagick and gd manually with a couple of different quality settings to see how the resulting sizes compare to the automated runs.

[2022-06-02 13:06] adamsilverstein commented on #7
this is comparing the jpeg compressed image to the webp compressed image, right? In this case I would always expect some dssim difference when comparing them. I wonder we should try comparing a lossless resize of the original to both jpeg and webp compressed versions and look at the dssim vs the original.

[2022-06-02 13:19] adamsilverstein commented on #7
manual testing results:
WebP 82 quality (same as jpeg) - https://gist.github.com/adamsilverstein/39b5dfb30cb825423f74f85acf520581
WebP 90 quality -  https://gist.github.com/adamsilverstein/4a21ad54f2fbb98dff05876c6376da67

[2022-06-02 13:48] erikyo commented on #7
ciao @adamsilverstein,
It's also important to consider the encoded starting jpg quality since this significantly influences the final result. A jpg image above 87-92% quality normally gives good results while below this quality to have an acceptable SSIM (relative to the original lossless image) the size of the webp would have to exceed that of the jpg nullifying what is the advantage of webps. In

[2022-06-02 14:21] merkys7 opened #349 "Module Proposal: Clean transient options (wp_options table)"
## Feature Description

Expired Transients

Transients are the result of a form of caching that can happen in the WordPress database with the results of remote API calls. This option could clears all of the expired transients from the database.

Introduce a modal that would check and clean transient options

[2022-06-02 14:33] merkys7 opened #350 "Improve audit wp_options results with Autoload top list"
## Feature Description

Improve audit wp_options results with Autoload top list.

At the moment, it's not clear what options could potentially slow down your website.
Introducing Autoload top list would greatly help to diagnose slow loading websites due to overloaded `wp_options` table

[2022-06-02 14:38] bvdr opened #351 "PHPUnit version in composer is too new"
## Bug Description

The PHPUnit version is too new in composer:
` "phpunit/phpunit": "^8.5",`

When running `composer test` it returns:
```Looks like you're using PHPUnit 8.5.21. WordPress requires at least PHPUnit 5.7.21 and is currently only compatible with PHPUnit up to 7.x.```

## Steps to reproduce

1. Run `composer install` && `composer test`

## Screenshots
![image](https://user-images.gith

[2022-06-02 16:02] spacedmonkey opened #354 "Use dominant color as background color in media modal"
## Feature Description
Use dominant color as background color in media modal for preview thumbnail.

<img width="1203" alt="Screenshot 2022-06-02 at 16 59 53" src="https://user-images.githubusercontent.com/237508/171674005-4ad62af5-1115-4500-971d-d695e45b0f69.png">

Follow on from https://github.com/WordPress/performance/issues/19 https://github.com/WordPress/performance/pull/282

[2022-06-03 16:28] #220 closed, assigned to manuelRod

[2022-06-03 16:48] felixarntz commented on #341
@eugene-manuilov

The `MutationObserver` approach sounds promising. However I'd prefer if we can find a solution that doesn't require the requests to error until we replace the WebP images with JPEG images. We will already check before loading the shim that WebP is not supported by the browser, so I was thinking more along the lines: Can we replace the WebP images with their JPEG versions right aw

[2022-06-03 17:12] mxbclang opened #355 "Prepare 1.2.0 release"
This issue is to track preparation of the upcoming 1.2.0 release up until publishing, which is due **June 20, 2022**.

- [x]  Create release/1.2.0 branch closer to the release date
- [x]  Finalize scope and punt unfinished pull requests to following release
- [x]  Prepare the release (Tuesday, June 21, 2022)

[2022-06-03 17:16] mxbclang commented on #350
@manuelRod Tagging you in on this suggestion from WCEU Contributors Day.

[2022-06-03 17:17] mxbclang commented on #349
@merkys7 Thank you for this suggestion! Can you clarify that your intention here is that this would be a button or some other kind of option within the Performance Lab plugin settings?

[2022-06-03 17:18] mxbclang commented on #347
@felixarntz I'm not 100% on what the appropriate labels for this one would be; can you take a look? Thanks!

[2022-06-03 17:21] mxbclang commented on #342
Closing this issue per @felixarntz's comment on #343.

[2022-06-03 17:21] #342 closed, assigned to nobody

[2022-06-03 18:24] felixarntz commented on #347
@bethanylang This is actually a new module proposal.

@pbearne In order to set up up for this module, can you slightly update the issue description to more formally propose this as a module, following the process documented in https://github.com/WordPress/performance/blob/trunk/docs/Proposing-a-new-module.md (mainly step 1)? #338 is a great example of a module proposal.

I think this sounds like a

[2022-06-04 12:31] merkys7 commented on #349
I think we could display transient count / size in site-health checks using SQL query
[code]
and a button to clean it using SQL query
[code]

[2022-06-04 14:45] hugh-gibson commented on #7
I took part in the contributors day at WCEU2022 on the core tables and was introduced to the work to move this webp work into core. I come from an ecommerce background with another product, and we have implemented webp for a number of our clients. I installed the performance plugin and tried out a few image uploads, hooking filter_webp_quality to set different quality levels. As pointed out here t

[2022-06-05 17:41] tillkruss commented on #347
On sites with many pages/posts and/or many users this feature would lead to **quite a lot** of cache keys.

[2022-06-06 10:23] eugene-manuilov commented on #341
@felixarntz

This approach is based on the assumption that JPEG versions are also available on the server, but if there are no then "fallback" to webp again which is not supported by the browser thus the user will not see an image at all. Of course, we can say that in this case we can use the `libwep` approach to generate the JPEG version from webp, but in this case why do we need to deal with JPE

[2022-06-06 15:19] marioy47 commented on #347
Good point from @tillkruss. Still, sites with a lot of users/posts/pages make a lot of requests to the database. Which I think is more expensive that a lot of keys.

Makes me think that we should have a way to clean up the options cache just as a countermeasure.

[2022-06-06 15:53] bgoewert commented on #294
Stumbled upon this issue after reading [Is WebP Really Better Than JPEG?](https://siipo.la/blog/is-webp-really-better-than-jpeg) by @joppuyo, which compares JPEG, MozJPEG, WebP, and AVIF using the [Kodak image dataset](http://r0k.us/graphics/kodak/) at different image sizes (500x, 100px, 1500px).

But as with most things, there were caveats with this test.

[2022-06-06 16:13] tillkruss commented on #349
It'd be interesting to see the bytes as well.

[2022-06-06 16:19] tillkruss commented on #347
Yeah, it's a massive problem, maybe a sensible bytes threshold triggers this module to kick in? Count is kinda irrelevant, it's it's mostly Boolean/tiny values.

For some context, some hosts don't even allow alloptions to be cached if the key is bigger than 1MB in PHP. However I've seen sites with >800MB of alloptions loaded for every single page load 🥲

[2022-06-06 16:44] marioy47 commented on #347
Just to clarify: The idea is to have a cache entry for each URL, not for each option. And the entry will contain only the options used in the current page.

[2022-06-06 18:50] felixarntz commented on #341
@eugene-manuilov

JPEG versions will only not be available on the server if the site owner consciously decides to not use JPEG at all - in which case it is arguably no longer core's problem. There will always be a JPEG version available unless that behavior has been disabled using the filter.

If the site no longer has JPEG versions available for an image, there are other backward compatibility pr

[2022-06-06 19:23] azaozz commented on #132
Catching up here too, the [Index WP MySQL For Speed](https://wordpress.org/plugins/index-wp-mysql-for-speed/) plugin seems to add some pretty impressive enhancements. Thinking that at least some of them should find their way in core.

Tend to agree with @Otto42 and @SergeyBiryukov though, not sure it makes sense to index the option and meta values. The [theory behind the plugin](https://www.plumis

[2022-06-07 03:54] peterwilsoncc opened #356 "Unit test suite throws an error attempting to redefine `EMPTY_TRASH_DAYS`"
## Bug Description

If the constant `EMPTY_TRASH_DAYS` is not defined in the config or test config file, WordPress assigns a default value of `30` in the `default-contants.php` file.

https://github.com/WordPress/wordpress-develop/blob/95d26d682fb0fcb77fed308436e87914f7ce2e82/src/wp-includes/default-constants.php#L371-L373

The performance lab test suite attempts to define this value to zero in `W

[2022-06-07 04:37] peterwilsoncc commented on #105
There is some related discussion on https://core.trac.wordpress.org/ticket/31245 -- it's quite long and covers a range of subjects around and including alloptions.

[2022-06-07 07:36] Zodiac1978 opened #357 "Allow SVG upload (if SVG contains no scripting)"
As mentioned [on Twitter](https://twitter.com/zodiac1978/status/1533024013068513280?s=20&t=F8yrZPueix_LJc6v-soQvA) after the talk from @felixarntz at WordCamp Europe 2022:

SVGs are much smaller in comparison to pixel based files like PNGs, JPGs or even webP files.

Using SVG has the advantage of small file sizes and additionally no problem with scaling because they are vector based.

Problem is,

[2022-06-07 09:42] rlankhorst commented on #350
Some tools that can help to clean this up would be really great. I noticed that some options in the list are very short (just a 10 character string for example) and others are very large. Ordering based on size would be helpful I think. Additionally, based on the used prefixes, it could be deduced if the option is from a deactivated plugin.

I think it would be helpful to:
- distinguish between la

[2022-06-07 09:45] merkys7 commented on #350
@rlankhorst I totally agree with your points.
Regarding the Transients, I have opened a separate issue with sample SQL queries. https://github.com/WordPress/performance/issues/349
During the WordCamp, we have discussed that such enhancements should be done in iterations

[2022-06-07 12:47] OllieJones commented on #132
@azaozz I would agree with you about the utility of indexing the LONGTEXT columns, but for one thing: There are quite a few queries (many in various plugins) that use `WHERE meta_value = something` or `WHERE meta_value LIKE something%`.  The prefix indexes on those columns can rule out rows that don't match. That makes a difference. The subject plugin indexes `meta_value(32)` rather than `meta_val

[2022-06-07 12:49] JosKlever commented on #289
I'm doing maintenance for client sites and have some of them hosted on my own server. I'm seeing a couple of issues here, if webp creation/usage would be enabled by default for existing images.

1. Small clients with small websites have small hosting packages, because they shouldn't be paying for what they don't need. Most of my own hosting clients are in this category. If webp will be generated f

[2022-06-07 14:39] JosKlever commented on #7
I was doing some tests to check how the Performance Lab plugin is working and uploaded some images. Most webp versions were a little smaller (about 80% of the original jpg), but with this photo (original from camera/phone) the webp versions were larger, except for the "-scaled" version.
![2022-05-06 13 00 54](https://user-images.githubusercontent.com/20986647/172405715-274cfcaa-f2ab-444d-86d6-2f1d

[2022-06-07 14:49] eugene-manuilov commented on #341
@felixarntz

I am okay with this, but in this case we can't call it polyfill because it is a fallback mechanic, right? In other words, webp images  will fallback to jpegs if they exist, otherwise it's not core's problem 🤷 .

In theory we can rename `src` and `srcset` attributes to something like `webp-src` and `webp-srcset` in the mutation observer callback. It won't prevent requests to webp image

[2022-06-07 16:26] masteradhoc commented on #357
Big +1 :)

[2022-06-07 20:29] azaozz commented on #132
Sure. The next step would probably be to try to arrange some "live" testing on a big and busy site to see how that would affect the tables and the overall performance. As far as I see the `WHERE meta_value ...` queries in core are in wp_admin so they don't run often. But perhaps some are added by plugins and run on the front-end too.

I've also been thinking about adding another field to the meta

[2022-06-08 02:59] peterwilsoncc commented on #145
My reading of the docs in that the `budget.json` file is a local file only and it is not possible to use a remote URL `--budget-path=http://eg.w.org/budget.json`.

If this is correct then referring people to https://perf-budget-calculator.firebaseapp.com/ in docs is certainly helpful but  I don't think it needs to be reproduced in the plugin.

Please correct me if I am wrong and the `budget-path`

[2022-06-08 03:19] peterwilsoncc commented on #349
WordPress has an existing function for the query above, [`delete_expired_transients()`](http://developer.wordpress.org/reference/functions/delete_expired_transients/), that ought to run daily on a scheduled task ([ref](https://github.com/WordPress/wordpress-develop/blob/671d2caa29fd1dd13aa64be610f3b503d303685b/src/wp-admin/admin.php#L106-L109)).

Something in site health to delete expired, all, or

[2022-06-08 11:28] OllieJones commented on #132
For what it's worth our [Index WP MySQL For Speed](https://wordpress.org/plugins/index-wp-mysql-for-speed/) plugin has a feature for monitoring database traffic and highlighting the slowest queries. A year's worth of experience with it on various big production sites has shown significant performance benefits.

Without a persistent object cache, many sites' database traffic is often dominated by h

[2022-06-08 12:04] erikyo commented on #7
Hi @JosKlever, interesting case...

I want to add some additional info about your image for further considerations:

[code]

Just tested locally with `convert imagename.jpg imagename.webp` and the webp generated it's about 2488kb. Anyway using the WordPress resize function this is the result:

[code]

What we have to think about is that we are comparing an 82% jpg (WordPress has this standard for

[2022-06-08 16:04] felixarntz commented on #341
@eugene-manuilov Fair point, this is probably less of a polyfill then, but rather a fallback mechanism to use existing JPEG images instead of WebP images. It's going to be more efficient than a true polyfill though since we'll rely on the existing resources rather than on-the-fly generating JPEG. :)

Sounds good. Let's go with the approach to just attempt the request then.

[2022-06-08 17:12] pixel-paul opened #358 "WebP file overwritten if filename has the same name with extension of jpeg and jpg"
## Bug Description

This may be a misconfiguration issue, but at the moment if a file is uploaded with the same filename but the extension is jpeg or jpg, the corresponding webp file generated is overwritten by the last file uploaded.

## Steps to reproduce

1. Create 2 files, for example, `Paul-Test.jpeg` and `Paul-Test.jpg`
2. Go to Media Gallery
3. Click on Add New
4. Upload `Paul-Test.jpeg`
5.

[2022-06-08 17:47] #346 closed, assigned to nobody

[2022-06-08 17:47] mxbclang commented on #358
Thanks for reporting this, @pixel-paul! We'll take a look.

[2022-06-08 17:53] felixarntz commented on #357
Thanks @Zodiac1978, I think that's a great idea. +1 on not allowing any SVGs with scripts in it. cc @spacedmonkey

I think we could advance this by implementing the functionality as a new module in the Performance Lab plugin? That way we can allow users to test this behavior in the wild before trying to get it into WordPress core without much feedback.

I'm not 100% sure WP core has the necessary

[2022-06-09 05:45] mukeshpanchal27 commented on #358
Thanks for reporting the issue.

I reproduce the same issue in my setup and check the internal process of how it generates the WebP for the images.

WordPress core store `image/jpeg` mime type for all three image formats `.jpg`, `.jpeg` and `jpe`.

The Performance plugin checks the attachment image mime type for validation when it tries to generate a WebP image in the function [webp_uploads_create

[2022-06-09 11:57] mxbclang commented on #358
Thanks for taking a look, @mukeshpanchal27. @felixarntz Assigning this to you to confirm next steps based upon the options that Mukesh has outlined in his comment.

[2022-06-09 15:07] mitogh commented on #86
Just an FYI @bethanylang @eclarke1 that this ticket has been merged into core 6.1

- https://github.com/WordPress/wordpress-develop/commit/270259115c25e4f9b2143926d641dca43ce708ad

This means that we can close this one 🎉

cc @peterwilsoncc @adamsilverstein @felixarntz

[2022-06-09 15:17] mxbclang commented on #86
Yayyyy thank you for the heads up @mitogh and hooray for the merge! Closing this issue.

[2022-06-09 15:17] #86 closed, assigned to adamsilverstein

[2022-06-09 20:24] felixarntz commented on #358
Great catch @pixel-paul!

@mukeshpanchal27 Since this is a bit of an edge-case, I'd argue as a first stop gap to this bug we can go with your suggested approach 1. That way we will miss out on WebP for such uploads, but at least not break anything.

I would eventually suggest to find a cleaner solution where we can generate WebP for both uploads, e.g. appending something like `-2` to the file name

[2022-06-09 21:01] pixel-paul commented on #358
Thanks @bethanylang, @mukeshpanchal27 and @felixarntz for looking into this.

Adding some context to our issue, we have had 3 reported cases where this bug has happened (since we implemented usage of WebP with this plugin, which was around 3 days ago).

Daily customer upload averages around 200 - 400 photos, taken with a phone or digital camera - we are occasionally seeing files being uploaded wit

[2022-06-09 22:26] peterwilsoncc commented on #86
Canonical commit is https://core.trac.wordpress.org/changeset/53480

[2022-06-10 10:38] mukeshpanchal27 opened #361 "Optimize: `webp_uploads_upload_image_mime_transforms` filter"
## Bug Description

As we have provided filter `webp_uploads_upload_image_mime_transforms` for the mime type transforms in any case user does not want to transform the mime type then they just return `empty`, `true/false` or `array()` then this file [helper.php](https://github.com/WordPress/performance/blob/trunk/modules/images/webp-uploads/helper.php#L38-L40) code is not require because `$transfo

[2022-06-10 14:50] bethanylang opened #363 "WebP for new image uploads"

[2022-06-10 14:50] bethanylang opened #364 "WebP for new image uploads"

[2022-06-10 14:51] bethanylang opened #365 "WebP for new image uploads"

[2022-06-10 14:52] bethanylang opened #366 "test"

[2022-06-10 14:59] bethanylang opened #368 "test"

[2022-06-10 15:01] bethanylang opened #369 "test"

[2022-06-10 15:06] eugene-manuilov commented on #341
@felixarntz, I have created a PoC #360 that implements your ideas from 2 and 3. Do you mind looking at it? cc @adamsilverstein

[2022-06-13 11:16] bethanylang opened #370 "BCL epic test"

[2022-06-13 12:04] mxbclang commented on #349
Thanks @merkys7! This would be a new plugin module, then. To move this forward, the next step would be to revamp this issue to become a proper module proposal. See the following documentation:

- [Proposing a new module](https://github.com/WordPress/performance/blob/trunk/docs/Proposing-a-new-module.md)
- [Writing a module](https://github.com/WordPress/performance/blob/trunk/docs/Writing-a-module.

[2022-06-13 17:16] mxbclang opened #371 "Convert PNG to AVIF/WebP on upload"
As noted in [this support topic](https://wordpress.org/support/topic/need-support-to-convert-png-images-to-webp/), add the ability to automatically convert PNG images to WebP.

[2022-06-14 12:32] lynt-smitka commented on #171
I made 2 simple MU plugins many years ago to solve this issue. Hundreds sites use it in production without issues.

The first one isn't dependent on anything else, it saves the processed localization object into PHP file - it prevents heavy serialization and it can be cached via PHP OPcache.

https://github.com/lynt-smitka/WP-nginx-config/blob/master/extras/mu-plugins/lynt-mo-cache.php

The second

[2022-06-14 14:53] spacedmonkey commented on #357
For what it worth, I have created similar module for the [web stories plugin](https://wordpress.org/plugins/web-stories/). It can be seen [here](https://github.com/GoogleForCreators/web-stories-wp/blob/main/includes/Media/SVG.php).

This implemention uses [svg-sanitizer](https://github.com/darylldoyle/svg-sanitizer) from @darylldoyle to check if a SVG is clean. [See](https://github.com/GoogleForCr

[2022-06-14 14:56] darylldoyle commented on #357
👋 Let me know if there's anything I can do to help here

[2022-06-14 18:16] felixarntz commented on #357
@spacedmonkey

The other plugins are not WordPress feature plugins. We need to allow users to test the feature/enhancement in isolation, in a way that it could also be integrated in WordPress core. With the implementation that is already in the Web Stories plugin, you could probably use that as inspiration for a module within the Performance Lab plugin.

[2022-06-14 20:17] felixarntz opened #372 "Discard WebP image if it is larger than corresponding JPEG image"
Following some brainstorming and discussion around the WebP efforts at WordCamp Europe, one of the key takeaways was that we should include the following enhancement in the implementation: **WebP versions of an image size should only be kept if they are in fact smaller than the corresponding JPEG version.**

This will certainly be the case most of the time, but in the special cases where it isn't,

[2022-06-14 20:17] felixarntz commented on #372
Related to #7. cc @getsource

[2022-06-14 21:43] felixarntz commented on #19
The new module from #282 in action - the comparison on an emulated slow connection nicely shows the UX enhancement from this module. Amazing work @pbearne @spacedmonkey!

### Without dominant color

https://user-images.githubusercontent.com/3531426/173693912-fae77670-a16b-4457-8e20-5a572786623f.mov

### With dominant color

https://user-images.githubusercontent.com/3531426/173693941-eeb46d68-ed6d-

[2022-06-14 21:44] felixarntz opened #373 "Avoid duplicate execution of setting up image editor when determining dominant color and transparency"
Follow-up to #19 / #282: Currently, both the `dominant_color_get_dominant_color()` and the `dominant_color_has_transparency()` functions execute the same logic to get the attachment file and instantiate the correct editor based on it.

This is unnecessary and somewhat wasteful since the only place where the two functions are relevant is in immediately subsequent calls for when the image has just b

[2022-06-14 21:44] felixarntz opened #374 "Dominant color upload process ignores potential third-party editors"
## Bug Description

Follow-up to #19 / #282: The current Dominant Color module enforces usage of its extended `WP_Image_Editor` classes. While this works with WordPress core alone, it is problematic in environments where e.g. a plugin has already added its own extended `WP_Image_Editor` classes.

We need to make sure that the Dominant Color implementation doesn't conflict with such plugins. The `d

[2022-06-14 22:01] #19 closed, assigned to pbearne

[2022-06-15 09:31] spacedmonkey commented on #374
Before calling the methods, we do check to see if they exist. See.

https://github.com/WordPress/performance/blob/11bf31c6c2bb033aa458e8c985c9ba2756ee034c/modules/images/dominant-color/load.php#L306-L308

https://github.com/WordPress/performance/blob/11bf31c6c2bb033aa458e8c985c9ba2756ee034c/modules/images/dominant-color/load.php#L274-L276

If you have filter the editor class to a custom one, these

[2022-06-15 09:39] spacedmonkey commented on #373
I personally don't think we should worry about it, until we get to core patch. Once in core we will need a filter to change the editor class, that is a just because we are in the plugin ATM. Once in core. I recommend, adding transparency and dominiant color to `wp_generate_attachment_metadata` function.

I also through, that it might be better to change the signuration of the  `dominant_color_get_

[2022-06-15 10:01] mehulkaklotar opened #375 "WebP images not deleted when saved in backend after edit"
## Bug Description

WebP images that are generated when uploaded and edited and saved. When deleted the image, the WebP versions are not being removed from files.

## Steps to reproduce

1. Go to Media, Upload the image
2. Open the image in backend image editor and rotate it and save the image.
3. Delete the image completely and check the files.
4. See that original WebP version of the files are n

[2022-06-15 10:32] ThierryA commented on #19
Love it, great work ❤️

[2022-06-15 11:35] mxbclang commented on #375
@mehulkaklotar Nice catch! @felixarntz @adamsilverstein Can you please take a look at this and let me know if this is expected behavior and/or something that we should address sooner than later?

[2022-06-15 12:12] mukeshpanchal27 opened #378 "Remove use of `perflab_aea_get_resource_file_size()`"
## Bug Description

When `wp_filesize()` function implemented in Performance plugin by marging this PR #376.  We should remove `perflab_aea_get_resource_file_size()` function as it return result of `wp_filesize()` function so instead of `perflab_aea_get_resource_file_size()` we will use `wp_filesize()` function.

[2022-06-15 15:30] adamsilverstein opened #379 "Only replace content images with additional MIME type version when in a frontend request context by default"
To help address concerns around WebP compatibility, we should ensure that WebP images are used by default for the content **only** in the front end (or "template") context.

Critically, when content is filtered outside this context - for example in REST endpoints and RSS feeds, the original mime type should be used by default (ew can leverage the existing filter here to make this customizable). In

[2022-06-15 17:30] felixarntz commented on #375
@mehulkaklotar Good catch indeed! I can confirm this is missing from our implementation. We should add support for deleting any backed up `sources` to our `webp_uploads_remove_sources_files()` function. It needs to cover:
* Delete the `sources` files for each sizes within `_wp_attachment_backup_sizes`.
* Delete the `sources` files from `_wp_attachment_backup_sources`.

[2022-06-15 19:32] #344 closed, assigned to mehulkaklotar

[2022-06-15 19:59] felixarntz commented on #374
@spacedmonkey That's not the point I'm making here. The current filter overrides all registered `WP_Image_Editor` classes - which is a problem if other plugins have added their own ones.

The `dominant_color_set_image_editors()` function needs to be adjusted to not "recklessly" overwrite all classes. It should only replace the specific WP core image editor classes `WP_Image_Editor_GD` and `WP_Imag

[2022-06-15 20:02] felixarntz commented on #373
@spacedmonkey It's a fair point that we could also fix this when we get to the core patch, but given this is a feature project, it makes sense to implement things as close as possible to a future core implementation. And having "easy-to-use" public-API-like functions that actually run expensive operations is not great - that logic should be internalized IMO.

For that reason, I'd advise implementi

[2022-06-15 20:19] spacedmonkey commented on #374
This is only really an issue in this plugin. Once in core, it will not be a problem. But I agree, we want to not break anything for anyone doing something really custom.

[2022-06-15 20:39] felixarntz commented on #374
@spacedmonkey

Correct, but I think that should be enough of a reason to fix this. We shouldn't have known bugs in this plugin without addressing them, since this plugin is also used in the wild. So we should still do our best to have it working as reliably as possible.

Exactly :)

[2022-06-16 14:20] #358 closed, assigned to nobody

[2022-06-16 15:04] #295 closed, assigned to mitogh

[2022-06-16 15:29] felixarntz commented on #355
I just created the [`release/1.2.0` branch](https://github.com/WordPress/performance/tree/release/1.2.0), so the release can now be specifically tested using that branch.

There are furthermore no remaining issues/PRs for 1.2.0, so we're all set for a release next ~~Monday~~Tuesday (as discussed this week in the Slack team chat).

[2022-06-16 20:58] felixarntz commented on #361
@mukeshpanchal27 Good catch! We should probably change this so that the filter does not cast to an array so that the check afterwards makes sense.

Of course the filter should always be used with an array, returning anything else would be doing it wrong. But the fact that it currently casts to an array is indeed a bug that we should address.

[2022-06-16 21:00] felixarntz commented on #356
@peterwilsoncc Good catch!

[2022-06-16 21:03] felixarntz commented on #65
I'm going to close this issue due to the conversation above. Furthermore, while the module is called "WebP Uploads", what it introduces beyond that is a new infrastructure to have multiple MIME type versions available for an uploaded image, which is not only about WebP.

I think the checks we have to not attempt to generate WebP files when the server doesn't support it is sufficient.

[2022-06-16 21:03] #65 closed, assigned to nobody

[2022-06-16 21:46] pbearne commented on #373
Pull request here https://github.com/WordPress/performance/pull/381

[2022-06-17 21:15] adamsilverstein commented on #7
@getsource I was able to track down some additional information about the dssim margin question and why it might need to have a small margin versus the jpeg:

* The SSIM algorithm has some specific biases that means it is not reliable in all cases (or may favor specific compression approaches)
* Thorough analysis would weight several measurement approaches including PSNR, Butteraugli, CIDE2000 etc

[2022-06-17 22:26] erikyo commented on #7
if it possible it would be cool to check also different jpg qualities (50% - 75% - 82% - 90%)... the result will be quite different especially when compared with the original lossless (i.e. the lossless from which the jpg was generated). It is true that jpg is the most uploaded format but what we are interested to is to not loss quality and this loss starts during the first conversion (outside Wor

[2022-06-20 10:07] mukeshpanchal27 opened #382 "Remove plugin option for Multisite"
## Bug Description

Its follow-up enhancement for [#353](https://github.com/WordPress/performance/pull/345) and feedback https://github.com/WordPress/performance/pull/345#issuecomment-1155608644

If we set up multisite in WP then it will save the option in their sub-site DB. Like if you have two sub-site then the plugin option will save the option in the below tables.

wp_options - Main site optio

[2022-06-20 10:23] mukeshpanchal27 opened #383 "Introduce plugin config for not removing DB setting option when uninstall"
## Bug Description

Its follow-up enhancement for https://github.com/WordPress/performance/pull/345 and feedback https://github.com/WordPress/performance/pull/345#issuecomment-1155608644

Felix's feedback on this approach.

[2022-06-20 13:11] pbearne commented on #347
@marioy47 yes a cache per URL one logged in and one logged out 2 caches
The entries will only have the IDs of the options used on the page so we don't need to worry about invaliding the cache when option values change just when the options are needed for a given URL change. We do that by keeping a watch on the opt.ion called

[2022-06-20 13:22] manuelRod commented on #234
@bethanylang I see this already published, but without the links due to the external link policy (to clarify). Should we move forward with the module to point to the [article](https://wordpress.org/support/article/optimization/#autoloaded-options) or do we want to wait until clarification?

[2022-06-20 14:19] LukaszJaro opened #384 "Site health warning to remove index.php from theme if server has activated "disable directory listing""
With WP 6.0 not requiring index.php, it may be a helpful performance improvement to remove the blank index.php from themes but leave it DEV/end users to make decision.

[2022-06-20 14:23] AlecKinnear commented on #132
Thank you Ollie for this outstanding work. It's cut query time down for us significantly.

As a long-time plugin author and provider of WordPress VIP hosting solutions, I'm disappointed to see that core WordPress continues to be crippled by attitudes like this:

Maxime goes on to say: "these manipulations (redoing all indexes) have a cost (space) and, in maybe 90% of the cases, they do not produce

[2022-06-20 14:28] tillkruss commented on #384
How would it improve performance?

[2022-06-20 14:54] LukaszJaro commented on #384
By not having to process/read empty PHP file but I wasn't sure which is why I wrote may be helpful and let the WP perf pros provide their insight.

[2022-06-20 15:13] patrick-leb commented on #132
The biggest problem I have with this attitude of "Duh, get a pro DBA with WP experience" is that in reality, 99.99% of WP site owners will NOT have access to a pro DBA the caliber of @OllieJones  - and i'm likely missing a couple of 9's - yet his plugin that he generously donated to the community will make their site faster. Not only that, but this could also have a substantial, positive impact on

[2022-06-20 21:18] pbearne commented on #132
@OllieJones I would like your input on this idea https://github.com/WordPress/performance/issues/347 Do think this would work/help?

[2022-06-21 13:49] mxbclang commented on #234
@manuelRod I'd like to hold on clarification for now, as I personally find the links quite important in terms of providing concrete next steps for users. But don't worry, this is on my radar to continue to follow up and file an issue to remove the "experimental" label once we confirm!

[2022-06-21 15:26] #378 closed, assigned to nobody

[2022-06-21 15:48] tillkruss commented on #347
I think to support even building a prototype of this module we need to finish #38. This would allow an entire cache group to be flushed, so we can wipe all `alloptions` for all URLs to be removed at once, when options change.

[2022-06-21 17:33] spacedmonkey opened #386 "Ignore husky directory on built plugin"
## Bug Description

Ignore husky directory on built plugin. Do not deploy this directory to WP Plugin repo.

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser: [e.g. chrome, safari]
 - Plugin Version: [e.g. 22]
 - Device: [e.g. iPhone6]

[2022-06-21 17:50] felixarntz opened #387 "Do not show admin pointer in multisite Network Admin"
## Bug Description

The admin pointer for a new activation of the plugin currently shows in the Network Admin for multisite as well. This doesn't make sense since the plugin's admin screen is not available there.

## Steps to reproduce

1. Network activate the plugin for the first time on a multisite.
2. See the admin pointer in Network Admin UI.

## Screenshots

![Screen Shot 2022-06-21 at 10 47

[2022-06-21 18:04] adamsilverstein opened #388 "Investigate unexpected input `Warning` message during release build/test process"
## Bug Description

During the release process for version 1.2.0 of the plugin the "Setup Node" step threw a warning:

Warning: Unexpected input(s) 'cache', valid inputs are ['always-auth', 'node-version', 'registry-url', 'scope', 'version']

Possibly this is coming from this line: https://github.com/WordPress/performance/blob/751e4bdb58112e734017d014affcb93e966eb53e/.github/workflows/php-test.yml

[2022-06-21 18:09] #355 closed, assigned to felixarntz

[2022-06-22 13:40] manuelRod opened #391 "Core Feature Proposal: Site Health modules (object cache, full page cache)"
As part of the performance modules lifecycle, we want to port these 2 specific Site Health modules to Core.
- Persistent Object Cache Health Check. [Trac](https://core.trac.wordpress.org/ticket/56040)
- Audit Full Page Cache. [Trac](https://core.trac.wordpress.org/ticket/56041)

You can find the Make proposal [here](https://make.wordpress.org/core/2022/07/13/proposal-persistent-object-cache-and-fu

[2022-06-22 13:50] iansvo opened #392 "Support for offsite image processing"
## Feature Description

Native image processing inside WordPress adds a ton of convenience, but it does inevitably cause more strain on the server. The effect grows more pronounced when processing larger amounts of images, using a smaller (or underpowered) webserver.

While I am not familiar with the implementation in this repo directly, I would imagine this might take the form of some kind of fil

[2022-06-22 14:34] mxbclang commented on #391
Thanks, @manuelRod! I've assigned this to you for now to work on the proposal draft. Once it's ready for review, please reassign to me and I can coordinate that!

[2022-06-22 15:12] getsource commented on #7
The suggestion you made is how the script is currently intended to work. I agree that a DSSIM between the two compressed images would not be as helpful for this particular purpose.

I am double-checking to make sure things are working as I understand / is intended as part of:

This is interesting, thank you! I'll do some followup tests here, since at a first glance it doesn't seem to match the gen

[2022-06-22 15:13] jjgrainger commented on #361
@mukeshpanchal27 @felixarntz Fix for this here in #393

I've effectively removed the cast to array and added tests to check behaviour for the different values that may be passed back from the filter.

[2022-06-22 18:33] pbearne commented on #347
I will need this core change to add the needed filters
https://core.trac.wordpress.org/ticket/56045
love to see these get added in 6.1

[2022-06-22 19:38] OllieJones commented on #347
I have a remark about this fine proposal -- something to consider.

Background

You wrote _we use the keys to shortcut the get_all_options function to just the keys needed for that page._

In a site with **no persistent object cache**:
If I understand you correctly, this translates to a SQL statement shaped like this one on every page load.

`SELECT option_name, option_value FROM wp_options WHERE

[2022-06-23 02:15] getsource commented on #372
Thanks for opening this @felixarntz!
I think this will help solve one of the primary concerns folks have, and work around some of the issues with quality.

[2022-06-23 11:02] manuelRod commented on #391
@bethanylang I've made the initial draft, could you take a look and see if it is aligned with what we need? Thanks!

[2022-06-23 11:18] mxbclang commented on #347
@pbearne We definitely want to discuss this one in a future chat. Per @felixarntz's [comment here](https://github.com/WordPress/performance/issues/347#issuecomment-1146243914), can you please update the issue description to include the items in the [module proposal template](https://github.com/WordPress/performance/issues/new?assignees=&labels=%5BType%5D+Module&template=new-module-proposal.md&titl

[2022-06-23 11:19] mxbclang commented on #391
Thanks @manuelRod! I'm about to leave for a few days of vacation, but I will review this later next week.

[2022-06-23 15:08] pbearne commented on #347
and to reduce the size of the data fetched and stored in mem
I have seen sites with 100's MB in options loaded but a faction use/needed for the current page
even worse MB's of data loaded from options left behind after a plugin is removed

[2022-06-23 16:38] OllieJones commented on #347
Here's a SQL query to show a histogram of the lengths of options stashed in wp_options.  This includes all options including transients.

https://gist.github.com/OllieJones/3b9ad08a7191390dac8b952edc613596

This is a guess: in the vast majority of sites there will be a handful of big fat option values. Most option values are slender.

Obviously, the operators of "mature" WordPress sites will have

[2022-06-23 21:21] adamsilverstein commented on #168
reading up on inline scripts that appear after a script that uses the defer strategy, we should able to handle those with `type="module"` which will cause them to be deferred as well, thus continuing to be evaluated after the deferred script.

[2022-06-23 23:20] #361 closed, assigned to jjgrainger

[2022-06-24 14:53] erikyo commented on #371
I think it's definitely a good idea 💯
if jpgs are not always the ideal source for webp encoding, because the result vary depending on the source quality, pngs would give amazing results -- especially considering that a lossy webp weighs up to 20 times less than a png (png -> webp lossy). This would be a nice performance boost!
Another advantage is that in this case there we have generation loss so

[2022-06-25 17:58] felixarntz commented on #379
After thinking about this further, we should probably rely on checking for both the `template_redirect` _and_ `wp_head` hooks to have been completed, for the following reason:
* `template_redirect` indicates most reliably that we are in a frontend request context.
* `wp_head` is only for "invisible" content like meta tags etc so we shouldn't replace images with WebP there.

We can use `did_action(

[2022-06-27 11:30] Bjoern76 commented on #171
8 years ago I extended the original native gettext implementation from the referenced ticket, made it a plugin (https://wordpress.org/plugins/wp-performance-pack/) which includes my original dynamic mo reader - which I meanwhile found used by others without any credit, which is kind of sad, but not as sad as the fact that the original ticket is still open even though me and many others like @Mte90

[2022-06-27 14:59] Joaojack opened #395 "Thumbnails not converted to webp since update 1.2.0"
Hello, since update 1.2.0, my different thumbnail sizes are not automatically converted to webp. The options are still checked in settings, and it worked before.

I'm using Real Thumbnail Generator to generate several thumbnails on each upload, and it worked fine with performance.

[2022-06-27 15:17] Joaojack commented on #395
My original picture is correctly converted (apple.webp), but the generated thumbnails (apple-large.jpg, apple-thumbnail.jpg) were not

[2022-06-28 09:14] manuelRod commented on #391
@audrasjb @felixarntz while I'm moving this functionality to core, It came to my attention, that all Site Health-related things are contained in just a class _WP_Site_Health_, that class is already almost 3k lines. :/
If we start adding tests to this class ( most of our tests have quite a few helper methods ) it will get really large and ugly.
I'm not sure if we should consider splitting functiona

[2022-06-28 09:36] mukeshpanchal27 commented on #372
Thank you for reviewing PR [#1](https://github.com/mukeshpanchal27/performance/pull/1).

If we check filesize logic before updating meta for the full image, it will not store the WebP mime type in the source array.

When `the_content` replaces the images using `webp_uploads_img_tag_update_mime_type()` it will not update the thumbnail WebP image because it was checking the source image mime type [h

[2022-06-28 10:50] mukeshpanchal27 opened #396 "When `webp_uploads_prefer_smaller_image_file` is set to true, an undefine error occurs"
## Bug Description

It generate undefine variable error when `webp_uploads_prefer_smaller_image_file` is set to true.
https://github.com/WordPress/performance/issues/7#issuecomment-1092970047

## Steps to reproduce

1. Add `add_filter( 'webp_uploads_prefer_smaller_image_file', '__return_true' );` in theme or plugin
2. Upload image from [this comment](https://github.com/WordPress/performance/issues

[2022-06-28 14:59] Clorith commented on #391
Hiya, it is indeed a pretty chunky class :)

I can bring some backstory, the initial reason was that this was developed as a plugin, so everything had to be self-contained without knowing about core method locations.

Containing everything in one location means we don't need to worry about a file having been included already to ensure it has added filters before the Site Health component runs. Alt

[2022-06-28 15:34] spacedmonkey opened #399 "Run PHP unit tests in different versions of PHP"
## Feature Description

Run PHP unit tests in different versions of PHP in CI.

[2022-06-28 15:42] pbearne commented on #338
Will the #347 proposal help with the trade-off "There's a design tradeoff in indexing wp_options. The POC plugin chose to optimize for the case where the site operator uses a [persistent object cache](https://developer.wordpress.org/reference/classes/wp_object_cache/#persistent-caching), instead of optimizing for retrieving autoloaded options"?

[2022-06-28 15:42] mxbclang commented on #399
Tagging in @felixarntz for further discussion.

[2022-06-28 16:02] afragen commented on #391
@Clorith has a much better understanding than I do. I'll simply say that any refactoring will be a core committer level decision, that leaves me out. 😅

[2022-06-28 16:06] manuelRod commented on #391
Thanks, @Clorith and @afragen for chiming in. Alright, I'll prepare then the PRs following the current Site Health fashion.
I'll tag you once they are ready

[2022-06-28 16:44] Exalik opened #400 "Delete terms from disabled taxonomies"
Hello,

I have an alert about terms from disabled taxonomies.
On the bottom of the terms list, there's a "Delete Terms" button.
When I click on it, it does not do the job !

Could you solve it please ?

[2022-06-28 16:56] manuelRod commented on #391
@felixarntz @Clorith @afragen @spacedmonkey PRs ready for both modules:
https://github.com/WordPress/wordpress-develop/pull/2890
https://github.com/WordPress/wordpress-develop/pull/2894

[2022-06-28 17:10] mxbclang commented on #400
Hi there @Exalik! Can you clarify where you are seeing this error? It does not sound like it is part of the Performance Lab plugin.

[2022-06-28 17:18] Exalik commented on #400
![Capture d’écran du 2022-06-28 19-16-12](https://user-images.githubusercontent.com/39555992/176243476-54edf6cd-e66d-48da-b448-fde8fdd36dda.png)
![Capture d’écran du 2022-06-28 19-17-37](https://user-images.githubusercontent.com/39555992/176243641-02b76180-7d0b-49c4-9e86-bb563db78ef9.png)
![Capture d’écran du 2022-06-28 19-18-24](https://user-images.githubusercontent.com/39555992/176243762-8a6b847

[2022-06-28 17:25] mxbclang commented on #400
@Exalik Thank you! These messages aren't coming from the Performance Lab plugin, which this is the repository for, so unfortunately this isn't something that we can assist with. I'd recommend posting to the <a href="https://wordpress.org/support/forum/how-to-and-troubleshooting/">Fixing WordPress Forum</a> for assistance.

[2022-06-28 17:25] #400 closed, assigned to nobody

[2022-06-28 17:38] Exalik commented on #400
Thanks @bethanylang !

[2022-06-28 18:34] #396 closed, assigned to mukeshpanchal27

[2022-06-28 19:57] felixarntz commented on #372
@mukeshpanchal27 Ah, good catch! I'd say in that case we need to update the logic in https://github.com/WordPress/performance/blob/trunk/modules/images/webp-uploads/load.php#L460-L465 though since we shouldn't keep a WebP image even for the full size if it's larger than the JPEG. The logic referenced there only makes sense based on the assumption that every size has all MIME types available which

[2022-06-28 19:59] felixarntz commented on #391
@Clorith

I think loading additional small PHP files instead of one massive PHP file has a negligible impact if any, so I would say the code maintainability should trump that here. I do agree with your next point though:

So +1 on implementing this in the existing `Site_Health` class as a refactoring would be out of scope here.

[2022-06-28 21:06] #373 closed, assigned to pbearne

[2022-06-28 21:52] spacedmonkey commented on #374
PR ready to review.

[2022-06-29 00:24] felixarntz commented on #391
@manuelRod Thanks a lot for writing up the draft! I just reviewed it and it looks very solid to me. I left some minor suggestions, the most important feedback from my end would be to add a more actionable last section and provide a bit more context on how the modules are supposed to behave and how people can test them.

[2022-06-29 06:36] Joaojack commented on #395
@mukeshpanchal27 if you need any precisions on my issue don't hesitate to ask me, thanks !

[2022-06-29 08:30] mukeshpanchal27 commented on #395
@Joaojack Thanks for reporting the bug. I recreated it in the `1.2.0` version using the free [Real Thumbnail Generator](https://wordpress.org/plugins/real-thumbnail-generator-lite/) plugin and the [Regenerate Thumbnails](https://wordpress.org/plugins/regenerate-thumbnails/) plugin.

It was related to [Avoid overwriting existing WebP files when creating WebP images](https://github.com/WordPress/per

[2022-06-29 09:53] spacedmonkey opened #402 "Remove experimental label from dominant color module and turn on by default for new installs"
## Feature Description

Enable dominant color module by default and remove experiemently flag.

[2022-06-29 09:53] spacedmonkey commented on #402
Thoughts on this one @pbearne @felixarntz

[2022-06-29 13:38] XVII opened #403 "Module Proposal: Persistent database connections"
## Overview
- Proposed module name: Persistent Database Connections
- Proposed module slug: persistent-db-conn
- Proposed module owner GitHub username(s):

## About the module

### Purpose
Persistent database connections has the potential for improving WordPress performance by reducing the overhead of establishing new database connections.

Persistent connections do this by being able to leverage

[2022-06-29 15:44] pbearne commented on #402
yes I feel we should do this

[2022-06-29 16:05] OllieJones commented on #338
@pbearne  I don't think so, at least not much. The choices in the tradeoff were:

* Use `(autoload, option_name)`  as the primary key (PK). That way `SELECT * FROM wp_options WHERE autoload='yes'` uses the PK's clustered index. Without a persistent object cache that query runs once on every pageload and cranks out a lot of data. So streamlining it pays off. With any object caching scheme in place

[2022-06-29 16:41] #387 closed, assigned to mukeshpanchal27

[2022-06-29 17:19] felixarntz commented on #402
@spacedmonkey @pbearne I agree with the additional polishing this has been getting we should be good making this non-experimental. Let's make sure to look out for additional feedback. It would be great if we could ship this as non-experimental in the upcoming 1.3.0 release and shortly after publish the feature proposal post for WordPress core.

[2022-06-29 18:27] spacedmonkey opened #405 "Dominant Color: GIF images always being flagged as having transparency."
## Bug Description

GIF images always being flagged as having transparency.

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional Context

 - PHP Version:
 - OS: [e.g. iOS]
 - Browser: [e.g. chrome, safari]
 - Plugin Version: [e.g. 22]
 - Device: [e.g. iPhone6]

[2022-06-30 04:58] peterwilsoncc commented on #132
One of the issues that's been raised for meta queries in WP is that they do not generate terribly efficient JOINs, see [WP#49278](https://core.trac.wordpress.org/ticket/49278). Would improving the way these are built gain much in terms of performance. There's an early pull request at https://github.com/WordPress/wordpress-develop/pull/1229

Improving the queries seems like a good first step. Subse

[2022-06-30 11:54] mxbclang opened #406 "Prepare 1.3.0 release"
This issue is to track preparation of the upcoming 1.3.0 release up until publishing, which is due **July 18, 2022**.

- [x]  Create release/1.3.0 branch closer to the release date
- [x]  Finalize scope and punt unfinished pull requests to following release
- [x]  Prepare the release (Monday, July 18, 2022)

[2022-06-30 13:01] mukeshpanchal27 commented on #372
@felixarntz I'm working on the changes.

If we implement this feature in the plugin, we no longer need the smaller file size filter and related code. The filter `$prefer_smaller_image_file = apply_filters('webp_uploads_prefer_smaller_image_file', false);` and code for full size image https://github.com/WordPress/performance/blob/trunk/modules/images/webp-uploads/load.php#L477-L485 and thumbnail si

[2022-06-30 15:12] mxbclang opened #407 "Update Autoloaded Options Site Health report documentation link"
In the Site Health Autoloaded options check, a message displays when it's detected that the site's autoloaded options are over the defined threshold, along with a learn more link that goes to https://wordpress.org/support/article/optimization/#database-tuning.

We have a new guide specifically about autoloaded options at https://wordpress.org/support/article/optimization/#autoloaded-options and th

[2022-06-30 15:45] mxbclang opened #409 "Remove Experimental label from Autoloaded Options Site Health audit"
As noted in #92, the Autoloaded Options Site Health audit is currently marked as Experimental, mainly because of the lack of documentation on how to clean up autoloaded options. We've created a [new autoloaded options guide](https://wordpress.org/support/article/optimization/#autoloaded-options) as part of the main WP Optimization guide, which will be updated in the plugin in v1.3.0 per #407.

Thi

[2022-06-30 18:47] OllieJones commented on #132
With respect, your statement "it would be preferable to avoid altering the indexes on live sites if possible" is _contrary to good practice_ for managing busy databases.  It's a routine operation to adjust the indexes on various tables as they grow, and as the query shapes settle in for the particular site's production traffic.

There's a clear separation of responsibilities in the dbms world. Pro

[2022-06-30 20:04] felixarntz commented on #409
I think we could potentially remove the experimental label, certainly this is a lot closer than before. With that said though, I do think it would be great to define a bit more what the goal with this module should be. For example, there is #350 (and corresponding PR #353) which IMO would make this a lot more helpful. From that perspective, I still feel like the current implementation feels somewh

[2022-06-30 21:10] felixarntz commented on #372
@mukeshpanchal27 Great point! We can probably remove that filter then.

[2022-06-30 22:58] peterwilsoncc commented on #132
Thanks for the explanation @OllieJones, it's really helpful.

I was genuinely wondering if more efficient queries were possible, I wasn't making a passive aggressive attempt to block the idea. It appears they are not.

[2022-07-01 00:28] peterwilsoncc commented on #80
Merged in https://github.com/wordPress/wordpress-develop/commit/5ac4ec32085d09871ec253f78f4d40bfaaa71403 and https://github.com/wordPress/wordpress-develop/commit/d613ac555571e8d5fe3ba2ad93bc9447440d2de9

[2022-07-01 00:28] #80 closed, assigned to spacedmonkey

[2022-07-01 00:38] peterwilsoncc commented on #76
Just some notes of a discussion Till and I had on the PR.

It occurred to me that it might be possible to use a filter for the global groups & require site owners wishing to make use of it to `require_once wp-includes/plugin.php`, this is similar to how `enable_loading_object_cache_dropin` works. https://github.com/WordPress/wordpress-develop/pull/2149#issuecomment-1149502210

@tillkruss asked som

[2022-07-01 02:49] XVII commented on #123
As a thought exercise, it would potentially become more efficient to store each combination of taxonomy and give them an ID, then use that ID to identify the posts instead.

Therefore, a query would just be looking for posts with a particular ID (representing a specific combination of taxonomies, i.e. Taxonomy Set ID). Taxonomies would be responsible for maintaining the unique combination lookup t

[2022-07-01 08:56] mukeshpanchal27 commented on #372
If we insert a loop through all `$target_mimes`and try to replace the image, then we also don't get a proper solution. because if we try to iterate the image source with or without it, it fails in any of the below size conditions. Let me explain it in detail.

For testing purposes, we have six images.

1. 01.jpg (Some thumbnails are smaller than the original)
2. 02.jpg (The full WebP image is the

[2022-07-01 10:18] masteradhoc opened #410 "Module Proposal: SVG Uploads"
## Overview
- Proposed module name: SVG Uploads
- Proposed module slug: svg-uploads
- Proposed module owner GitHub username(s):

## About the module

### Purpose

Purpose of this module is to allow users to upload SVG (Scalable Vector Graphics) that dont contain script tags. This should allow people to use the big benefit of SVG Images:  unlimited scaling by staying always sharp with a very low fi

[2022-07-01 11:04] mxbclang commented on #410
Thank you, @masteradhoc! If you wouldn't mind pinging me in this issue when the proposal is all ready to go, we can work together to decide when to discuss this in an upcoming Slack chat.

[2022-07-01 12:09] masteradhoc commented on #357
@Zodiac1978 @spacedmonkey @darylldoyle @felixarntz would love to get some feedback if the Module Proposal created in #410 (based on your and other existing discussions) is complete or you'd like me to integrate something? then i'd do it before the module gets discussed in slack :)

[2022-07-01 12:25] mxbclang commented on #357
Thank you, @masteradhoc! Since we now have a separate module proposal issue for this with #410, I'm going to close this issue out so that we can continue discussion there.

[2022-07-01 12:25] #357 closed, assigned to nobody

[2022-07-01 12:25] mxbclang commented on #410
Original discussion: #357

[2022-07-01 13:00] OllieJones commented on #132
No passive aggressive intention taken, certainly not. It's my goal to bring a little more SQL performance awareness into the WordPress community. The leverage is huge: better efficiency means power savings in data centers, less CO2 and all that.

Certainly it's possible to make some queries more efficient by refactoring them. It's always a good idea to assess the before-and-after efficiency using

[2022-07-01 15:27] brenton-klassen-abb opened #412 "Add Site Health test to break down server response time for uncacheable content"
## Feature Description

I'm running a [membership site](https://kinsta.com/blog/hosting-wordpress-membership-sites/) where most users are logged in most of the time. I also want to speed up the dashboard for authors. So page caching is not really an option for me. Instead I'm focusing on improving the server response time without page caching.

In order to improve the performance of my site, I wou

[2022-07-01 15:52] tillkruss commented on #412
We should probably list time spend to the object cache backend as well.

[2022-07-01 15:53] felixarntz commented on #372
@mukeshpanchal27 I'm not sure I understand your point. Maybe I didn't phrase my previous comment in https://github.com/WordPress/performance/issues/372#issuecomment-1169170581 precisely. Let me try to clarify:

* Instead of having a single loop in which we _generally_ identify the `$target_mime`, we need to attempt each possible target MIME for _each_ different size individually. In other words, f

[2022-07-01 16:26] mxbclang commented on #339
@mukeshpanchal27 @akshitsethi Checking in on this one – I see that Akshit is assigned, but it looks like the next step was for Mukesh to open an issue in the WP Importer repo. Has that been done? If so, can you please share a link to that issue here? And what are the next steps and who is handling them?

[2022-07-01 17:36] felixarntz opened #413 "Allow control for which sizes to generate a WebP version"
Related to #372, not all sizes should for sure have WebP / additional MIME type versions available. In addition to the checks from #372, developers should have control over which image sizes to generate additional MIME type versions for.

As outlined in https://make.wordpress.org/core/2022/06/30/plan-for-adding-webp-multiple-mime-support-for-images/, this should behave as follows eventually:
* The

[2022-07-01 17:36] felixarntz commented on #413
cc @adamsilverstein @mukeshpanchal27

[2022-07-01 17:40] masteradhoc opened #414 "Background images set with CSS do not uses the *.webp version if present"
## Bug Description
We already got a fix at #288 by @mitogh for the featured images - thanks for that! Some time ago i developed a small simple website with gutenberg & generatepress. i tried to use as many default blocks as possible. Some elements are working with the webp replacement as expected - some not yet.

generatepress offers a container block. it allows to choose a image from the library

[2022-07-01 17:59] mxbclang commented on #413
Thanks for this, @felixarntz! @mukeshpanchal27 just picked up another issue for 1.3.0 today so his plate is getting pretty full for that deadline. @jjgrainger Is this something you can help with?

[2022-07-01 18:01] mxbclang commented on #379
@akshitsethi I see that you've assigned this to yourself; a reminder that we'll want to have this in good shape by 13 July or so for the 1.3.0 release.

[2022-07-03 11:46] eugene-manuilov commented on #414
Thanks for submitting this ticket, @masteradhoc, but unfortunately I don't think we can help with this use-case. There are multiple reasons why.

First of all, as you can see the image URL is saved as a custom field and there is no way to detect its attachment ID.  We can't replace a jpeg image with webp without knowing attachment ID because we need to know whether the image has webp variants. Als

[2022-07-03 11:49] eugene-manuilov commented on #341
@felixarntz, I assigned this ticket to you. We have multiple approvals for my PR. Let me know if you think we need to do more for it.

[2022-07-03 11:54] eugene-manuilov commented on #413
@bethanylang I can help with it.

[2022-07-03 12:23] masteradhoc commented on #414
@eugene-manuilov Thanks. i'll check with the themeowner also if and how its exactly implemented and get back here.

What i also noticed is that even if you currently upload an image it will stay as jpg inside the file url field in media library.
With the current implementation this results for me in the usecase noted above that even rechoosing the file again over the media popup the link always wi

[2022-07-03 13:13] eugene-manuilov commented on #413
A PR is created: #415

[2022-07-04 09:41] manuelRod commented on #409
We should remove the experimental label on #350  merge since it adds useful information.
@felixarntz why do you think this implementation is somewhat incomplete? I think at this stage it would have enough info to help the user (is true that not everyone would know how to do it, but at least we are pointing them in the right direction).

[2022-07-04 14:27] manuelRod commented on #391
@felixarntz @bethanylang thanks for the review, i did another iteration and created the last section for feedback and testing. Let me know!

[2022-07-05 10:29] manuelRod commented on #391
BTW, should I expand on the filters available?

[2022-07-05 10:41] manuelRod commented on #31
Just a little reminder, I've worked on a core patch covering this: [https://core.trac.wordpress.org/ticket/42438](https://core.trac.wordpress.org/ticket/42438).
There is a bit of discussion over there, I would love some people chiming in and pushing this forward.

[2022-07-05 13:52] mxbclang commented on #388
@felixarntz Should this be something that we try to fix for the 1.3.0 release if possible?

[2022-07-05 15:08] rjasdf commented on #24
What about the new `<picture>` tag?  It allows multiple images to be listed - and the browser picks the optimal one for the screensize available.

[2022-07-05 15:43] pbearne opened #417 "Core Feature Proposal: Dominant Color"
As part of the performance modules lifecycle, we want to port the dominant color module to Core.

Dominant color . [Trac][([https://core.trac.wordpress.org/ticket/56151](https://core.trac.wordpress.org/ticket/56151))

You can find the Make proposal/merge draft [here]
Core feature proposal https://docs.google.com/document/d/1VJuA2HQ90x5qvMc0aC9wfz7FsroyJPGJB3H-AuqzOgc/edit#
Dominant color dev notes

[2022-07-05 16:45] mitogh commented on #24
Good point `<picture>`  has been considered and strategies to use it as replacement for the `<img>` tag is an option, however one of the major concerns is the fact that updating the markup out of the box for existing sites might break some styles in themes due is a different container and a different markup, the main idea would be to introduce a brand new function that produces `picture` elements

[2022-07-05 19:08] rjasdf commented on #24
@mitogh - Sure; a new thingie makes sense.  Do you happen to know what happens with `<picture>` when the end-user stretches/shrinks the browser/smartphone screen?  That is, will it dynamically switch to a different sub-img inside the picture tag?  Or does it simply stretch/shrink the image already picked, possibly leading a poor rendering?

[2022-07-05 19:29] rjasdf commented on #338
@pbearne - (Adding on to what Ollie said.)  I'll split the first bullet into two cases:

If `autoload` is `yes` for most rows, `PRIMARY KEY(option_name)` is nearly as fast for `SELECT * FROM wp_options WHERE autoload='yes'` as when using the 2-column PK.  This is because it will simply read the entire table, ignoring any `no` entries.

If autoload is `no` for most rows, then caching isn't doing mu

[2022-07-05 22:29] mitogh commented on #24
Good question @rjasdf in that scenario `<picture>` alone is not enough and you need to introduce `srcset` with each of your sources inside of `picture` so the appropriate image is rendered on a specific breakpoint or condition that you specify.

That might involve a wide range of combinations that might not be possible to define out of the box with WP (at least with the default sizes) but an API w

[2022-07-06 06:38] mukeshpanchal27 commented on #339
This issue is open in the WordPress Importer repo [#129](https://github.com/WordPress/wordpress-importer/issues/129).

I'm going to mark this issue as closed.

[2022-07-06 06:38] #339 closed, assigned to akshitsethi

[2022-07-06 15:18] adamsilverstein commented on #341
Sharing some [screenshots](https://email.browserstack.com/c/eJyFkc2u3CAMhZ8m2WUUDOFnkUWldhZVVVVq98iAk3BnEkaBNK9fppqr7m4lFubwyeYc04rxbik_xmcxH1t7ZNptDKMAkKyHNoyDG4Jq6S951Jdv8TfZn34n2vKSSrZfk7PXuMW8ULBMDqoXCpS2MGkAbkznvDadIM07lA47dL3zignwUrZxlOCF1kTOMQlWanAAJDSbjNGMgRShEf2ON-pOct1bcrk7037rhsmJoKQMutukm_Pl-cN2Gb3UBgPoOoQbDh4DEgdinHHROza193Ep5ZEb_qmBaz3neV7cns7qPBf0t4tPa5XzP4v1xqYJg0FUHIJXPVdGOmeCkdxI

[2022-07-06 15:58] #374 closed, assigned to spacedmonkey

[2022-07-06 16:51] felixarntz commented on #391
@manuelRod Yes, a brief mention of them would be great, maybe just as a simple list of available filters, and you could link to the plugin source code for them.

The detailed documentation on the filters with examples etc. is more important to add later in a `dev-note` post once this has been committed to core.

[2022-07-06 17:00] felixarntz commented on #24
@rjasdf @mitogh Just wanted to chime in here to refer to #21: Maybe your conversation would be more applicable to that issue than the one here?

[2022-07-06 17:52] felixarntz commented on #388
@bethanylang Would be nice, but not a blocker.

[2022-07-06 19:39] eugene-manuilov commented on #414
Thanks, @masteradhoc. I have created a PR #420 that should help with this issue. It adds a hook for the `wp_get_attachment_image_src` filter and updates an image URL to use webp alternative **if the function has been called in the `the_content` context** (doing `the_content` filter).

[2022-07-06 20:53] #356 closed, assigned to peterwilsoncc

[2022-07-06 20:54] #407 closed, assigned to mxbclang

[2022-07-07 12:19] mxbclang commented on #402
@felixarntz Just to clarify, is the plan for 1.3.0 to remove the experimental flag *and* enable the module by default? I'd like to update the issue title if we're only doing the former.

[2022-07-07 15:49] #375 closed, assigned to mehulkaklotar

[2022-07-07 16:32] #386 closed, assigned to akshitsethi

[2022-07-07 16:44] mehigh commented on #31
Let's assign this to @manuelRod as he's following up on trac. I'll add my view there as well.

[2022-07-07 21:22] adamsilverstein commented on #379
Note that we'll also need to add this check when we add support for altering the featured image automatically in `_wp_post_thumbnail_html`

[2022-07-08 11:04] OllieJones commented on #338
**TL;DR**  This proposed module doesn't seem right for the performance lab plugin.

The #core-performance group offered a great discussion of this proposal. [Summary here](https://make.wordpress.org/core/2022/06/28/performance-team-meeting-summary-28-june-2022/).

The reasons to omit the reindexing from a performance lab module:

* doing it successfully on large tables can require wp-cli commands

[2022-07-08 15:46] manuelRod commented on #391
@felixarntz @bethanylang I've applied latest revision and added some brief info about the filters available in both modules.
Can you take another look? I'm confident we are close now :)

[2022-07-08 17:46] #293 closed, assigned to mukeshpanchal27

[2022-07-11 11:29] mxbclang commented on #338
@OllieJones Thank you so much for this detailed summary and for taking the time to discuss this with the team!

Per your note, we won't proceed with this proposal as a module for the Performance Lab plugin for now, but look forward to seeing it elsewhere in the future. I'll mark this issue as closed.

[2022-07-11 11:29] #338 closed, assigned to nobody

[2022-07-12 17:21] tillkruss commented on #38
Refreshed new PR: https://github.com/WordPress/wordpress-develop/pull/2969

[2022-07-12 18:36] felixarntz opened #426 "Enhance JS replacement mechanism for WebP to JPEG to more reliably replace full file name"
Follow-up to #341: The implementation from that PR #360 which should replace WebP file URLs with their corresponding JPEG file URLs is currently a bit simplified, replacing purely the `.webp` extension with the corresponding `image/jpeg` file's extension.

While this (correctly) _does_ take the JPEG extension into account (which could be `jpeg`, `jpg`, or `jpe`), there are potentially other quirks

[2022-07-12 19:34] felixarntz commented on #414
@masteradhoc @eugene-manuilov We plan to address this for the core implementation by adding a parameter to request a MIME type to various core image functions, and the plan is also to automatically use the WebP version by default in a frontend body context (see #379) if that parameter isn't passed.

However, because this ties deeply into the core image functions, I don't think it's reasonable to a

[2022-07-12 19:57] #402 closed, assigned to nobody

[2022-07-12 23:11] #413 closed, assigned to eugene-manuilov

[2022-07-13 10:28] manuelRod commented on #391
@bethanylang @felixarntz here is the draft make post: https://make.wordpress.org/core/wp-admin/post.php?post=97544&action=edit

[2022-07-13 12:28] mukeshpanchal27 commented on #326
I have removed the `Needs Dev` label as @OllieJones has already submitted a PR for this and also linked the PR to this issue.

[2022-07-13 13:51] manuelRod commented on #391
Proposal published: https://make.wordpress.org/core/2022/07/13/proposal-persistent-object-cache-and-full-page-cache-site-health-checks/

[2022-07-13 15:20] mxbclang commented on #412
Thank you for sharing this, @brenton-klassen-abb! This would be a new module in the Performance Lab plugin, so if it's something that you're interested in moving forward, you can take a look at our <a href="https://github.com/WordPress/performance/blob/trunk/docs/Proposing-a-new-module.md">Proposing a new module documentation</a>. When a module proposal issue is ready, we can discuss this in an up

[2022-07-13 15:22] mxbclang commented on #410
Noting that this proposal was discussed in our <a href="https://make.wordpress.org/core/2022/07/12/performance-team-meeting-summary-11-july-2022/">11 July performance chat</a> and will be moving forward! 🥳

@masteradhoc will work to get started on this but will need engineering help. Brian, please feel free to ping me in this issue or in Slack when you need assistance and I can coordinate with the

[2022-07-13 15:28] #341 closed, assigned to felixarntz

[2022-07-13 15:34] felixarntz commented on #391
Awesome work, thank you @manuelRod!

[2022-07-13 15:34] #391 closed, assigned to manuelRod, mxbclang

[2022-07-13 15:39] mxbclang commented on #354
@felixarntz Looks like this needs to push to 1.4.0 as there isn't a PR, can you confirm?

[2022-07-13 15:57] pbearne commented on #354
I don't think we can add this to the performance plugin as it needs a core patch
https://github.com/WordPress/wordpress-develop/compare/trunk...pbearne:wordpress-develop:use_dominat_color_in_media_libary?expand=1

[2022-07-13 16:38] felixarntz commented on #354
Thanks @bethanylang @pbearne. Definitely won't make it in time for 1.3.0, but if it's not feasible in the plugin anyway, let's remove the milestone entirely and keep this simply as a tracking task for the core patch work.

[2022-07-13 18:39] getsource commented on #7
@adamsilverstein Sorry for the wait on this.

I decided to check with uploading the same image (without using the script) to my trunk / docker install with the performance plugin + WebP enabled.

The JPEG sizes are similar to the ones in the directory listings you pasted, but the WebP sizes are larger than the ones in the gists you linked, whether I set things to 82 or 90 WebP quality.

I'm wonder

[2022-07-13 18:54] felixarntz commented on #395
@mukeshpanchal27 @Joaojack I left a reply in https://github.com/WordPress/performance/pull/422#discussion_r920401681, this issue definitely needs some further thought. We cannot risk overwriting files that may be used in other images, so as long as we are unable to know whether an existing file belonged to the same attachment, we cannot move forward here. Unfortunately there is no straightforward

[2022-07-13 19:29] Joaojack commented on #395
Bu why did it work before ?

Le mer. 13 juil. 2022 à 20:54, Felix Arntz ***@***.***> a
écrit :

[2022-07-13 21:42] felixarntz commented on #395
@Joaojack Before there was another bug #359, and when that was fixed, we introduced the bug you encountered here. The problem of addressing both bugs at the same time is quite complex, so this will require more exploration from an engineering perspective.

While the bug in #359 is quite specific, it unfortunately is the more severe bug (accidentally mixing up image files with another attachment),

[2022-07-14 08:30] Joaojack commented on #395
Thank you @felixarntz for this answer. Is there any way for me to download the previous version ? I've developed a whole vue frontend calling webp versions for each thumbnail and everything is broken since the update.

[2022-07-14 10:52] mukeshpanchal27 commented on #395
@Joaojack You can download the previous version of the plugin from the WordPress.org website: https://wordpress.org/plugins/performance-lab/advanced/ at the bottom. 

Please download the 1.1.0 version here: https://downloads.wordpress.org/plugin/performance-lab.1.1.0.zip

[2022-07-14 13:07] mxbclang commented on #410
@spacedmonkey Wanted to check in with you as you expressed some interest in this one in our chat last week. Would you be interested in being a "co-owner" of this module and taking the lead on the engineering? Your expertise and experience with this on Web Stories is definitely helpful here! cc @felixarntz

[2022-07-14 13:10] spacedmonkey commented on #410
@bethanylang No, but for couple of reasons. 1. I am taking the next 6 weeks off and will not be on this project. 2. I am currently leading other efforts, like dominate color.

I willing to support with code review and testing.

If I find some time, I may look into prototyping a module. But leading the efforts to get this into core, it more than I have time for at the moment.

[2022-07-14 13:16] mxbclang commented on #410
Thanks @spacedmonkey and thanks for sharing this in the #core-media channel!

[2022-07-14 13:29] jeffpaul commented on #410
Worth noting here that Safe SVG is backed by the https://github.com/darylldoyle/svg-sanitizer library which you may find useful in your research/recommendations here.

[2022-07-14 13:36] masteradhoc commented on #410
Thanks @spacedmonkey & @jeffpaul. Maybe i have a good announcement soon with a joining member :) . Will keep you posted. In the meantime if someone is interested to join let me know.

[2022-07-14 14:28] mxbclang opened #427 "SVG uploads"
- Module name: SVG Uploads
- Module slug: svg-uploads
- Module proposal issue: #410

### High-level feature
Allow uploading of regular SVGs without scripts and provide an SVG preview in the Media Library.

### Technical details
* This should likely use https://github.com/darylldoyle/svg-sanitizer
* This library requires at least PHP 7.0
    * Since uploading SVGs is not a critical feature to using

[2022-07-14 14:30] mxbclang commented on #410
@masteradhoc To keep this in line with our other modules, I'm going to close out this issue as the initial proposal and I've created a new "epic" issue for this module here: #427. In the past, we've used the "epic" issue as a kind of parent issue to list out any other issues that are required to complete the module; for example, see #22. Totally up to you and any other developers who work on this

[2022-07-14 14:30] #410 closed, assigned to nobody

[2022-07-14 15:26] merkys7 commented on #349
Thank you @bethanylang I will begin working with it shortly

[2022-07-14 18:20] #405 closed, assigned to nobody

[2022-07-14 18:29] #372 closed, assigned to mukeshpanchal27

[2022-07-14 18:51] #414 closed, assigned to nobody

[2022-07-14 20:39] #379 closed, assigned to akshitsethi

[2022-07-14 20:41] felixarntz commented on #406
* Created [`release/1.3.0` branch](https://github.com/WordPress/performance/tree/release/1.3.0)
* Merged or punted remaining [1.3.0 pull requests](https://github.com/WordPress/performance/pulls?q=is%3Apr+milestone%3A1.3.0+is%3Aopen)

[2022-07-15 04:37] mukeshpanchal27 commented on #326
Punting to `1.4.0` as per Felix's comment on PR.

[2022-07-15 05:42] mukeshpanchal27 opened #428 "Use constant for `plugin_dir_path`"
## Bug Description

Use define constant for the `plugin_dir_path( __FILE__ )` as it was called 6 times in https://github.com/WordPress/performance/blob/trunk/load.php so it is better to use define

[2022-07-15 10:35] mukeshpanchal27 opened #432 "Infinite loop in the fallback mechanism"
## Bug Description

This bug is introduced after merg of the PR #360, When I open any page with an image with the webp version, that page never stops loading.

## Steps to reproduce

1. Clone trunk copy
2. Upload image in post/page
3. Check frontend page
4. See error. The page never stops loading.

## Additional Context

 - PHP Version: 8.0.15
 - OS: Windows, Mac
 - Browser: chrome, edge
 - Plugin

[2022-07-16 03:42] mitogh commented on #24
Totally I think that's a good place to follow the conversation @felixarntz

Thanks. cc @rjasdf

[2022-07-18 04:37] mukeshpanchal27 commented on #432
The PR was merged in `1.3.0`. Going to close the issue.

[2022-07-18 04:37] #432 closed, assigned to nobody

[2022-07-18 12:39] #406 closed, assigned to felixarntz

[2022-07-18 13:43] mxbclang opened #440 "Update plugin description and plugin author from"

[2022-07-18 13:45] mxbclang opened #441 "Update plugin description and plugin author from "Group" to "Team""
Now that we're an official core WP Team, we should update the language in the plugin description and the plugin author name to reflect this. Currently:

<img width="989" alt="image" src="https://user-images.githubusercontent.com/12189958/179525007-79ba196d-d2a8-4eb0-a495-245a13a7070b.png">

[2022-07-18 15:47] OllieJones commented on #234
A bit late to this party (if I'm too late, Never Mind this remark). I suggest editing the article to mention persistent object caching. https://developer.wordpress.org/reference/classes/wp_object_cache/#persistent-caching

[2022-07-18 17:38] mxbclang commented on #234
Thanks @OllieJones! Did you have a particular mention in mind? The intention behind updating this article was to provide some guidance to non-technical users on how to address the results of the autoloaded options health check, so just want to make sure that whatever we add will be helpful for that audience.

@manuelRod Once I get an idea on next steps from Ollie above, I'm going to mark this issu

[2022-07-19 05:17] mukeshpanchal27 commented on #440
It's a duplicate of #441. I'm going to close this issue. Feel free to open it if it has a different one.

[2022-07-19 05:17] #440 closed, assigned to nobody

[2022-07-19 19:26] adamsilverstein commented on #395
Noting that in the core patch, we took the approach of adding the original file extension as a suffix when building the alternate mime filenames which neatly avoids the name conflict in the first place (cat.jpeg becomes cat-jpeg.wep, cat.jpg becomes cat-jpg.webp).

[2022-07-19 19:31] felixarntz commented on #395
@mukeshpanchal27 Would you mind reviewing the above implementation from the core patch? It would be great to find a way to bring the same enhancement to the Performance Lab's WebP module implementation so that we can fix this issue by generally avoiding conflicts.

[2022-07-19 20:20] feastdesignco commented on #341
As you're adding a filter to disable the automatic webp image generation, please also make the same filter disable the javascript snippet being forced out with this update.

[2022-07-20 05:52] mukeshpanchal27 commented on #395
Yes. Let me review the core patch.

[2022-07-20 09:30] Mte90 commented on #171
I am here to ping again 😁

I am available to join a performance chat meeting if it is on schedule to discuss about this as the [trac ticket](https://core.trac.wordpress.org/ticket/17268#comment:105) is marked for WP 6.1 and I am very tired of this issue and all the time required just to discuss about... nothing at the end.

As I said at various WordCamp (when they were live) I will eat a pineapple

[2022-07-20 11:11] #428 closed, assigned to mukeshpanchal27

[2022-07-20 13:55] felixarntz commented on #341
@feastdesignco This is already the case. If generation or usage of WebP is disabled via one of the two filters, the JS snippet will also not included.

[2022-07-21 15:57] mxbclang commented on #290
Research complete; closing this issue.

[2022-07-21 15:57] #290 closed, assigned to nobody

[2022-07-21 15:57] mxbclang commented on #289
Research complete; closing this issue.

[2022-07-21 15:57] #289 closed, assigned to nobody

[2022-07-21 16:03] mxbclang commented on #383
@merkys7 Tagging you in here as it looks like you were interested in picking this one up. If you still are, please assign to yourself so know that you will move it forward. Thanks!

[2022-07-21 16:04] mxbclang commented on #382
@merkys7 Tagging you in on this one, as well – please assign to yourself if you can pick this up. Thanks!

[2022-07-21 16:11] jjgrainger opened #445 "Module Proposal: Regenerate Existing Images"
## Overview
- Proposed module name: Regenerate Existing Images
- Proposed module slug: regenerate-existing-images
- Proposed module owner GitHub username(s): @jjgrainger

## About the module

### Purpose
The purpose of this module is to provide administrators with a user interface to regenerate images in core without the need for an additional plugin or use of WP-CLI. This makes the feature more a

[2022-07-21 21:19] merkys7 commented on #383
Yes, I would love to take this one, I just don't have permissions to assign it to myself.
Thank you for the ping :)

[2022-07-21 21:19] merkys7 commented on #382
Yes, I would love to take this one, I just don't have permissions to assign it to myself.
Thank you for the ping :)

[2022-07-22 07:58] dd32 commented on #171
IMHO; this is the major point that's worth making.
WordPress has added lazy-loading/just-in-time-loading, etc, but all that gains very little when the files ultimately have to be loaded anyway due to translations being required at some point of the pageload.
Optimisations in the `.mo` parsing and loading only gains so much, and changes in the core PHP runtime around object/array/strings has made a

[2022-07-22 08:26] Mte90 commented on #171
I know about the issue of too many things to read, I did a recap in the ticket a month ago and here for that reason.

Talking in the PHP-FIG group about the new standard they are evaluating for translation files seems that the option are two as you said: php or json files.

Maybe the best solution is to provide json files that will generate in wordpress the php files so there aren't less issues on

[2022-07-22 09:55] mukeshpanchal27 opened #446 "Correct a typo in `webp_uploads_wepb_fallback()`"
## Bug Description

In `webp_uploads_wepb_fallback()`, convert doc forms to `transforms`.

[2022-07-22 11:40] mxbclang commented on #383
@merkys7 Assigned to you and I can work on getting you add to the repo so you can make updates, too! I'll let you know when you've been added.

[2022-07-23 01:14] tillkruss commented on #38
This was merged into core.

[2022-07-23 01:14] #38 closed, assigned to tillkruss

[2022-07-23 06:20] JoelEadeDesign commented on #349
Nothing to contribute other than I suspect this is the cause of a client's site with a 159**GB** options table. I can `Optimize` the table every few days but finding this thread eases my mind that I won't have to do it ongoing :)

[2022-07-23 19:11] OllieJones commented on #234
Sure, here's a draft of what I'm thinking of. I'm cribbing it from a page on [developer.wordpress.org](https://developer.wordpress.org/reference/classes/wp_object_cache/#persistent-caching)  @tillkruss  should definitely review this stuff, it's his baby.

--------------
To the [Caching](https://wordpress.org/support/article/optimization/#Caching) section, add a subsection after **Browser caching.*

[2022-07-25 02:44] dd32 commented on #171
While at first it seems obvious to just let WordPress generate the .php files, there are cases where WordPress is deployed in such a way that the production system has no write-access to files, where any automated "cache into .php files" code just won't work.

Personally, I don't consider that to be an issue, as WordPress.org already provides plugin/theme packages that are often auto-updated, and

[2022-07-25 11:12] mxbclang commented on #234
Thanks @OllieJones! I'm actually going to open a few new issues for this: 1) to add this new documentation and 2) to link to it from the Autoloaded Options health check. I'll also move your proposed documentation into a Google doc and share it so that folks can more easily comment.

Closing this issue and will tag folks on the new ones.

[2022-07-25 11:12] #234 closed, assigned to felixarntz

[2022-07-25 11:18] mxbclang opened #448 "Add new Persistent Object Caching section to Optimization documentation"
As discussed in #234, @olliejones has proposed a new Persistent Object Caching section for the [Optimization guide](https://wordpress.org/support/article/optimization/). I've added the proposed content to [this Google doc](https://docs.google.com/document/d/18EqOMteeJvn2_rZamJn_EDYW7z04oPmkHxHOc-A7I7c/edit).

@tillkruss @felixarntz Can you please take a look and leave comments and any suggested ed

[2022-07-25 11:21] mxbclang opened #449 "Link to new Persistent Object Caching documentation from Autoloaded Options health check"
As discussed in #234 and being reviewed in #448, once the new Persistent Object Caching section is ready and added, add a link to it in the [autoloaded options](https://wordpress.org/support/article/optimization/#autoloaded-options) section:

Add a third one-sentence paragraph: "If you use a Persistent Object Cache, options (whether autoloaded or not) load faster and more efficiently." and link "P

[2022-07-25 12:05] dilipbheda opened #450 "Incorrect return type documented for site-health/audit-enqueued-assets module"
In the doc block of site-health/audit-enqueued-assets module/helper.php file, we can read that it always returns an int|False. This is incorrect. As the return value is int|bool

[2022-07-25 14:06] mxbclang commented on #427
:wave: @masteradhoc @alaca is working on research and reviewing the existing approaches for this one. He can also work on the implementation, but of course we'd love to get your input and thoughts as we move forward. Thank you again for your work on this!

[2022-07-25 14:13] masteradhoc commented on #427
@bethanylang thanks!
@alaca would be glad to work together on this. contact me over twitter or slack to discuss how to move forward :)

[2022-07-25 14:15] LukaszJaro opened #452 "Recommend PHP accelerators i.e., OPCache?"
Are PHP accelerators used often and beneficial to the performance of a WordPress site? If so would it be a good idea to include in the site health check?

https://wordpress.org/support/article/optimization/#optimize-software

Some further reading https://wesleyzhang.me/do-you-need-op-cache/

[2022-07-25 14:17] mxbclang commented on #452
@LukaszJaro Good question! @manuelRod Curious for your thoughts here.

[2022-07-25 16:17] mukeshpanchal27 commented on #450
The function never returns a `true` value so I don't think we need to change it. A similar function with a `False` return is available in the WordPress core.

Some examples.
https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-admin/includes/class-custom-image-header.php#L1573-L1599
https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/class-wp-customize-nav-menus.p

[2022-07-25 16:25] #450 closed, assigned to nobody

[2022-07-26 06:02] dilipbheda opened #453 "Improve inline document in webp_uploads_generate_additional_image_source()"
## Bug Description

I think it should be better if we mentioned the `null` param type as well in the images module.

[2022-07-26 07:33] michael-sumner commented on #427
We will need to make sure that any script injection is taken into consideration. Especially considering the attacks in Web3 and the adoption of WordPress websites having Web3 integration.

A common one was the OpenSea.io hack by sending people free NFT's as SVG. Which would then pop up a request that asked the user to "confirm" logging into their crypto wallet, and then another "confirm" to comple

[2022-07-26 10:18] OllieJones opened #455 "Module Proposal: Database Performance Health checks"
## Overview
- Proposed module name:  Database Health Check
- Proposed module slug: `site_health/audit_database`
- Proposed module owner GitHub username(s): @OllieJones

## About the module

Performance of the MariaDB or MySQL SQL server can strongly affect site performance. Large and busier sites are affected more strongly than smaller sites. This module provides specific health checks to detect c

[2022-07-26 11:10] mxbclang commented on #455
:wave: @OllieJones Since this issue is empty for now, can you please ping me here when it's ready for discussion? Thanks!

[2022-07-26 11:19] OllieJones commented on #455
@bethanylang  ping. Sorry, I hit submit too soon.

[2022-07-26 11:22] mxbclang commented on #455
@OllieJones Thank you! :D Okay for me to add this to the agenda for next week's chat or would you prefer another week?

[2022-07-26 12:27] OllieJones commented on #455
Next week's chat, 2-Aug-2022, is just fine. Thanks.

[2022-07-26 12:40] #446 closed, assigned to mukeshpanchal27

[2022-07-26 14:17] felixarntz commented on #445
@jjgrainger I would advise to align the module name and slug so that they match in their terms. So if we stick with the module name, let's use `regenerate-existing-images` for the slug?

[2022-07-26 15:09] manuelRod commented on #452
Hello, @LukaszJaro thanks for opening this one up. As far as I can see, isn't OPCache enabled by default in modern PHP versions? +7.0? I could find the following article:

[https://wp-rocket.me/blog/what-is-opcache/](https://wp-rocket.me/blog/what-is-opcache/)

Also this:

[https://wpengine.com/blog/a-first-look-at-php-7-4/](https://wpengine.com/blog/a-first-look-at-php-7-4/)

If that's the case,

[2022-07-26 15:09] tillkruss commented on #448
Will do!

[2022-07-26 15:11] mxbclang commented on #417
This has been posted: https://make.wordpress.org/core/2022/07/21/proposal-add-a-dominant-color-background-to-images. Closing this issue.

[2022-07-26 15:11] #417 closed, assigned to pbearne

[2022-07-26 18:03] #453 closed, assigned to nobody

[2022-07-26 21:01] LukaszJaro commented on #452
Thank you @manuelRod, that is great information! I'm in the process of finding out from my managed hosting provider if it is enabled or some alternative being used. So far I am not seeing it listed using php info, will report back once I have more data.

[2022-07-27 12:48] erikyo commented on #427
@michael-sumner Hope [this fortinet post](https://www.fortinet.com/blog/threat-research/scalable-vector-graphics-attack-surface-anatomy) could provide some initial info about the svg security concerns.

However, I believe that using php for this does not provide 100% security for us, since the php XML handling is subject to [xml injections](https://phpsecurity.readthedocs.io/en/latest/Injection-At

[2022-07-27 16:04] LukaszJaro commented on #452
Surprisingly my hosting provider(enterprise grade and running on NGINX, PHP 7.4) did not have any PHP accelerator method enabled. This is just one case so far where it was not enabled, I also have some cheaper shared hosting I can check and see what's enabled.

[2022-07-28 03:23] peterwilsoncc opened #456 "WebP Module fallback.js does not support REST API plain permalinks."
## Bug Description

On sites with plain permalinks (ie not using rewrite rules) the rest requests in fallback.js result in 404 File Not Found errors.

The cause of the error is that the rest_route always appends the fields portion of the querystring with a question mark, for plain permalinks an ampersand should be used.

## Steps to reproduce

1. Configure WordPress to use plain permalinks
2. Uplo

[2022-07-29 07:25] mukeshpanchal27 opened #459 "Add JavaScript coding standard workflow"
## Bug Description
We should add a JavaScript coding standard because we have now JavaScript in the plugin. I got some JavaScript CS error when I use https://github.com/WordPress/performance/blob/trunk/modules/images/webp-uploads/fallback.js for the WebP core patch.

[2022-07-29 13:31] mxbclang commented on #459
Thanks @mukeshpanchal27! Assigning this one to @felixarntz to take a look when he returns.

[2022-07-30 13:19] XVII commented on #455
I've a suggestion in #403 for a site health check around database connection latency which may suit this module

That suggestion aside, I'm very excited for the potential of this module around indexing especially when dealing with mega sites.

[2022-07-31 14:58] mxbclang commented on #403
:wave: @ShadowXVII I saw your comment on #455 about this issue (#403) being a suggestion for a new Site Health check. If this issue is indeed a proposal for a new module, can you please update the issue description to align with the <a href="https://github.com/WordPress/performance/blob/trunk/docs/Proposing-a-new-module.md">Proposing a new module documentation</a> here?

Once it's been updated, yo

[2022-07-31 15:09] XVII commented on #403
@bethanylang 👋 thanks for the info. Will see if I can restructure for the team.

I was hoping someone with more experience around connection persistence would be able to comment and had created this issue more so as a discussion piece. If you know anyone in the existing team, please let me know.

That database latency check might fall in its own health check, connection persistence aside.

Is the

[2022-07-31 16:17] merkys7 commented on #452
I can confirm that not all hosting providers enable PHP accelerators such as OPCache by default. Plus, users could accidentally disable it in PHP extensions settings. I think this could be a helpful feature

[2022-07-31 16:25] merkys7 commented on #399
We could make Github workflow to test using multiple PHP versions, like the following example: https://github.com/WordPress/rollback-update-failure/blob/main/.github/workflows/wp-phpunit.yml

If that's the case, could I assign this issue to myself?

[2022-07-31 23:58] mxbclang commented on #403
@ShadowXVII Thanks for clarifying! I'm not aware of anyone on our team that has more experience with this particular issue, but you're welcome to attend one of our weekly performance chats on Tuesdays at 15:00 UTC and bring this up in the open floor portion at the end of our meeting. If that time doesn't work for your time zone, let me know and I can try to bring it up myself in a future meeting f

[2022-07-31 23:59] mxbclang commented on #399
@merkys7 I'd like to get @felixarntz's input on this one before we proceed, and he's out of the office for the next few weeks. Stand by.  :)

[2022-08-01 02:49] tillkruss commented on #403
Yes, let's please add this. Are there any old Trac tickets for it?

[2022-08-01 03:55] XVII commented on #403
I did a quick search and found these items:

- A re-opened enhancement that's stalled for a while https://core.trac.wordpress.org/ticket/31018
- & proposed patch https://core.trac.wordpress.org/attachment/ticket/31018/31018.diff

The other piece around doing a database latency check might be its own item.
I'll try write up the module using the template.

[2022-08-01 04:07] lucyllewy commented on #403
Just a heads' up that I re-rolled and (I think) improved the patch linked above with a 4th iteration since that patch was created. https://core.trac.wordpress.org/attachment/ticket/31018/3108-4.diff

[2022-08-01 12:50] mxbclang opened #461 "Prepare 1.4.0 release"
This issue is to track preparation of the upcoming `1.4.0` release up until publishing, which is due **August 15, 2022**.

* [x] Create `release/1.4.0` branch closer to the release date
* [x] Finalize scope and punt unfinished pull requests to following release
* [x] Prepare the release (**Monday, August 15, 2022**)

[2022-08-01 13:37] OllieJones commented on #455
A site health check on database connection time is a good idea. I have added that test to my prototype module.  Here's how it works.

It connects (via new wpdb()) and then runs a query for a randomly chosen post with its metadata. It then disconnects. It measures the elapsed time for that operation.  The query, insensitive to the size of the body of a post, is this. For such a test to be meaningfu

[2022-08-01 13:48] OllieJones commented on #403
For what it's worth, my Database Performance health-check module for Performance Lab checks database connection latency. https://github.com/WordPress/performance/issues/455#issuecomment-1201217876

[2022-08-01 13:59] XVII commented on #455
Sweet, I think the latency check definitely belongs in this module. Thanks for taking it under this issue. I'll remove it from mine and clean it up for Persistent.

### Regarding the actual check
I believe we should genericise the test query to something that doesn't involve data. Otherwise we can't really provide guidance on "good" vs "bad" latencies.

Any number of reasons might cause the measur

[2022-08-01 14:08] OllieJones commented on #455
Here's a rundown of the tests in my prototype module. This GH comment, but not the module, assumes some knowledge of MariaDB / MySQL jargon.

When a Site Health panel mentions `MySQL` in this example, it will mention `MariaDB` instead if that's the server in use.

Does the MySQL (or MariaDB) version offer the **Barracuda storage engine** that allows unprefixed indexes on VARCHAR(250) columns?
![im

[2022-08-01 14:21] XVII commented on #403
@bethanylang alrighty, I popped the module template in. Please let me know if you need anything else ☺️

[2022-08-01 14:57] manuelRod commented on #452
What is the hosting you are using, and which PHP version? I'm curious. Is this something they can enable on request? In that case, I'm surprised they don't do it by default.

[2022-08-01 18:06] mxbclang commented on #403
@ShadowXVII Thanks so much!

Per the [Proposing a new module documentation](https://github.com/WordPress/performance/blob/trunk/docs/Proposing-a-new-module.md), the next step here is to discuss this proposal in one of our weekly Slack meetings. I can introduce you and link out to this issue and you can give a brief overview of it and why you're proposing this module. Then, we open the floor for 5-

[2022-08-01 20:51] merkys7 commented on #452
I am a system engineer at Hostinger.com and I have enabled the OPCache PHP extension by default on PHP versions that supports OPCache. On my production WP site, I use 8.1 PHP with OPCache. The tests showed that with OPCache WP site could load faster. As user, you can navigate to control panel PHP selector section and enable/disable wanted PHP extensions such as OPCache,ACPU,etc. Usually, hosts ena

[2022-08-02 09:26] mukeshpanchal27 opened #462 "Use `PERFLAB_MODULES_SCREEN` constant variable wherever possible"
## Bug Description

We should use the `PERFLAB_MODULES_SCREEN` constant variable wherever possible.

Like: https://github.com/WordPress/performance/blob/ab08abd377780c2f8bf72d8dc737ee7d32f34cda/admin/load.php#L452.

[2022-08-02 11:05] mukeshpanchal27 commented on #452
I think the latest PHP supports OPCache or APC. https://www.cloudways.com/blog/integrate-php-opcache/ has one example of how OPCache affects site performance. We should add a site health check for this type of accelerator so end users get notice of it and if it's a disabled user's request to start it from the hosting provider.

I have made an extensive framework with a lot of fields and validation

[2022-08-02 14:51] LukaszJaro commented on #452
Verified on my cheaper shared hosting that opache is not enabled in cpanel but it's easy enough to enable with a click of a button.

That's two separate hosting companies I checked that don't have it enabled by default. Judging by the above it sounds like significant performance boost is possible depending on site.

I probably read over the WordPress performance recommendations a few times over th

[2022-08-03 07:16] XVII commented on #403
@bethanylang  -- I'm based in Australia so a 1am meeting on a work night will be tricky. I'll pull a late one if we don't end up finding someone to initiate discussion.

@tillkruss , I know you have many other performance lab commitments but as this is a simple change conceptually, would you be willing to discuss on my behalf?

[2022-08-03 11:24] mxbclang commented on #403
Thanks, @ShadowXVII! Awaiting @tillkruss' reply.

[2022-08-03 14:26] tillkruss commented on #403
I'm unfortunately rather slammed the next couple of weeks and can't take this on, but maybe @felixarntz knows someone?

[2022-08-03 15:05] khoipro commented on #15
Sorry for the late response. Here is my example code.

In `wp-config.php`

[code]

In theme's `functions.php`

[code]

[2022-08-03 15:09] khoipro commented on #15
It works perfectly with Object Storage with/without CDN from my above configuration. In case a CDN contains full path, like `cdn.xxx.com/wp-content/uploads/`, we could look to use this code: https://github.com/codetot-web/ct-optimization/blob/master/includes/class-codetot-optimization-process.php#L344

[2022-08-03 15:56] manuelRod commented on #452
It seems then, that we need a new Site Health check :) @LukaszJaro do you want to expose this in the next perf weekly meeting? so we can get some feedback over there?

[2022-08-03 15:59] mxbclang commented on #452
Thanks @LukaszJaro and @manuelRod! If we want to propose this as a new health check, can you please update the issue with the content from the <a href="https://github.com/WordPress/performance/issues/new?assignees=&labels=%5BType%5D+Module&template=new-module-proposal.md&title=Module+Proposal%3A+">new module proposal issue template</a>? Once that's done, we can work on getting this scheduled for d

[2022-08-04 18:47] #351 closed, assigned to nobody

[2022-08-04 20:13] adamsilverstein commented on #7
My local environment is highly configurable and I regularly change which PHP version and image library I'm testing; unfortunately I didn't record my settings at the time of those tests so I'm not really sure what I had enabled, sorry about that

How do the 82 quality images compare to the jpeg versions in your visual estimation, do you notice any difference in the quality?

[2022-08-07 18:01] Clorith commented on #455
Jumping in on this one. The idea behind checking the DB performance in general is great, but the purpose of the health checks is also to help non-technical. users in a non-technical manner.

The way it is now, is great within a plugin specifically aimed at performance (whcih this is), but if this should go up for core consideration, it needs to be simplified. We can't presume that all shared hosts

[2022-08-08 00:55] mxbclang commented on #455
Thanks, @Clorith! Wanted to note that your feedback aligns with what we [discussed this in our performance chat last week](https://make.wordpress.org/core/2022/08/02/performance-team-meeting-summary-2-august-2022/). @OllieJones is going to work on updating this proposal and then we'll discuss again in a future performance chat.

[2022-08-08 12:30] mukeshpanchal27 commented on #399
We should set a similar Github workflow that we have for `WordPress/wordpress-develop` https://github.com/WordPress/wordpress-develop/blob/trunk/.github/workflows/phpunit-tests.yml because we have to add our module code/tests on WordPress core so we face some issues when we move our changes here to the core.

[2022-08-08 14:03] #395 closed, assigned to mukeshpanchal27

[2022-08-08 14:12] felixarntz commented on #399
@merkys7 @mukeshpanchal27 @bethanylang I definitely support expanding our GitHub workflow to test using additional PHP versions. However I have some specific feedback:
* We should not test for every supported PHP version as that would take way too long and not really help that much. I would instead choose 3 very different PHP versions and limit testing to those, for example the latest (for now 8.1

[2022-08-08 14:16] felixarntz commented on #459
@mukeshpanchal27 We already have a JS lint workflow in the plugin. So what we may need to do is adjust that configuration to also cover JS code in that JS file.

[2022-08-08 14:19] #456 closed, assigned to nobody

[2022-08-08 14:20] #462 closed, assigned to nobody

[2022-08-08 17:09] erikyo commented on #459
@felixarntz why not an additional step using wp-scripts/webpack in order to minify / babel etc?

if needed I have a ready-made webpack configuration that compiles files in the same folder as the sources so in that way each module will got its own dist folder, I guess that's what's needed in this case is it?

[2022-08-08 17:30] mxbclang opened #466 "Prepare 1.5.0 release"
This issue is to track preparation of the upcoming 1.5.0 release up until publishing, which is due September 19, 2022.

- [x] Create release/1.5.0 branch closer to the release date
- [x] Finalize scope and punt unfinished pull requests to following release
- [x] Prepare the release (Monday, September 19, 2022)

[2022-08-08 18:39] felixarntz commented on #459
@erikyo I think that would make sense too now that we have our first production JS file (for the WebP shim). However I think since that is a bit more effort, let's do it in a separate issue and focus this one on just the coding standards validation.

Would you mind creating an issue to implement a wp-scripts based build workflow for production JS files (specifically the WebP shim one for now)?

[2022-08-08 19:08] erikyo commented on #459
No i wouldn't mind indeed I am very pleased to do it! I also already have a resolution if you are interested, and to the issue I can attach a PR.

Anyway doing as you suggest (just for fallback/webp) would basically be and hardcoded configuration... I think we can configure webpack to output directly in the same folder as the source file (inside a "dist/" folder) would make it easier to maintain j

[2022-08-08 19:19] erikyo opened #467 "JavaScript bundling with WP-Scripts and Webpack"
## Feature Description
We should use wp-script to postprocess js file so that all scripts will be minified and processed by babel... This gives countless benefits among them a smaller file and greater compatibility.
I Noticed also that there is no browserslist. if it is possible i would like to add that as well!

What do you think? is it an easy addition that would improve the js scripts now and t

[2022-08-08 19:19] felixarntz commented on #459
@erikyo Perfect, that sounds great to me 👍

[2022-08-08 22:28] mxbclang commented on #467
Thanks @erikyo! Tagging @felixarntz in here for his feedback.

[2022-08-08 22:29] mxbclang commented on #467
Oops @erikyo I just saw that you discussed this with him in #459, so it looks like you already have what you need here! Reassigning to you.

[2022-08-08 22:33] erikyo commented on #467
thanks to you! and sorry I hadn't linked the original conversation... 😓

[2022-08-09 08:05] #426 closed, assigned to mukeshpanchal27

[2022-08-09 12:06] mxbclang commented on #448
Thanks for reviewing, @tillkruss! I've accepted your (excellent) suggestions. @olliejones Heads up that Till has suggested removing the recommendations for W3 Total Cache and LiteSpeed Cache as they're quite large plugins that do a lot more than just object caching. I agree with that recommendation, but let us know what you think.

@felixarntz No huge rush, but can you please take a look at this a

[2022-08-09 17:00] erikyo opened #469 "Mapping output from WebP to PNG loads replacement code does not work"
## Bug Description

I know the main intent was to provide a replacement jpeg->webp but for an ecommerce I had to change the normal operation of the plugin (otherwise it would have been of little use since the images were almost all png with transparency)

## Steps to reproduce

1. Add the filter
[code]
2. Create a page and upload a bunch of png images
3. When you view that page and the fallback sc

[2022-08-09 18:10] mxbclang commented on #469
Tagging @adamsilverstein based on our discussion of this in today's chat.

[2022-08-10 14:19] #382 closed, assigned to merkys7

[2022-08-10 14:23] felixarntz commented on #461
Just created the [`release/1.4.0` branch](https://github.com/WordPress/performance/tree/release/1.4.0), all issues in the milestone are now part of that branch. Any critical follow-up pull requests for the 1.4.0 release will need to go against that branch.

[2022-08-10 18:29] pbearne opened #470 "Module Proposal: Check if image sizes set via code match the actual image sizes"
## Overview
- Proposed module name: Image Sizes Validator
- Proposed module slug: image-size-validator
- Proposed module owner GitHub username(s): pbearne

## About the module

### Purpose

themes and plugins set what image sizes should be created when an image is uploaded
This module would validate that actual files on the site match the values set
and links to the function to rebuild if they don

[2022-08-10 21:10] mxbclang commented on #470
Thanks @pbearne!

Can you confirm that this would be a Health Check, or a non-Health Check module? And can you confirm that the "rebuild function" that you're referring to is #24?

cc @felixarntz @adamsilverstein for visibility

[2022-08-11 14:23] pbearne commented on #470
Yes, this would be a health check module

If WP doesn't find the image size requested it has to find and sent the next size up
So having the right size is a performance boost.

And yes https://github.com/WordPress/performance/issues/24 is the rebuild project for this to be linked to.
It would flag that is needs to run

[2022-08-11 14:30] merkys7 commented on #383
@felixarntz I am starting to work on this issue and I have a small question related to the `checkbox`.

On uninstall.php, I plan to use the following approach:
[code]
In order to add the checkbox in the settings tab (`options-general.php?page=perflab-modules`) - am I required to create a new module as per https://github.com/WordPress/performance/blob/trunk/admin/load.php? creating uninstall module

[2022-08-11 14:34] felixarntz commented on #383
@merkys7 The uninstall checkbox shouldn't be a new module as modules are only for the actual features of the Performance Lab plugin that should eventually become part of WordPress core. The checkbox here is part of the Performance Lab infrastructure though, so it should be implemented as part of the plugin core code, e.g. in the https://github.com/WordPress/performance/blob/trunk/admin/load.php fi

[2022-08-11 14:43] merkys7 commented on #383
Thank you for the answer! :bowtie:

[2022-08-11 20:12] mxbclang commented on #470
@pbearne Got it, thank you! Since #24 is still being defined, we likely won't be ready to move on this module proposal for some time. I'm going to keep this in the Backlog for now and we can discuss in a future chat as we get a little closer to that module being ready.

cc @jjgrainger @ankitrox

[2022-08-12 11:41] felixarntz opened #471 "Fix incorrect usage of Site Health checks `color` field"
## Bug Description

See https://github.com/WordPress/wordpress-develop/pull/2890#discussion_r939699786: Several of our current Site Health check modules set the `color` based on the status of the check. However, that is not how the color should be used. Instead, it should be based on what area it applies to (in our case probably always `Performance`, for which WordPress core uses `blue`).

cc @man

[2022-08-12 18:47] OllieJones commented on #455
A question: can the Performance Lab plugin add a feature to the Tools panel of Site Health?  Could this be a place for the more elaborate panels suggesting key changes and/or MySQL storage engine upgrades?

[2022-08-14 08:21] felixarntz commented on #471
Fixed by #472

[2022-08-14 08:21] #471 closed, assigned to nobody

[2022-08-14 08:30] felixarntz commented on #326
Fixed via #423

[2022-08-14 08:30] #326 closed, assigned to mxbclang

[2022-08-15 12:50] #461 closed, assigned to nobody

[2022-08-15 15:54] #441 closed, assigned to mxbclang

[2022-08-15 18:28] OllieJones commented on #455
It looks like the Tools panel is

* Implemented by the [Health Check and Troubleshooting plugin](https://wordpress.org/plugins/health-check/), not by core.
* Not extensible in that context.

[2022-08-15 18:59] OllieJones opened #475 "Module Proposal: Database Performance Health Checks"
## Overview
- Proposed module name:  Database Health Check
- Proposed module slug: `site_health/audit_database`
- Proposed module owner GitHub username(s): @OllieJones

## About the module

This replaces a more extensive and complex module proposal at #455.

Performance of the MariaDB or MySQL SQL server can strongly affect site performance. Large and busier sites are affected more strongly than s

[2022-08-15 19:00] OllieJones opened #476 "Module Proposal:"
GH lost my copy. Please hang on while I rewrite it.  Grr.

[2022-08-15 19:02] #476 closed, assigned to nobody

[2022-08-15 19:02] OllieJones commented on #476
junk issue.

[2022-08-15 19:30] OllieJones commented on #455
Superseded by #475.

[2022-08-15 21:22] mxbclang commented on #448
Reassigned to myself to update.

[2022-08-15 22:25] adamsilverstein opened #477 "Fetchpriority - add a `fetchpriority=high` attribute to the non-lazy image(s)"
## Overview
- Proposed module name: Fetchpriority
- Proposed module slug: fetchpriority
- Proposed module owner GitHub username(s): pbearne, adamsilverstein

## About the module
Adding the [fetchpriority attribute](https://web.dev/priority-hints/#the-fetchpriority-attribute) `high` attribute to the LCP (or first large) [image](https://web.dev/priority-hints/#increase-the-priority-of-the-lcp-image)

[2022-08-16 14:19] mxbclang commented on #455
Thanks @OllieJones, closing this issue.

[2022-08-16 14:19] #455 closed, assigned to nobody

[2022-08-16 14:23] mxbclang opened #478 "Create Background Processing Infrastructure: Create background_job taxonomy"
Create a new Background Jobs taxonomy to store each job to run in the background process infrastructure. The taxonomy will be registered in the `modules/regenerate-existing-images/load.php` file.

## Acceptance Criteria
- A new `background_job` taxonomy is registered
- The taxonomy has the following attributes
    - Assigned to all public post types
    - Set `public` to false
    - Set `show_in_r

[2022-08-16 14:24] mxbclang opened #479 "Create Background Processing Infrastructure: Create perflab_create_background_job function"
Create a new `perflab_create_background_job()` function that creates a new job. The job will be a new term within the `background_job` taxonomy.

## Acceptance Criteria
- Create a new `perflab_create_background_job()` function
- Function accepts the following parameters
    - `$job_name` - A string the defines the job action to be run. This is required.
    - `$job_data` - An array of additional d

[2022-08-16 14:26] mxbclang opened #480 "Create Background Processing Infrastructure: Create perflab_start_background_job"
Create a new `perflab_start_background_job()` function to start the background process for a specific job ID by making a HTTP POST request to the `admin-ajax.php` endpoint.

## Acceptance Criteria
- Function accepts the following parameters
    - `$job_id` - A integer that is the ID for a job returned by the `perflab_create_background_job` function
- The function will make a HTTP request to the `a

[2022-08-16 14:26] mxbclang opened #481 "Create Background Processing Infrastructure: Create wp_ajax request handler for perflab_start_background_job function"
Create a new function and action that handles the HTTP request sent from the `perflab_start_background_job`.

## Acceptance Criteria
- Create a custom function and register to the action `wp_ajax_background_process_handle_request`
    - The function accepts no parameters and takes data from the request
- The function will process the request as follows
    - Verify the request by checking the nonc

[2022-08-16 14:27] mxbclang opened #482 "Create Background Processing Infrastructure: Perflab_Background_Process class"
### Create Perflab_Background_Process::run method
Create a new a `Perflab_Background_Process` class to handle the background process runs.

This class will contain other helper methods for running jobs the background process built out in other issues.

- [x] #493
- [x] #494

## Acceptance Criteria

- Create a new `run( int $job_id )` method in the `Perflab_Background_Process` class.
- The method w

[2022-08-16 14:27] mxbclang opened #483 "Create Background Processing Infrastructure: Create wp_ajax_background_process_next_batch handler"
Create a new function and action that handles the HTTP request sent from the `perflab_background_process_next_batch`. This will process the request and start the next batch run for the job ID passed.

## Acceptance Criteria
- Create a custom function and register to the action `wp_ajax_background_process_next_batch`
    - The function accepts no parameters and takes data from the request
- The fun

[2022-08-16 14:28] mxbclang opened #484 "Create Background Processing Infrastructure: Create Status Cron Event"
Create a Status Cron Event to check jobs are running correctly and remove old completed jobs.

## Acceptance Criteria

**Cron Schedule**
- Scheduled a new event using the [wp_schedule_event](https://developer.wordpress.org/reference/functions/wp_schedule_event/) function.
- The event is scheduled with the following parameters
    - `timestamp`: `time()`
    - `recurrence`: `hourly`
    - `hook`: `

[2022-08-16 14:28] mxbclang opened #485 "Create Background Processing Infrastructure: Create additional Background Process functions"
Create the remaining job functions needed to handle jobs correctly within the background process.

## Acceptance Criteria
**Create a new `perflab_update_background_job` function**
- Function accepts the following parameters
   - `$job_id` - Required. An integer of the job ID to update.
   - `$job_data` - Optional. An array of the job data to update, defaults to an empty array.
- The job term is up

[2022-08-16 14:29] mxbclang opened #486 "Regenerate Existing Images Job: Create main settings screen"
Create a admin settings screen to start the Regenerate Existing Images background job. This will be a new screen available under the 'Tools' menu and display basic settings to start the Regenerate Existing Images background job.

## Acceptance Criteria
- Create a new admin settings screen under “Tools > Regenerate Images”
- This screen is only accessible to users with the `upload_files` and `manag

[2022-08-16 14:29] mxbclang opened #487 "Regenerate Existing Images Job: Create perflab_job_regenerate_images action"
Create the `perflab_job_regenerate_images` action to handle image regeneration within the background process. This action will be called by the background processing infrastructure. Code for the background job should be written in a new module file `module/images/regenerate-existing-images/regenerate-existing-images-job.php`.

## Acceptance Criteria
- Create a new function registered to the `perfl

[2022-08-16 14:30] mxbclang opened #488 "Regenerate Existing Images Job: Display errors on main settings screen"
Extend the [Main Settings Screen](https://github.com/WordPress/performance/issues/486) to display any errors that occurred when running the 'regenerate_images' job.

## Acceptance Criteria
- Create a `get_terms` query with the following parameters
    - `taxonomy`: `background_job`
    - `name`: `regenerate_images`
    - `meta_query`: `array( array( 'key' => 'job_errors', 'compare' => 'EXISTS' ) )

[2022-08-16 15:31] adamsilverstein commented on #427
One possible security solution would be to only enable SVG embedding as images (not  objects) - when the SVG is implemented as an image tag or CSS background image source, the browser will not execute any JavaScript embedded inside the SVG, reducing any security concerns.

[2022-08-16 23:00] dajana91 commented on #395
Hello, I am experiencing the same problem with "Regenerate Thumbnails" and "EWWW Image Optimizer". I now have quite a few *.jpg.webp" files on the server. How can this be fixed? Why does this happen? Instead of "file.webp" I have a "file.jpg.webp", which causes errors.

[2022-08-17 12:20] mxbclang commented on #477
To be discussed in August 23 performance chat.

[2022-08-17 12:24] mxbclang commented on #445
This module was discussed in the <a href="https://make.wordpress.org/core/2022/07/26/performance-team-meeting-summary-26-july-2022/">July 26 performance chat</a> and approved to move forward! Engineering work is beginning soon and will be tracked in #24. Closing this issue.

[2022-08-17 12:24] #445 closed, assigned to jjgrainger

[2022-08-18 12:36] mxbclang opened #489 "Create Regenerate existing images module"
Create the initial module infrastructure for the Regenerate Existing Images module. This is required before any further development of the feature can take place. Additionally, as part of this work, the main feature branch `feature/regenerate-existing-images` should be created for all future work to be branched from and merged into.

## Acceptance criteria

- A new folder `modules/images/regenerat

[2022-08-19 12:51] mxbclang commented on #448
@OllieJones @tillkruss These changes have been made to https://wordpress.org/support/article/optimization/ as part of https://github.com/WordPress/Documentation-Issue-Tracker/issues/415. Thank you both for your help in putting this together and reviewing! Closing this issue.

[2022-08-19 12:51] #448 closed, assigned to mxbclang

[2022-08-19 12:57] jjgrainger opened #490 "Create Background Processing Infrastructure: Create perflab_background_process_next_batch function"
Create a new `perflab_background_process_next_batch` function to handle subsequent requests to process additional job batches.

This function is created in the module file called `modules/images/regenerate-existing-images/background-process.php`

## Acceptance Criteria
- Function accepts the following parameters
    - `$job_id` - A integer that is the ID for a job to run the next batch for.
- The

[2022-08-19 14:47] tillkruss commented on #448
Great work!

Reading this and seeing all those links, maybe we can simplify the 2nd bullet item.

The first one `Memcached Object Cache` is great, but the `Redis Object Cache` could be made simpler with a single link:

[code]

[2022-08-19 15:08] mxbclang commented on #448
@tillkruss Agreed and updated, thank you!

[2022-08-19 16:16] jjgrainger opened #491 "Create Background Processing Infrastructure: Create Queue Admin Screen"
Create a basic queue admin screen to display a list of all jobs. This will make use of the default taxonomy admin screen but made read only by removing the create/edit functionality. This screen will be used by developers for debugging and will not be made visible by default. A filter will be created to allow developers to enable the screen when required.

## Acceptance Criteria
- Utilise the exis

[2022-08-19 16:27] lkraav commented on #24
Quite curious to see a huge wheel reinvention happening instead of making a bet on Action Scheduler https://github.com/woocommerce/action-scheduler

Issues search doesn't reveal any discussion https://github.com/WordPress/performance/issues?q=is%3Aissue+is%3Aopen+scheduler was it held in some other environment?

There's also https://github.com/deliciousbrains/wp-background-processing

What's the w

[2022-08-22 08:05] gilbertococchi commented on #477
+1 about this experimentation.

I believe this would be a game changer for most of the WP sites using Render Blocking resources where the main page content is an image.

Below a small image showing the effect of `fetchpriority=high` added to a Featured image on a WP site, Image starts to be downloaded way earlier, increasing the chance to deliver the image quickly to sites also on Budget hosting.

[2022-08-22 14:09] jjgrainger opened #493 "Create Background Processing Infrastructure: Create Perflab_Background_Process::memory_exceeded method"
Create a new `Perflab_Background_Process::memory_exceeded` method to calculate and return the memory used within the background process. This functions checks the total memory used is 90% of the servers memory limit. The boolean returned is also filterable so other developers can set the memory limit.

## Acceptance Criteria
- Create a new `memory_exceeded` method the `Perflab_Background_Process`

[2022-08-22 14:11] jjgrainger opened #494 "Create Background Processing Infrastructure: Create Perflab_Background_Process::time_exceeded method"
Create a new `Perflab_Background_Process::time_exceeded` to calculate the total time used within the background process. This function checks the total time taken within the background process so that it can break the while loop 10 seconds before the server timeout limit is reached. The boolean value returned by the function will be filterable to allow other developers to modify the timeout limit.

[2022-08-22 14:13] jjgrainger opened #495 "Create Background Processing Infrastructure: Create perflab_background_job_is_completed function"
Create a new `perflab_background_job_is_completed` function. This function is used within the background process to determine if the job being run is complete.

## Acceptance Criteria
- Create a new `perflab_background_job_is_completed` function
- The function accepts the `$job_id` as it's only parameter
- The function returns a boolean
- This function checks if the job is complete by testing if t

[2022-08-22 16:40] jjgrainger commented on #24
Hi @lkraav

Thanks for your comment.

This module was proposed as part of #445 and discussed during the [July 26 performance chat](https://make.wordpress.org/core/2022/07/26/performance-team-meeting-summary-26-july-2022/), one of our weekly Slack chats.  The plugins you've mentioned were also raised during the performance chat but the module was overall well received and approved to move forward w

[2022-08-22 22:54] adamsilverstein commented on #7
@getsource Based on everything so far, I would like to propose using the same default for WebP that we use for JPEG - namely `82`. Please review my comment here - https://core.trac.wordpress.org/ticket/54356#comment:9 and the suggested code change. Let me know what you think!

[2022-08-23 12:36] getsource commented on #7
Hi @adamsilverstein ! Sorry for the wait here.
I'm working on testing this, but having a hard time getting trunk to respect the filter. It's possible it's a local environment issue, but I'm not sure yet.

In the meantime, I thought it'd be helpful to provide my current thoughts.
TL;DR: Based on testing so far: I'm not strongly opposed to 82, but I prefer a value a little higher: 84.

The mean / me

[2022-08-23 12:41] getsource commented on #7
Ah, another side-note -- I noticed some of the spreadsheets had "83" instead of "82" in their pivot tables for JPEG quality, so I updated a couple of the more recent ones, so that the data will be more useful for this conversation.

[2022-08-23 15:00] alaca commented on #427
Embedding SVG as an image will help prevent running JavaScript, but that will resolve only half of the problem. The worrying part of enabling uploads of SVG files is that SVG can potentially carry many types of malicious payloads and not just JavaScript.  For example, anything from HTML Injection, XML Entity Processing, Denial of Service attack, and many more. Luckily, the [svg-sanitizer](https://

[2022-08-23 15:24] adamsilverstein commented on #7
I was having issues with this as well recently and would up editing core to be "sure" since it is a little hard to tell what level was used.

I'm not opposed to 84, my guess is this would provide slightly better quality images overall vs. jpeg and still remain smaller. at all sizes. I still prefer 82 because it simplifies the default quality logic and I believe result in very similar quality image

[2022-08-23 15:56] eugene-manuilov commented on #477
Just want to say that we need to make sure we add the `fetchpriority=high` attribute based on presence of the `loading=lazy` attribute in an image. We can't use the `wp_get_loading_attr_default` function to determine wether an image has lazyloading or not.

[2022-08-23 21:33] adamsilverstein commented on #7
@getsource - I also experienced this and think it might be a bug - I found the comment where I encountered this issue (and fixed it) - https://github.com/WordPress/wordpress-develop/pull/2393#issuecomment-1179310739 that might be helpful

[2022-08-23 22:11] felixarntz commented on #24
@lkraav +1 to what @jjgrainger says. The proposed implementation here largely follows the ideas of the two projects you're referring to. We're not really reinventing the wheel, we're mostly aiming to slightly adjust that architecture in a way that it can be easily ported into WordPress core.

[2022-08-23 22:14] felixarntz commented on #489
@jjgrainger @ankitrox Leaving 2 minor notes here:
* The `can-load.php` file shouldn't be needed. It only needs to be present if we actually want to have custom logic, but if we just load this module unconditionally, it's unnecessary.
* Just emphasizing that of course the PR should also be created against that new feature branch :)

[2022-08-23 22:15] mehigh commented on #477
Here’s where I read about this, and then tried it out
https://web.dev/priority-hints/#using-preload-after-chrome-95:~:text=Priority%20hints%20can%20complement,with%20fetchpriority%20%3D%20%22high%22.
In short -> if an image preload is added, it’s added to the queue early, but with a low priority -> and that’s because of the type of resource it is (an image).
If the preload tag receives this extra

[2022-08-23 22:26] tunetheweb commented on #477
FYI, more guidance on it here: https://web.dev/optimize-lcp/#optimize-the-priority-the-resource-is-given.

In short, adding it to the LCP `<img>` tag should allow Chromium-based browsers to start fetching it early (as shown in the waterfall example in https://github.com/WordPress/performance/issues/477#issuecomment-1221997449). It can also be added to `preload` links for images that are not immedi

[2022-08-23 23:18] felixarntz commented on #479
@jjgrainger A note on the function names: `perflab_` is the prefix for the entire plugin, or at least for the plugin infrastructure. While it could work using it for module code too, in the past we have advised using module specific code prefixes to avoid naming conflicts between modules, so here we could use e.g. `perflab_rei_` or something like that. Just a thought.

[2022-08-23 23:24] felixarntz commented on #479
@jjgrainger Just to clarify here: The `$job_name` will technically act as the "job type", is that correct (as in it could be e.g. "regenerate_existing_images")? I _think_ this works, but we should double-check whether it would also work if multiple jobs with that name existed (is it possible to have multiple terms of the same taxonomy and term name?).

Part of me thinks it might be better to use s

[2022-08-23 23:28] felixarntz commented on #481
@jjgrainger To clarify, this AJAX callback is only used to start a background process, correct (as in it's not used to process any batch of the background process)?

Regarding the `perflab_background_process_run` function: Can you please specify the exact function signature here, since this function is implemented in another issue and thus may not yet exist when this issue is being implemented?

[2022-08-23 23:41] felixarntz commented on #482
@jjgrainger

Can you include the function signature here? I believe the intention is for it to only receive the job ID, but would be good to clarify, as that is not fully obvious.

Seeing all these functions here makes me question whether this fully procedural approach makes sense for complex infrastructure like this. While WordPress core is mostly procedural, it is still perfectly fine to use cla

[2022-08-23 23:42] felixarntz commented on #493
@jjgrainger The ACs here overall LGTM, however this may be affected by my comment in https://github.com/WordPress/performance/issues/482#issuecomment-1224996357.

[2022-08-23 23:43] felixarntz commented on #494
@jjgrainger The ACs here LGTM, however this may also be slightly affected by https://github.com/WordPress/performance/issues/482#issuecomment-1224996357.

[2022-08-23 23:44] felixarntz commented on #495
@jjgrainger See my comment in https://github.com/WordPress/performance/issues/482#issuecomment-1224996357, potentially this may be more logical as a method on a job class.

[2022-08-24 02:21] spacedmonkey commented on #427
It worth noting that svg-sanitizer library is only PHP 7.0+. WordPress core still supports 5.6. Either this library needs to be backported to php 5.6 or will have to be php 7+

[2022-08-24 07:36] gilbertococchi commented on #477
Hi Mike, as Barry correctly said, the `fetchpriority=high` attribute could be simply added on the `IMG` tag without need to add a Link Preload in the Head.

That's the first real benefit in my opinion, because if a **Wordpress Website may have a Render Blocking JS** in the Head (like jQuery that is pretty common in my experience) by simply adding `fetchpriority=high `to the post larger `IMG` tag t

[2022-08-24 14:23] mehigh commented on #477
Agree, the adding on the img tag is a positive. What I'm hoping is that it won't over-extend: for a bunch of images to not intentionally receive fetchpriority=high when they're not lazy loaded, but rather for the specific first / featured image or whatever logic we want to add here.

[2022-08-24 21:27] pbearne commented on #477
If no one what to code this I will do it

its just a few lines of code with new filter wp_content_img_tag

[2022-08-25 12:27] gilbertococchi commented on #477
@mehigh I agree with your concerns, it should be ideal that only one image to have fetchpriority=high.
While it's true that this feature is way less dangerous than a misuse of Link Preload IMGs in the Head, it should be controlled somehow, that's why the experiment phase is so important.

I can see that in case of Blog Listing pages (depending by the layout) it may be interesting to have more but

[2022-08-25 13:36] jjgrainger commented on #482
Thanks @felixarntz

I agree we could encapsulate a lot of the logic in classes rather than procedural functions. This would also align more with the WP Background Processing library we based a lot of the functionality on.

I'll update the acceptance criteria to use a `Perflab_Background_Process` and `Perflab_Background_Job` classes.

[2022-08-25 15:46] felixarntz commented on #489
Fixed via #496

[2022-08-25 15:46] #489 closed, assigned to ankitrox

[2022-08-26 11:47] eugene-manuilov commented on #482
I think the most crucial thing here is to implement an architecture that will support interoperability with external services and let developers to use Google Pub/Sub, AWS SNS, AWS SQS, Gearman, RabbitMQ, and others for processing background jobs. To achieve this, we will definitely need to use the class based approach that will let developers to create their own "connectors" to send jobs to exter

[2022-08-26 12:54] dilipbheda opened #499 "Correct docblock for wp_get_attachment_file_path()"
## Bug Description
The inline document specifies that `thumbnail` is the default size instead of `medium`
Ref: https://github.com/WordPress/performance/blob/trunk/modules/images/dominant-color/load.php#L322

[2022-08-26 13:28] dilipbheda opened #501 "Improve inline document of webp_uploads_pre_generate_additional_image_source() filter."
## Bug Description
I think it should be better if we removed the `@return` type from apply_filters.
Ref: https://github.com/WordPress/performance/blob/trunk/modules/images/webp-uploads/helper.php#L83

[2022-08-26 15:21] jjgrainger opened #503 "Create Background Processing Infrastructure: Create Perflab_Background_Job Class"
Create a new `Perflab_Background_Job` class to represent a single job and provide methods for accessing it's data.

## Acceptance Criteria

- Create a new `Perflab_Background_Job` class
- The `__construct()` method should accept 1 parameter
    - `$term` - Can either be the Job term ID or term object
- The class should have the following methods
    - `update_data( array $data )` -  This method wi

[2022-08-29 04:38] FleetingCloud opened #505 "Bump PHP version requirement"
## Feature Description

Hi,
It’s been around 4 years since wordpress last increased its minimum PHP requirement.
Make post => https://make.wordpress.org/core/2018/12/08/updating-the-minimum-php-version/
At that time, only 85% websites were using PHP version 5.6 or higher but wordpress still decided to increase its minimum PHP requirement to 5.6 for security and performance reasons.
Buw now, as per

[2022-08-29 05:25] Kevin-Hamilton commented on #168
You can't take an existing script block of unknown code and put a type="module" on it and expect it to "just work".  For instance,

- modules use strict mode automatically,
- HTML comments are not allowed in modules,
- the `this` within modules does not refer to the global `this`, and instead is `undefined`,
- `await` cannot be used as a variable name anywhere in a module, and
- variables defined

[2022-08-29 13:11] gilbertococchi commented on #477
@pbearne Thanks for your feedback, it would be great!

It's a great idea to use the wp_content_img_tag filter to detect that and experiment this out.

@adamsilverstein, WDYT?

[2022-08-29 15:00] #501 closed, assigned to nobody

[2022-08-30 10:15] jjgrainger commented on #493
@felixarntz this has been updated based on your [comments on #482](https://github.com/WordPress/performance/issues/482#issuecomment-1224996357)

[2022-08-30 10:15] jjgrainger commented on #494
@felixarntz this has been updated based on your [comments on #482](https://github.com/WordPress/performance/issues/482#issuecomment-1224996357)

[2022-08-30 10:18] jjgrainger commented on #495
@felixarntz I've closed this issue as it has been replaced by the `is_complete()` method on the [`Background_Process_Job`](https://github.com/WordPress/performance/issues/503) class. This has been updated based on your [comments on #482](https://github.com/WordPress/performance/issues/482#issuecomment-1224996357).

[2022-08-30 10:18] #495 closed, assigned to nobody

[2022-08-30 11:07] jjgrainger commented on #479
Thanks @felixarntz

I will look at updating the `perflab_` prefix to `perflab_rei_` across issues. We may need a separate ticket to make sure any previous work is updated too.

As for the `$job_name` terms can share the same name, but not the same slug. Having descriptive term names could be useful to differentiate between jobs of the same "job type", but in a lot of cases these jobs are created p

[2022-08-30 15:55] masteradhoc commented on #505
+1, long overdue...

[2022-08-30 20:06] felixarntz commented on #478
Fixed via #497

[2022-08-30 20:06] #478 closed, assigned to ankitrox

[2022-08-30 20:27] felixarntz commented on #479
@jjgrainger

Thanks, sounds good. Definitely feel free to open an extra issues for just a single PR to update all existing code. cc @ankitrox as that is also relevant for the PR(s) you're currently working on.

That makes sense. We don't have to use overly verbose term names that include IDs, but it may be a good idea to have term names that are based on some more specific aspect of what variant o

[2022-08-31 04:30] #499 closed, assigned to nobody

[2022-08-31 14:16] jjgrainger opened #509 "WebP not being displayed in page builder content"
As raised in [this support topic](https://wordpress.org/support/topic/webp-not-being-displayed-with-elementor/), Webp not being displayed with Elementor.

It appears Elementor does not include the `wp-image-{ID}` class name in the image tags so the content filter does not replace the image URLs with the WebP versions.

[2022-08-31 15:19] #388 closed, assigned to mukeshpanchal27

[2022-08-31 16:13] eugene-manuilov opened #510 "Update npm dependencies to the latest versions to fix vulnerability issues reported by npm"
## Feature Description

Npm audit report shows that we have 7 high vulnerabilities in dependency packages:

[code]

We need to update all dependencies to the latest versions to fix vulnerabilities. If it doesn't help, we will need to follow instructions provided by `npm audit` command to fix remaining issues.

We should also consider adding the `prettier` dependency to the dependencies list and re

[2022-09-01 19:08] lukecav commented on #505
Some hosts no longer display EOL PHP versions in their portals/control panels to customers so that the lowest version would be PHP 7.4.
https://www.php.net/eol.php
https://help.dreamhost.com/hc/en-us/articles/215082337-What-versions-of-PHP-are-available-at-DreamHost-
PHP 7.4 is EOL November 2022.
https://www.php.net/supported-versions.php

[2022-09-01 19:18] FleetingCloud commented on #505
Hi, thanks for your reply.
For us to make 7.4 minimum PHP version, all the lower PHP version should have only around 5% websites (wordpress installations) running on them. This is a requirement for increasing minimum PHP version.
As per WordPress statistics, 42% WordPress installation are running on PHP version **lower** than 7.4
For this number to reduce around 5% (requirements for updating minim

[2022-09-01 22:51] #510 closed, assigned to eugene-manuilov

[2022-09-02 15:19] AlecKinnear commented on #132
Guys, we *almost* have consensus here that WordPress should improve the indexes on sites with the MySQL MariaDB versions to support the improvements. Yes, there is terrible hosting out there like GoDaddy and Bluehost and all the rest of the consolidated Endurance International hosts.

By catering to the lowest common denominator, we actually *encourage* the bad behaviour of these hosts.

By offeri

[2022-09-03 08:27] javiercasares commented on #475
Should we make a list of "what's the best for databases for WordPress" and add that documentation to the WordPress Hosting Handbook, so we can push from the Hosting Team?

[2022-09-06 09:06] jjgrainger opened #513 "Use WebP image in templates"
A couple of [support](https://wordpress.org/support/topic/wp_get_attachment-full-size-get-webp-version) [tickets](https://wordpress.org/support/topic/webp-does-not-work/) have been raised regarding using the WebP version of images in templates.

Currently, the plugin replaces images URLs to their WebP version in the WordPress content only.

Providing a way to use WebP outside of the content has be

[2022-09-06 12:32] mukeshpanchal27 opened #514 "Consistency in unit tests"
## Bug Description
We should follow the consistency in the unit tests. Some tests use `@test` annotation and some functions don't use it. Instead, they use `test_*` in the function name. Most of our unit tests use `@test` annotation.

## Steps to reproduce

https://github.com/WordPress/performance/blob/0a9570795dbc602cbc305d2b47b3a5a589f547cd/tests/plugins/webp-uploads/helper-tests.php#L17

[2022-09-06 15:04] jjgrainger commented on #479
Thanks @felixarntz

I've assigned this ticket to me and will pick this up later in the week.

I agree with the job naming being more descriptive and it appears we have the job type meta being created as part of #503

I'll make sure to include a note about the "job type" in the comments for #486

This is where we'll be creating our first job, something like `regenerate_existing_images:all_media`

[2022-09-08 17:16] azaozz commented on #132
@OllieJones

That's strange. WP generally pre-caches all options on every load with [`wp_load_alloptions()`](https://developer.wordpress.org/reference/functions/wp_load_alloptions/). This is done for the exact purpose: to prevent multiple trips to the DB. True that some options can be excluded from this pre-caching by design, but that's quite rare. I'm wondering what's causing this traffic on the

[2022-09-09 12:23] AlecKinnear commented on #132
@OllieJones

We have a WPML site which doesn't have many sites but does have over 200,000 posts and 3 million comments. We are running PHP 7.4 and MariaDB 10.8.4.

There is an issue that this network remains on WordPress 4.9.21 for stability reasons, but we've updated all our other sites to 5.7 so we could bring this network up to 5.7 for testing as it's already planned.

FYI, there's a lot of tra

[2022-09-09 16:11] jjgrainger commented on #509
The same is true for other page builders such as WPBakery, [as reported in this support topic](https://wordpress.org/support/topic/webp-image-not-created-2/page/2/).

[2022-09-12 10:28] mukeshpanchal27 opened #520 "Add return document for `perflab_get_modules_setting_default()`"
## Bug Description

Add return document for the function `perflab_get_modules_setting_default`

[2022-09-12 12:50] mxbclang commented on #477
Thank you, @pbearne! Assigning this to you for now and moving to To Do.

@adamsilverstein Please see @gilbertococchi's comment above when you get a moment.

[2022-09-12 13:36] erip2 commented on #176
I tried it too and I have the same result as @alessandrocarrera.
Furthermore none of the scripts changed to `type="text/partytown-x"`.

Is anything new about this and PR #271 ? :)

[2022-09-12 13:41] mxbclang opened #522 "Database Performance Health Check initial implementation"
## Owner
@OllieJones

## High-level feature
See #475

[2022-09-12 13:46] mxbclang commented on #475
@OllieJones Based on the discussion in the <a href="https://make.wordpress.org/core/2022/08/30/performance-team-meeting-summary-30-august-2022/">August 30 chat</a>, this module is ready to proceed! I've created a new label for this module, [Module] Database Performance Health Checks, and a new issue for the initial implementation: #522. I can't assign this to you just yet as you need to be added t

[2022-09-12 13:46] #475 closed, assigned to nobody

[2022-09-12 14:51] #520 closed, assigned to nobody

[2022-09-12 14:52] felixarntz commented on #520
@mukeshpanchal27 Just for the future, for something as simple as this, feel free to not create an issue and do it directly in a PR :)

[2022-09-12 17:10] OllieJones commented on #522
Here's the link to create an appropriate pull request.  https://github.com/OllieJones/performance/pull/new/module/database-performance-health-check

[2022-09-12 19:23] felixarntz opened #523 "Consider also replacing JPEG images with WebP images in `img` tags controlled by code"
## Feature Description

Related to #155 (and raised again by PR #517): While it probably makes sense to add a MIME type parameter to the relevant image core functions as described in #155, this doesn't mean that we should rely solely on the plugin and theme developers to use WebP.

Since the current behavior is to replace JPEG images with WebP images in post content `img` tags, potentially we coul

[2022-09-12 19:27] felixarntz commented on #523
@maheshwaghmare @mukeshpanchal27 @jjgrainger Paging you here for awareness, we can discuss further here. #517 has a potential implementation for this, if we decide to move forward with the idea.

[2022-09-12 21:13] felixarntz opened #524 "Modify WebP default behavior to follow latest decision (generate only WebP for JPEG)"
As part of https://core.trac.wordpress.org/ticket/55443, it was recently decided to change the default behavior of the WebP implementation back to generating only WebP versions for the sub-sizes of a JPEG upload, rather than both WebP and JPEG versions for every size.

We should align with this in the plugin, i.e. adjust the default value for the `webp_uploads_upload_image_mime_transforms` filter,

[2022-09-12 21:28] felixarntz opened #525 "Add checkbox to Media screen to enable multi MIME type output (WebP and JPEG)"
#524 changes the default behavior of the WebP Uploads module so that it only generates WebP by default, following the core decision, as that is a safer default.

However, the module still offers the alternative approach of generating both WebP _and_ JPEG files. At a high level, this comes with the following tradeoff:
* **Pro:** Better backward/cross compatibility since any use-case where WebP is n

[2022-09-12 21:32] felixarntz commented on #525
@bethanylang Would you mind reviewing the suggested wording for the UI here?

[2022-09-12 23:53] felixarntz opened #526 "Module Proposal: Optimized Autoloaded Options"
## Overview
- Proposed module name: Optimized Autoloaded Options
- Proposed module slug: optimized-autoloaded-options
- Proposed module owner GitHub username(s): markjaquith, felixarntz

This module proposal was created during WordCamp US 2022 as a collaboration between @merkys7 @markjaquith @felixarntz @sabrina-zeidan @rytisder.

## About the module

WordPress has basically forever had a mechanis

[2022-09-12 23:58] felixarntz commented on #526
@bethanylang I've added this module proposal under the Object Cache focus for now, since it's the most applicable one, however with some of the efforts there are it might make sense to have another focus around e.g. Database, where this would fit into better. We don't have any process for this, but maybe we can rethink how we deal with focus areas, also given that 2 of them currently have no lead.

[2022-09-12 23:58] felixarntz commented on #526
On a broader note, I think one thing that would be crucial to do around this module proposal is some analysis to see how much impact the autoloaded options database query in fact has on server-side performance. While we're all pretty sure this is a significant problem from various levels of experience, we should validate that.

[2022-09-13 02:05] markjaquith commented on #526
@felixarntz yeah, we can check the impact (maybe as % of front page load time taken by this query) at various byte sizes. 250k, 500k, 1m, 2m, say.

Would be interesting to simulate db connection latency somehow. Maybe there is some way to do an ssh tunnel that is bandwidth constrained.

Absolute numbers will vary a lot, I expect.