[2022-02-04 17:49] felixarntz commented on #149
@mitogh I understand the code, but as far as I can tell it doesn't solve the problem from the scenario I mentioned above. Could you please double-check?

[2022-02-04 18:02] mitogh commented on #149
Right in this scenario, we have 2 options:

1. Always deliver an image format as described in https://github.com/WordPress/performance/issues/96#issuecomment-1027147051 which can be accomplished with https://github.com/WordPress/performance/issues/149#issuecomment-1030212690 so that would deliver WebP all the time, which would be the default behavior in the plugin, deliver WebP regardless. This wo

[2022-02-04 18:13] adamsilverstein commented on #153
Note: this issue came out of a previous discussion, see https://github.com/WordPress/performance/issues/117#issuecomment-1023560829

[2022-02-04 18:13] felixarntz commented on #149
@mitogh I see, so you're saying that developers would need to use the filter to enforce WebP to show on sites with page caching, to avoid JPEG being served just because whichever request caused the cache to be populated was from a browser that didn't support WebP, correct?

In that case, I don't think that would be a solution we should strive for, since it would require developer intervention to s

[2022-02-04 18:15] adamsilverstein commented on #117
Wouldn't this be the same image we recently excluded from lazy loading? we could add the importance attribute the same way we add the loading=lazy attribute (a filter on `the_content`), the non lazy image would get the importance="high" attribute

[2022-02-04 18:18] mitogh commented on #149
Not necessarily, the behavior is as follows:

WebP is enabled and delivered by default, from there there are 2 levels of granularity that you can use to control this:

1. Leave the decision to the client request
2. Force JPEG using the filter from https://github.com/WordPress/performance/issues/149#issuecomment-1030212690

But WebP would be delivered and selected by default regardless of the value

[2022-02-04 18:27] felixarntz commented on #149
That's precisely my concern here, we can't really do that, at least not using the `Accept` HTTP header since it's unreliable. Again, why do we need to do that? Is it because of Safari? So far from my understanding, I thought we would be able to unconditonally deliver WebP, given WordPress core's browser support policy, but I may be wrong. Can you clarify why you think we need to check for support

[2022-02-04 18:39] mitogh commented on #149
Right, this is not the default behavior would be to deliver a WebP version regardless, however in order to expand the range of places where WebP is not supported, this mechanism would give the chance to a developer to unhook and allow to render JPEG in those cases, with the limitations of that system being invalid when a cache system is in place.

Sure, the main reason for this is to make sure tha

[2022-02-04 18:52] westonruter commented on #117
It could be, yes. But I think there should be more verification done to ensure the non-lazy image should also be marked as important.

[2022-02-04 19:38] felixarntz commented on #149
I'm still leaning towards not using the `Accept` header. I understand what you're saying, but we shouldn't implement an unreliable detection mechanism in core and then put responsibility on developers to use a filter to fix it for their use-case. Let's take a step back here:
* This PR is, most importantly, for implementing the content replacement.
* I suggest for now (as in this PR) we just use We

[2022-02-04 23:18] mitogh commented on #142
Thanks, @adamsilverstein based on your comments I've decided to explore some other alternatives and end up with a new approach that is a mix of the described approaches but is basically storing the JPEG versions in `_wp_attachment_backup_sizes` instead, in the same WordPress stores references to previous edits on an image when using the editor for WordPress.

And because the JPEG is actually backu

[2022-02-04 23:40] mitogh commented on #142
Adding an update here with the implementation:

- https://github.com/WordPress/performance/pull/154

I'm adding the findings in this document https://docs.google.com/document/d/1nVFhMXacydGce1ZjSvh14MQeKPS26TcQDeIPw0vmuig/edit?usp=sharing to make sure this approach is documented.

[2022-02-05 04:03] mitogh commented on #149
Thanks for the feedback @felixarntz and I do agree with those points let's break down those steps as actionable issues and remove the `Accept` header for now and iterate with the idea to deliver the best image format when possible but for now, let's just deliver WebP by default with the filters to disable it and render JPEG in those cases.

[2022-02-05 14:12] erikyo commented on #144
Sorry, I didn't catch that at all... I prepared a new sketch with a flask icon that imho gives the idea of the laboratory, to which I added the lightning bolt icon (so that the logo contains both concepts).
I made it this way to be as minimalist as the wp rest api banner, what do you think?

![performance-v2-04](https://user-images.githubusercontent.com/8550908/152647758-cf9c6577-ff8f-4f15-b49a-45

[2022-02-07 07:35] JustinyAhin commented on #144
I mostly agree with I generally agree with @ThierryA's points above. Because it's a feature plugin, which will eventually end up in Core, we should keep the branding simple. So IMO, an icon with the plugin name next to it will do.

For the icon itself, we could either go with the initials of the plugin, like @dainemawer's proposal 4 or @sudeep510's proposal 1.

[2022-02-07 13:28] lkraav commented on #132
Not sure if this is on @konamiman and @barryhughes radar yet, but probably should be.

Noticed from https://github.com/woocommerce/woocommerce/pull/31819

[2022-02-07 15:50] sudeep510 commented on #144
Hi Everyone,

After going through the inputs provided here, have attempted another version to be in line with the thoughts conveyed for the branding we would like to opt for.

Here are the ideas behind these designs:

- The thought behind this logo variation was to keep it simple and focus more on associating with a “Labs” element and continue playing with the letter P for performance
- As the plu

[2022-02-07 16:37] mitogh opened #155 "Update WordPress core functions to support multiple mime types"
## Feature Description

Functions such as:

- `wp_get_attachment_image_src`
- `wp_get_attachment_image_srcset`
- `wp_get_attachment_image_url`

Should be updated in order to support an additional parameter or to update the `icon` parameter in some cases to behave as mime type support parameter. This parameter would allow specifying the desired mime type for an image in case we want to render the J

[2022-02-07 17:02] mitogh opened #156 "Support for `wp_cache_delete_group`"
## Feature Description

Some of the benefits of having a function like `wp_cache_delete_group`

- Align with #77
- Purge a full group when a post is updated/deleted/added
- Quickly manage cache state by just grouping those cache mechanism

The function would allow a developer to remove all the entries associated with that particular group key, so a full cache group can be cleaned up.

LInks:

- Ex

[2022-02-07 17:20] tillkruss commented on #156
We do have an issues for that: https://github.com/WordPress/performance/issues/38

[2022-02-07 17:26] mitogh commented on #156
Fantastic, closing this one as a duplicate :)

[2022-02-07 17:26] #156 closed, assigned to nobody

[2022-02-07 19:33] eugene-manuilov commented on #63
Ok, probably, the most important metric from the backend perspective is the `Wall Time` of the main function. The wall time represents the total time took by a function for execution. For the main function it means the total time that has been spent on processing the current request by PHP. If our improvements prove to reduce the total wall time of the main function, then we can say that we have o

[2022-02-07 19:51] lolautruche commented on #63
Actually, it may not be a good idea to test against wall time. Time is indeed always a consequence. When using a profile, best is usually to test the number of function calls.
We can still use wall-time to define boundaries though.

[2022-02-07 20:10] rviscomi commented on #153
37% of WordPress pages (858,134) include a script that contains (but not necessarily executes) `document.write`.
20% of WordPress pages (463,988) include a script that executes `document.write` during the initial page load.

Among the pages that simply contain `document.write`, the most popular domains that serve these scripts are:

script_host | pages | total | pct
-- | -- | -- | --
doubleclick.n

[2022-02-07 20:55] felixarntz commented on #22
I've adjusted this issue to "officially" be a `[Type] Overview` issue for the overall "WebP Uploads" module, since the issue is somewhat phrased for that project and has "inofficially" been acting as such for a while. I've changed the issue description to provide an overview of the currently relevant issues for the project, so it would be great to maintain it in the future, at least with the most

[2022-02-07 22:40] adamsilverstein commented on #146
Thank you @mitogh - closing this issue in favor of the core ticket.

[2022-02-07 22:40] #146 closed, assigned to nobody

[2022-02-07 22:41] #67 closed, assigned to mitogh

[2022-02-07 22:53] adamsilverstein commented on #150
I'm feeling more and more we should stick with Strategy 1 here for the backwards compatibility reason alone.

We can still achieve the goal of displaying WebP by default on the output side.

In addition, the API/filter(s) should support an approach that enables **only** outputting WebP sub-sizes (with the exception of the full size -scaled image) -  maybe not as the default, but as one possible op

[2022-02-07 23:04] adamsilverstein commented on #74
Hey @dainemawer - are you still looking at this issue? Would love to hear your finding about WebP email support.

[2022-02-07 23:59] adamsilverstein commented on #149
We would only update content for images inserted from the media library, right?

Do we really need to filter the_content, or can we adjust images output by `wp_get_attachment_image` using the `wp_get_attachment_image` filter? That way we could avoid using a regex :)

[2022-02-08 00:03] mitogh commented on #149
Correct.

Yes, this would be required for all existing content that was published before this work is released, unless this text transformation is directly applied into the DB which would be my preferred approach as this would require only 1 pass and the filter won't be required when delivering the content from the DB to the client.

Basically, we would need a task like:

- #24

Where all the JPEG

[2022-02-08 00:10] felixarntz commented on #149
I personally prefer the PHP replacement, since it allows for more flexibility and works out of the box, without requiring an extensive routine, which would put more responsibility on the site owner and take a lot more work to implement.

I would especially suggest this route since such regexes to parse images out of `the_content` already exist (see [`wp_filter_content_tags()`](https://developer.wo

[2022-02-08 00:59] felixarntz commented on #150
I agree with @adamsilverstein's feedback above, and I would extend it to say that we should probably always use the original format of the image uploaded as the default. In other words, it won't always be JPEG, it will only be JPEG if the original image is JPEG. If the original image is PNG, it would be PNG, and if someone directly uploads WebP, it would be WebP.

I think that would preserve backw

[2022-02-08 05:23] gabriel-detassigny commented on #145
If no one has started working on this yet, I would be happy to look into that.

[2022-02-08 09:31] dainemawer commented on #74
@adamsilverstein I am indeed! I have taken a look, I just need to compile my findings - I will most certainly update this ticket today if not tomorrow!

[2022-02-08 11:44] eugene-manuilov commented on #63
Yes, I agree with you, but in our case, this approach is harder to use because we don't have a single function that we can test. We have many different function in the plugin that affect performance in one way or another. That's why I think it would be easier to just rely on the wall time of the main function when we need to gauge performance of a certain page.

[2022-02-08 12:58] eclarke1 commented on #145
Tagging PoCs @AymenLoukil and @josephscott here for visibility

[2022-02-08 13:00] eclarke1 commented on #155
@mitogh assigning this to you if you agree as it relates so closely to #142 and #149 where you're already working

[2022-02-08 14:08] OllieJones commented on #132
Yes, it could, and probably should be. (LImited) experience with the so-called "high-performance" indexes on MySQL 5.5, MySQL 5.6, and MariaDB 10.1 shows a fairly modest speedup because we can't redefine primary keys / clustered indexes to include any VARCHAR(250) columns.  The big win in those legacy environments comes from an ordinary (non-UNIQUE, non-PK) compound prefix index on `(meta_key(32),

[2022-02-08 14:11] mxbclang commented on #133
Clarifying here that the decision needed is for the vote on this comment: https://github.com/WordPress/performance/issues/133#issuecomment-1024051757.

In addition, the Needs Discussion label for the scope: https://github.com/WordPress/performance/issues/133#issuecomment-1024056958.

[2022-02-08 14:15] AymenLoukil commented on #145
Hello @mitogh,

In my opinion, the check against budget should be the role of a measurement tool or a CI such as Lighthouse CI.

Is this going to check every single page? Could you please give more precise context on this?

Thanks,

[2022-02-08 14:41] mitogh commented on #145
Sure @AymenLoukil

Agree here, however not all WP installations are deployed using a CI system, so having a tool within WordPress similar to site health where we can provide a record in how things are changing in terms of performance would be helpful so you can have a guide, for example, let's say you install a plugin and you have a defined budget per page once this plugin is installed you can rev

[2022-02-08 15:01] adamsilverstein commented on #142
Note this post which explains which hook to use for "after all sub sizes created" - https://make.wordpress.org/core/2019/11/05/use-of-the-wp_update_attachment_metadata-filter-as-upload-is-complete-hook/

[2022-02-08 16:06] mitogh commented on #155
Sounds good to me I'm assigning @jjgrainger as well to help with the collection of `functions`

[2022-02-08 16:06] adamsilverstein commented on #153
Thank you @rviscomi for the detailed analysis, this is super helpful as a reference point in building out better script loading for WordPress.  As we push developers to deprioritize their scripts with defer, it is important to know where we can't do that.

Could these be scripts loaded from the sites themselves, ie. from the origin domain?

Twitter winds up getting included as part of a twitter [o

[2022-02-08 16:44] adamsilverstein commented on #133
This sounds fine as long as the release is clearly labeled beta, especially since the webp approach is changing significantly.

[2022-02-08 17:29] mitogh commented on #142
Thanks @adamsilverstein , I'm using the recommended hook `wp_generate_attachment_metadata`:

- #154

However, there might be other cases that we need to cover like when the image is rotated or cropped should we need to support the same backup mechanism for this type of edit. And this hook is not fired in those scenarios so an update would be required to the PR above to take into account those type

[2022-02-08 17:48] rviscomi commented on #153
Yes, sorry I had written that in an earlier draft but it got dropped during editing. If the script is loaded from 1P (inline or external script) or any unknown 3P it'll show up as "unknown".

Oh I hadn't considered iframes. That could be another discrepancy between scraping the raw response bodies and using the Lighthouse audit. Maybe LH ignores writes within iframes. Arguably, that's preferable s

[2022-02-08 20:13] mxbclang commented on #133
**Voting is now closed.**

Based on **8** thumbs up votes and **no** thumbs down votes, we'll proceed with this behavior:

Using 1.0.0-beta.1 for our first release.

Removing the Needs Decision label. Discussion remains open for the scope items noted in https://github.com/WordPress/performance/issues/133#issuecomment-1024056958.

[2022-02-08 23:52] josephscott commented on #145
I like performance budgets, but I'm not clear on where or how this would be used.

[2022-02-09 00:39] mitogh commented on #145
Specifically, this can be beneficial to keep track of how your site or a specific page performs as changes are applied to the site, due we can set up some high-level metrics those metrics are generic instead of having an owner/developer defining those metrics has a more meaningful impact on the overall page performance, site main goals.

Once the `budget.json` file is created this file would be us

[2022-02-09 02:58] mitogh opened #158 "Perform updates on secondary image mime types when original image is edited"
## Scenario

When an image is uploaded into WordPress at least 2 mime types would be created according to with:

- #142

After the image completes the update into the media library, the image would be stored using at least 2 mime types, for this scenario let's use:

- `image/webp`
- `image/jpeg`

_For simplicity, we are going to call `webp` the primary image format and `jpeg` the secondary image f

[2022-02-09 03:29] mitogh opened #159 "Defer additional mime type generation to an async routine"
## Feature Description

Due an image would contain more than 1 mime type available, and because any mime type that's not the primary one won't be used directly but mostly as a fallback in specific cases like email delivery and such where the primary format is not used, it would make sense to defer this work into an async routine.

Most of this work can be leveraged to an existing REST API endpoint

[2022-02-09 04:02] josephscott commented on #145
How? What is being used to take these measurements?

These are the details I'm missing.  If I've got a budget.json file, what reads it?  What does the testing and comparison?  Where is that data stored?  How does it report on that data?

I'm a big fan of performance budgets, and measuring, those are the details I'm missing here though.  A budget.json file by itself doesn't do anything, it needs to

[2022-02-09 04:47] dainemawer commented on #144
Some further simplifications and plugin logos.

**Logo 1**
![Frame 20](https://user-images.githubusercontent.com/48082535/153123701-1524617d-3394-4a6b-9948-10c1f0b1c9f0.png)

**Logo 4**
![Frame 21](https://user-images.githubusercontent.com/48082535/153123708-2da329eb-cc91-440b-8673-b6a5e287f6ce.png)

**New Idea**
![Frame 22](https://user-images.githubusercontent.com/48082535/153123709-ae38cc88-f6a

[2022-02-09 07:42] dainemawer commented on #74
Hey @adamsilverstein
I took a pretty detailed look into this ticket, here are my findings:

- First off, I fired off emails using: https://app.postdrop.io/ which is a free service for sending HTML emails.
- I then reviewed Can I Email to see what the support for WebP was like.

![Screenshot 2022-02-09 at 08 46 27](https://user-images.githubusercontent.com/48082535/153136547-7ff6d6f6-b312-427f-9a4b

[2022-02-09 15:16] jonathanbardo commented on #31
One use case we recently had for this was for preloading CSS link that goes inside of a shadow root custom element to prevent a flash of unstyle content. We did easily add the preload instruction in another hook that is in the header but it seems backward and not the right place to do this given there is a resource hint hook.

When browsers see a shadow root they immediately put the content on the

[2022-02-09 16:33] adamsilverstein commented on #13
See https://github.com/libgd/libgd/pull/698

[2022-02-09 16:57] adamsilverstein commented on #158
Thanks for opening this @mitogh - we absolutely need to make sure all these function work as expected with the additional mime types.  It makes sense that we would want to create crops for each mime format the image was stored in.

I'm interested in investigating how editing interacts with the idea of storing the additional mime types as backup images, once your POC is further along I will test th

[2022-02-09 17:12] adamsilverstein commented on #159
Thanks for opening this @mitogh, I will look into the best approach for async generation.

Core also includes a `wp_ajax_media_create_image_subsizes` callback we could use, might be appropriate especially for the media editor context (vs in the Block Editor)

[2022-02-09 17:56] mitogh commented on #145
Great questions @josephscott

Most of the work for measurements should be described in, specifically which tools and different approaches for each:

- #63
- #64

The main idea behind this ticket was to add support for the file. As described previously the measurements would be taken from the file itself, the how is described in the next section.

A new set of issues should be created with the stra

[2022-02-09 20:13] adamsilverstein commented on #142
Right - we will probably need to handle these explicitly.

[2022-02-09 20:21] adamsilverstein commented on #19
@pbearne Very interesting, I was wondering about using the background - clever!

Can you point specifically to where (or is there a ticket to add)? Could you try using `wp_get_attachment_image` filter for now? That might be sufficient for the plugin.

Have you tested how this approach affects performance metrics?

[2022-02-09 20:25] adamsilverstein commented on #19
@eugene-manuilov Good point, this is a great feature of jpegs.

When researching I found that LCP doesn't take progressive images into account currently (see https://github.com/w3c/largest-contentful-paint/issues/71) so I'm curious how any approach would affect both perceived and measured performance.

[2022-02-10 02:45] adamsilverstein opened #160 "Ensure WebP/Image/Optimization plugins can integrate & use existing WebP images"
## Feature Description

Existing WebP/Image [plugins in the repository](https://wordpress.org/plugins/search/webp/) already support WebP, and many sites are already generating and using WebP sub sized images. In fact, around 13% of WordPress desktop pages in the httparchive dataset use WebP images!

Once core starts generating and outputting WebP images by default, it would be good to _use the exi

[2022-02-10 02:55] adamsilverstein commented on #122
Fixed in https://github.com/WordPress/performance/pull/143

[2022-02-10 02:55] #122 closed, assigned to nobody

[2022-02-10 13:12] pbearne commented on #19
@adamsilverstein

here is the filter I was looking at adding https://github.com/xwp/wordpress-develop/commit/2efb39b5a3942b475ebb0fa43c49dc6a92d243c9
I will look at the wp_get_attachment_image filter and see if I can use that instead

We are looking at the metrics it does add to the content on the wire so it may well be better to use JS to convert the blurhash into the background image

[2022-02-10 16:55] spacedmonkey opened #161 "Promote object caching in Site Health for multisites"
## Feature Description

Follow up issue from https://github.com/WordPress/performance/issues/35.

For sites that are running multisite without object caching, a warning should be displayed to users in the site health screen.

[2022-02-10 16:55] spacedmonkey commented on #161
CC @felixarntz

[2022-02-10 16:59] tillkruss commented on #161
This should probably fall under the Object Cache team, not Site Health.

[2022-02-10 17:07] tillkruss opened #163 "Create object caching section on optimization docs"
#111 links to an `object-caching` section on https://wordpress.org/support/article/optimization/

[2022-02-10 18:24] adamsilverstein commented on #21
In relation to supporting the picture element in core, I wonder how many WordPress sites already use it? I'm sure some plugins or themes must already use the `picture` element.

Maybe @rviscomi can help here to build a query similar to the one we worked on for WebP usage by WordPress version [[script](https://gist.github.com/adamsilverstein/282bee5b0f6d16c08b57e18413864e30)], this time looking for

[2022-02-10 19:19] rviscomi commented on #21
5% of WordPress sites use the `picture` element.

<details>
<summary>Query</summary>

# ⚠️ This query processes 1.4 TB

[code]

## Results

[code]
</details>

[2022-02-10 20:41] pbearne commented on #19
@adamsilverstein I have a working(ish) plugin https://github.com/pbearne/blurhash

[2022-02-10 23:09] peterwilsoncc opened #164 "Trac 40351: Term counts scale poorly"
I'm after some assistance wrapping up [WordPress#40351](https://core.trac.wordpress.org/ticket/40351) to improve the scaloing of term counts.

The original report by Matt Perry on the linked ticket is quite detailed. It starts with the summary:

In WordPress 5.6 I got quite close to patching this in WP but ended up reverting as the code broke term recounts when secondary objects were updated. See

[2022-02-11 13:06] eclarke1 opened #165 "Create epic and overview github templates"
## Feature Description

Would it be possible to create GitHub issue templates for:

### Epic
To detail high-level projects, to include feature overview and a comprehensive list of all issues associated with that piece of work / epic
Headings to include:
- High level feature
- Overview
- Key enhancements (checklist of all issues)
- Exploration (checklist of all issues)
- Misc Bugs (checklist of all

[2022-02-11 13:11] eclarke1 commented on #165
@felixarntz @adamsilverstein I chatted to @ThierryA about this one, and would like to suggest also amending our current [Type] Overview label to be for a single issue on each focus area and that issue to be a single point of reference for all documentation, including those 'Big Picture' docs, and any associated proposals for individual issues etc.
Then we add a new label [Type] Epic to our high-le

[2022-02-11 13:13] JustinyAhin commented on #133
About this, I think some enhancements have been addressed already.
https://github.com/WordPress/performance/issues/22 seems like to have a long way to go.

I'd suggest we release a beta version with the two modules in their current state, and iterate on the current issues/enhancements.

Releasing now also have the advantage of having more people testing the plugin, and more feedback as well.

cc @

[2022-02-11 13:20] eclarke1 opened #166 "[Images] Overview"
## [Images] Focus Area Overview

### Point of Contact
@adamsilverstein @getsource

### Focus Area Overview
To be added

### Key Documentation
- [Modern image format in WordPress](https://docs.google.com/document/d/1FuaHwJAmkObDCKR2PRaXODlfRVFRGTUtpDwXQtc24BM/edit?usp=sharing) document detailing 'Adding WebP support to WordPress core and preparing for other more progressive image formats' **AVAILAB

[2022-02-11 13:21] eclarke1 commented on #166
@felixarntz @adamsilverstein my idea behind this, as discussed with @ThierryA , was to create a single issue for each focus area, detailing any high-level documents, list our individual epics / projects and also have a single point of reference for any associated proposals and their status. Please let me know thoughts here.
cc @bethanylang

[2022-02-11 15:52] tillkruss commented on #164
@spacedmonkey Any thoughts?

[2022-02-11 16:01] spacedmonkey commented on #164
I will have to look into this. This is not a simple fix and I need to getting up to speed. I am busy with other things at the moment. I will back to this in a couple of weeks.

[2022-02-11 17:30] adamsilverstein commented on #142
Quick update on this issue: I have been researching approaches to async image generation and digging into the core cropping behavior.
* We will want to create new functions to generate the additional mime types, core's existing endpoints for cropping or regenerating missing images are good starting points but are too specific to work for our use case. We'll probably need new callbacks as well.
* W

[2022-02-11 19:56] mitogh opened #167 "Expose `source_url` for all additional mime types via REST API"
## Feature Description

WordPress already has a defined endpoint for each media item located at `wp-json/wp/v2/media/{ATTACHMENT_ID}` this ticket is to suggest the inclusion of additional mime types (if present) for that particular image beside the default mime type for an image, this would allow API consumers to have access to both image mime types using the REST API.

Another suggested approach

[2022-02-11 22:27] adamsilverstein opened #168 "Improve performance capabilities of core script enqueueing"
## Feature Description
**Goal:**
_Add backwards compatible script enqueue features to WordPress that enable more performant script enqueueing, including support for `defer`._

**Details**
WordPress core, themes and plugins add script tags to the page through a number of mechanisms, for example `wp_enqueue_script`, `wp_print_script_tag` or by directly outputting their script in a `wp_head` action h

[2022-02-12 03:09] mitogh commented on #158
Thanks, @adamsilverstein just updated the original PR to address this use case as well:

- #154

Let me know in case you have any additional feedback.

[2022-02-12 03:22] mitogh commented on #122
Related with the following core ticket:

- https://core.trac.wordpress.org/ticket/53665

[2022-02-13 23:16] peterwilsoncc opened #169 "DB Performance: Allow getting of multiple options"
## Feature Description

Presently `get_options()` etc are limited to returning a single option. For autoloaded options this doesn't present a great problem as the functions defer to the existing object cache. For options that are not autoloaded, it requires a separate database query each time a group of options are required.

An options getter to retrieve multiple database options would allow deve

[2022-02-14 01:50] tillkruss commented on #169
Are there any other examples in WP core, except for the transients since that is solved by using a persistent object cache?

[2022-02-14 12:53] eclarke1 commented on #169
@tillkruss just added the Object Cache label and to the project board, but please let me know if this should not be the case.

[2022-02-14 14:29] felixarntz commented on #166
@eclarke1 +1 from my perspective, I like the idea of having two types of overviews, one for the focus area and one for each project (within a focus area). The latter would then be named "epic" as far as I understand the suggestion, correct?

[2022-02-14 14:45] eclarke1 commented on #166
@felixarntz yep absolutely. Was thinking of using the `[Type] Overview` label for those focus area overviews, and a `[Type] Epic` for the projects within a focus area.
I have updated our epics within `[Images]` to have this labelling system. Question will be if we want to recommend using this format for other focus areas too. Up for discussion perhaps?
cc @bethanylang

[2022-02-14 16:32] adamsilverstein commented on #155
I'm also going to start looking at this based on the data stored in ~https://github.com/WordPress/performance/pull/154~ https://github.com/WordPress/performance/pull/147

[2022-02-14 17:12] eugene-manuilov commented on #145
IMO 99.9999999% of users know nothing about the performance budget and how to use it. I believe they will be confused and will not understand what they need to select and why.

This is a very technical thing that is needed only for developers. I think even if we want to implement it, it should be done in a similar way to how the `robots.txt` file is rendered. UI isn't needed for it.

[2022-02-14 18:22] mitogh commented on #145
Well, I'm not sure of the percentage but I agree, the majority of users won't know about this, in the same way as for other Core Web Vitals metrics but in this case, the aim of the plugin would be to help educate about those metrics the meaning, usage, and impact.

well not quite, but if you are using the performance plugin and a report is failing because of a defined metric that is not meaningful

[2022-02-14 18:27] Mte90 opened #171 "Improve performance on localization file parsing"
## Feature Description

Ref: https://core.trac.wordpress.org/ticket/17268

The issue now is that for every file mo is read by PHP with a binary parser for every single page request and there isn't any object cache or using the native PHP module that exists since php 5.3 (I am not sure but it was already avalaible in 2017 when I did my patch).

More then half of the wordpress websites are not in en

[2022-02-14 22:29] peterwilsoncc commented on #169
No, it's only an issue on sites without a persistent cache as the `*_options()` functions cache whenever possible.

[2022-02-15 10:19] eclarke1 commented on #171
@tillkruss is this new issue something that should sit inside the Object Cache focus area? If so, I can add it to there for us and add to the Backlog for your prioritisation.

[2022-02-15 11:34] manuelRod commented on #92
Thanks for the PR review @spacedmonkey anyone else want to chime in? This would be a good candidate to be merged in 1.0.0
cc: @felixarntz @aristath

[2022-02-15 12:41] eclarke1 opened #172 "[Measurement] Overview"
## [Measurement] Focus Area Overview

### Point of Contact
@AymenLoukil @josephscott

### Focus Area Overview
To be added

### Key Documentation
- [WordPress Performance Measurement: The Big Picture](https://docs.google.com/document/d/1NzURb3u-KZTgYYHK9Gx_KPvSCX4N8Ci3oZfLsfVF7Tk/edit#) document looking at the big picture of all the measurement pieces in a concise way and the various use cases and

[2022-02-15 13:15] AymenLoukil commented on #63
I would suggest these metrics on Mobile/Desktop:

- First Contentful Paint
- Largest Contentful Paint
- Total Blocking Time
- Cumulative Layout Shift
- Time To First Byte
- Total JS size
- Total Img size
- Total CSS size

[2022-02-15 13:35] jjgrainger commented on #64
I have been working on a proposal looking into tools we can use for capturing frontend performance metrics as well as [#63 Define a list of metrics that we need to measure](https://github.com/WordPress/performance/issues/63#). ([document here](https://docs.google.com/document/d/1elY0vgrLU2373mX3jSUj_vFZeGDyhED1WMPYwzSYiVA/edit#))

One potential solution for collecting metrics could be [Lighthouse

[2022-02-15 16:02] #77 closed, assigned to spacedmonkey

[2022-02-15 16:32] tillkruss commented on #80
New PR: https://github.com/WordPress/wordpress-develop/pull/2194

[2022-02-15 16:33] tillkruss commented on #107
PR opened: https://github.com/WordPress/wordpress-develop/pull/2318

[2022-02-15 16:37] felixarntz commented on #133
The tricky part of shipping the current version of the WebP module would be that it will result in people's sites that use it no longer having JPEG sub-size versions of their JPEG uploads. This is probably not a big deal for many, but I'm wary of shipping it because it is in a way "destructive" behavior. I'd feel more comfortable if we had _some_ implementation of having JPEG _and_ WebP being gene

[2022-02-15 16:50] lkraav commented on #171
Linking in case everybody here doesn't know about https://github.com/inpsyde/translation-cache yet.

[2022-02-15 16:58] mxbclang commented on #133
_Please vote for this approach with a thumbs-up or thumbs-down emoji. Voting will close on **Tuesday 1 March 2022 at 6pm GMT**._

Thumbs up 👍 :  We will ship the initial release of the plugin **with** the WebP module in its current version, where it no longer generates JPEG images.

Thumbs down 👎 : We will ship the initial release of the plugin **without** the WebP module.

Heart ❤️ : We will dela

[2022-02-15 17:05] felixarntz commented on #133
@bethanylang We may need to put a third option here like "We will delay the initial release until the WebP module has received support for generating both JPEG and WebP sizes." In that same sense, maybe the second option should be clarified that that would mean releasing a version that doesn't have the WebP module at all.

[2022-02-15 17:31] mxbclang commented on #133
@felixarntz Updated!

[2022-02-15 17:36] eugene-manuilov commented on #168
Where will the deferred script be loaded? In the footer or in the header? If in the footer, then how can I load it in the header if I need to?

Maybe we should leave the current `wp_enqueue_script` function as is and add a helper function to defer scripts? Something like `wp_defer_script( $hanlder )`?

[code]

Also, does it really make sense to defer scripts loaded in the footer? Correct me if I a

[2022-02-15 17:40] mitogh commented on #168
For backward compatibility introduce a new array parameter with `attributes` to allow specific additional attributes such as `defer` or `async` as If this is done in a way that works only for `defer` having a more flexible approach would be great to support additional attributes.

[2022-02-15 17:42] pbearne opened #173 "Add site profiles so we can make recommendations for a site of that size/type"
## Site type profiles so we can tailor improvement suggestions

WordPress is used in many ways and the methods that are needed to improve performance vary with the size and type of the site.

Examples:

- An install/site will often start on a cheap shared host with no caching (or just file caching) but at a certain size, an Object cache will be needed to keep for it to keep up.
- A newspaper/blog

[2022-02-15 22:05] westonruter commented on #168
Another alternative using an existing function:

[code]

[2022-02-15 22:25] av3nger commented on #160
Just to add to the above. A good idea would be to try and unify the format of how WebP images are stored. Having multiple implementations of WebP across WordPress and plugins does not benefit anyone. However, if we were to all agree on a location and format for WebP images (adding support to core?), maybe, image optimization plugins could utilise that location and format as well. In that case, whe

[2022-02-15 23:21] adamsilverstein opened #174 "When generating WebPs, ensure full size is generated(`-scaled` for large images)"
## Bug Description

After #152 "Full"" sized images inserted by users will still use the original jpeg image or (`-scaled` version for larger images) because the WebP version is not being generated. See https://github.com/WordPress/performance/pull/152#issuecomment-1051118813.

Proposal to fix:
* Always generate a full sized WebP version when WebP output is active
* For larger images (over `big_im

[2022-02-16 00:43] mitogh commented on #174
I agree with this behavior, however, the opposite of this behavior was introduced here:

- #143

Closing #122

Just want to make sure we are consistent with those behaviors moving forward.

[2022-02-16 08:37] kirtangajjar opened #175 "Automate PHPCS/PHPCBF run after commit with Husky"
## Feature Description

We're expecting developers to run `phpcs/phpcbf` manually before creating a PR. This can be automated easily via [husky](https://typicode.github.io/husky/). Husky is also [used by Gutenberg](https://github.com/WordPress/gutenberg/blob/trunk/.husky/pre-commit) to lint before commit.

So here are things that we need to do:
1. Add a pre-commit hook via husky to run `phpcbf` be

[2022-02-16 10:07] jonoalderson commented on #168
Relying on additional function (like `wp_script_add_data`) will harm adoption; and in fact, already has. This requires people to actively know that such a function exists, understand it, and use it. That's far more complex than, e.g., just picking a suitable value when confronted with needing to select a `strategy`.

[2022-02-16 13:38] eclarke1 commented on #173
@pbearne should this issue go within the [Measurement] focus area? If so I'm happy to add it to the Backlog there.

[2022-02-16 17:03] luisherranz opened #176 "Partytown support"
# Description

I'm opening this issue to discuss how WordPress could take advantage of Partytown to improve its performance.

## What is Partytown?

[Partytown](https://partytown.builder.io/) is a library to execute scripts inside a Web Worker and off the main thread. Its main goal is to increase the site's performance freeing the main thread by offloading non-critical scripts to a Web Worker. It

[2022-02-16 20:09] eugene-manuilov commented on #90
@felixarntz let's use this script to create an npm script that will replace `@since n.e.x.t` tags with the actual version. I can prepare a PR for it.

[2022-02-16 21:29] felixarntz commented on #90
@eugene-manuilov +1. Would be great to also update the release documentation as part of that PR, to use the new script you're introducing (rather than manually search+replace).

[2022-02-16 23:22] pbearne commented on #173
@eclarke1 and/or health reports

[2022-02-17 09:19] kirtangajjar commented on #175
@felixarntz I'm willing to work on this. Can you please assign it to me?

[2022-02-17 09:34] eclarke1 commented on #173
We don't have a focus area for Health Report (unless I am mistaken!) so if ok with you I will pop in Measurement for now. Thanks.

[2022-02-17 09:36] eclarke1 commented on #175
@kirtangajjar assigned to you and added to the 'Infrastructure' project. I have put the issue in To Do and removed the 'Needs Dev' label as you are picking this up. Thanks so much.

[2022-02-18 09:35] eclarke1 commented on #176
@aristath @sgomes I have added this new issue to the [JavaScript] focus area, but please do let me know if this is not accurate. Added to Backlog for prioritisation.

[2022-02-18 12:07] spacedmonkey commented on #81
Merged in https://github.com/WordPress/wordpress-develop/commit/c98f4c04db13a1c3db14345db4cff116dd01bf51

[2022-02-18 12:08] #81 closed, assigned to tillkruss

[2022-02-18 12:27] kirtangajjar commented on #61
@felixarntz I see this issue has a "Needs Dev" label. I would like to take up this issue if you're fine with it.

cc @eclarke1

[2022-02-18 12:30] kirtangajjar commented on #90
@eugene-manuilov Since you're planning to work on this, can you please remove the "Needs Dev" label?

It will be helpful for others who are filtering issues on Github looking for things to work on :)

[2022-02-18 14:33] felixarntz commented on #61
@kirtangajjar Awesome! Assigned the issue to you, feel free to ping me on the PR for review as well.

[2022-02-18 14:36] felixarntz commented on #90
@kirtangajjar IMO it's okay to keep the `Needs Dev` label on an issue until a PR has actually been started, or maybe even completed. It's still possible to filter to only find issues that nobody is working on yet, by filtering only issues that have no assignee: https://github.com/WordPress/performance/issues?q=is%3Aopen+is%3Aissue+label%3A%22Needs+Dev%22+no%3Aassignee

[2022-02-18 14:41] felixarntz commented on #133
Leaving an update here on the state of the WebP module: We still have the vote going on from https://github.com/WordPress/performance/issues/133#issuecomment-1040525560 which ends March 1, but there is a chance that the essential parts of the `webp-uploads` module that facilitate the creation of both JPEG and WebP sub-size images will even be completed before then. The two particular issues that n

[2022-02-18 14:52] felixarntz commented on #144
@sudeep510 I personally like your first main logo variation from https://github.com/WordPress/performance/issues/144#issuecomment-1031619957. One question there: What is the shade of blue you're using there? Could you maybe create a version that uses the exact same blue that the WordPress logo uses? I'd be curious to see a version like that.

For the banner variation, maybe something like your ban

[2022-02-18 16:52] sudeep510 commented on #144
Hi @felixarntz The black and blue version of the logo is already using colors from [WordPress branding](https://make.wordpress.org/design/handbook/design-guide/foundations/colors/). Here are a few more variations:

**[With WordPress logo colors:](https://make.wordpress.org/marketing/handbook/resources/style-guide-and-brand-book/#color-palette)**

![logo colours](https://user-images.githubuserconte

[2022-02-20 14:00] Stevemoretz commented on #19
Was looking for this all over!

[2022-02-20 16:32] erikyo commented on #144
@sudeep510 my suggestion is to move the center of the cruet to make it perfectly aligned with the center. Something like this... what do you think? (first-your version with P internal circles shape reduced, second your version with alembic circle shape expanded, third is the proposal with the centered cruet)
![PPP](https://user-images.githubusercontent.com/8550908/154852953-831a60ad-bb71-4f8c-9c82

[2022-02-21 03:49] dainemawer opened #179 "Provide Insight into 3rd-party Scripts"
## Feature Description

As an end-user it would be incredibly useful to see just how many 3rd-party scripts are loading on the site.
3rd-party scripts can be a huge bottleneck when it comes to performance. They're also very difficult to diagnose at times.

My suggestion is that we offer the user some recorded data in the Site Health widget, which potentially contains:

1. The number of 3rd-party s

[2022-02-21 03:54] dainemawer opened #180 "Add Lighthouse / bundlesize to WP VIP Pipelines"
## Feature Description

Not sure if this is the most suitable place to add this ticket, but I thought I would add it anyhow.

It would be great to see an update in the continuous integration for VIP sites that tracked the [bundlesize](https://www.npmjs.com/package/bundlesize) of assets as well as ran [Lighthouse reports](https://github.com/GoogleChrome/lighthouse-ci) on pull request. This is a rel

[2022-02-21 04:01] dainemawer opened #181 "Remove root style.css"
## Feature Description

Historically, theme meta data has been added through an empty `style.css` file placed in the root of the theme.

With the addition of `theme.json` this seems a little redundant now. Every WP site currently makes a request to the empty `style.css` which is at the very least a server request and a CSS file to parse, even though there is generally no CSS to be found in the fil

[2022-02-21 04:06] dainemawer opened #182 "Disable Excess WP Head Requests"
## Feature Description

We came across this a while back at 10up, and have included a file through `functions.php` that helps get rid of some files that users may not want to be loading on page load. We dubbed it `overrides.php` and it can be found [here](https://github.com/10up/wp-scaffold/blob/trunk/themes/10up-theme/includes/overrides.php).

The functionality of this files disables Emoji Suppor

[2022-02-21 11:01] eclarke1 opened #183 "[Object Cache] Overview"
## [Object Cache] Focus Area Overview

### Point of Contact
@tillkruss @spacedmonkey

### Focus Area Overview
To be added

### Key Documentation
- TBC

### Epics
Below is a comprehensive list of all high-level projects to be completed within the [Object Cache] Focus Area:

- #34
- #35
- #105
- #38
- Improve core object cache implementation  **_(no associated GH issue yet)_**
- SQL query caching  *

[2022-02-21 11:03] eclarke1 commented on #183
@tillkruss @spacedmonkey as per last weeks Slack chat, I've created an 'Overview' issue to capture the high-level projects / epics from the [original Google Doc](https://docs.google.com/document/d/1IbxskyHVcRi_PKeSR10IIeO5y9cuR32Gh8Zqx7ddIZ8/edit)
Please let me know if any are missing, happy to help maintain this overview issue to help bring visibility to the wider group :)

[2022-02-21 13:44] sudeep510 commented on #144
Thanks @erikyo for the suggestions. I will make the changes before sharing the final design files, once the design is approved.

[2022-02-21 14:11] eclarke1 opened #184 "[JavaScript] Overview"
## [JavaScript] Focus Area Overview

### Point of Contact
@aristath @sgomes

### Focus Area Overview
To be added

### Key Documentation
- TBC

### Epics
Below is a comprehensive list of all high-level projects to be completed within the [JavaScript] Focus Area:

- #168
- Others to be added from the [original Google Doc](https://docs.google.com/document/d/1GD0X3bNUa73Afsi8OZjrSDb0VfEgDg-PLlBvw5aL-s

[2022-02-21 14:13] eclarke1 commented on #184
@aristath @sgomes as per last weeks Slack chat, I've created an 'Overview' issue to capture the high-level projects / epics from the [original Google Doc](https://docs.google.com/document/d/1GD0X3bNUa73Afsi8OZjrSDb0VfEgDg-PLlBvw5aL-sc/edit#)
Please let me know if there's anything I can do to support transferring those projects from the Google Doc to here to help bring visibility to the wider group

[2022-02-21 14:18] eclarke1 opened #185 "[Site Health] Overview"
## [Site Health] Focus Area Overview

### Point of Contact
Seeing 1-2 POCs; please tag @eclarke1 here if interested

### Focus Area Overview
To be added

### Key Documentation
- TBC

### Epics
Below is a comprehensive list of all high-level projects to be completed within the [Site Health] Focus Area:

- To be added from the [original Google Doc](https://docs.google.com/document/d/1RAqArmU4yQwyXI_

[2022-02-21 14:19] eclarke1 commented on #185
@audrasjb as per last weeks Slack chat, I've created an 'Overview' issue to capture the high-level projects / epics from the [original Google Doc](https://docs.google.com/document/d/1RAqArmU4yQwyXI_IrOCYwsuj7kTE1c0i2u8SVQcc72I/edit?usp=sharing)
Please let me know if there's anything I can do to support transferring those projects from the Google Doc to here to help bring visibility to the wider gr

[2022-02-21 14:27] ThierryA commented on #144
Great to see proposals flowing on this issue, thanks to everyone involved so far. A few other folks have showed interest in contributing to the branding exercise so I encouraged them to chime in this issue and also have the opportunity share their creative approach/questions, design etc. as well.

[2022-02-21 15:40] tillkruss commented on #183
@eclarke1: Please do. I'll make sure to keep the project board and labels up-to-date.

[2022-02-21 18:38] felixarntz commented on #159
@mitogh @adamsilverstein WordPress core currently uses an on-demand approach to generate missing sub-sizes via WP AJAX on retry. Per the implementation from #142, that should also work reliably for the additional WebP sub-sizes. I'm not sure I understand what _performance_ benefits or even reliability benefits using the WordPress REST API would bring here.

I agree that using the REST API would ce

[2022-02-21 18:48] felixarntz commented on #174
@mitogh #122 was opened based on the current implementation where all sub-sizes are only created in one version (e.g. WebP), while the original image is remaining in the original format (e.g. JPEG).

But now, given we're working towards keeping JPEG available for all sizes and using WebP _in addition_, this may still be a relevant issue, it doesn't conflict with #122.

@adamsilverstein I wonder th

[2022-02-21 21:44] mitogh commented on #149
Hey @eugene-manuilov just a heads up this one already has a PR open:

- https://github.com/WordPress/performance/pull/152

In case you want to use it as a base or take some ideas from there :)

[2022-02-22 00:15] erikyo commented on #149
@mitogh want to share with you a plugin (never published) that has maybe some function that you might be interested in....

This is the filter with which I analyze in content and replace images, additionally adds a "count" to each image to let the user to decide how many image without lazyload:
https://github.com/erikyo/easylazy/blob/40e928a446449916ad10f41d10268b94eec949dc/webp-lazyload.php#L93

[2022-02-22 01:40] mitogh commented on #149
Awesome thanks a lot for sharing your work with us @erikyo this is really helpful and would provide us with some ideas for sure. I will take a closer look.

`image_accept` is for sure a good improvement fur now I think the idea would be to not rely on it but as we move forward the idea would be to integrate it with some balance between server and client hints for detection.  More details here http

[2022-02-22 01:55] mitogh opened #186 "Select the smaller image size from the list of available sources"
## Context

Every image metadata would contain a `sources` property for every single size available. The property is an associative array where each key on the array represents a mime type and each value on the array would be an associative array with 2 properties on it, the `file` and `filesize` of each mime type. For instance, this would like the following data for the `medium` size

[code]

The

[2022-02-22 09:52] erikyo commented on #149
About "image_accept" I know that there are some disadvantages (such as https://github.com/WordPress/performance/issues/149#issuecomment-1030192647 or even the old browser with a partial support for webp) but when I had chosen to use that way [it seemed to me the best method](https://developers.google.com/speed/webp/faq#server-side_content_negotiation_via_accept_headers) because the headers are ava

[2022-02-22 12:24] dainemawer commented on #21
@adamsilverstein I will take a look at this for you!

[2022-02-22 12:44] rwlands commented on #144
Thanks @ThierryA and hey everyone. Myself and a couple colleagues are designers and we're keen to collaborate and see how we can contribute to the community. We've been looking at your concepts and taken some inspiration for our own explorations. We should have some concepts to share in the next couple days. We'd love to take your feedback and see if we can help with creative input.

[2022-02-22 15:03] #90 closed, assigned to eugene-manuilov, adamsilverstein, felixarntz

[2022-02-22 15:19] adamsilverstein commented on #176
Thanks for this proposal @luisherranz...  cc: @westonruter who maintains the PWA plugin

[2022-02-22 16:18] mitogh commented on #142
Ready for review:

- https://github.com/WordPress/performance/pull/147

Please take a look at the code above and provide any feedback on the code or the feature itself, give it a try locally and let us know in case something is not working as expected.

[2022-02-22 16:27] adamsilverstein commented on #159
Note that core already provides a REST API endpoint that will generate missing image sizes: https://github.com/WordPress/wordpress-develop/blob/ecf1d6a158c70dd7f10cc42c4b26ecb0fb22bb59/src/wp-includes/rest-api/endpoints/class-wp-rest-attachments-controller.php#L375-L386 (/post-process-item with `create-image-subsizes` parameter). I expect this endpoint is used by uploads within Gutenberg.

[2022-02-23 20:15] felixarntz opened #187 "Allow developers to tweak which image formats should be used"
#142 changes the default implementation of the `webp-uploads` module to generate WebP versions _in addition to_ JPEG versions for all sub-sizes of an image. This was decided in #96, replacing the original implementation from #4 where only WebP versions would be generated.

It has already been established that we would still like to provide developers with the flexibility to make their own decision

[2022-02-23 20:35] felixarntz commented on #187
@adamsilverstein @mitogh I'd like to suggest the following here:
* We already have a filter `webp_uploads_supported_image_mime_transforms`. That filter exists only to control in what _additional_ MIME types image sub-sizes will be generated, based on the MIME type originally uploaded.
* That filter allows us to generate JPEG and WebP sub-sizes for JPEG uploads, as well as to generate WebP and JPEG

[2022-02-24 18:47] #130 closed, assigned to kirtangajjar

[2022-02-24 20:07] felixarntz commented on #142
Reopening because support for the retry mechanism still has to be added (already underway in #188).

[2022-02-25 13:17] mxbclang commented on #185
@eclarke1 I've removed @audrasjb as the POC here and added a note that we're seeking new POCs.

[2022-02-25 13:49] eclarke1 commented on #8
@mitogh @felixarntz can this issue also be closed as my understanding was that #147 also covered this issue? Please could you confirm?

[2022-02-25 15:53] mehigh commented on #86
Have done the tests and covered the potential caveats I could think about, and this is passing with flying colors, as the lab+local tests have contradicted some of the conclusions I've drawn after reading the [specifications](https://html.spec.whatwg.org/multipage/embedded-content.html#dom-img-decoding).

Full result of the research posted on Trac :
https://core.trac.wordpress.org/ticket/53232#com

[2022-02-25 15:54] mehigh commented on #86
Existing PR to core:
https://github.com/WordPress/wordpress-develop/pull/1853

[2022-02-25 16:36] mitogh commented on #8
That's correct @eclarke1 I wonder if we should create a new one to move the efforts from emerging the original PR into core at some point or if we should do it once the whole feature is merged there.

- https://core.trac.wordpress.org/ticket/49412

[2022-02-25 18:06] rwlands commented on #144
Hi Everyone,

So this week we focused on exploration, getting some inspiration and settling on three distinct directions we take the branding in. Next week we want to refine down to our best ideas and take on your feedback so we can take a bit more of an exploration for colour / wordmark and how the logo would work on the plugins page and other uses.

We wanted to show you work in progress and che

[2022-02-25 19:14] felixarntz commented on #142
Fixed via #147 and #188 🎉

[2022-02-25 19:14] #142 closed, assigned to adamsilverstein, mitogh

[2022-02-25 19:21] adamsilverstein commented on #174
We need the full sized web- to generate correct markup when the user selects a large image, see https://github.com/WordPress/performance/pull/152#issuecomment-1051118813

[2022-02-25 19:36] adamsilverstein commented on #174
I updated this ticket's title and description to more accurately describe the issue: we need to generate the "Full" sized image as a WebP in all cases (small or large image) when we are generating WebPs. For larger images this is the `-scaled` image, otherwise its just the original image we need a WebP version of.

[2022-02-25 20:37] felixarntz commented on #61
@kirtangajjar Any update on this one? Since it was assigned to you a week ago, it would be great to have a PR to review, especially since this is blocking the initial plugin release.

If you don't have capacity to do it, no worries at all - just please provide an update here.

[2022-02-25 22:30] felixarntz commented on #174
Marking this as `Needs Dev` - a PR for this can be started anytime, since the dependency of #142 is now completely implemented.

[2022-02-25 22:33] felixarntz commented on #22
@adamsilverstein @mitogh @eclarke1 Now that we have a clear goal on #174, I've moved that to the key enhancements, and I've broken them apart with one more section for the next plugin release. I think #174 and #187 are the top priorities once #149 is completed (PRs for all of them can already be started at this point though), since they substantially affect the overall implementation.

#158 is als

[2022-02-25 23:27] westonruter commented on #86
@mehigh Amazing and thorough research!

[2022-02-25 23:31] westonruter commented on #86
I suppose the next question would be: should there be a way for site owners to selectively turn off `decoding=async` as they can for `loading=lazy`? In your research you found no downsides, then perhaps not?

[2022-02-26 00:26] mitogh commented on #174
Taking over this one as I think I have a good idea of how we can implement it on top of what we already have in place. :)

[2022-02-26 08:51] kirtangajjar commented on #61
Hey @felixarntz, I was mostly busy with other tasks I had this week. I was unaware that this is task was a blocker for the initial plugin release. If I knew about it, I would've prioritised accordingly.

I still managed to create a POC in my local environment in which non-experimental modules get activated by default and it's working for me. I was going to create a PR on it, but I was thinking to

[2022-02-28 08:11] ThierryA commented on #144
Thanks for share the progress of your concepts 😄

I have a preference for the "Connecting the dots" concepts.

"Concept 2.0" and "Sketch Ideation"

In an idea world, banding should try to somehow transpire the fact that it is a set of "official" WordPress Core feature plugins. With that said, we can perhaps explore using WP colors in future iterations. I wouldn't say that it is a top priority, I l

[2022-02-28 08:39] dainemawer commented on #144
I quite likely the folding paper direction. Though, I do agree as the project is quite tightly-coupled to WordPress Core that it should be more closely aligned with the WordPress branding in general.

[2022-02-28 08:48] dainemawer commented on #86
It would also be good to note here that the presence of this attribute, is actually a browser hint, not something it has to commit to. It will effect the priority of tasks already set out by the browser vendor. Its still up to the browser to honour it.

I know WP doesnt support SVG uploading due to security issues, but I thought it would be good to note here that the `decoding="async"` attribute c

[2022-02-28 08:54] ThierryA commented on #144
Figured it would be a good idea to explain the rational of my preference. To me the "Connecting the dots" is the least shiny branding and the one we can iterate the most on to get closer to a "WordPress Core" like feel (especially given its flat nature). It is also quite modern and humber IMO, which is great! It will also be great for things like swag printing, playing with contrast etc.

[2022-02-28 12:34] eclarke1 commented on #8
Good question, this is something we may need to defer to @felixarntz on as there are a few other issues in a similar position I believe.

[2022-02-28 12:58] mehigh commented on #86
@westonruter
I haven't found any benefits from selectively turning off decoding async. I think the one check that we could do (nice to have, not a must) is not output the decoding attribute a second time if it's already present, let's say if someone added it already to avoid bloating the HTML.
Other than that, I din't think there's any need for a selective turn off.

Thanks for the detail @dainema

[2022-02-28 14:45] manuelRod commented on #135
@aristath can you review this PR too?

[2022-02-28 14:47] manuelRod commented on #179
Hello @dainemawer.
Points 1 and 2 were covered (indirectly) already by [this](https://github.com/WordPress/performance/issues/25)

There are a couple of follow up tasks for that one:
See [137](https://github.com/WordPress/performance/issues/137)
See [134](https://github.com/WordPress/performance/issues/134)

How can we agree/define a list of typical offenders?

[2022-02-28 15:49] felixarntz commented on #61
@kirtangajjar Let's focus only on the default active modules in this issue. While the admin pointer came up here, that is more of a separate topic IMO and we should open a new issue for it. cc @JustinyAhin

[2022-02-28 16:09] #8 closed, assigned to mitogh

[2022-02-28 16:36] kirtangajjar commented on #61
@felixarntz Please checkout https://github.com/WordPress/performance/pull/191. Added you as reviewer too :)

[2022-02-28 18:04] felixarntz opened #192 "Provide link to the plugin's admin screen in plugins list table"
For WordPress plugins that don't add their own top-level menu item to the WordPress admin menu it has been notoriously hard to be noticeable after plugin activation. The "Performance Lab" plugin adds a new submenu item "Settings > Performance", but that's obviously hard to find since it's under the existing "Settings" top-level menu item.

One way to point users to the new admin screen would be a

[2022-02-28 18:10] felixarntz opened #193 "Provide admin pointer informing about the plugin's admin screen"
For WordPress plugins that don't add their own top-level menu item to the WordPress admin menu it has been notoriously hard to be noticeable after plugin activation. The "Performance Lab" plugin adds a new submenu item "Settings > Performance", but that's obviously hard to find since it's under the existing "Settings" top-level menu item.

Displaying a WP admin pointer was suggested in https://git

[2022-02-28 18:10] felixarntz commented on #193
Putting `Needs Discussion` here, mostly to review/iterate on the suggested copy in the issue description.

[2022-02-28 18:11] felixarntz commented on #61
I've opened #193 to implement the suggestion from https://github.com/WordPress/performance/issues/61#issuecomment-1012844968

[2022-02-28 20:34] #35 closed, assigned to tillkruss

[2022-02-28 20:36] #149 closed, assigned to mitogh

[2022-02-28 23:52] adamsilverstein commented on #74
@dainemawer Excellent, thanks for doing this research! We need to document this limitation in a dev note, so this issue will be a good reference.

A follow up item here would be to _investigate existing email plugin integrations_ (eg MailChimp) to see where they pull their images from (RSS feed?).  Then we could either automatically provide a jpeg there, or at least provide a way plugins can get o

[2022-03-01 00:35] adamsilverstein commented on #187
@felixarntz 👍🏼  your proposed filter sounds right, I like the flexibility of the mime->mime array mapping.  This will also work well when we want to add support for an additional mime type like `avif`.

This could be applicable for sites that for some reason need to support clients that don't support WebP (eg. IE or older MacOS, or windows Outlook)

One caveat here is that if the server lacks WebP

[2022-03-01 02:00] felixarntz commented on #187
@adamsilverstein

Absolutely. I think that will need to be handled by the logic consuming the filter value. If the formats provided in the filter are not supported by the server, the implementation should always fall back to generating sub-sizes in the originally uploaded format, so that in any case there will be sub-sizes generated.

[2022-03-01 06:14] JustinyAhin commented on #193
The copy seems to be a solid start IMO.

[2022-03-01 11:25] rwlands commented on #144
Thanks for the feedback so far, if anyone wanted to discuss or add any other thoughts please do and we'll start working on refined options from today. I'm happy to join todays weekly call if that helps.

It's clear from discussions that we want to stay closer to the WP brand colours - we'll iterate some versions of those.

So far we can see preference toward:
- Folding paper
- Connecting dots

(Ex

[2022-03-01 12:26] ThierryA commented on #144
Thanks Tom. More refining on the 2 options above SGTM.

Weekly meeting are happening on chat in the Performance [Slack channel](https://wordpress.slack.com/archives/C02KGN5K076). @bethanylang let's add an agenda item to call this issue out for feedback.

[2022-03-01 12:38] mxbclang commented on #144
@ThierryA Done!

@rwlands [More details on joining the WordPress.org Slack here](https://make.wordpress.org/chat/). Note that it requires [creating a wordpress.org account first](https://login.wordpress.org/register). Let me know if you have any trouble.

[2022-03-01 13:13] mitogh commented on #159
Due we are using the retry mechanism in Core that would handle everything in a single request and pick up where it left we can close this one.

[2022-03-01 13:13] #159 closed, assigned to adamsilverstein

[2022-03-01 13:16] mitogh commented on #150
Closing this one as we have merged:

- #142
- #149

And we have #186 to customize the behavior for rendering the correct image.

[2022-03-01 13:16] #150 closed, assigned to nobody

[2022-03-01 13:57] mitogh commented on #187
This approach looks good to me, just a couple of notes for some scenarios that would be great to define.

[code]

This is great, however another way to make this work would be by just returning an empty array

[code]

So by doing this we let WP core to handle the logic for the images which should be the default behavior, allowing using an empty array, simplifies the removal of this behavior by jus

[2022-03-01 14:38] adamsilverstein commented on #167
This would be a good one to collaborate on with @spacedmonkey.

[2022-03-01 14:44] omarreiss commented on #144
I like the moving form top left concept 3. I would prefer a somewhat generic and flat branding that uses WordPress color palette. I feel most of these last iterations float away from the WordPress branding a little too much for my taste.

[2022-03-01 14:48] eclarke1 commented on #144
My preference is the 'Connecting the dots' sketch ideation approach, but my preference would also be towards WordPress colour palette - this one feels more simple to me.
(My second favourite is 'Moving form' sketch ideation approach but see we are trying to refine down to 2 options)

[2022-03-01 16:14] gagan0123 commented on #160
Some of this can be attributed to the CDNs providing WebP support like Cloudflare, and user does not have to do anything to start serving WebP images.

[2022-03-01 16:17] BlogAid commented on #160
What happens if the site owner deletes their current image optimization plugin and wants to return to their original images?

FYI, some of these plugins serve images from the paid service's CDN, so they are not even on the site.

[2022-03-01 16:25] gagan0123 commented on #160
Adding to what @BlogAid said, we cannot trust the images generated by third party plugins, some plugins generate on the current site's server itself, some send the images to their own server to generate WebP images and then return the files back to the site for which we can't even know what compression settings they used, were the images even generated successfully or not, also some simply keep th

[2022-03-01 16:30] mitogh commented on #160
- Original images are not removed, only additional images are generated instead.
- A filter would be added in place to disable/change this behavior. #187
- Plugin deactivation does not remove media files, only delete of the main attachment
- FYI, some of these plugins serve images from the paid service's CDN, so they are not even on the site.

Right, a filter would be in place in order to deactiva

[2022-03-01 16:39] mxbclang commented on #133
Formally [closing the vote here](https://github.com/WordPress/performance/issues/133#issuecomment-1040525560) as the WebP module has received support for generating both JPEG and WebP sizes, so this is good to go for the initial release! 🎉

[2022-03-01 17:40] pbearne commented on #38
I have created the pull request for this against this ticket https://core.trac.wordpress.org/ticket/4476
I haven't added the function cache-compat.php as I am not it is needed or if it would work as we need support from the caching layer for this

[2022-03-01 18:46] felixarntz commented on #144
I'd prefer using the WordPress color palette as well. My preference is the "Connecting the dots" approach too, second favorite "Moving form". So I guess I'm completely on the same page as @eclarke1  here 😆

I also would much prefer that we use "flat" colors and no gradients, at least for the logo mark itself.

[2022-03-01 19:26] felixarntz commented on #187
@mitogh

That could make sense, however it makes for an inconsistent API if we don't include the original format itself in the transforms values as well:
* Based on my proposal `'image/jpeg' => array( 'image/jpeg', 'image/webp' )` clearly says "I want JPEG and WebP for all JPEG". And `'image/jpeg' => array( 'image/webp' )` clearly says "I want only WebP for all JPEG".
* If we omit the original for

[2022-03-01 19:44] mitogh commented on #187
Correct, the main idea is defining that scenario, I think the behavior if a mime type is not defined basically that the `source` property won't be created for that mime type, which would be the case for a PNG or a GIF image for example. So when an empty array is returned from this filter no transformation should take place, or that would be the definition of unknown in this case.

:100:

[2022-03-01 20:10] felixarntz commented on #133
Providing an update here after today's chat:
* As discussed in the chat, we aim to publish the initial release 1.0.0-beta.1 on **Monday, March 7**. 🎉
* In advance, I will prepare the repository for that initial deployment (configure the credentials) and draft a make.wordpress.org/core/ blog post announcement for the release.
* On **Monday, March 7 at 19:00 UTC** we will have the "release party cha

[2022-03-01 20:18] mitogh commented on #167
## Suggested approach

Include a new property `source_url` for every mime type inside of the `sources` property of each image size, currently, the 2 properties available are:

- `file`
- `filesize`

This property should have a full URL to access the image resource in the same way the top-level `source_url` property for the size is accessible.

Every image size includes a dynamic property that is p

[2022-03-01 21:56] #161 closed, assigned to tillkruss

[2022-03-02 03:25] mitogh commented on #186
## Background

The information can be found on the metadata of an image using `wp_get_attachment_metadata` or directly reading the meta key `_wp_attachment_metadata`.

All image sizes contain a new property, named `sources`, this property is an array where each key on the array represents a mime for the image created for that particular size and mime. Each mime is stored as an array with 2 keys:

[2022-03-02 03:29] mitogh commented on #187
Hey @felixarntz @adamsilverstein ,

I was looking at this filter again, and just to confirm and not to create a new issue, the main idea with this filter is to control the uploads right? Not so the rendering or the image delivery to the client (browser). Meaning that currently there's no way for a user to determine which format would be delivered to the users when opening a page, besides `image/we

[2022-03-02 03:35] dainemawer commented on #21
Hi folks! I've been working on a high-level proposal for images along with @adamsilverstein - Im hoping it covers some, if not all of the topics brought up in this thread. That being said we are most definitely looking for community feedback, insight and input. The `<picture>` element is a complex beast so we should hammer down as much detail as we can.

### Summary
The proposal (attached below) p

[2022-03-02 03:43] dainemawer commented on #179
Thanks @manuelRod ! I think I will close this then - I'll open up another ticket regarding typical offenders!

[2022-03-02 03:44] #179 closed, assigned to nobody

[2022-03-02 03:56] dainemawer commented on #25
Just a quick insight on the thresholds. Not all sites are equal and to be honest, considering the versatility of WP environments, page builders etc - those thresholds are going to get gobbled up incredibly quickly. Starting a fresh theme is not equal to starting with 0kb of JS or CSS - `wp-includes` enqueues a ton of stuff by default.

It's a bit unfair on the user to assume that they would easily

[2022-03-02 04:12] dainemawer commented on #137
Just reposting this here:

Just a quick insight on the thresholds. Not all sites are equal and to be honest, considering the versatility of WP environments, page builders etc - those thresholds are going to get gobbled up incredibly quickly. Starting a fresh theme is not equal to starting with 0kb of JS or CSS - `wp-includes` enqueues a ton of stuff by default.

It's a bit unfair on the user to as

[2022-03-02 08:25] ThierryA commented on #25
It terms of how realistic the current threshold is I tend to agree with the rational @dainemawer shared. With that said, the bottom line is that user experiencing a site doesn't care if it is a large site, if it has many plugins or whatever else is making a site slow, all they care about is their experience to consume the content of a site.

Perhaps this module should be experimental initially?

P

[2022-03-02 11:15] rwlands commented on #144
Thanks again everyone for sharing your feedback. There's enough of a consensus for us to keep iterating towards a refined smaller set of options. We'll aim to share those with you tomorrow.

Since the latest polls/votes have come in it looks to be most preferences are with:
 - Connecting the dots
 - Moving form

Look forward to showing you how we progress this.

[2022-03-02 11:18] spacedmonkey commented on #167
Can you find some context on how the data is stored in post meta? @adamsilverstein

Currently I am seeing this structure.
<img width="1267" alt="Screenshot 2022-03-02 at 11 12 52" src="https://user-images.githubusercontent.com/237508/156351249-903751f8-b152-4c78-9327-b9f441e64081.png">

For compatibility, I would not change the shape of this. I would do this

[code]

To ensure no breakage with thi

[2022-03-02 16:18] adamsilverstein commented on #187
Right, I was expecting we would add a separate filter to specify the mime format to use for rendering.

[2022-03-02 19:03] felixarntz commented on #187
@mitogh

Good point raising this, and I mostly agree with your suggestion. One additional thing to consider there though is also which images formats should even be eligible to be used in the frontend unconditionally. For example, `image/avif` we wouldn't want to even consider as an option if it existed. I realize right now we only have JPEG and WebP both of which would work in the frontend withou

[2022-03-02 19:07] felixarntz commented on #186
@mitogh Overall your suggestion from above sounds reasonable to me. Since this indeed ties in deeply with #187 though, we should first make a decision on that one as well before proceeding with a PR.

I just suggested an alternative filter in https://github.com/WordPress/performance/issues/187#issuecomment-1057277268 which focuses on the _valid image formats_ for the frontend rather than just enfo

[2022-03-02 19:09] #61 closed, assigned to kirtangajjar

[2022-03-02 20:15] #192 closed, assigned to felixarntz

[2022-03-02 22:45] mitogh commented on #187
Agree to have to control the mime types one for the uploads and 1 for the formats delivered to the client.

Another consideration is how the filter for the content would affect when the `<picture>` element comes in place #21 , in that instance we could use the same filter to display all the mimes in the array for an image due when using `<picture>`  the browser will use the format that can be disp

[2022-03-02 22:52] mitogh commented on #167
Example of the meta data @spacedmonkey from an image having multiple mime-types available

[code]

That's a great approach just adding the sources as new images, we are adding a new key on the meta as you can see so when rendering the size the `sources` is still added regardless, so essentially this won't break the existing API due it does not remove any property but instead adds new properties.

[2022-03-03 00:50] felixarntz commented on #133
Important release update:
* I have branched off from `trunk` into a new [`release/1.0.0-beta.1` branch](https://github.com/WordPress/performance/tree/release/1.0.0-beta.1) and updated all relevant open PRs accordingly.
* If you are creating PRs that fix something that is critical before the beta release, please work off that branch instead of `trunk`.
* Any other PRs can be continued to be based o

[2022-03-03 04:58] mitogh opened #204 "When creating additional mime types use the original image instead of attached image."
## Bug Description

The current implementation to create images in additional mime types, the image uses the attached image, with `get_attached_file` when the image is larger a `scaled` version would be created, however, WordPress creates all the subsizes using the original image instead of the `scaled` version.

The main problem with the current approach is that in some cases won't create an imag

[2022-03-03 10:00] rwlands commented on #144
Hey there, just wanted to present back the logos with the updated 'Wordpress colours' added in.

How do people feel about the colour options?

Seeing the new colours are we able to pick out preferences for the logo mark? Personally I lean towards Connecting dots - Option C and Moving form Option A,B.

Today we're going to mockup these against the banners, merch and with the word mark as well. We s

[2022-03-03 10:09] dainemawer commented on #74
@adamsilverstein - so this has been leading me down a bit of a blurry rabbit hole.
Based on some research I've basically identified 3 types of email plugins:

1. Some provides server email alternatives to that of `wp_mail` - for instance SendGrid
2. Others like MailChimp for WordPress only really handles the tight-coupling through API's of subscription forms and lists.
3. The odd one or two allow

[2022-03-03 10:14] ThierryA commented on #144
Thanks for the new round of design, my preference in order:

1. Connecting the dot - A2 (I did also like the Shape of the P in the previous round which changed in this round)
2. Connecting the dot - B2
3. Moving form  - A2
4. Moving form  - C2

WordPress Color Palette also have the dark grey, would be great to see a variant with it (maybe grey and white for example)?

Looking forward to hear other

[2022-03-03 14:43] adamsilverstein commented on #25
I tend to agree that these thresholds are a bit arbitrary and not readily user-actionable.

I'd be fine marking this feature as experimental, my only concern with that is fewer users are likely to test the feature then: they will have to manually enable the feature rather than it being auto-activated if we make it experimental. Also, there is no chance of some adverse behavior/degradation with thi

[2022-03-03 14:53] adamsilverstein commented on #144
I'm also a fan of A2, I like the "P" shape and color.

[2022-03-03 14:57] adamsilverstein commented on #167
We should research this more by looking at how plugins (and core!) actually use this API. although the second approach doesn't change the shape of the data structure, it will introduce a bunch of new sizes and multiple mime types in `sizes` which are both new and will need to be accommodated by REST consumers. On the other hand adding a new "source" attribute as originally proposed is unlikely to

[2022-03-03 15:09] spacedmonkey commented on #167
Adding a new source property to the REST API, is changing the shape of the response by adding a new field. By adding mock image sizes like this `medium-webp`, this doesn't change the shape by just adds new sizes. New sizes should be automatically be handled by all consumers of the api, as this is already something plugins / themes do, adding new image sizes.

[2022-03-03 15:22] adamsilverstein commented on #74
Thanks for the research here @dainemawer...

Good point, RSS feeds are also used as podcasting feeds, and podcast readers can display rich media including images, so again JPEG might be better to use here.

We should dig in a little more for the exact approach; I think we should:
* Default to the jpeg mime type version for the RSS feed output when available
* Ensure RSS image calls are readily fil

[2022-03-03 16:07] felixarntz commented on #25
+1 to **marking the module as experimental**, for the following reasons:
* The thresholds may need refinement.
* The logic to detect the amount and sizes itself is still not 100% reliable.
* It's hard for end users to act upon these recommendations, e.g. they don't even know which plugin or theme is responsible for enqueuing most of the assets.

It's definitely a safer bet to go with that, and we

[2022-03-03 16:34] tillkruss commented on #144
I love the moving form ones 🥰

[2022-03-03 16:36] felixarntz commented on #133
Quick update: The plugin repository is now properly configured with the `SVN_USERNAME` and `SVN_PASSWORD` secrets to auto-deploy to wordpress.org (using the `performanceteam` account created for that purpose). So we are now technically set up for the release.

[2022-03-03 16:37] felixarntz commented on #42
See https://github.com/WordPress/performance/issues/133#issuecomment-1058240566, the repository is now correctly set up with the GitHub secrets using the above `performanceteam` account.

[2022-03-03 16:37] #42 closed, assigned to felixarntz

[2022-03-03 16:42] felixarntz commented on #144
My personal favorites in order:
1. Moving form - B2
2. Connecting the dots - A2
3. Moving form - A2

[2022-03-03 16:51] eclarke1 commented on #144
I think me and @felixarntz are nearly one person 😆 ! My personal favourites are:

1. Moving form - B2
2. Connecting the dots - A2
3. Connecting the dots - B2

[2022-03-03 16:51] mxbclang commented on #144
Favorites in order:

1. Connecting the Dots – A2
2. Moving form – B2
3. Moving form – B3

I really like the colors for the black background versions, but they don't read as "WordPress" to me, where the blue background versions do.

[2022-03-03 16:55] tillkruss commented on #144
My personal favorites in order:
1. Moving form - B2
2. Moving form - B1
3. Moving form - B3

[2022-03-03 17:44] sudeep510 commented on #144
Hi all,
I worked on a few more variations for the logo. I stuck with WordPress colors and the inspiration for this is based on the preferences and ideas shared in the above comments.

![Frame 1](https://user-images.githubusercontent.com/72914363/156621517-84408fa6-a71d-434a-9804-756afc8205f0.png)

Would really appreciate your suggestions on these please and maybe we could also consider teaming up

[2022-03-04 08:50] ThierryA commented on #144
Thanks for sending some more variation, Sudeep! My preference out of the batch you share would be v1 (although spacing and the balance feel a bit off). The others (IMO) all have spacing/balance and look and feel flaws. Also in terms of putting the logo in different contrasts it may be challenging with the 3 color logo as such.

+1, your feedback/preference and suggestion (similar to what Erik did

[2022-03-04 10:19] eclarke1 commented on #204
@felixarntz @mitogh is this issue ready to be developed against? Or does it need further discussion first? Just trying to clarify next steps please :)

[2022-03-04 10:21] eclarke1 commented on #187
@felixarntz @mitogh is this issue agreed on now and can begin development? Trying to understand who can pick up development of this issue along with #186 and when please?

[2022-03-04 10:24] manuelRod commented on #25
Sorry for being late the party,

- @dainemawer This module ignores wp-includes by default, I chose to do so to avoid the same concerns you have.
- I also agree that these thresholds are a bit arbitrary, and realistically speaking I'm sure >90% of the sites will trigger the warning, so you are right it can get a bit pointless if people just ignore it.
- Said that I'm not totally sure if marking thi

[2022-03-04 12:10] eclarke1 commented on #144
Personally I feel the new logos added here https://github.com/WordPress/performance/issues/144#issuecomment-1058314653 are drifting slightly further away from the simplistic forms shown here https://github.com/WordPress/performance/issues/144#issuecomment-1057876398

Out of all these together, I still prefer the simpler forms shown in:

1. Moving form - B2
2. Connecting the dots - A2

[2022-03-04 13:39] swissspidy commented on #144
"Connecting the dots - A2" really caught me eye. I think it would work very well, even when changing colors depending on context. So +1 from me on that one.

[2022-03-04 13:58] rwlands commented on #144
Thanks everyone for your input.

Looks like we've got some clear front runners:

Connecting the dots - A2 (7 votes)
Moving form - B2 (5 votes)

Looking forward to showing you our final concepts.

[2022-03-04 15:40] mxbclang commented on #158
@mitogh Checking in here – it looks like https://github.com/WordPress/performance/pull/154 was closed in favor of https://github.com/WordPress/performance/pull/147, which has now been merged. Is there additional work needed for this issue?

[2022-03-04 15:41] jjgrainger commented on #155
I am working on a proposal as to what changes are to be made. The [WIP document is available here](https://docs.google.com/document/d/1CSi61ky0b9A84VOYkTXCE7wfl3QUSCtuHzF78T3t0CU/edit#) and open to early feedback.

[2022-03-04 15:41] mxbclang commented on #160
👋 @mitogh Can you confirm that we have a planned approach here and are ready to begin development? If so, are there any dependencies to be aware of and what's the LOE for this work? Thanks!

[2022-03-04 17:02] mitogh commented on #204
For the most part this is ready for development @eclarke1 , on thing we need to discuss is how to go about this section:

This can be handled as a secondary issue, but this is very closely related to #109 so we can follow the conversation from that area.

Another related tickets to this work (not a blocker) are:

- #186
- #187

[2022-03-04 17:17] mxbclang commented on #204
Thank you, @mitogh! To clarify, since this issue (#204) is required for the next plugin release, should #109 also be added as a requirement for the next release?

[2022-03-04 17:31] mitogh commented on #204
Agree that makes total sense. @bethanylang, unless @adamsilverstein  thinks otherwise.

[2022-03-04 17:36] mitogh commented on #158
Great question @bethanylang yes #154 was closed due we are using a different mechanism now, the work for this ticket still needs to be implemented as the previous #154 was using an approach that at the end was not used. #147 only has a foundation when an image is uploaded, the work remaining for this ticket is to make sure the same structure is followed when an image is edited.

I've updated the l

[2022-03-04 17:39] mitogh commented on #160
For this one we are in the exploration phase still reviewing more plugins, the idea for this is based on the data collected from the plugins this week we can have a design proposal for how we can go about this one next week, once we have a design document we can discuss how we can go about the implementation detail and create tickets for that work, but at this point, the current of this stage is t

[2022-03-04 17:44] mitogh commented on #187
I think we are closer to a final decision @eclarke1  but just wanted to loop back to this one:

- https://github.com/WordPress/performance/issues/187#issuecomment-1057469417

In case @felixarntz has any concerns/comments before we move into the implementation phase.

[2022-03-04 17:58] rwlands commented on #144
Hey all, just in time for the weekend. Wanted to share with you our final designs for the end of this week.

We wanted to start by saying we're very conscious that others have also put forward their own concepts in the thread, these have served as our inspiration - so credit to those of you.

We've selected 3 concepts and included the typographic lockup, and shown how it could come together with t

[2022-03-04 18:11] erikyo commented on #144
I really like the third one, but I would love it with a logo colored (and not black, may even a colored outline could be cool)! But please note, [the payoff is not recommended because it cannot be translated](https://github.com/WordPress/performance/issues/144#issuecomment-1029085065)

[2022-03-04 18:12] mxbclang commented on #144
I honestly can't decide if I like 1 or 2 better! I think I'm leaning _slightly_ toward 2.

[2022-03-04 19:54] adamsilverstein commented on #187
This seems sufficient and intuitive to do it this way - the order of the types in the array should match what is used in the `picture` sources elements (as long as the requested type/image is available).

[2022-03-04 19:57] adamsilverstein commented on #187
+1 to an additional filter here. instead of '...valid_content_image_mimes' maybe '...output_content_image_mimes' - since it is more about what we output, right?

[2022-03-04 20:06] adamsilverstein commented on #167
The difference here is these new "sizes" are **actually the same size** (duplicates) as the existing sizes, they are different mime types.  They aren't really new sizes and that will lead to unexpected results.

Consumers of the API may actually get unexpected results based on expecting a set of unique sizes. For example, if you are constructing a `srcset` attribute for an `img` tag in a headless

[2022-03-04 20:18] felixarntz commented on #25
Pasting my reply from https://github.com/WordPress/performance/pull/205#issuecomment-1059488955 in here, so that we can follow up on the conversation here as needed:

Indeed this module wouldn't break anyone's site, but IMO the main point for marking this as experimental is that it's still in an earlier stage of development compared to the other modules. There are still foundational iterations hap

[2022-03-04 20:25] felixarntz commented on #144
@rwlands Thank you for these iterations!

My personal favorite is concept 2, followed by concept 1.

One general point of feedback that would apply to either: For the banner design, it would be great if we could remove the text there entirely and leave it to containing only shapes and the logo mark. Putting text in the banners is discouraged for accessibility reasons (it's impossible to put an alt

[2022-03-04 20:44] felixarntz commented on #187
Providing some responses to the additional feedback here:

* +1 on relying on the order of the MIME types in the filter for content image MIMEs.
* +1 on not using the term "valid" for the content filter name. IMO we could just remove it instead of replacing with "output". I'd argue the term "content" is sufficient and denotes that it refers to image usage in frontend content, e.g. "the_content".

[2022-03-04 21:38] ThierryA commented on #144
I have a **strong** preference for concept 1 (and 3). I can see how we could do cool stuff/variation with the "P" branding like the the outline in concept 3, nice for swag, banners etc. and personally feel that the dot/bubble branding is very common. I also think that concept 2 icon will be more challenging to use in various context, for example on a white (or other color) bg unlike the P concepts

[2022-03-06 13:53] dainemawer commented on #74
Makes sense @adamsilverstein - I'll take a stab at an approach tomorrow :)

[2022-03-07 04:04] dainemawer commented on #144
I quite like Concept 2 - I think its stronger in visual communication around "performance". Both "P" concepts to me don't really tie back to WordPress all that much, except for the colours. The "experimental" bubbles, to me, feel like an addition to Dashicons, which I think is a nice coincidence :)

[2022-03-07 05:21] dainemawer commented on #74
@adamsilverstein - so based off of some further research, it sounds like there is a bit of work to do here:

### WordPress Feeds
As we know, WP supports multiple feeds: RSS, RSS2, RDF and Atom.
Im not entirely sure what the main differences are, but Im guessing if WP supports it in core, we should ensure the functionality remains intact.

### Hooks / Filters
There are a number of hooks and filters

[2022-03-07 05:23] dainemawer commented on #193
Closing this out as it has been merged into the first release :)

[2022-03-07 05:23] #193 closed, assigned to dainemawer

[2022-03-07 05:27] dainemawer commented on #10
@felixarntz @ThierryA @adamsilverstein @AymenLoukil - I have a minor proof of concept ready here, but I just want to make sure that this is something we actively want to pursue, considering where we currently are with images overall? This feature is blurring the lines between what Lighthouse does pretty well already in terms of flagging images, so I guess my question is - should we rely on Lightho

[2022-03-07 12:40] mxbclang commented on #204
Thanks @mitogh. I've added #109 for to the list for the next release in #22. @adamsilverstein Let me know if you disagree.

[2022-03-07 12:42] mxbclang commented on #109
@mitogh Is it okay to assign this one to you since it's related to #204?

[2022-03-07 16:35] felixarntz commented on #167
@spacedmonkey Also noting that this storage has already been decided on for the metadata itself, we shouldn't add more sizes since these aren't additional sizes, but additional _formats_ (or MIME types). We have considered this approach at an earlier point, but it came with more problems than benefits.

The way the new data is stored will require plugins to update _if_ they want to use the new for

[2022-03-07 17:20] mitogh commented on #109
I think this one might be more appropriate to assign to @getsource since he is working on this one.

[2022-03-07 18:18] mitogh commented on #204
Thanks @bethanylang I've cretead a PR for this issue and moved into _Review_ column.

[2022-03-07 18:38] mitogh commented on #187
Agree with those names.

Agree order of mimes should be enough here.

Great idea, simplifying the structure would remove complexity and makes things easier to understand.

[2022-03-07 19:31] #133 closed, assigned to felixarntz

[2022-03-07 19:41] mxbclang opened #209 "Auto-delete head branches after PRs are merged"
Per [discussion in Slack](https://wordpress.slack.com/archives/C02KGN5K076/p1646681493753469), this is an issue to decide if we want to [set branches to auto-delete](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-the-automatic-deletion-of-branches) when their PRs are merged, or instead rely (as we have been to dat

[2022-03-07 19:44] tillkruss commented on #209
I did enable this earlier today while cleaning branches (before this was posted). We can revert this if needed.

[2022-03-07 20:32] adamsilverstein commented on #187
I was referring to the indexes of a regular array

+1 on names, sounds good!

[2022-03-07 20:38] felixarntz opened #213 "Prepare 1.0.0-beta.2 release"
Now that the [initial release is out](https://make.wordpress.org/core/2022/03/07/the-performance-lab-plugin-has-been-released/) (🎉), it's time to plan for the next one: `1.0.0-beta.2`. See #133 for the similar task for the previous (initial) release.

This issue acts as an overview for the release preparation.

Here are the relevant tasks:

* [x] Revise release preparation approach based on issues

[2022-03-07 20:47] felixarntz opened #214 "Update release documentation to separate release branch creation from release day process"
As the initial release has shown (see #213), there were a few problems with the release process originally defined in #131. Most importantly, we need to change the branching strategy a bit, to properly allow for creating the release branch ahead of time, which is necessary to not block merging of other PRs ready for `trunk`.

That release branch was already created early for the initial release, w

[2022-03-07 20:49] felixarntz commented on #209
This is related to #214 - we need to iterate on the release branching strategy so that auto-deleting branches wouldn't also delete the `release/**` branches (which would happen today when merging back into `trunk`).

[2022-03-07 20:52] felixarntz commented on #135
Fixed via #136

[2022-03-07 20:52] #135 closed, assigned to aristath

[2022-03-07 20:53] erikyo opened #215 "Not necessary singular/plural translation"
## Bug Description

Some singular and plural translation in Site Health are not necessary or misleading. if a user finds this message he should think about removing some style/scripts before minifying them.

## Steps to reproduce

1. You must use a single css file and a single js file
2. Navigate to the dashboard under site-health
3. You should find a message like "Your website enqueues 1 style (s

[2022-03-07 21:25] gagan0123 commented on #209
I'd like to add that in case something does not work after the merge, its usually easier to do a diff of branches and see what could be the potential cause without much effort. I'm also in favor of keeping least number of branches so as to avoid any confusion. Could it be possible to simply delete the branches that have been merged **after 1 week** instead of instantly?

[2022-03-07 22:45] swissspidy commented on #215
As mentioned on Slack, this **_is_** necessary for certain languages with more complex plural forms, such as for example in Russian, where the singular form is also used for counts like 21, 31, etc.

This is not a bug.

[2022-03-07 22:46] swissspidy commented on #209
@felixarntz Then you should mark those branches as protected

[2022-03-07 22:49] mitogh opened #216 "Update Workflow to deploy to WordPress.org"
## Feature Description

The current deployment would be executed when a tag is `released` or `prereleased`

- https://github.com/WordPress/performance/blob/trunk/.github/workflows/deploy-dotorg.yml#L6-L7

From the [docs](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#release):

Same from the docs as well:

Based on the current workflow to deploy the `published` ev

[2022-03-07 22:52] #215 closed, assigned to nobody

[2022-03-07 22:58] mitogh opened #217 "Introduce `.gitattributes` in favor of `.distignore`"
## Feature Description

The current release zips created by GH everytime a new tag is created includes files that are not part of the release, for example:

- https://github.com/WordPress/performance/archive/refs/tags/1.0.0-beta.1.zip

Contains tests and configuration files, non required for testing or usage of the plugin.

![2022-03-07_16-43](https://user-images.githubusercontent.com/3921289/1571

[2022-03-08 00:23] felixarntz commented on #187
Thanks for the additional feedback! Based on these recent comments, it looks like we have a path forward here. Summarizing the engineering requirements here:

* Replace the `webp_uploads_supported_image_mime_transforms` filter with a new filter `webp_uploads_upload_image_mime_transforms`. The filtered default value should be the same as it is now, except that both entries now also need to include

[2022-03-08 12:46] rwlands commented on #144
Thanks for the feedback all. No clear stand out amongst the options yet. Options 2 is slightly ahead of option 1. So we could take those forward into the final exploration.

@ThierryA in response to your request we've shown concept 2.0 now as well. we should try narrow our vote between option 1,3,concept 2.0 - for second place.

Although many WP plugins do use EN text in their banners, we can appr

[2022-03-08 13:24] mxbclang commented on #144
I still prefer concept 2, but if we're committed to using a "P," I like concept 1 best.

[2022-03-08 14:04] ThierryA commented on #144
Thanks for putting these 4 concepts together, my vote in order:

1. Concept 1
2. Concept 3
3. Concept 4
4. Concept 2

@bethanylang I suggest to socialize the latest iteration during the meeting today to get as many vote as possible.

[2022-03-08 14:18] swissspidy commented on #144
I also think that bubbles like in concept 2 are rather common, so my vote is for concept 1 still.

1. Concept 1
2. Concept 4
3. Concept 3
4. Concept 2

[2022-03-08 15:35] jeffpaul commented on #209
I concur with the enabling of the setting as @tillkruss did, otherwise it will almost certainly lead to many unnecessary branches sitting around.

[2022-03-08 15:38] jjgrainger commented on #155
The proposal for this is complete and open to feedback. [Document is here](https://docs.google.com/document/d/1CSi61ky0b9A84VOYkTXCE7wfl3QUSCtuHzF78T3t0CU/edit#).

The proposal is to add an additional `$mime_type` parameter to existing WordPress core functions to request a specific mime type for the attachment.

If the requested mime type is not available, other mime types will be checked for and

[2022-03-08 15:39] jeffpaul commented on #144
Too many cooks in the kitchen here, let's rely on a core committer's opinion and just ship Concept 1 so the released plugin at least has some design on the respective WP.org page.

[2022-03-08 15:40] jeffpaul commented on #217
Will also want to make sure that `README.md` gets added to either file as that's currently being published to WP.org (alongside the more useful `readme.txt` file), see: https://plugins.trac.wordpress.org/browser/performance-lab/trunk/README.md

[2022-03-08 15:56] gagan0123 opened #218 "Default settings not working as expected in multisite"
## Bug Description

When we install the plugin in a multisite environment and "Network Activate" the plugin, the default settings are only saved for the main site and not all the sites in the network.

## Steps to reproduce

1. Install Performance Lab plugin in a WordPress multisite environment
2. "Network Activate" the plugin
3. Check the default settings for the Performance Lab plugin in any sit

[2022-03-08 16:06] pbearne commented on #144
Concept 1
Concept 4
Concept 3
Concept 2

[2022-03-08 16:07] gagan0123 opened #219 "Default settings not working with WP-CLI"
## Bug Description

When the plugin is activated using `wp-cli` the default options are not saved.

## Steps to reproduce

1. Install the plugin either via GUI `wp-admin/plugins.php` or via CLI `wp plugin install performance-lab`
2. Activate the plugin using `wp plugin activate performance-lab`
3. Check Performance Lab plugin settings

## Screenshots

![image](https://user-images.githubusercontent

[2022-03-08 16:09] jamesozzie commented on #144
Great work all. My own preferences:
- Concept 1
- Concept 4
- Concept 3
- Concept 2

[2022-03-08 16:10] adamsilverstein commented on #17
https://github.com/myeveryheart/squoosh-browser looks very promising!

[2022-03-08 16:19] tillkruss commented on #144
- Concept 1
- Concept 2
- Concept 4
- Concept 3

[2022-03-08 16:44] getsource commented on #109
Thanks for this!
Yes, the reports I'm generating for #7 should directly apply here, at least for WebP.

I changed the image quality testing script so that it generates the sample images based on the sizes WordPress generates by default, and I'm hoping that should give us a pretty good idea of what they should be DSSIM-wise.

When I get that generated, I'll share here.

It may not tell the whole st

[2022-03-08 16:58] westonruter opened #220 "Add Site Health test for full page caching (advanced cache)"
## Feature Description

I previously reported this in trac ([#54423](https://core.trac.wordpress.org/ticket/54423)), but I'm copying it here for visibility:

Since the above was written and, after releasing the page caching site health test in the AMP plugin v2.2, it came to light that the detection was not robust enough. A major improvement followed (https://github.com/ampproject/amp-wp/pull/6849

[2022-03-08 16:59] felixarntz commented on #144
1. Concept 1
2. Concept 2
3. Concept 4
4. Concept 3

[2022-03-08 17:03] felixarntz commented on #217
@mitogh Why should we be using `.gitattributes` over `.distignore`? I'm not sure I see the benefits of that.

@jeffpaul Great catch, `README.md` should definitely be excluded as well.

[2022-03-08 17:10] zero4281 commented on #144
1. Concept 1
2. Concept 2
3. Concept 4
4. Concept 3

[2022-03-08 17:16] getsource commented on #7
I've been making good progress here, and about ready to move the branch changes into main on my fork:
https://github.com/getsource/avif-webp-quality-setting/tree/generate-with-wordpress-gd

There's documentation there now, and it should be possible to use `.env` to set up to run on environments other than WordPress' Docker development environment.

Here are a couple example reports generated by th

[2022-03-08 17:16] mitogh commented on #217
ZIPs created from a release tag contains non required files:

- https://github.com/WordPress/performance/archive/refs/tags/1.0.0-beta.1.zip

**Benefits**

- When using `gitattributes` those files won't be included on the created file instead.
- Zip from the release tag would match closely the ZIP from WP.org instead
- `gitattributes` works for the WP release action so we get both benefits in both

[2022-03-08 17:28] felixarntz commented on #217
@mitogh Good point, that makes sense to me.

So as a **summary** what needs to be done here:
* Migrate the current `.distignore` to a `.gitattributes` file (using `export-ignore`, see https://github.com/WordPress/performance/issues/217#issue-1162021106).
* Include `README.md` in that file so that it is excluded from ZIP files as well.

[2022-03-08 17:30] felixarntz commented on #219
This can be fixed together with #218, as it's the same cause for both of these problems. I'll open a PR.

[2022-03-08 17:39] adamsilverstein commented on #144
I like Concept 1 the most!

[2022-03-08 17:56] mitogh commented on #144
Concept 1 has my vote as well :+1:

[2022-03-08 19:41] felixarntz commented on #209
I have opened #221 with updated release instructions that support considering `trunk` and any `release/*` branches as protected branches, so that could use your review.

Once that is approved in some capacity, we can move ahead, protect the relevant branches and then enable auto-deletion.

[2022-03-08 20:03] felixarntz commented on #218
Activation hooks are unfortunately unreliable on certain environments like multisite or when using WP-CLI, which is a long-standing problem with WordPress core that is extremely hard to fix. Fortunately, in the case here, it is possible to remove the hook entirely and replace it by using a default value for our modules setting.

I'm currently working on a pull request to implement that, in a way t

[2022-03-08 20:06] LukaszJaro commented on #21
How well does this [article](https://cloudfour.com/thinks/dont-use-picture-most-of-the-time/) still hold up today?

Even here mentions using [srcset](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture) for resolution/bandwidth cases.

Here's a use real use case I run into and wondering if picture element would help with this:

I work with a marketer who provides me images so I can u

[2022-03-08 21:13] mitogh commented on #187
Thanks for the summary @felixarntz I agree with this approach and assigned to @eugene-manuilov so he can work on the implementation for the 2 new filters.

[2022-03-08 22:41] adamsilverstein commented on #187
@felixarntz what is the thinking behind having this array traversed in the reverse order? I was expecting the first element to be the preferred format if an image is available, otherwise the next one etc. (and I was expecting the default order to be `array( 'image/webp', 'image/jpeg' );`)

[2022-03-08 23:02] felixarntz commented on #187
@adamsilverstein I was thinking that between the two filters it would be easier to understand for developers if they need to use the same type of order for both. For the transformations filter the base format to use (typically the original format) comes first (e.g. `image/jpeg` when uploading a JPEG), so I think it makes sense to use the same order for the content filter. That also ties in with th

[2022-03-08 23:13] adamsilverstein commented on #187
Ok, that helps me understand your thinking, thanks!

I was thinking differently, that being a way for developers to _filter the output format_ they would specify the formats in the preferred order they want them to appear. For now, this would mean the `img` tag would choose the first mime type available in the `sources` array, in the future though we could expand that to support the `picture` elem

[2022-03-08 23:17] felixarntz commented on #187
@adamsilverstein These are fair points. I don't have a strong preference, but would love to hear what others think.

I'd say we shouldn't block beginning of the implementation on this though. While we can get started with PRs based on the summary in https://github.com/WordPress/performance/issues/187#issuecomment-1061277586, let's follow up on this discussion and adjust the PR as needed, which wou

[2022-03-09 03:52] dainemawer commented on #144
1. Concept 2
2. Concept 1
3. Concept 4
4. Concept 3

[2022-03-09 12:30] rwlands commented on #144
Thanks everyone the votes are in! and we've got enough to determine so we'll close votes.

We're excited to share the finished concept soon, hopefully today or tomorrow.

[2022-03-09 12:52] XVII commented on #164
This was a big performance boost for us with large improvements on large updates with 000's items.

Looking forward to seeing this make it into core.

[2022-03-09 12:59] mxbclang commented on #74
Removed Needs Dev and added Needs Discussion as it sounds like this issue is really just about the investigation of the approach for now. Once we decide on an approach, we can either change its title or close this one out and create a new issue for implementation.

[2022-03-10 00:43] mitogh commented on #155
Thanks @jjgrainger the document looks solid and defines a clear path moving forward.

I'd suggest we can summarize the 3 options and share them during the next call on Tuesday so the rest of the community can provide any concerns/feedback or vote on the different approaches, but let me know what you think about that @adamsilverstein @bethanylang @jjgrainger .

[2022-03-10 01:18] #174 closed, assigned to mitogh

[2022-03-10 01:23] #217 closed, assigned to nobody

[2022-03-10 02:32] getsource commented on #7
I ported the changes in the branches into a clean branch so that I could make a PR, to bring back to main on my repo:
https://github.com/getsource/avif-webp-quality-setting/pull/1

I’m not sure if it’d be better for me just to cherry pick the commits at this point (and what repo it'll eventually live in), but that way it’s a bit more clear what’s going on, if anyone would like to take a look.

I’m

[2022-03-10 02:37] getsource commented on #109
I posted some related reports over in https://github.com/WordPress/performance/issues/7#issuecomment-1063590918 :

[Imagick](https://docs.google.com/spreadsheets/d/1hOKHbtaS3ag1xyIi2AWMLqoov2RpiwgT5ePo8nuBk3I/edit?usp=sharing)
[GD](https://docs.google.com/spreadsheets/d/1n-ead6aea2MTIk9Dpcs0HrtfU6Z5nMSZrzgIZ220Qhk/edit?usp=sharing)

The last tab (“Quality Settings for JPEG 83”) is the most helpful

[2022-03-10 11:54] erikyo commented on #109
if you need there are some image that can be useful to check compression artifacts / degradation etc
https://sourceforge.net/projects/testimages/files/

[2022-03-10 12:05] mxbclang commented on #155
@mitogh That makes sense to me, but @adamsilverstein and @felixarntz, please confirm.

@jjgrainger Once you would summarize the options on next week's chat, I can 1) drop a comment for voting here with those summaries and ask folks to leave an emoji for whichever option they'd prefer, 2) add a Needs Decision label, and 3) set a deadline for voting, which is typically two weeks from vote start.

[2022-03-10 14:54] adamsilverstein commented on #74
@dainemawer I tested this with our current code approach which keeps jpeg images in the same meta/data locations they are currently generated, and adds WebP to output by rewriting the_content on the fly. In the default mode this means things like feeds continue to use the JPEG versions we also generate.

A few things to consider for this ticket going forward:
* When we work on adding mime type sup

[2022-03-10 15:20] adamsilverstein commented on #160
@mitogh The document you linked mostly inventories the plugins available, can you add a proposed approach there or here. What I'm thinking is:
* a filter that plugins could use to provide their own WebP images for the front end, right when we are looking for them in `the_content` replacement. plus a dev note, example of using
* a way for plugins to control image generation, probably just a dev not

[2022-03-10 15:47] mitogh commented on #160
Currently I'm working on this document and can be found at this link:

- https://docs.google.com/document/d/1DyJtBI3r5bKKjbksFKgK7SQYWVvU2kaMb4f8_oGCMpo/edit?usp=sharing

Still a work in progress but is mostly going towards what you are suggesting, so with the data from the first document, I'm working on this document to provide the next steps so we can discuss and then create actionable items.

L

[2022-03-10 16:33] felixarntz commented on #155
@jjgrainger @mitogh @bethanylang I think this topic is a bit too close to code to efficiently discuss in the chat meeting. I'd say we should rather encourage providing more feedback on the doc. Maybe we can just leave a message in the channel anytime today sharing the doc and asking for feedback and preferred approach?

I'm going to have a look today as well. @adamsilverstein Can you please review

[2022-03-10 20:43] rwlands commented on #144
Hey everyone - we wanted to share the final work on the brand in some more detail.

Our mech mockups are limited to a couple of examples at the moment, maybe someone wants to try their hand at their own merch? We might add a few more next week.

We've opened up a Figma file which includes the assets and guidelines to the identity we designed: [Click here](https://www.figma.com/file/6DNarP3c7WHHh1A

[2022-03-10 20:54] mitogh commented on #144
Thanks @rwlands looks like the file is not being shared or does not exist:

When opening the file, or maybe I need an account to view the file?

[2022-03-10 21:08] ThierryA commented on #144
Thanks @rwlands, at the moment I am also getting an error when opening the links. Looking forward to seeing it though 😊 Feel free to share it as images to this issue as well as "preview" for those who are not clicking on the links.

[2022-03-11 02:14] jeffpaul commented on #144
@rwlands on top of fixing the Figma link access, posting the images here or a direct link to them so we can get them added to the plugin would be great.  To confirm, the filename/size requirements are:
- banner-772x250.png
- banner-1544x500.png
- icon-128x128.png
- icon-256x256.png
- icon.svg

Similarly, a 1280×640px designed image would be ideal to add to this GitHub repo for cases where someone

[2022-03-11 06:01] dainemawer opened #226 "Add Asset Bundling to Plugin"
## Feature Description
At some point in the near future I think we're going to need some form of static asset (JS/CSS) bundling in the plugin. This can be achieved by adding in a relatively simple `webpack` configuration.

There is `@wordpress/scripts` which can handle asset bundling and transpiling from ES6 to ES5. Im not sure if its as versatile as a custom webpack configuration. Mainly because

[2022-03-11 08:28] PhilMakower commented on #171
Also
https://github.com/polylang/dynamo
Which is the recommended "successor" to mu plugin dynamic-no-loader
https://github.com/aucor/dynamic-mo-loader

[2022-03-11 11:16] spacedmonkey commented on #107
Merged into core - https://github.com/WordPress/wordpress-develop/commit/34d46cd5013c6433bb0e4d2b447abe162e6521d1

[2022-03-11 11:16] #107 closed

[2022-03-11 12:33] rwlands commented on #144
Hi all,

So the issue with Figma access should be resolved now.

Have uploaded a zip file to wetransfer with all the asset requests @jeffpaul
The brand guidelines are also in added as PDF.
https://we.tl/t-46rY8rzTal

Thanks a lot all for your feedback to get us here.

[2022-03-11 12:35] ThierryA commented on #144
_Edit: oops seems like Tom beat me to it by 2 mins lol, thanks Tom!_

Figma files ["Brand Guidelines"](https://www.figma.com/file/6DNarP3c7WHHh1AF64G0yp/Performance-Lab-%2F-Brand-Guidelines?node-id=1%3A66) and ["Design Assets"](https://www.figma.com/file/6DNarP3c7WHHh1AF64G0yp/Performance-Lab-%2F-Brand-Guidelines?node-id=1%3A66) appear to be working now. What an amazing result (IMO), super gratefu

[2022-03-11 14:17] mxbclang commented on #158
Noting that @kirtangajjar is taking this one on, but we've having some permissions issues that aren't letting me assign him. I'm working with the meta team to clear this up.

[2022-03-11 15:14] eugene-manuilov commented on #187
@felixarntz @mitogh here is the PR for the first part: #227

[2022-03-11 19:03] jeffpaul commented on #144
@rwlands I'm seeing the banner files are one pixel too tall (e.g. 772x251 instead of 772x250) and while I could trim the files I'd hate to trim from somewhere you might choose not to, so hoping you could check out the banner images and trim them down to match 1544x500 and 772x250 perhaps?

[2022-03-14 09:47] rwlands commented on #144
@jeffpaul Let me sort that out and reshare.
@jeffpaul I'll point you to the zip file with all the assets - https://we.tl/t-46rY8rzTal (these are the correct source rather than those added as well by Thierry). For quick use, I've added the banner here.
![Banner_772x250](https://user-images.githubusercontent.com/100207191/158157952-a744af56-a30f-4345-abc9-b77aa435f7e0.png)

[2022-03-14 12:08] jjgrainger commented on #155
Thanks all,

Just wanted to provide an overview of the [document shared last week](https://docs.google.com/document/d/1CSi61ky0b9A84VOYkTXCE7wfl3QUSCtuHzF78T3t0CU/edit#). We are looking to update WordPress core functions to provide a means to retrieve a specific mime type for an attachment.

We're currently exploring 3 options, with a potential fourth that combines some of these. The current 3 wit

[2022-03-14 15:17] #216 closed, assigned to nobody

[2022-03-14 17:18] mitogh opened #228 "Restore and backup Image sizes with sources when an image is edited"
## Description

- When an image is edited make sure that existing images are stored in the `_wp_attachment_backup_sizes` meta before applying the changes into the image.
- If the image is restored update `_wp_attachment_backup_sizes` array with the appropriate values.
- At all times the value stored in the metadata of the image should reflect the same state as the images being edited.

When the co

[2022-03-14 19:48] jeffpaul commented on #144
@rwlands the banner images in that ZIP still seem to show as 1544x501 (instead of 1544x500) and 772x251 (instead of 772x250).  Perhaps you shared the wrong link or forgot to update the new PNG files with trimmed dimensions in that ZIP?

[2022-03-14 20:31] #218 closed, assigned to felixarntz

[2022-03-14 20:31] #219 closed, assigned to felixarntz

[2022-03-14 20:32] #214 closed, assigned to felixarntz

[2022-03-14 20:36] felixarntz commented on #209
Now that #214 is completed, we can move this forward by protecting the branches and then enable auto-deletion of branches. However, I just tried accessing the settings and for some reason it looks like our access has been removed again - not sure if that was intentional for some reason or accidental. Can you check please @dd32?

[2022-03-14 21:02] felixarntz commented on #144
@rwlands Confirming that I also see the banner images from your latest ZIP in https://github.com/WordPress/performance/issues/144#issuecomment-1066577374 being 1px too tall. Also, the other banner size which is supposed to be 1880x608 is entirely different, that image is actually 2706x876.

[2022-03-14 21:26] felixarntz commented on #92
I just reviewed the PR https://github.com/WordPress/performance/pull/124#pullrequestreview-909403751, and I have some concerns about the module in its current state. While I agree it may be helpful to surface it as a problem, we also need to find ways to make warnings here actionable.

To make some comparisons here:
* For the Audit Enqueued Assets module, the end user can check in the frontend whi

[2022-03-14 21:28] jeffpaul commented on #144
For what its worth I'm unaware of any need for a 1880x608 or 2706x876 banner image so its possible those could be removed.

[2022-03-14 21:38] felixarntz commented on #213
Given that we already got a couple of enhancements and fixes completed since the original launch last week, I think it's worth shipping the second beta `1.0.0-beta.2` sooner than later. We also have our branding #144 pretty much finalized at this point, so it would be a good time to include those in the wordpress.org deployment so that our plugin repository page looks less "boring" and more appeal

[2022-03-14 22:01] #204 closed, assigned to mitogh

[2022-03-14 23:45] dd32 commented on #209
Oops, Performance team restored to Admin. Looks like I changed it accidentally when adding someone to the team.

[2022-03-15 00:31] mitogh opened #229 "Standardize structure for Site Health reports"
## Feature Description

Currently, there's no clear definition in how some things are helpful for performance and why others are being measured, setting a standard by answering a set of predetermined questions would help in making sure the metrics are meaningful for the majority of users and not just technical users.

- **Why this measure is being tracked?** Answer this question in a clear way wou

[2022-03-15 10:29] manuelRod commented on #92
Hello @felixarntz thanks for the review, I commented in the PR, but maybe here is easier to follow the discussion.

I'm open to keeping iterating and extending the functionality, but the "actionable" part of this module was thought ( or I thought ) to be used by hostings, so they can point out to their guides ( every hosting has an article on the topic ). I'm not sure though if we can get hostings

[2022-03-15 11:26] rwlands commented on #144
Looks like there was a transparent line of pixels causing the issue. Updated here - https://we.tl/t-HGznK6Gb6V

[2022-03-15 11:26] mxbclang commented on #229
Just noting that I'm happy to help with updating language!

[2022-03-15 14:29] eugene-manuilov commented on #187
@felixarntz @mitogh this is the second PR: #230

[2022-03-15 14:31] mehigh commented on #92
@manuelRod this is the top search result for the "clean up autoload" query, and is a useful and well-written article (used it myself too), which can serve as a default for a default message of

This can be overwritten by the hosts to adjust the autoloaded recommended size for the warnings, and also the message / recommended link, etc.

[2022-03-15 14:31] mehigh commented on #92
That's a good suggestion @felixarntz , having something actionable out of it.
Would the above satisfy your suggestion for action decently well to move this forward without the addition of an experimental label?

[2022-03-15 14:45] adamsilverstein commented on #86
Let's continue to iterate on the core patch, it looks close to me!

[2022-03-15 16:27] felixarntz commented on #144
Thanks @rwlands, these look all good to me, dimensions are fixed now. 🎉

Will open a PR to include the banner and icon here so that they will be deployed to wordpress.org alongside the next release.

[2022-03-15 16:48] felixarntz commented on #144
See #231 for the PR adding these assets for deployment to wordpress.org.

[2022-03-15 16:48] mxbclang commented on #92
_Please vote for an approach with a thumbs-up, thumbs-down, or heart emoji. Voting will close on **Friday, March 18 at 5pm UTC**._

* 👍 for merge this module as is and including in the next release
* 👎 for merge as experimental for now and include in this release, and address the concerns in a follow-up release
* ❤️ for delay merging until concerns have been addressed

[2022-03-15 16:58] thelovekesh commented on #226
@dainemawer IMO we can extend the Webpack config from `@wordpress/scripts` according to the use cases in this plugin. Some workaround examples can be found in the AMP plugin Webpack [config](https://github.com/ampproject/amp-wp/blob/develop/webpack.config.js) file which extends the `@wordpress/scripts` Webpack configuration.

[2022-03-15 17:06] mitogh commented on #229
Thanks, That would be really helpful @bethanylang

[2022-03-15 20:11] felixarntz commented on #92
@manuelRod

That makes sense, however the out-of-the-box core experience should also provide some level of actionable guidance. I agree the hosting providers here can help more, but we also need a foundation that works for core for the case that the filters aren't used - which realistically will be the case for a ton of sites, any sites that aren't on one of the major hosts that pay attention to W

[2022-03-15 21:05] felixarntz commented on #213
Per the Slack performance chat earlier today, the plan is to go ahead with releasing on next **Monday, March 21**. Similar to the initial release, we will have a "release party" chat where everyone is welcome to join and participate in the release process live. This meeting will take place **Monday, March 21 at 17:00 UTC** in the #performance Slack channel as usual.

[2022-03-15 21:16] felixarntz commented on #209
Thanks @dd32!

Update on the progress here:
* I have now added a branch protection rule for `release/*` that is the same to what we already had for `trunk` (e.g. branch cannot be deleted, 2 approving maintainer reviews required, all status checks on a PR must pass).
* I have re-enabled the setting to delete head branches after PR merges. Due to the above branches being protected, this should still

[2022-03-15 21:16] #209 closed, assigned to felixarntz

[2022-03-16 07:12] mehigh commented on #92
Then how about linking to several existing online resources from a wordpress.org article? They're public knowledge more than being specific advertisement for a host.

Also I think this should move forward and get merged with a paragraph recommendation without a link, and slot that link in when that reference wordpress.org article comes into existence (who should we bump to get that added to the li

[2022-03-16 10:27] Tangol opened #232 "Replace original images with the WebP ones"
At the moment, the Performance Module allows us to create WebP versions for all uploaded images which is great, but comes with an issue related to the number of files hosted, as every image will have a duplicate WebP one.

Taking into consideration that most WordPress installs are on **shared hosting**, which imposes an [Inode](https://en.wikipedia.org/wiki/Inode) limit (even premium hosts), this

[2022-03-16 12:32] mxbclang commented on #158
Noting that this has been split into two issues: this issue, to generate secondary images with edits; and #228, to update restore and backup image sizes with sources for edited images.

[2022-03-16 12:34] mxbclang commented on #186
@jjgrainger Noting per our discussion that this is ready to move ahead with engineering; let @felixarntz and @mitogh know if you have any questions on approach. Thanks!

[2022-03-16 14:15] manuelRod commented on #92
So, what about marking it as experimental, no link to anywhere, just the basic info. But trying to get the right information as a new topic in here? [https://wordpress.org/support/article/optimization/](https://wordpress.org/support/article/optimization/)
I think this would be a good article to link (when there is a topic on the matter)

[2022-03-16 14:23] adamsilverstein commented on #232
Hey @Tangol thanks for opening this issue. A couple of comments:

* While we decided to generate both WebP and JPEG for the initial release, we may transition to only generating WebP in the future. Already you (and developers/hosts) can choose to generate only WebP using a filter, we will be sure to release a mini plugin that does this as well.
* We are unlikely to introduce a core toggle for this

[2022-03-16 14:38] Tangol commented on #232
@adamsilverstein Image regeneration would actually be irreversible if my suggestion is to be implemented and the option enabled, as the original images would be deleted.
This is actually the entire goal, to give the user the option to save hosting space and keep the inode count low by removing all JPEGs and have only WebP.

Thanks!

[2022-03-16 15:37] felixarntz commented on #92
@manuelRod

That sounds great to me. My personal take would be to mark it experimental in the current state until some more guidance, either directly in the check or via a link in there, is available.

[2022-03-16 16:25] #167 closed, assigned to eugene-manuilov

[2022-03-16 16:53] felixarntz commented on #228
@mitogh Since this ties in with the already existing functionality whereas #158 is a bit more separate, it would be good to prioritize this issue here. I would argue the fact that the current implementation ignores the additional sources when backing up an image is almost a bug, while adding support for also creating additional sources for edited images is more of an enhancement. In other words, I

[2022-03-16 17:49] mitogh commented on #228
Thanks for the heads up this is the first item on my priority list so will try to wrap it ASAP and agree the work from #158 is not blocking this issue so we should be able to move forward.

Thanks.

[2022-03-17 02:26] adamsilverstein commented on #20
Closing this as a duplicate of https://github.com/WordPress/performance/issues/86

[2022-03-17 02:26] #20 closed, assigned to adamsilverstein

[2022-03-17 02:47] getsource commented on #187
Hey everyone! I read through this and based on my current understanding, if the filter is designed to allow developers to give which their preferred formats are, my preference would be to have them listed in priority order (most preferred first), similar to how the `wp_image_editors` filter functions.

It would be confusing to me to be asked by WordPress core to ”List the image format you don’t pr

[2022-03-17 10:41] manuelRod commented on #220
Hello, @westonruter I would love to take a look, you can assign it to me!

[2022-03-17 10:43] thelovekesh commented on #176
@luisherranz I would like to take this one. Can you please assign it to me?
cc: @westonruter

[2022-03-17 10:44] thelovekesh commented on #226
@dainemawer I would like to work upon this. Can you assign it to me?

[2022-03-17 14:08] adamsilverstein commented on #74
Thanks for the investigation on this ticket. No additional action is required here, so I'm going to close this out. Main takeaway is to ensure dev notes make email client limitations clear.

[2022-03-17 14:09] #74 closed, assigned to dainemawer

[2022-03-17 14:10] luisherranz commented on #176
Hey @thelovekesh, great to hear that 🙂

_I don't have permission to add assignees, but Weston or someone else will do it._

What approach are you going to follow?

[2022-03-17 15:55] felixarntz commented on #187
@getsource That makes sense of course. I think the complexity here is that there are two competing priorities:
1. For maximum backward compatibility / browser support we would prefer JPEG.
2. For the most progressive image format we would prefer WebP, eventually AVIF even more, etc.

So the question is: Based on which of these priorities do we sort the items in the filter? Right now it's based on

[2022-03-17 19:32] felixarntz commented on #92
@manuelRod Would you be interested in creating a follow-up issue to discuss and proceed with the next steps around improving the guidance of this module? Once the current PR gets merged, we should probably close this issue since it is focused on adding the module overall with its foundation.

[2022-03-18 01:00] felixarntz commented on #213
The [release branch `release/1.0.0-beta.2`](https://github.com/WordPress/performance/tree/release/1.0.0-beta.2) has now been created from `trunk`.

* Pull requests relevant for this upcoming beta should be based on `release/1.0.0-beta.2` going forward.
* Other pull requests for future releases can now continue to be merged into `trunk`.

[2022-03-18 10:05] manuelRod opened #234 "Create Autoloaded Options Core Documentation"
## Feature Description

As a #92 follow-up, as we cannot rely only on hosting using the filters to link to their own information/recommendation, we need to offer a default link with some call to action on how to solve the problem.

The consensus was we should use the following [article](https://wordpress.org/support/article/optimization/) Maybe using #autoload anchor. https://wordpress.org/support

[2022-03-18 10:06] manuelRod commented on #92
@felixarntz follow up issue created [234](https://github.com/WordPress/performance/issues/234).
Please add proper labels.

[2022-03-18 14:11] kirtangajjar commented on #158
@mitogh I've created a WIP PR at - https://github.com/WordPress/performance/pull/235

[2022-03-18 16:26] tillkruss commented on #234
Related #163

[2022-03-18 16:30] mitogh commented on #158
Thank you @kirtangajjar for getting this draft PR and for your work on this one.

Let me take a quick look so I can provide some earlier feedback.

[2022-03-18 17:01] mxbclang commented on #92
**Voting is now closed.**

Based on **4** thumbs up votes, **6** thumbs down votes, and no heart votes, we'll merge the Site Health autoloaded options module as experimental for now and include in Monday's 1.0.0-beta.2 release, and address the concerns regarding user next steps in a follow-up release.

[2022-03-18 18:03] felixarntz commented on #92
Fixed via #124.

[2022-03-18 18:03] #92 closed, assigned to manuelRod

[2022-03-18 18:18] felixarntz commented on #144
Fixed via #231 - we now have branding for our plugin, which will be deployed to the wordpress.org repository on Monday with the `1.0.0-beta.2` release! 🎉

Kudos again to @rwlands and all the other contributors who helped make this happen.

[2022-03-18 18:18] #144 closed, assigned to nobody

[2022-03-18 18:19] felixarntz commented on #187
Reopening since #230 is also a requirement for this to be completed and it's still in review.

[2022-03-18 18:48] felixarntz opened #237 "Decide on order of `webp_uploads_content_image_mimes` filter items"
Follow-up on #187: The `webp_uploads_content_image_mimes` filter that was introduced as part of that issue controls which image formats should be preferred as replacements in the frontend content (all conditional based on whether the current attachment has a version in the given image format).

Currently the items in the filter are ordered so that:
* The most backward-compatible image format (i.e.

[2022-03-18 18:53] felixarntz opened #238 "Allow controlling which image format sources in the frontend can be replaced"
Follow-up to #187: The `webp_uploads_content_image_mimes` currently controls which image formats can be used as replacements in the frontend. However, the formats that can currently _be replaced_ in the frontend are still hard-coded - at the moment it is just JPEG (specifically its extensions `jpg` and `jpeg`).

We need to implement a way so that these source image formats can also be controlled t

[2022-03-18 19:00] felixarntz commented on #22
I've updated the issue description to reflect the latest developments, particularly I broke down the remaining issues a bit more between what is a P0 for the initial core patch and what could also go into separate follow-up core patches.

[2022-03-18 19:08] felixarntz commented on #187
Fixed via #227 and #230.

Follow-up issues #237 and #238 have been created.

[2022-03-18 19:08] #187 closed, assigned to eugene-manuilov

[2022-03-18 19:40] felixarntz commented on #238
I think we can reuse the existing `webp_uploads_content_image_mimes` filter for that, we don't need to introduce yet another filter for modern image formats.

More concretely, I'm suggesting the following approach to make the sources for the replacement more dynamic:
* Run the `webp_uploads_content_image_mimes` filter _before_ matching the source URLs on the `$image`.
* Consider all `$target_mimes

[2022-03-18 19:43] felixarntz commented on #237
Based on my proposal for the other somewhat related issue in https://github.com/WordPress/performance/issues/238#issuecomment-1072745022, I am now also leaning towards changing the filter order so that the most "performant" image format comes first in the list. I agree it makes sense to sort the format preferring performance of the format over its "quality", since the filter's purpose is to use mo

[2022-03-18 21:03] felixarntz opened #239 "Define support policy for WordPress core versions and plugin modules"
As stated in https://make.wordpress.org/core/2022/03/07/the-performance-lab-plugin-has-been-released/:

Related to the above, specifically the point on module removal, it is essential that we define a policy to ensure users can rely on the plugin's functionality without having to worry that it is suddenly no longer there. In addition, we should formalize the policy for which minimum WordPress core

[2022-03-18 21:08] felixarntz commented on #239
I have created a draft PR #240 with documentation of my proposed approach for the policy. At a very high level:

* Always support at least the latest stable WordPress core version. However, the minimum version requirement should only be bumped once a feature from a newer stable WordPress core version is required for a module.
* Never remove (critical functionality from) modules after a core merge

[2022-03-19 19:02] mitogh commented on #228
This is ready for code review @felixarntz @adamsilverstein @eugene-manuilov @joehoyle

- https://github.com/WordPress/performance/pull/242

I've updated the labels and milestone for this ticket, let me know in case you have any additional questions/feedback.

cc @kirtangajjar due this is closely related with #158 as well in case you have any feedback or comments as well.

Thanks.

[2022-03-21 11:05] dainemawer commented on #229
Yeah agreed @mitogh we could probably use some direction from: https://github.com/GoogleChrome/lighthouse/blob/master/docs/plugins.md#audit-titles

[2022-03-21 11:06] dainemawer commented on #226
@thelovekesh sure - Im not sure we have any real use cases for this at the moment - as in no functionality requires JS/CSS at this point, but would be great to have this ready to be merged when we do.

[2022-03-21 11:09] thelovekesh commented on #226
Thank you @dainemawer for assigning this to me. Once we have a discussion and real use case we can go forward with adding the functionality in the plugin.

[2022-03-21 11:14] dainemawer commented on #232
@Tangol deleting all JPEGs could potentially be quite harmful. Especially when it comes to 3rd-party services consuming blog posts and data, think RSS / Atom feed aggregators / email clients / mobile apps etc, or a host of other platforms where WebP isn't supported. Ideally, we always want to ensure we have a fallback to account for these situations.

[2022-03-21 11:25] dainemawer opened #244 "Look into Client Hints"
## Feature Description
This may be a stab in the dark, but it could be a real game changer. Client Hints are a set of HTTP headers we can use to subjectively serve resources based on the users bandwidth, device pixel ratio and device type and viewport.

A client hint can be implemented in a number of different ways:

1. By setting headers on the server: `Accept: Viewport-Width`
2. Through the HTML

[2022-03-21 17:48] #213 closed, assigned to felixarntz

[2022-03-21 17:50] mitogh opened #247 "Default value on settings is not set on new installations"
## Bug Description

When the plugin is installed in a new installation, the default settings for the modules are not used but the UI on the settings reflect the usage of the default settings for each module, which would indicate visualize that the settings are `ON` but the modules are not in use.

## Steps to reproduce

1. Create a new WP installation or remove all the options of your current site

[2022-03-21 18:31] felixarntz commented on #247
The problem here is that the modules setting is only registered (via `register_setting()`) on the `init` action, but the active modules are loaded as soon as the plugin is loaded which means the default value isn't hooked into the necessary filter at this time.

We can fix this by passing the same default manually in our `perflab_get_module_settings()` function. Registering settings is expected to

[2022-03-21 18:51] felixarntz opened #249 "Prepare 1.0.0-beta.3 release"
During the `1.0.0-beta.2` release (see #213), we identified a rather critical bug where the default setting value for active modules wouldn't trigger in time for when the plugin actually loads the active modules. This means that on plugin activation, all modules behave as if they're disabled, even though the UI in the settings screen shows they are enabled. See #247.

A temporary workaround for th

[2022-03-21 21:31] Tangol commented on #232
@dainemawer I totally agree, that's why I would add this option with a note/warning that it's an irreversible process.
As the fallback functionality is implemented by default, my suggestion was aimed at offering users the option to save web server resources (physical space and inodes) by keeping only the WebP images.
And taking into consideration that the WebP support is growing, the compatibility

[2022-03-22 05:13] thelovekesh commented on #176
Sorry for the late reply @luisherranz.

I was working around an approach to show users an option, to enable _**Execute third-party scripts in Worker thread**_ .

Once it enables, enqueue the party town script in the head. Now idea is to append `type="text/partytown"` in such scripts which have `partytown` in deps array.
[code]

Expected output:
[code]

But appending the type attribute based on scr

[2022-03-22 09:28] eclarke1 commented on #220
Just added this to the Site Health project and it's currently in the backlog. I've added the 'Needs Dev' label and assigned to @manuelRod

[2022-03-22 09:29] eclarke1 commented on #229
Just adding this to the Site Health project.

[2022-03-22 11:43] thelovekesh commented on #176
I have created a POC for testing this functionality.
Partytown Plugin - https://github.com/rtCamp/wp-partytown

Steps to use these plugins:
- Install the first plugin and enable partytown support from Settings->Partytown page.
- Plugin also has some examples to test it out. Simply un-comment example files paths in the main plugin file.
[code]

https://user-images.githubusercontent.com/54371619/159

[2022-03-22 12:08] jjgrainger commented on #237
@felixarntz I have been working on issue #186 which uses the `webp_uploads_content_image_mimes` in the plugin to return an array of available mime types, ordered by filesize, with the smallest first.

The intention here is that, regardless of the mime type, the smallest filesize will be delivered as it's considered the most performant.

As it hooks into the `webp_uploads_content_image_mimes` filte

[2022-03-22 14:01] eugene-manuilov commented on #237
I agree that the order needs to be changed to use the first mime type in the list supported by an image. I have added a PR that updates it: #250

[2022-03-22 15:15] felixarntz commented on #247
Fixed by #248 - which just got merged, so the "hot fix" `1.0.0-beta.3` can go out today.

[2022-03-22 15:15] #247 closed, assigned to felixarntz

[2022-03-22 15:15] felixarntz commented on #249
With #248 merged, everything is set to publish `1.0.0-beta.3` today, to get this fix on people's sites promptly.

[2022-03-22 16:00] eugene-manuilov commented on #238
@felixarntz, just want to re-iterate my thoughts that we discussed yesterday. Do we really need to check format of the original image? If we have a replacement for it in a modern format that has a smaller size, then we can replace the image without checking its format/extension. If there is no an alternative size for an image, then we shouldn't touch it and leave as is. Does it make sense to you?

[2022-03-22 16:38] eugene-manuilov opened #252 "Clean up the package.json file"
## Feature Description

Currently, the `package.json` file contains information that is usually required for publishing npm packages on npmjs.org which is not the case for our plugin. The only needed information in the package.json file is `devDependencies` and `scripts`, everything else is redundant and can be removed to avoid a need to maintain that information in the future. Let's get rid of an

[2022-03-22 16:45] felixarntz opened #253 "Plan release path towards stable"
Today, during the performance Slack chat we discussed the topic of how many more beta releases, and then RC releases, we want to have before the eventual `1.0.0` stable. This issue's purpose is to finalize the plan. [See relevant Slack chat log for more context](https://wordpress.slack.com/archives/C02KGN5K076/p1647965634404359)

One thing that was decided was that, at least until the stable relea

[2022-03-22 16:52] felixarntz commented on #252
That works for me 👍

Let's see what others think. It's a trivial change in any case, so unless there are concerns, we can probably get that done quickly. We need to keep in mind to then also remove these two files from the release documentation.

[2022-03-22 18:20] jjgrainger commented on #155
I have updated the [document](https://docs.google.com/document/d/1CSi61ky0b9A84VOYkTXCE7wfl3QUSCtuHzF78T3t0CU/edit#heading=h.2aigy8pb1r18) with a fourth approach. This approach combines elements of the others outlined and explores creating a new `wp_get_attachment_icon()` function.

This is open and ready for review/feedback in the document.

[2022-03-22 19:56] #249 closed, assigned to felixarntz

[2022-03-22 21:02] felixarntz commented on #237
Makes sense. I've gone ahead and approved #250, needs one more approval though.

[2022-03-22 21:20] felixarntz commented on #238
@eugene-manuilov Double-checking, this would mean we would no longer rely on `preg_match` to get all URLs within the image tag, correct? From a performance perspective this feels like a wise choice.

It may not work for certain plugins that e.g. integrate with a CDN and also modify frontend URLs on the fly, but I like your approach here, specifically because it actually feels safer. This way we on

[2022-03-22 21:23] #237 closed, assigned to eugene-manuilov

[2022-03-23 15:30] mxbclang commented on #229
@mitogh @manuelRod My thoughts on how to better align the language on each of the four Site Health checks that we have so far are below. I tried to answer the questions that Cris noted above as well as align with the "voice" in the core messages. If I thought that the item title (e.g. Autoloaded options) should also be updated, I've noted that, as well.

I don't feel comfortable updating these mys

[2022-03-23 16:58] mxbclang opened #257 "Enqueued Assets check does not appear in Site Health"
## Bug Description

I've tested on multiple sites and the Enqueued Assets check never seems to appear in Site Health when activated.

## Steps to reproduce

1. Install and activate the plugin
2. Go to Settings > Performance and turn on Audit Enqueued Assets and click Save Changes
3. Go to Tools > Site Health; the check does not appear

## Screenshots

Video: https://jmp.sh/98BittW

## Additional C

[2022-03-23 16:59] mitogh commented on #229
Sure @bethanylang let's add it as a `Good First issue` and `Needs Dev` once we agreed on the wording, to see a contributor want's to jump on this one, otherwise I can take over this one in case none wants to address this issue.

For the most part, everything looks great, I have some feedback on some items so let me know what do you think.

Just to be safe this is true for most cases but not all ca

[2022-03-23 17:08] mxbclang commented on #229
@mitogh That change makes sense, thank you! I've updated.

Adding those labels now and we'll see if we have any takers.  :)

[2022-03-23 17:09] #175 closed, assigned to kirtangajjar

[2022-03-23 17:10] mitogh commented on #229
Fantastic thanks @bethanylang

[2022-03-23 21:21] felixarntz commented on #253
_Please vote on the following by **Monday, March 28, 2022**:_

**If you agree, please give a 👍 reaction. Otherwise a 👎.**
If the latter, it would be great if you could also leave a comment with some more context or an alternative proposal.

[2022-03-24 03:58] mitogh opened #258 "WebP are not created when the default editor does not support WebP"
## Bug Description

Given 2 image editors: `WP_Image_Editor_Imagick` and `WP_Image_Editor_GD` and the default is `WP_Image_Editor_Imagick` if the default editor does not supports WebP but `WP_Image_Editor_GD` it does support WebP the tests on Site Health would return that the site supports WebP, however the current implementation does handle this case instead it uses the default image editor regar

[2022-03-24 04:27] mitogh commented on #258
Adding a possible workaround for current users experiencing this problem:

This workaround is only supported on PHP 7.1 and above due the usage of anonymous functions.

[code]

[2022-03-24 12:44] OllieJones commented on #132
Here's a puzzle:  WordPress Core's schema has a mess of different `VARCHAR(250)` key columns, like `wp_options.option_name` and `wp-whatevermeta.meta_key`.    All these key columns use the utfmb4 character set. Older sites were upgraded when [4.2 rolled out](https://make.wordpress.org/core/2015/04/02/the-utf8mb4-upgrade/).

And those key columns were upgraded to utf8mb4 along with all the `LONGTEX

[2022-03-24 14:48] manuelRod commented on #220
@westonruter I believe I found a bug in the AMP implementation.
get_page_cache_headers() doesn't receive any argument, however it's using $header_value inside. [See](https://github.com/ampproject/amp-wp/blob/2.2/src/Admin/SiteHealth.php#L540).
This is making me fail some tests ( on my side at least ), I'm also trying to figure out, what's this method purpose, especially the callback part.

[2022-03-24 15:16] eugene-manuilov commented on #238
@felixarntz, I have prepared #262, do you mind looking at it? As to the CDN, I don't think it will be an issue. Changes in my PR don't modify the whole URL, we just replace the filename itself. So CDN URLs should continue working.

[2022-03-24 15:50] mxbclang commented on #257
@felixarntz wasn't able to recreate this, but @adamsilverstein and I have.

I tried to recreate today and I am now seeing the Enqueued styles check on one of my test sites, but still not seeing Enqueued scripts. On the other test site, I still don't see either check.

## Test site 1: yeziza.us.instawp.xyz

<details>
<summary>Site Health</summary>

### wp-core ###

version: 5.9.2
site_language: en_

[2022-03-24 16:59] manuelRod commented on #220
@westonruter you can take a look at my draft: [PR](https://github.com/WordPress/performance/pull/263)
Are you missing something?

As I was checking AMP code, I figured out a couple of things:
- Notice :
`[24-Mar-2022 16:40:35 UTC] PHP Notice:  Undefined variable: header_value in /Users/xxx/Desktop/development/xwp/app/public/wp-content/plugins/amp-wp-develop/src/Admin/SiteHealth.php on line 542`
[g

[2022-03-24 18:11] adamsilverstein commented on #258
Related ticket where current core implementation for editor check can fail in some cases: [core.trac.wordpress.org/ticket/54476](https://core.trac.wordpress.org/ticket/54476) / https://github.com/WordPress/wordpress-develop/pull/1918

[2022-03-24 18:50] #258 closed, assigned to mitogh

[2022-03-24 22:13] mxbclang commented on #234
@manuelRod I’m happy to work an initial draft for this!

[2022-03-24 22:23] felixarntz commented on #252
@eugene-manuilov Looks like now that I've merged the PR our CI check for JS broke somehow: https://github.com/WordPress/performance/runs/5684008563 Can you check?

[2022-03-24 22:42] peterwilsoncc opened #264 "WP image resizing can result in a larger file size than the original."
## Bug Description

Trac ticket: https://core.trac.wordpress.org/ticket/50866
Related https://core.trac.wordpress.org/ticket/36477

When an image is uploaded, WP can create a crop that has a larger filesize than the original. WP will then default to using the crop when the media is inserted, thus increasing the page size.

## Steps to reproduce

1. Set a WP image size to 512x512
2. Create a 512x51

[2022-03-25 10:23] manuelRod commented on #257
@bethanylang I'm gonna try to reproduce it, but as far as I can see in your video, after activating the test checkbox, if you don't visit your website (frontend), assets won't be audited, therefore checks won't popup in Site Health Screen.
This would be fixed in one of the proposed enhancements [#134 ](https://github.com/WordPress/performance/issues/134)

[2022-03-25 12:21] eugene-manuilov commented on #252
@felixarntz, looks like one of installed packages requires `name` property to be present in the `package.json` file. I have added it back in #265 PR. Do you mind reviewing it?

[2022-03-25 16:58] #252 closed, assigned to felixarntz

[2022-03-25 17:24] luisherranz commented on #176
Wow! That's awesome Lovekesh. I've just tested and **it works great** 😄 👏

---

I don't know, to be honest. @adamsilverstein, what do you think? What alternatives do we have? _(until we have something like https://github.com/WordPress/performance/issues/168)_.

---

@thelovekesh: Will you be willing to submit a PR to [add it as a module](https://github.com/WordPress/performance/blob/trunk/docs/Wri

[2022-03-25 17:51] thelovekesh commented on #176
Thank you @luisherranz ! Glad you liked it.

Of course, I will raise the PR ASAP probably by Monday so that team can release it in upcoming version very soon.

[2022-03-25 19:45] felixarntz commented on #238
Fixed via #262.

[2022-03-25 19:45] #238 closed, assigned to eugene-manuilov

[2022-03-28 11:32] mxbclang commented on #257
@manuelRod Thank you for clarifying! To confirm, with #134, the user would no longer need to visit the front-end of their site after activating this module in order for it to display in Site Health?

[2022-03-28 11:49] mxbclang opened #267 "Improve Enqueued Assets report in Site Health"
The current Site Health reports for the Enqueued Assets module, introduced in #25, do not include actionable information for users about how to address a site loading too many enqueued assets. As noted by @felixarntz [here](https://github.com/WordPress/performance/issues/25#issuecomment-1059491862):

Suggestions for changes (in progress) are below.

## Enqueued scripts

### If acceptable

<img wid

[2022-03-28 14:11] manuelRod commented on #257
@bethanylang it will depend on the final implementation, but that was one of the main ideas (as far as I understood)

[2022-03-28 16:03] thelovekesh commented on #176
@luisherranz I have raised the PR to add this as a module. Please have a look and let me know your thoughts.

[2022-03-28 16:53] adamsilverstein commented on #7
This is great, thanks for building out this research tool and running initial test sets for JPEG/WebP comparison.

Looking at the two results pages for "Quality settings" JPEG 83, I can draw two clear conclusions:
* WebP quality setting should probably be around the same as JPEG (83), based on the best average quality setting
* WebP saves on average 26-29% on file sizes, with more significant gain

[2022-03-28 17:32] felixarntz commented on #267
@bethanylang The recommendation "Try to reduce the number or to concatenate them." would only address the number of files problem, not the overall amount of JS/CSS problem. So I think that would only be the first half of the solution. We also need some at least high-level advice for when it's overall too much JS/CSS - which is obviously harder to resolve because concatenating won't reduce that, yo

[2022-03-28 17:36] felixarntz commented on #229
@bethanylang @mitogh Since it's a bit easier to review the copy with in-line comments rather than in GitHub issue comments, I suggest we proceed with a PR already and ask for feedback on the exact wording _on the PR_. That allows reviewers to put inline comments and we can iterate directly in there. I see you already opened #269 🙌

[2022-03-29 04:33] mitogh commented on #24
A current workaround for this is installing the plugin:

- https://wordpress.org/plugins/regenerate-thumbnails/

And running the process would trigger the hooks where the additional images would be created, this would also update the metadata of the images associated with each additional image.

[2022-03-29 07:31] EdithAllison commented on #160
@mitogh Hi, a site I'm looking after is using Litespeed Cache as part of WP managed hosting by Krystal Hosting (UK). I noticed in your document you could not review it as it requires a key. Here's my feedback, happy to provide info:

Benefits
- Plugin generates optimised compressed versions of each image and webP
- it serves webP to compatible browsers, everyone else gets the original image format

[2022-03-29 14:26] mxbclang commented on #257
Thanks @manuelRod! I'll close this for now but make a note to recheck after #134 is merged.

[2022-03-29 14:26] #257 closed, assigned to nobody

[2022-03-29 14:43] adamsilverstein commented on #160
@EdithAllison that makes sense to disable core's feature in favor of your own established pattern, you will be able to do that with the provided filters. One thing to consider would be in the future when users install your plugin who are already using the core feature and may have some WebP images already for some uploads. In that case it might make sense to leave the core handling intact for thos

[2022-03-29 15:00] mxbclang commented on #253
**Voting is now closed.**

Based on **6** thumbs up votes and **zero** thumbs down votes, we'll proceed with this behavior:

- Release `1.0.0-rc.1` on April 4
- Release `1.0.0` stable on April 18

[2022-03-29 15:17] pbearne commented on #19
module for performance plugin
https://github.com/xwp/performance/tree/INITS-199_domiant_color

[2022-03-29 15:21] #98 closed, assigned to mxbclang

[2022-03-29 17:54] felixarntz commented on #253
New `release/1.0.0-rc.1` branch has been created, with #253 to merge the additional enhancements from the (now temporary) `release/1.0.0-beta.4` branch into it.

Will also adjust the relevant PRs to go against the new RC branch.

[2022-03-29 17:54] #253 closed, assigned to nobody

[2022-03-29 17:54] mitogh commented on #160
Thanks @EdithAllison  I've updated the permissions of the document, feel free to take a look and provide some feedback.

[2022-03-29 17:56] felixarntz opened #274 "Prepare 1.0.0-rc.1 release"
This issue is to track preparation of the upcoming `1.0.0-rc.1` release up until publishing, which is due **April 4, 2022**.

* [x] Define scope and tentative release date based on the scope
* [x] Create `release/1.0.0-rc.1` branch closer to the release date
* [x] Merge updates from (previously created) `release/1.0.0-beta.4` branch into `release/1.0.0-rc.1` branch (see #273)
* [x] Prepare the rel

[2022-03-29 17:57] felixarntz commented on #274
cc @mitogh @bethanylang

[2022-03-29 18:45] mitogh opened #275 "Removal of release branches"
## Feature Description

Currently, the project still has the branches for the releases like `release/1.0.0-beta.1` the idea for this issue is to remove the branches as soon as the release has been completed, as there's no point in keeping the branches around if not required.

In a scenario where a hotfix is required a branch can always be created out of the tags for that particular release.

So th

[2022-03-29 19:32] westonruter commented on #220
@manuelRod I think you may have been seeing https://github.com/ampproject/amp-wp/issues/6937 which is addressed by https://github.com/ampproject/amp-wp/pull/6938.

The `$header_value` should be getting passed via `array_filter()` here: https://github.com/ampproject/amp-wp/blob/4bd0387b0a68c06806f139d15befe9de21717b79/src/Admin/SiteHealth.php#L638

[2022-03-29 21:10] adamsilverstein commented on #17
Another plus of client side image handling might be the ability to properly handle uploaded HEIC files.

[2022-03-29 23:32] FrankGalligan commented on #21
@LukaszJaro https://www.smashingmagazine.com/ does use the picture element. I see it on the author's pictures.

[2022-03-30 00:39] mmuyskens commented on #160
Seriously?

You'd like to force WebP on new installs, fine. But let's not force it on existing installs with a stupid filter to turn it off. HELLO! WordPress already HAS an admin area, what's wrong with having an actual toggle in the UI to turn it ON.

RIP to any user that has a hosting account thats based on inode count.

[2022-03-30 10:00] manuelRod commented on #220
@westonruter indeed, that was it. I've implemented your approach and fixed the tests, it's ready to be reviewed.

[2022-03-30 12:20] markhowellsmead commented on #7
When I convert high-quality, pre-optimized JPEGs (Lightroom exports) at 2560px wide, the resultant WebP files are often around 30%-50% larger than the original JPEG files. (I convert using `mogrify` on the command line at 82% quality.)

[2022-03-30 17:08] mitogh commented on #160
Correct, filters are in place to allow customizations and can be used from within the themes or plugins to perform those actions.

with a stupid filter to turn it off. HELLO! WordPress already HAS an admin area, what's wrong with having an actual toggle in the UI to turn it ON.

This comes from the philosophical principles from WordPress, "Decisions, not Options" - https://wordpress.org/about/phil

[2022-03-31 15:46] felixarntz commented on #228
Fixed via #242

[2022-03-31 15:46] #228 closed, assigned to mitogh

[2022-03-31 16:12] eclarke1 commented on #140
Updating the title here as the original epic 'Responsive image sizes' has been broken down into 2 epics:
- API to facilitate more accurate “sizes” attribute
- Client-side routine to automatically identify appropriate “sizes” attribute

We will use this issue to progress the first epic **API to facilitate more accurate “sizes” attribute**

[2022-03-31 23:02] adamsilverstein commented on #7
Hey @markhowellsmead - thanks for the note - how do you upload these images to WordPress and place them in posts? Do you use the "Full sized image" after uploading?  How are you creating the WebP images?

Can you provide a sample JPEG that you have optimized?

[2022-03-31 23:59] #186 closed, assigned to jjgrainger

[2022-04-01 07:39] markhowellsmead commented on #7
I export the JPEG from Adobe Lightroom then run ImageMagick's `convert` (or `mogrify`) command on it. Using the simplest example, `convert 20220328-DSCF1424.jpg 20220328-DSCF1424.webp`. Adding the `-quality` flag makes the file smaller, but - as is the case with JPG - reducing the quality in this way introduces artefacts to the resulting WebP file.

I upload and use the file through the media mana

[2022-04-01 09:59] manuelRod commented on #220
@eclarke1 can you add the Needs Review tag on this? Thanks!

[2022-04-01 10:35] eclarke1 commented on #220
@manuelRod absolutely 👍 done and also moved to the 'In Review' column. Thanks so much

[2022-04-01 14:36] mxbclang commented on #234
@manuelRod @felixarntz I've prepared an initial draft here: https://docs.google.com/document/d/1LyEDpAvqDcE_vAJNJRioe_2LrorOZt9NMoetBzYC3Vw/edit?usp=sharing. This follows the general format of the different sections in the overall Optimization guide in that it does not provide step-by-step instructions, but gives a broad overview of the issue and then directs the user to further reading. Let me kn

[2022-04-02 09:49] masteradhoc commented on #24
+1 for this one. i used @mitogh approach to regnerate them for already existing images - worked great!

[2022-04-04 07:34] manuelRod commented on #234
@bethanylang should we recap more guides from different hosting? so we cover _most cases_. ?

[2022-04-04 12:07] mxbclang commented on #234
Thanks for reviewing, @manuelRod! I replied to your comments.

The other sections in the [Optimization guide](https://wordpress.org/support/article/optimization/) tend to only include 4-5 examples per section, so I think it makes sense to keep in line with that and only share a few examples that are from hosting providers that we know are popular. I think adding in too many could make it difficult

[2022-04-04 12:17] manuelRod commented on #234
Thanks for the changes @bethanylang I like it, good to go from my side!

[2022-04-04 13:46] kleisauke commented on #17
[wasm-vips v0.0.2](https://github.com/kleisauke/wasm-vips/releases/tag/v0.0.2) is now available which distributes the web variant in its NPM package. Note that it cannot process HEIC images (via libde265 and libheif), since that includes patent-encumbered HEVC-related logic.

[2022-04-04 14:11] Tangol commented on #232
@dainemawer @adamsilverstein
Some more comments related to this matter, and why it's important to take this into proper consideration:
https://make.wordpress.org/core/2022/03/28/enabling-webp-by-default/#comment-42770
https://make.wordpress.org/core/2022/03/28/enabling-webp-by-default/#comment-42816
https://make.wordpress.org/core/2022/03/28/enabling-webp-by-default/#comment-42820
https://make.wor

[2022-04-04 17:47] #274 closed, assigned to mitogh

[2022-04-05 08:51] dainemawer commented on #232
Hey @Tangol thanks yes - we have been following the feedback on the proposal. We are definitely taking things into consideration, from our side and for the community sake.

[2022-04-05 08:59] dainemawer commented on #21
@LukaszJaro - I think the biggest issue with the `<picture>` element in WP at the moment is the fact that there is no UI to enable consistent art-direction. The element itself was part of the new HTML5 spec, but seems to have lost a fair amount of traction lately. Im not too sure why that is, but it could just be because of how complex images especially images that now need to adapt to different d

[2022-04-05 08:59] dainemawer commented on #21
@LukaszJaro - I think the biggest issue with the `<picture>` element in WP at the moment is the fact that there is no UI to enable consistent art-direction. The element itself was part of the new HTML5 spec, but seems to have lost a fair amount of traction lately. Im not too sure why that is, but it could just be because of how complex images especially images that now need to adapt to different d

[2022-04-05 09:02] dainemawer commented on #21
On reference to the article - I think its sound. WP already attempts to solve responsive images using `srcset` and `sizes` - but there is no space to art direct the images on different devices or screen widths. This is because `srcset` on an `<img />` tag is only responsible for serving the "correctly" sized image based on a condition or width.

[2022-04-05 13:21] cjhaas commented on #21
We've been using `<picture>` tags for many years now on dozens of sites and it has been great. For legacy browsers we used to include a common set of JS to boot up support for HTML5 features in general, including the `<picture>` tag, but we haven't included that in several years.

I've never been a fan of the `srcset` attribute on `<img>` for responsive, so we just stuck to media queries if needed

[2022-04-05 14:06] adamsilverstein commented on #204
@mitogh I wasn't able to reproduce this with twentytwetytwo default styles, do you have a code snippet or theme suggestion to add the custom sizes, maybe it is size related? I'm testing the core ticket, so maybe has to do with which image we use as the source.

![image](https://user-images.githubusercontent.com/2676022/161772191-aff8e6c7-0b3e-47eb-9b2d-2bef0d52ec0c.png)

[2022-04-05 15:13] felixarntz commented on #181
@dainemawer Can you clarify this request? Do you mean this plugin should include a module to not load empty `style.css` files from themes?

[2022-04-05 17:04] jb510 commented on #160
I think I understand the altruistic intent of this specific issue.  It would be nice to reuse already generated webp files, but this seems fraught with long-term issues.

A different approach would be to ensure users have a way to remove the old webp images and adopt whatever new format core implements.  This inturn really seems to be plugin territory where the existing webp generating plugins out

[2022-04-05 19:49] pbearne commented on #19
https://user-images.githubusercontent.com/46270/161837536-b9082081-0b5e-4d56-9aeb-fd948d9c371d.mov

video of it working

[2022-04-06 10:07] pixel-paul opened #283 "Featured Image does not use WebP"
## Bug Description

Not exactly a bug, more of a question:

Should the featured image also be WebP?

## Steps to reproduce

1. Create a post
2. Add an image block and upload an image
3. Add a featured image
4. Save and view post
5. Featured image is jpg, post block image is webp

## Screenshots
![Screenshot from 2022-04-06 11-03-25](https://user-images.githubusercontent.com/389303/161951390-c246bc

[2022-04-06 12:58] mxbclang commented on #283
Hi @pixel-paul! Right now, whether or not the featured image is converted to WebP is dependent on how your theme inserts images into `the_content`. Any images inserted *outside* of `the_content` will *not* be replaced by WebP.

We do have a GitHub issue here: https://github.com/WordPress/performance/issues/155 which could be used as a mechanism to enable the replacement of images outside of `the_c

[2022-04-06 12:58] #283 closed, assigned to nobody

[2022-04-06 13:49] pixel-paul commented on #283
Thanks @bethanylang :)

[2022-04-06 14:28] manuelRod commented on #31
Hello guys, I didn't see this ticket, however, I was working in [trac 42438](https://core.trac.wordpress.org/ticket/42438) and created a patch for it in the core.
I've added preload support with a new function **wp_preload_links()**
This the P.R: [https://github.com/WordPress/wordpress-develop/pull/2505](https://github.com/WordPress/wordpress-develop/pull/2505)

[2022-04-07 08:31] eclarke1 commented on #140
@eugene-manuilov @mitogh @felixarntz @adamsilverstein as per our discussions, I have updated the title of this issue to reflect the separation of 'Providing images in the appropriate responsive sizes' into:
- API to facilitate more accurate “sizes” attribute
- Client-side routine to automatically identify appropriate “sizes” attribute  (still requires a GH issue creating)

[2022-04-07 18:37] mitogh commented on #160
Thanks for your feedback @jb510

Agree with you on your points, however, I think the main concern relies on backward compatibility, to allow existing sites to keep on using the system of their preference in case the WebP versions of the images already exist in their WordPress installation.

This system would allow external plugins to give the reference of those images back to WordPress so WordPres

[2022-04-07 21:06] mitogh commented on #7
Hey, thanks for providing these examples @markhowellsmead however looking into your WebP example it looks like is actually a PNG image that explains the size of the image.

![2022-04-07_16-02](https://user-images.githubusercontent.com/3921289/162306200-8d58cf65-cf6d-4e98-bdf0-dc360af37e35.png)

I used your JPEG image and uploaded it to WordPress these were the results after uploading it to WordPre

[2022-04-08 06:40] aristath commented on #181
If I understand correctly, this is about deprecating the `style.css` file in block themes - or at least no longer require such a file. The `style.css` headers that define the theme name and other properties can live inside the `theme.json` file (theme name, author, version, textdomain etc).
Making such a change is possible, and would certainly be a good thing. However, it's not something that can

[2022-04-08 14:20] adamsilverstein commented on #19
interesting related ticket shared by Joy in slack: https://github.com/WICG/largest-contentful-paint/issues/68#issuecomment-742141525

[2022-04-08 14:45] markhowellsmead commented on #7
Nope, it's definitely a WebP file. Dropbox is either sending the wrong headers or automatically converting the WebP to a PNG. 🤦‍♂️

Please compare https://dev.permanenttourist.ch/20220328-DSCF1424.jpg and https://dev.permanenttourist.ch/20220328-DSCF1424.webp

**Update**: these files are no longer online.

I'm using quality 82 on the command line to convert the full-sized image to a full-sized Web

[2022-04-08 15:02] adamsilverstein commented on #7
Hey @markhowellsmead could you please upload the **original** image to this GitHub issue directly? you should be able to just drop it onto the comment box! I'd like to test uploading the original to WordPress to see how it compresses.

[2022-04-08 15:07] markhowellsmead commented on #7
Here's the JPG. Github doesn't support WebP.

![20220328-DSCF1424](https://user-images.githubusercontent.com/1571592/162470178-fe11b9e3-7f55-40eb-9eec-2424da971920.jpg)

[2022-04-08 15:10] adamsilverstein commented on #7
Thank you!

I was actually able to reproduce using the JPEG you linked in your last comment. This is the result of WordPress compressing that image locally:
![image](https://user-images.githubusercontent.com/2676022/162470165-80bbadee-7cf4-4c18-ada3-f8d2b2f2e51c.png)

Note that the full size image is larger in WebP, but every other size is smaller

This validates the need for https://github.com/Wo

[2022-04-08 15:17] adamsilverstein commented on #7
@markhowellsmead thanks so much for providing this sample, this is very helpful.

I'm curious if this is the original image from your camera or if you have reduced it already in size. if you reduced it, what compression quality level did you use? Do you get the same results if you use a much higher level (maybe try using 100 for this intermediate image)? I'm also curious to test what happens if yo

[2022-04-08 15:21] markhowellsmead commented on #7
I exported it from Adobe Lightroom, with a target file size. The application automatically chooses the appropriate compression to achieve the requested file size.

I’ll have to provide that information next week.

Rarely, but sometimes. e.g. in a cover block with full alignment.

Not sure I understand that question. Can you be more specific please?

[2022-04-08 15:31] mehigh commented on #7
Cloudflare does something interesting with its Polish implementation

https://support.cloudflare.com/hc/en-us/articles/4412244347917-Troubleshoot-common-Cf-Polished-statuses

webp_bigger: Polish attempted to convert to WebP, but the image was optimized at the origin server or was created using a low quality setting. Because the WebP version does not exist, the status is set on the JPEG/PNG version

[2022-04-08 15:34] markhowellsmead commented on #7
It makes sense to me and would provide the site visitor with the quickest possible result. But PageSpeed Insights will probably still moan. Imagify’s solution (which delivers an appropriate file on requesting a JPG, according to browser support) would be especially luxurious.

[2022-04-08 15:40] mehigh commented on #7
I don't think the 'moaning' of a lab tool should be what would drive the evolution, but the user experience. That will be 'ever-green' regardless of how measuring tools change over time.
If we're able to deliver a faster user experience and not decline the performance of already optimised setups, it's a win-win in my book. I'm curious if anyone would be able to complain about this being the new no

[2022-04-08 15:45] mitogh commented on #7
This plugin already contains a logic to perform and deliver the smallest file available in case the JPEG one is smaller than the WebP version.

- #186

[2022-04-08 15:54] adamsilverstein commented on #7
I don't think we can do this type of request based response directly because WordPress doesn't handle image requests - those are handled by the we web server. A plugin might support some use cases (eg. Apache) but it would be hard/impossible for core to implement given the variety of stacks that run WordPress.

Yea that is the main goal of this work in the first place, so if you place a full size

[2022-04-08 17:01] #239 closed, assigned to felixarntz

[2022-04-08 17:02] #229 closed, assigned to mxbclang

[2022-04-08 17:11] felixarntz opened #285 "Prepare 1.0.0 release"
This issue is to track preparation of the upcoming `1.0.0` release up until publishing, which is due **April 18, 2022**.

* [x] Define scope and tentative release date based on the scope
* [x] Create `release/1.0.0` branch closer to the release date
* [x] Prepare the release (**Monday, April 18, 2022**)

[2022-04-08 17:22] felixarntz opened #286 "Only use smaller file size based on opt-in since it is not part of the core feature scope"
Follow-up to #186: While this enhancement certainly makes sense here, we need to consider that the WebP by default implementation for WordPress core as of now is not going to select the smaller file size, as that implementation doesn't even store file sizes for the generated images.

Due to this, I would advise we make this enhancement opt-in at this point, since otherwise it would explicitly beha

[2022-04-08 17:50] felixarntz commented on #186
@jjgrainger @mitogh I have a potential concern with the implementation there. It feels like a neat idea to use the existing filter, but the problem with that is that it now universally prefers one MIME type over the other per attachment, which may not be the best solution. Let me clarify:
* The current implementation only looks at the `full` image and decides based on that which MIME type should b

[2022-04-08 17:52] adamsilverstein commented on #286
Note that the current core implementation/patch does include file size (via the new [`wp_filesize`](https://github.com/WordPress/wordpress-develop/pull/2393/files#diff-c8719b0a67432e25fb08dad2ad0d081998f835186937dba96966f592bc9d9706R422)) data. Still I would be in favor of a filter to control the behavior.

This might be important behavior to include especially after [confirming](https://github.co

[2022-04-08 22:57] erikyo commented on #22
I suggest to take a look at this article i found today about the difference between **mozjpeg** and **jpeg-turbo**... It seems that in the end it is not worth of it, considering the longer encoding time and the minimal difference in term of filesize.

[What About mozjpeg?](https://libjpeg-turbo.org/About/Mozjpeg)

TLDR;
- Mozjpeg relies on three technologies (progressive JPEG encoding, jpgcrush, a

[2022-04-09 02:01] BlogAid commented on #22
Thanks, Erik!! Agreed that MozJPEG is not the highest performer, but it is something easy for my clients to do and wins out in speed tests compared to other methods and avoids needing fallback images. I'm excited about the new formats that are coming out and hope adoption for them is fast so we can start using them as our standard.

[2022-04-10 19:51] masteradhoc opened #288 "Background images does not uses the `*.webp` version in the content if present"
## Bug Description
Some time ago i developed a small simple website with gutenberg & generatepress. i tried to use as many default blocks as possible.
Now i tried the performance plugin to support the great initiative to move to webp as also other platforms are doing the same as shopify and wix...

webps are generated correctly which i checked based on this request: https://wordpress.slack.com/arc

[2022-04-10 20:47] erikyo commented on #22
Ciao @BlogAid,
the issue with MOZjpeg is that currently cannot be used with ImageMagick (and therefore also with WordPress), so at the moment isn't considered a viable way unless you want to convert all images manually or with a plugin.

I wrote [a post](https://modul-r.codekraft.it/2022/04/install-mozjpeg-encoder-with-ubuntu-20-4/) on how to install it on ubuntu but since it's a fork of turbojpeg

[2022-04-11 03:35] dainemawer commented on #181
I think @aristath pretty much cleared up what I was getting at. I totally agree that this may be a core change. The MO here would be to simply just save a server request and not load an empty `style.css` just for metadata. This approach is somewhat outdated now.

[2022-04-11 10:19] eclarke1 commented on #22
Updated the epic description to remove #155 and #158

[2022-04-11 10:49] mitogh commented on #288
Thanks for creating your report @masteradhoc I was able to reproduce this problem locally, using the Cover block and using an image as background.

Currently the replacement of images to WebP only happens in inserted images in the content. But I do agree this behavior should be consistent even with background images.

[2022-04-11 12:37] BlogAid commented on #22
@erikyo Thank you so much for the MOZjpeg testing and extra info about what it would take to include in WP.

I have a couple of comments and questions.

Anyone who cares about speed has already made arrangements for their images, either with manually optimizing prior to upload or using an image optimization plugin.

My clients were mostly using ShortPixel or similar and were stunned to see just ho

[2022-04-11 15:16] mxbclang opened #289 "Research: Impact of additional WebP images on upload"
This issue is for research and analysis related to the concern about the new Enabling WebP by default feature creating too many files. There is a lot of concern about the doubling of the number of image files resulting in increased hosting costs, running out of disk space (or “inodes”), or failed backup.

We need to conduct research to get data on this topic, to answer the following questions:

-

[2022-04-11 15:22] mxbclang opened #290 "Research: WebP compatibility"
This issue is for research and analysis related to the concern about the WebP compatibility for the new Enabling WebP by default feature. There is a lot of concern about WebP not being supported everywhere, such as certain email clients, RSS readers, or mobile apps.

We need to conduct research to get data on this topic, to answer the following questions:

- What percentage of most popular web bro

[2022-04-11 16:08] nosilver4u commented on #7
Per our discussion on Slack, here is our data on non-WebP User Agents [shared from Logz](https://app.logz.io/?embed=true&shareToken=4b4366a8-da5d-45fa-a29b-b4907e7a50fc#/dashboard/kibana/visualize/create?_a=(filters%3A!(('%24state'%3A(store%3AappState)%2Cmeta%3A(alias%3A!n%2Cdisabled%3A!f%2Cindex%3A'logzioCustomerIndex*'%2Ckey%3Aappname%2Cnegate%3A!f%2Cparams%3A(query%3Aresizer)%2Ctype%3Aphrase)%2

[2022-04-12 00:05] erikyo commented on #22
What I get is that some users have no control over the number of thumbnails, but I would rather ask a better management of the thumbnail than restricting myself to not use webps.
Imho if you have harddisk space costs the decisive factor is the number of large resizes, usually it's enough to remove a couple of (unused) oversize images. Look at this array that a guy has posted a few days ago on slac

[2022-04-12 01:22] zero4281 commented on #22
@BlogAid

If you're only interested in what's best for your clients and they already have ShortPixel then why is this an issue for you?  They can keep using whatever image optimization service that they want and the default behavior is configurable.  I don't understand why this is an issue for you or why you didn't understand that MOZjpeg wasn't an option in GD or ImageMagick.  This has been expla

[2022-04-12 08:50] eclarke1 commented on #24
@felixarntz @adamsilverstein @jjgrainger @bethanylang @eugene-manuilov as discussed, I have renamed this epic

[2022-04-12 10:38] manuelRod commented on #220
@westonruter Thanks for the feedback, I've addressed it. We need another reviewer, maybe @felixarntz wants to take an eye?

[2022-04-12 11:00] smileBeda commented on #102
Following here because not being able to `defer` a script with `wp_enqueue_script`, basically forces us to echo it in the footer :(

[2022-04-12 13:58] BlogAid commented on #22
We remove any optimization plugin they are using, plus the duplicate images, and go with the manual optimize before upload method. ALL of that info was in my original post - did you not read it?

I NEVER pushed for MozJPEG to be used for this feature - I used it as a test bases against what this feature - and what ALL of the image optimization plugins do.

And then I ASKED if there was a way to ha

[2022-04-12 14:14] mehigh commented on #31
This is great. Thank you @manuelRod
Glad to see that it covers the preloading of responsive images too, that's _very_ handy, in addition to all of the other use-cases.

[2022-04-12 15:18] adamsilverstein commented on #19
@pbearne - https://github.com/WordPress/performance/pull/282 is a core patch right? Have you been able to implement this in the performance lab plugin (and if so, what is the PR for that)?

[2022-04-12 15:34] adamsilverstein commented on #7
@nosilver4u thank you for sharing this data. Question: so these agents all made requests without `image/webp` in the `Accept` request header, right? Oddly I see Google Imagebot as the top offender, yet I know that bot does digest WebP images (as stated [here](https://developers.google.com/search/blog/2012/04/1000-words-about-images)) so I wonder if the issue is with the request headers

[2022-04-12 15:39] erikyo commented on #19
_original [conversation](https://wordpress.slack.com/archives/C02KGN5K076/p1649776350672539) on slack_

As low-res image you can use the preview contained in the exif data of the jpg, a method to get that image is to use the function [exif-thumbnail](https://www.php.net/manual/en/function.exif-thumbnail.php) (php exif module needed).
To mention, it is possible for an image to not have a preview (n

[2022-04-12 15:42] adamsilverstein commented on #153
Closing this issue since research is complete for now.

[2022-04-12 15:42] #153 closed, assigned to nobody

[2022-04-12 15:47] khoipro commented on #290
I think if HTML5 was enable support (by `add_theme_support()`, then creating `<picture>` with `.webp` format is impossible.

The real problem is dealing with core WordPress block, like `core/image`, to see how they convert from standard tag `<img src="">` to `<picture>` if we support it.

[2022-04-12 15:52] nosilver4u commented on #7
@adamsilverstein Correct, it's any agent that doesn't list `image/webp` in the `Accept` request header. I thought that odd myself that they were in the "no-WebP" camp, and that article clearly states they support WebP. Perhaps they don't send the header so that they can get the original JPG/PNG if available, rather than a WebP-derivative?
In other words, perhaps they "support" ingesting WebP, but

[2022-04-12 15:58] khoipro commented on #289
I think it should be an option to enable WebP in Settings/Media, with a warning to staff about the total images will be increase by x% is great and accessibility-in-mind.

[2022-04-12 16:11] pbiron commented on #24
Another "workaround" is to use WP-CLI, e.g.,

`$ wp media regenerate`

I've tested both methods and they work great.

[2022-04-12 23:32] jb510 commented on #160
Backward compatibility with plugins just really seems to me like it ought to be plugin territory.  Most of those plugins are well maintained and ought to have to problem shifting THEIR structures to match core.  I don't think they should continue using a "alternative" structure long term just because that's what a plugin imposed.

I do think I follow what you're saying though, that media ought to

[2022-04-12 23:59] felixarntz opened #292 "Refine logic to select smaller image size"
As outlined in https://github.com/WordPress/performance/issues/186#issuecomment-1093133540, there is a flaw with the current approach of choosing the smaller image MIME file in frontend content:

While attaching the `webp_uploads_get_mime_types_by_filesize()` function to the `webp_uploads_content_image_mimes` filter seems elegant, I think this is the wrong integration point here. It's not sufficie

[2022-04-12 23:59] felixarntz commented on #292
cc @jjgrainger @mitogh

[2022-04-13 00:02] felixarntz opened #293 "Implement mechanism to not load module if core version is available"
As entire modules eventually get merged into core, the plugin should provide a mechanism to not load certain modules if their core counterpart is already available on the site.

We need some centralized infrastructure that each module can leverage to determine when the module is relevant to be loaded. If a module defines that based on the current situation it is no longer needed to be loaded, this

[2022-04-13 02:34] mitogh commented on #24
Thanks for taking a look and testing with WP CLI @pbiron

[2022-04-13 02:42] mitogh commented on #160
Agree with you here, the aim of the filters would be to enable it but is up to the plugins to either migrate to the new structure and take advantage of this structure or support his own structure, which means they need to provide support using the newly introduced filters.

Each image on the media library has metadata stored in the database this metadata is used to keep track of all the references

[2022-04-13 10:41] webaware commented on #290
Web property owners with free Cloudflare accounts will not be able to reliably serve images if they have both a non-WebP and a WebP version, using the generally accepted method of setting a `Vary: Accept` header.

From the Cloudflare Blog, [Vary for Images: Serve the Correct Images to the Correct Browsers](https://blog.cloudflare.com/vary-for-images-serve-the-correct-images-to-the-correct-browsers

[2022-04-13 13:11] BlogAid commented on #160
@mitogh Thank you for this info about the meta being stored in the database.

That must be how the Enable Media Replace plugin works. It offers several choices with file name, path, and date options. It does not have a database table of its own, and does no redirects.

One of the choices is to simply replace the image with a new one and retain the original file name, date, and upload location.  Yo

[2022-04-13 13:16] wp-seopress commented on #290
LinkedIn doesn't support webp (so if you share something on LI, the post thumbnail will not work)

[2022-04-13 22:24] adamsilverstein opened #294 "Explore/research MozJPEG"
## Feature Description

Contributors have [pointed out](https://docs.google.com/document/d/1xrLU8fm_cAT6DWdYGuQjC4zdkSMl0WKUlPpr3xwbXHw/edit?usp=sharing) that [MozJPEG](https://github.com/mozilla/mozjpeg) compression provides benefits over traditional JPEG compression without the potential compatibility issues WebP present.

The goal of this issue is to research MozJPEG further to evaluate its ben

[2022-04-13 23:04] henrihelvetica commented on #294
MozJPEG, as in the encoder?? The only research I'm aware of are the ones that were associated w/ the [original release announcement in 2014.](https://research.mozilla.org/2014/03/05/introducing-the-mozjpeg-project/)

- The [original 2013 research](https://web.archive.org/web/20131022052752/http://people.mozilla.org/~josh/lossy_compressed_image_study_october_2013/)
- and the [2014 one.](https://web

[2022-04-14 00:38] mitogh commented on #160
Thanks @BlogAid yes most plugins usually have their own tables to store information about additional images.

This approach expand the existing metadata of the subsizes to register where any additional subsize is located and how big it is (meaning the file size) per mime type.

[2022-04-14 14:07] adamsilverstein commented on #102
Hi @tillkruss - thanks for the report, we are tracking this work in https://github.com/WordPress/performance/issues/168 now.

[2022-04-14 15:25] adamsilverstein commented on #22
I opened up this follow up ticket to investigate MozJPEG further - https://github.com/WordPress/performance/issues/294 to research questions like how available it might be in WordPress hosting environments , what it would take to determine that, and if that might be improved (eg could it be available by default in PHP?).

[2022-04-14 15:30] adamsilverstein commented on #22
Good insight @zero4281 - the disk space/#of files issue primarily effects website owners/builders, while the performance gains primarily benefit website visitors (both effect hosts as well).

[2022-04-14 15:58] pbearne commented on #19
this also allows us to color the drop shadow
    `box-shadow: var(--dominant-color) 0px 54px 55px;`
or create a border
` border: solid var(--dominant-color);`

[2022-04-14 16:27] #286 closed, assigned to felixarntz

[2022-04-14 16:33] tillkruss commented on #163
See https://github.com/WordPress/Documentation-Issue-Tracker/issues/292

[2022-04-14 18:16] felixarntz opened #295 "Ensure edited image sources are backed up when restoring the original image"
## Bug Description

Follow-up to #228: When editing an image in WordPress core (related: #158), the original image's sizes are backed up. This is primarily to restore them later. If then the original image is restored again or another round of edits to the same image is saved, the edited image's sizes get backed up. There is no way to restore these via the WordPress UI, but WordPress intentionally

[2022-04-14 18:16] felixarntz commented on #295
FYI @adamsilverstein @mitogh

[2022-04-14 18:29] #158 closed, assigned to kirtangajjar

[2022-04-14 18:31] felixarntz commented on #158
@mitogh You were mentioning you already started a follow-up PR to better support the individual targets for editing images. Could you also create a separate follow-up issue for that? So we can consider this one complete? Particularly because this here is gonna go in the upcoming release, while the other one probably won't be ready in time.

[2022-04-14 20:29] estlacksensory opened #296 "Plugin Asset Handler - load no asset unless needed"
Can "lazy loading" be applied to plugin management? When a user installs a plugin, WordPress attempts to load all assets (images, scripts (server-side, client)) on page load, regardless if those assets are needed or not.

If a user decides to install a plugin for purpose X, to run on page Y, on user interaction Z. Then only under those circumstances, should the page attempt to load those scripts.

[2022-04-14 21:26] felixarntz opened #297 "Break down WebP uploads module into more manageable files"
The WebP Uploads module codebase has grown quite a bit, but all the code is still in a single `load.php` file, **now with over 1,000 lines**. We should split out the codebase a little to make the individual pieces more maintainable and simplify oversight. The tests should be broken out in the same way.

I suggest the following:
* `load.php` keeps the main logic to generate additional MIME types (W

[2022-04-15 00:56] mitogh commented on #295
Hey! @felixarntz thanks for opening this issue, I did some tests and apparently looks like this behavior is the same as having `IMAGE_EDIT_OVERWRITE` defined to `true` would you mind double check that you have this constant not defined or set to `false`, not defined is the default state of this constant.

**When the constant is defined and holds a truthy value, no additional edited images are stor

[2022-04-15 02:15] mitogh opened #299 "When an image is edited, perform updates only to the specified target"
## Feature Description

This is a follow up issue from

- #158
- #235

When an image is edited a user is able to select multiple targets from the edit screen (see attached screenshot).

![2022-04-14_21-03](https://user-images.githubusercontent.com/3921289/163506176-cd96d372-3435-45cd-9318-1b0733f08336.png)

The edits can happen to:

- All the images
- Thumbnail - Only the thumbnail image is update

[2022-04-15 17:52] #297 closed, assigned to felixarntz

[2022-04-15 18:15] felixarntz opened #300 "Define plugin versioning approach"
With our first stable release **1.0.0** going out on **Monday, April 18**, it's time to look at what's next. We need to define our versioning policy. It's probably not worth breaking our heads about this, but we should definitely define an approach and stick to it.

At a high level, I can think of a few options:
1. We follow WordPress core's versioning approach and increment the minor version unti

[2022-04-15 18:17] felixarntz commented on #300
The main benefit of 1. is that it makes version numbers entirely predictable, we will know in advance what the next releases will be as the code changes we make don't affect the version number. The tradeoff is that it doesn't respect semantic versioning (which to be fair, WordPress core does not either).

The main benefit of 3. is that it respects semantic versioning. The tradeoff is that for ever

[2022-04-15 18:24] felixarntz commented on #285
Release branch [`release/1.0.0`](https://github.com/WordPress/performance/tree/release/1.0.0) has been created. There are no more open issues/PRs for the `1.0.0` milestone, so everything is set for the release on Monday.

[2022-04-16 18:45] tommydv commented on #220
Hello westonruter.

I am the owner of a wordpress website.

I use amp plugin and wp rocket plugin.

I then removed wp rocket and replaced it with wp super cache.

Checking my system got this message.

![11](https://user-images.githubusercontent.com/28681946/163687503-e3510afd-63c2-4060-b3e0-aa2b3cbc7a46.png)

Can you show me how to fix this error?

Thank you.

[2022-04-17 08:17] Otto42 commented on #132
And how much larger in space requirements did that take up in your DB?

Database indexes aren't magic beans. They take up disk space. Lots and lots of disk space. So, yes, you're making a tradeoff with storage vs. speed. And it's not always a good trade.

Indexing the meta_value is a bad idea, because *you should not be searching for anything based on the meta_value in the first place*.

The whole

[2022-04-18 07:45] lkraav commented on #132
I looked at some of my larger tables

wp_stream_meta - 27.7 GiB = Data 10.0 GiB + Index 17.7 GiB
wp_stream - 8.5 GiB = Data 3.6 GiB + Index 4.9 GiB
wp_posts - 4.0 GiB = Data 2.6 GiB + Index 1.4 GiB
wp_postmeta - 2.9 GiB = Data 1.1 GiB + Index 1.8 GiB
wp_comments - 1.3 GiB = Data 0.43 GiB + Index 0.85 GiB
wp_commentmeta - 0.91 GiB = Data 0.45 GiB + Index 0.46 GiB

So disk space requirement of +100%