[2021-11-23 22:22] felixarntz opened #1 "Define name for the performance plugin"
As outlined in the original proposal doc, the performance plugin doesn't have a name yet. Some ideas were previously discussed in the doc and on Slack, but we can follow up here.

Once a name (and slug!) have been decided for, we need to replace the following in the scaffolded codebase:
* `TODO-SLUG` with plugin slug/textdomain
* `TODO-NAME` with (human-friendly) plugin name
* `todo_snakecaseslug`

[2021-11-23 22:53] ecotechie commented on #1
Name: Core Performance Tests

[2021-11-23 23:11] Otto42 commented on #1
Probably best to reflect somewhat on the test or experimental nature of it, because you probably don't want people installing it on sites that are meant to be 100% stable.

Perf-experiments, or something like that? I suck at naming, but something that reflects that it's for testing only.

[2021-11-23 23:41] tillkruss commented on #1
`Performance Experiments` was suggested in the Google doc as well. Maybe this `perf-experiments` for the wp.org slug?

[2021-11-24 07:52] JustinyAhin commented on #1
We should also mention this in the repo README/docs. The experimental nature of the plugin, and the fact that it shouldn't be used as a permanent solution on sites.

[2021-11-24 08:11] szepeviktor commented on #1
There are two very-very [separate parts](https://github.com/szepeviktor/tiny-cache/blob/master/README.md#wordpress-performance) of WordPress performance.

1. WordPress core generating HTML code
2. Browser loading HTML and linked resources, rendering page.

Please take this into consideration.

[2021-11-24 13:37] ThierryA commented on #1
Just throwing some ideas, `Performance Lab`,`Performance Labs`, `Perf Lab`, `Perf Labs`.

While some modules will be for testing, it is also important to keep in mind that it should be developed in a reliable way and not only deployed on throw away sites (like any feature plugins would, and so is Gutenberg). For that reason it would be preferable not to over index on the _experimental_ nature (IMO

[2021-11-24 15:47] felixarntz commented on #1
`Performance Lab` (slug `performance-lab`) would sound good to me. It still indicates that these are of somewhat experimental nature, but it sounds more catchy IMO. What do y'all think?

[2021-11-24 17:05] ecotechie commented on #1
I'd like to see a more specific name, I still like my suggestion `Core Performance Tests` since that's what they are. Performance lab seems a bit broad.

[2021-11-24 20:06] felixarntz opened #2 "Define basic module specification"
Before starting to write code for any modules, we will need to define exactly what a module should look like. Some ideas for this were already mentioned in the [plugin proposal doc](https://docs.google.com/document/d/1TNey-V4L1JJHC_PYpIb99XiG5RAOMhNN1WcdAZbRKeo/edit#heading=h.rg79hmq8fnt1), so let's use this issue to expand on those.

The performance plugin should eventually include a settings pag

[2021-11-24 21:29] adamsilverstein commented on #1
@ecotechie - I like the `Core Performance` part because it indicates this is a core based and targeted effort. I like `Tests` less because it would feel more risky for users to install.

How about `Core Performance Lab`?

[2021-11-24 22:11] jdevalk commented on #1
Core says nothing to "average" users, who should be installing this too. I like just `Performance Lab` too.

[2021-11-25 01:44] tillkruss commented on #1
I like `Performance Lab` as well, maybe with a short slug like `perflab`.

[2021-11-25 07:52] aristath commented on #1
+1 for `Performance Lab` (`performace-lab`)

[2021-11-25 08:09] JustinyAhin commented on #1
+1 for `Performance Lab`

[2021-11-25 12:31] ThierryA opened #4 "Create WebP module and port the applicable code"
@adamsilverstein has been working on a POC for webP images by default in WordPress. Once we have the Performance plugin skeleton almost in place, we could add a WebP module and port the applicable code over.

[2021-11-25 13:05] #1 closed, assigned to ThierryA

[2021-11-25 17:51] tillkruss commented on #2
Should we add GitHub and WP.org usernames maybe as well to indicate code ownership?

[2021-11-25 17:52] tillkruss opened #5 "Create object cache modules"
Similar to #4.

[2021-11-26 09:37] jonoalderson commented on #1
+1 for `Performance Lab` (`performace-lab`)

[2021-11-28 04:07] ecotechie commented on #1
So we do expect/hope production sites install this plugin? And "average" users will install this on their live sites. I thought it was for testing purposes only. I then assume there will be a warning that it may break things?

[2021-11-29 06:55] aristath commented on #1
The concept of this plugin is similar to that of Gutenberg. So no, I don't think we should have warnings etc. All plugins "may break things", nothing is ever 100% feature-complete and bug-free.

[2021-11-29 14:26] felixarntz commented on #5
@tillkruss Instead of creating a single object cache module, I wonder whether it would be better to create modules per project. #4 is about creating a module for WebP, which is a project of the image focus, it's not a module for the overall image focus.

There may be projects in the object cache focus that only make sense to be implemented together, so combining them in such a case makes sense, bu

[2021-11-29 14:29] felixarntz commented on #2
@tillkruss Maybe, although to my knowledge this isn't an established approach for WordPress and may seem somewhat "gatekeeper-ish". But I agree it would be useful for example to have certain folks automatically be assigned as PR reviewers. With all that said, I think this would be better off in its own issue, to go into some sort of [`CODEOWNERS`](https://docs.github.com/en/repositories/managing-y

[2021-11-29 14:59] adamsilverstein opened #6 "Consider preload for images"
See https://web.dev/preload-responsive-images/

https://web.dev/priority-hints/
https://caniuse.com/?search=resource%20hints
related "Automatic link preload of first user-entered image (hero image)" (suggested by Aymen Loukil)

related trac ticket: https://core.trac.wordpress.org/ticket/42438 (focused on scripts so far, could include images)

**Open Question:** when is preloading images helpful?

[2021-11-29 15:05] adamsilverstein opened #7 "Optimize compression levels for WebP, test file sizes vs. JPEGs"
Trac ticket: https://core.trac.wordpress.org/ticket/54356

[2021-11-29 15:09] adamsilverstein opened #8 "Store file size (and other) media metadata"
At the moment, WordPress does not store the file (storage) sizes for uploaded files, or the sizes of media generated, in the database. At the moment, whenever WordPress needs to find out this information, it needs to read from the filesystem, or make remote requests in the case of a CDN. This keeps WordPress from using this information to make more informed decisions about responsive images or res

[2021-11-29 15:20] adamsilverstein opened #9 "Update medium default image size"
* Suggestion is to change from 300px to 375px, we need to research further before deciding on image size. (suggested by Khôi Nguyễn Minh based on dimensions used in lighthouse tests)

[2021-11-29 15:22] adamsilverstein opened #10 "Visual tool to scan a page and report missing width/height elements"
This task was suggested by Aymen Loukil for the image focus, however it may fit better in the measurement focus.

[2021-11-29 15:23] adamsilverstein opened #11 "Add AVIF support"
Trac ticket: https://core.trac.wordpress.org/ticket/51228

[2021-11-29 15:30] adamsilverstein opened #12 "Add support for the JPEG XL format"
Trac ticket: https://core.trac.wordpress.org/ticket/52788

[2021-11-29 15:33] adamsilverstein opened #13 "Improve support for WebP lossless"
* In LibGD and PHP 8.1
* WebP lossless is currently supported only in Imagick, we are working on adding lossless support newly in LibGD (merged) and PHP 8.1, not supported in core)

[2021-11-29 15:34] adamsilverstein opened #14 "Add dynamic image formats and sizing, served directly"
* Implement a WordPress based Image CDN
* Example plugin - https://github.com/rosell-dk/webp-convert/blob/master/docs/v2.0/webp-on-demand/webp-on-demand.md

[2021-11-29 15:44] adamsilverstein opened #15 "Add direct support for Image CDN integration"
* an API in core that makes it easier for CDN providers (or supporting cache plugins) to integrate in a standard way.

[2021-11-29 15:45] adamsilverstein opened #16 "Improve core image handling to support modern images"
* Use correct image engine for image type (https://github.com/adamsilverstein/modern-images-wp/issues/13)

* Ensure images/feeds use compatible image formats - https://github.com/adamsilverstein/modern-images-wp/issues/25

[2021-11-29 15:47] adamsilverstein opened #17 "Enable client side modern image generation"
Enable client-side image generation and compression for both new uploads and existing images.

Leveraging parts of https://github.com/swissspidy/media-experiments to build this in Gutenberg initially.

Gutenberg tracking issue:

* https://github.com/WordPress/gutenberg/issues/61447

[2021-11-29 15:47] adamsilverstein opened #18 "Enable lazy loading controls per image"
* @khoipro: Toggle attribute loading=”lazy” (to improve score on first view load) for each image

[2021-11-29 15:50] adamsilverstein opened #19 "Add low quality image placeholders using background color"
The [LQIP](https://cloudinary.com/blog/low_quality_image_placeholders_lqip_explained) approach, popularized by Medium, uses a very small placeholder image to enable a quicker initial page load. The idea is the placeholder gives the user a sense of the image shapes and color while consuming minimal bytes. The hires image then replaces the placeholder later in the page load cycle.

The approach may

[2021-11-29 15:52] adamsilverstein opened #20 "Add async decoding attribute to image tags"
@khoipro: Seems most finished and needs testing. If there is an option to toggle this option, it will be the same toggle loading=”lazy” option in each image.

Trac ticket: https://core.trac.wordpress.org/ticket/53232

[2021-11-29 15:56] adamsilverstein opened #21 "Enable <picture> element support"
Current in progress PR: https://github.com/WordPress/performance/pull/73

Related trac ticket: https://core.trac.wordpress.org/ticket/42920

See this comment for a detailed description: https://github.com/WordPress/performance/issues/21#issuecomment-1003404685

----
Original description:

Use picture element to enable modern formats like AVIF with fallback to more widely supported format like WebP

[2021-11-29 16:00] adamsilverstein opened #22 "Create WebP images on upload"
## High-level feature:
* When uploading images to WordPress, the format for the sub-sized images WordPress creates should be WebP when available.
* When serving images in the frontend, use the WebP instead of the JPEG images

## Overview

This is an overview of related issues. This may not necessarily be comprehensive, for a full list [see all issues related to the "WebP Uploads" module here](http

[2021-11-29 16:26] tillkruss opened #23 "Set up code owners"
As per @felixarntz suggestion in #2, should we set up a [`CODEOWNERS`](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners) file to automatically assign issues and PRs?

It would help reduce the noise.

[2021-11-29 16:28] tillkruss commented on #5
@felixarntz: Sure thing!

[2021-11-29 16:33] adamsilverstein opened #24 "Regenerate existing images"
## High-level feature

Adds the ability to regenerate existing images in core via a user interface.

## Overview

This is an overview of related issues. This may not necessarily be comprehensive, for a full list [see all issues related to the "Regenerate Existing Images" module here](https://github.com/WordPress/performance/issues?q=is%3Aissue+is%3Aopen+label%3A%22%5BModule%5D+Regenerate+Existing+

[2021-11-29 19:55] ecotechie commented on #1
Not trying to be a pain, but if this plugin is meant as a lab or for tests, it will break "things". Same with the Gutenberg plugin. I help maintain over 600 sites and if we ever see Gutenberg installed, we recommend removing it. Since it can be unstable and features can be removed. I know the nature of plugins is such that the code will sometimes cause unintended effects. However, a plugin dev tha

[2021-12-01 12:59] ThierryA opened #25 "Create Site Health Audit Enqueued Assets module"
Similar to #4 and #5, would be great to include to work started by @audrasjb [here](https://github.com/audrasjb/site-health-audit-enqueued-assets/blob/master/site-health-audit-enqueued-assets.php) as module 😄

[2021-12-01 16:22] ThierryA commented on #2
Proposed module specification LGTM. Perhaps we should have a skeleton example as starting point for new modules.

[2021-12-01 17:32] felixarntz commented on #2
I just opened #26 with documentation defining this. It follows what I outlined in the issue description above and includes a skeleton example.

The only change I made compared to the description above is renaming/shortening the module header fields `Module Description` to `Description` and `Module Focus` to `Focus`. The prefix here is unnecessary, and not having it is in line with plugins, which o

[2021-12-01 17:42] ThierryA opened #27 "Add settings page"
The plugin should provide a simple UI (filterable) to enable/disable modules broken down by focus area.

### Requirements
* The plugin's settings screen (slug already defined in `PERFLAB_MODULES_SCREEN` constant) should be implemented, with a dynamic list of all modules and a checkbox to toggle each one on/off.
* It should be an ordinary WordPress settings screen called "Performance Modules", unde

[2021-12-01 22:38] felixarntz opened #28 "Complete PHP unit testing and linting infrastructure"
The repository already contains the foundation for PHP unit testing and linting, particularly the latter already works out of the box right now. This issue is about completing the setup so that the repository offers easy PHP unit testing capabilities that can be run locally and in CI (GitHub actions) without separately setting up WordPress or a MySQL database.

The suggested approach is to mostly

[2021-12-01 23:26] felixarntz commented on #27
Completed the proposed specification in here.

[2021-12-02 08:37] ThierryA commented on #27
What about simply "Settings->Performance", adding module doesn't make much sense for users and can be restrictive?

One requirement which was previously raised is the ability for hosts/developer to bypass the screen and preset modules activation.

[2021-12-02 11:12] getsource commented on #7
I'm doing some exploration here to see if we can adapt https://github.com/cramforce/avif-webp-quality-setting to get the data we need.

[2021-12-02 14:22] manuelRod commented on #25
Shouldn't we define messaging? Maybe tailor it for end-users?
Also, where this info is gonna show in the Site Health Screen?
Maybe all modules should be added under a custom tab?

[2021-12-02 14:32] ThierryA opened #31 "Preload resources"
Picked up from [track ticket #42438](https://core.trac.wordpress.org/ticket/42438), just parking an issue here which may be closed if it continues to get worked directly as a patch.

[2021-12-02 14:51] ThierryA commented on #25
+1 to that

Stacked with all other items and with a "Performance" badge, although that is not set in stone I guess.

Meta note, raising awareness of too much CSS/JS etc is a good start, doing so and providing the source of the "offenders" is one step more helpful, doing so AND providing an action to solve the issue is the pinnacle. The later is extremely hard without risking to break something ind

[2021-12-02 15:05] futtta commented on #31
re (3): HTTP/2 push is planned to be removed from Chrome, see https://groups.google.com/a/chromium.org/g/blink-dev/c/K3rYLvmQUBY/m/vOWBKZGoAQAJ

[2021-12-02 15:16] ThierryA commented on #31
Thanks @futtta, I blindly pasted from the trac ticket which is 3 years old 😬

In any case, I think for WP core the main focus would largely be (1).

[2021-12-02 17:51] westonruter commented on #25
Yeah, identifying the theme/plugin responsible for enqueuing a script or stylesheet is something the AMP plugin does heavily. It also goes to the extent of sourcing where inline scripts/styles are coming from (e.g. via `wp_localize_script()`, `wp_add_inline_script()`, and `wp_set_script_translations()`, and `wp_add_inline_style()`). Beyond `WP_Scripts` and `WP_Styles`, it also goes to the extent o

[2021-12-02 18:29] #2 closed, assigned to nobody

[2021-12-02 22:46] #28 closed, assigned to nobody

[2021-12-02 23:22] felixarntz commented on #27
@ThierryA

Sounds good! I've put "Performance Modules" as the full title for now, but in the menu it is just "Performance". Does that make sense?

I suggest we do that in a follow-up issue/PR to keep things simple to review. Doing that should be straightforward (e.g. we introduce a filter to control active modules and then only register the settings screen if that filter is not in use).

The PR #3

[2021-12-02 23:27] felixarntz opened #33 "Allow programmatic control of which modules are enabled"
Based on the settings screen from #27 which allows to toggle individual modules on/off via UI, it should alternatively be possible to programmatically control which modules should be enabled. This can be useful for advanced users or environments which would like to use certain modules from the plugin without confronting end users with control over them.

Suggested approach:
* Introduce a filter `p

[2021-12-02 23:27] felixarntz commented on #33
cc @ThierryA I opened this based on your comment in https://github.com/WordPress/performance/issues/27#issuecomment-984407800.

[2021-12-03 18:07] tillkruss opened #34 "Improve object caching in core"
- ~Add query cache to `WP_User_Query` class ([40613](https://core.trac.wordpress.org/ticket/40613))~
- In `wp_term_query` on cache ids ([37189](https://core.trac.wordpress.org/ticket/37189))
- Cache the results of the `posts_request_ids` query ([22176](https://core.trac.wordpress.org/ticket/22176))
- ~Add caching to comment feed in `WP_Query` ([36904](https://core.trac.wordpress.org/ticket/36904))

[2021-12-03 18:09] tillkruss opened #35 "Promote object caching in Site Health"
Recommend the use of an object cache under Site Health for sites with non-trivial amounts of data.

- Detect available extensions and make recommendations
  - [See AMP](https://github.com/ampproject/amp-wp/blob/5405daa38e65f0ec16ffc920014d0110b03ee773/src/Admin/SiteHealth.php#L227-L330)
- What are the criteria for running the check?
- Allow WooCommerce (etc.) to enable running the check?

[2021-12-03 18:10] tillkruss commented on #35
Per @westonruter:

[2021-12-03 18:13] tillkruss opened #36 "Explore improving `WP_Object_Cache`"
Looking at [WP_Object_Cache](https://developer.wordpress.org/reference/classes/wp_object_cache/) to see if we can improve it overall, including the handling of mega objects, such as the `alloptions` key.

[2021-12-03 18:32] tillkruss commented on #34
Ping @spacedmonkey

[2021-12-03 18:41] tillkruss opened #37 "Object cache utility functions"
WP VIP has several wrappers for core functions that are cached, should we adopt some?

- https://github.com/Automattic/vip-go-mu-plugins/blob/master/vip-helpers/vip-utils.php
- https://github.com/Automattic/vip-go-mu-plugins

[2021-12-03 18:41] tillkruss commented on #37
@sboisvert

<img width="828" alt="Screen Shot 2021-12-03 at 10 40 45 AM" src="https://user-images.githubusercontent.com/665029/144655703-89134020-72a9-4905-95b6-09f59e44d846.png">

[2021-12-03 18:44] sboisvert commented on #37
Thanks!

I'm sure we can clean up this ramble if thoughts into something cohesive :)

On Fri., Dec. 3, 2021, 1:42 p.m. Till Krüss, ***@***.***>
wrote:

[2021-12-03 18:47] tillkruss opened #38 "Support flushing cache groups"
Cache groups are a core concept of the WordPress object cache and it’s an often requested feature to flush an individual group, without flushing the entire cache.

[code]

This would be most in-line with the currently signatures.

We could optionally accept an array as well, I'm not sure about the WP conventions around this.

[2021-12-03 18:49] tillkruss commented on #38
Ping @spacedmonkey

[2021-12-03 21:09] felixarntz opened #39 "Add docs on contributing to the performance plugin"
This issue is about creating a `/docs/Getting-started.md` file with the most important information needed to contribute to the performance plugin. That documentation should follow a similar structure like Gutenberg's https://github.com/WordPress/gutenberg/blob/trunk/docs/contributors/code/getting-started-with-code-contribution.md, e.g.:
* explain how to clone the repository
* which local tools are

[2021-12-03 21:12] felixarntz commented on #39
My initial suggestion for WordPress and PHP compatibility here is the following:
* **WordPress:** No backward-compatibility other than the latest release, i.e. the latest release is also the minimum required version (right now 5.8). We will need the latest core features for many things here, that's the nature of feature plugins.
* **PHP:** Always match the latest WordPress core version, i.e. minim

[2021-12-03 21:14] felixarntz opened #40 "Add plugin `readme.txt`"
Like every plugin, the performance plugin needs a `readme.txt`. We already have a plugin name (see #1) and a preliminary plugin description (https://github.com/WordPress/performance/blob/trunk/load.php#L5), and we are currently defining WP and PHP version support as part of #39.

What should our `readme.txt` contain? Any ideas on the detailed outline, what to put in the FAQ etc? Let's brainstorm.

[2021-12-03 21:23] felixarntz opened #41 "Define changelog approach / tooling"
As the performance plugin will be released in the WordPress plugin repository at some point (and also in general 😄), we should think about how to create and maintain a changelog for new features, enhancements, and bug fixes.

Some high level questions:
* Should we maintain the changelog manually or through automated tooling (e.g. like https://github.com/WordPress/gutenberg/blob/trunk/bin/plugin/co

[2021-12-03 21:28] felixarntz opened #42 "Configure GitHub action for automated plugin deployment to wordpress.org"
Once the plugin is released on the wordpress.org plugin repository, we will need to regularly push updates. Since this is somewhat of a tedious and potentially error-prone process, it should be automated: We need a GitHub action that deploys the plugin release to wordpress.org when a GitHub release is published.

Some potential approaches / inspiration:
* https://github.com/10up/action-wordpress-p

[2021-12-04 17:23] jeremyfelt commented on #41
Please include a changelog in the plugin readme. It's so nice to see a list of changes directly in the WordPress dashboard when upgrading a plugin. 😄

[2021-12-04 20:13] tillkruss commented on #41
I'd vote for a `readme.txt` Changelog for sure, maybe instead of a `CHANGELOG.md` duplicate, we could just copy the changes from `readme.txt` into the GitHub release notes?

I guess if all changes are approved via PRs, then we can either **enforce** a `readme.txt` entry via a GitHub Action, or just mention it manually when it's missing from the PR.

[2021-12-06 14:04] ThierryA commented on #27
Yes

SG

[2021-12-06 14:23] ThierryA commented on #41
+1 to that

[2021-12-06 14:25] ThierryA commented on #39
An easy approach would be to follow the same requirements as the WordPress version features are targeted to.

[2021-12-06 15:48] lolautruche opened #43 "Use Blackfire.io profiler for measurements and analyze WordPress behavior"
[Blackfire.io](https://blackfire.io/docs/introduction) is willing to help the performance initiative by providing:

- A free Enterprise subscription, including all add-ons and free training (by myself);
- Developers resources: myself and @gilzow.

Blackfire provides [Profiling](https://blackfire.io/docs/introduction#profiling), [Monitoring](https://blackfire.io/docs/introduction#monitoring) and [a

[2021-12-06 19:10] adamsilverstein commented on #39
WordPress: requiring latest version makes sense (we might even need patches in some cases).  For PHP version, matching the WordPress minimum makes sense since we are targeting core merge for much of this code.

[2021-12-06 19:16] felixarntz commented on #39
@ThierryA

We can't really define that per feature though, it's about the WordPress version the performance plugin requires. Given that all features we're building will target a future WordPress core version, I think requiring the latest existing WordPress core version makes most sense.

[2021-12-06 19:28] adamsilverstein commented on #43
Hi @lolautruche 👋🏼  thanks for opening this issue. Exciting to hear you will be contributing to the WordPress core performance effort!

I'm not too familiar with your service/product, so thanks for all the links - that helped.

Can you to describe how you would see Backfire.io fitting into our effort? Would we use it to test the impact of proposed changes when developing features?

We've also disc

[2021-12-06 19:29] westonruter commented on #43
We've used Blackfire on the AMP plugin to identify some initial performance bottlenecks, but we've stalled on adding it to CI: https://github.com/ampproject/amp-wp/issues/3361. /cc @schlessera

[2021-12-06 19:39] felixarntz commented on #41
Thanks for the feedback! Given the replies so far, maybe we can indeed recycle a lot from Gutenberg's https://github.com/WordPress/gutenberg/blob/trunk/bin/plugin/commands/changelog.js and adjust it for our purposes? How about the following:

* We use GitHub milestones for each release.
* Every pull-request should receive a GitHub milestone at least by the time when it is merged.
* Every pull-requ

[2021-12-06 19:56] felixarntz commented on #41
I just created a first milestone https://github.com/WordPress/performance/milestone/1 so that we can get started to assign merged issues/PRs to it. I kept any details open since we haven't defined yet what the scope and version number should be.

[2021-12-06 20:00] #27 closed, assigned to felixarntz

[2021-12-06 20:12] lolautruche commented on #43
@adamsilverstein We may use the Profiler to analyze all the requests, regardless what we're aiming to optimize. In fact, as long as PHP is involved in the operation we want to improve, Blackfire can help as it gives facts and figures on how WP is doing **exactly**.
We'll see each and every function calls, how many times they've been called, which functions called whichever function, etc. Furthermo

[2021-12-06 20:14] lolautruche commented on #43
I'd gladly help you on this!
I noticed that the issue is 2y old, I hope I'm not getting there after the battle 😊 .

[2021-12-06 20:21] lolautruche opened #44 "Use Platform.sh to deploy WordPress vanilla instances for testing"
Platform.sh is a PaaS that can be easily leveraged to deploy any app.

In addition to #43 (P.sh owns Blackfire), **we're also willing to help on the infrastructure side by providing one or several free Platform.sh projects**.
We would be able to deploy automatically any branch/PR, and thus run some tests (e.g. Blackfire automated tests).

WDYT?

[2021-12-06 21:13] adamsilverstein commented on #41
Excellent! Thanks for kick starting this @felixarntz.

Everything in https://github.com/WordPress/performance/issues/41#issuecomment-987120029 sounds good to me, makes sense to adapt the `changelog.js` script approach.

[2021-12-06 21:40] adamsilverstein commented on #42
👍🏼  I've used the 10up action and found it reliable and straightforward to set up. the changelog management stuff in the Gutenberg script might be useful, I'm not sure what it does exactly.

[2021-12-06 22:23] schlessera commented on #43
I've been in contact with Blackfire for a while now to get traction in WordPress Core. There is a `WordPress` enterprise environment that was kindly provided for open source WordPress Core work. I won't share the credentials here, but @lolautruche I'm sure you have internal access to find that.

I was in contact with multiple Core committers over time letting them know about this possibility, but

[2021-12-07 00:11] josephscott commented on #44
Being able to test PRs against a consistent WordPress site, and then compare against the existing master branch would be really helpful.  The idea being that for a given change we'd like to be able to detect if it making some aspect better/worse/no change.

Related, would be being able to run those same tests against every commit to master and trend the results over time.

[2021-12-07 01:38] tillkruss commented on #34
See https://github.com/WordPress/wordpress-develop/pull/2018

[2021-12-07 11:04] lolautruche commented on #43
Thanks @schlessera for reminding me of that environment. I have indeed all the details here.
I'll be able to add new users to this environment. We should organize this somehow, as I'd need email addresses.

[2021-12-07 15:39] manuelRod commented on #25
guys, I can work bringing https://github.com/audrasjb/site-health-audit-enqueued-assets/blob/master/site-health-audit-enqueued-assets.php to a module, and then we can discuss further messaging/features?

[2021-12-07 16:01] ThierryA commented on #25
@manuelRod thanks for raising your hand. Sure you can either open a PR bringing the code in a module and we discuss further on it (I have some thoughts about the `> 10` asset as a signal) or alternatively edit this issue description with more details about the approach and we continue discussing in this issue. Either war works 😄

[2021-12-07 16:30] BlogAid commented on #22
I'm very concerned with the auto change of format type on upload.

Many site owners are more concerned with quality than speed and want complete control over the compression type used - like photographers and artists.

And many other site owners do superior compression, with a modern file format like MozJpeg, prior to upload and also would not want their images to go through another compression ju

[2021-12-07 16:45] PaulHHM opened #45 "Performance testing environment focused on WP core repo"
This issue is to discuss creating a standard VM for performance testing of WordPress.

The idea is to create a reproducible VM (using Docker/Vagrant/whatever) for testing WordPress with all tooling included' and 'Base WordPress installs' that could encompass a generic blogging setup (possibly using https://wordpress.org/plugins/fakerpress/), a generic ecommerce setup (100's of products, categories

[2021-12-07 17:21] pbearne commented on #22
I suspect the ability to turn off WebP / fine-tune the image delivered could handle with filters that a plugin can hook into
If we create filters that allow fine gain control of the image quality we can your concerns
I can see the case to composed thumbnails(small images) but un compassed large versions in the same set of resizes

[2021-12-07 23:03] #4 closed, assigned to adamsilverstein

[2021-12-08 09:50] manuelRod opened #46 "Module Slugs Naming Proposal"
As the number of modules is gonna grow, having just /modules/{module-slug} can lead to difficulties when trying to find one.

Maybe a different approach would help us in the future to easily identify, to which focus area they belong to, for instance:
/modules/{focus}/{module-slug}
/modules/{focus}-{module-slug}

[2021-12-08 10:47] mehigh commented on #46
+1 for a flat structure like /modules/{focus}-{module-slug}

[2021-12-08 13:34] ThierryA commented on #41
SGTM. How are we thinking about ensuring these practices are applied consistently?

[2021-12-08 13:38] ThierryA commented on #46
Generally agree with organizing modules by focus area, I would personally prefer `/modules/{focus}/{module-slug}` as `/modules/{focus}-{module-slug}` by not be obvious to everyone, having folders for focus area makes it more obvious that modules are "grouped".

[2021-12-09 10:49] bratvanov commented on #22
I'm also yet to see conclusive proof that WebP is better than JPEG when encoded with MozJPEG.
For some images, one will be slightly better than the other, and vice versa, but all within a very small margin to justify the extra added complexity of supporting a whole different format like WebP.

You also have to consider that AVIF is not the only major upcoming next generation image format.

There's

[2021-12-10 17:07] adamsilverstein commented on #22
Hi @BlogAid, thanks for the feedback. I'll reply to your points individually:

Absolutely! Existing plugins, tools and approaches these sites use to optimize their images will continue to be supported.

Can you explain a bit more about how you use MozJpeg and your workflow? Which images do you display on the front end of your site? In a typical setup, WordPress will (currently) create several sub

[2021-12-10 17:26] adamsilverstein commented on #22
Hi @euene - thanks for your feedback. I'll reply to your points individually:

I don't think using MozJPEG is supported in LibGD/PHP/Imagick so we can't leverage it. In fact, WebP is currently the best format widely supported by server backends.

Absolutely, JPEGXL does sound like an amazing new format! I haven't forgotten about it and we have this issue to track the idea: https://github.com/WordP

[2021-12-10 17:36] adamsilverstein commented on #22
Hi @pbearne 👋🏼 🥂  ... yes absolutely, the change as proposed is simple to unhook/disable and we will document that in the release notes.

[2021-12-10 18:32] bratvanov commented on #22
Thanks for your reply @adamsilverstein

My solution is to configure WP with the jpeg_quality filter set to 100. Then on the server side, a daily cronjob goes through wp-content/uploads and recursively optimizes all new images with custom-built jpegoptim compiled with MozJPEG. Yes, unfortunately it's not a solution that can be universally leveraged natively in WP core.

I'm glad that we agree!

I f

[2021-12-13 11:19] JustinyAhin commented on #46
I agree on having a` /modules/{focus}/{module-slug}` structure for more readability.

[2021-12-13 11:26] JustinyAhin commented on #39
It definitely makes sense to support t

[2021-12-13 11:30] JustinyAhin commented on #39
+1 to the initial proposal of Felix https://github.com/WordPress/performance/issues/39#issuecomment-985830941

[2021-12-13 21:41] adamsilverstein commented on #22
@euene thanks for all the additional details and keeping us up to date on JPEG XL.

[2021-12-14 11:20] mmuyskens commented on #22
Why WebP though?

I mean, it makes sense instead of JPEG but AVIF is already supported by Imagick, as well as LibGD via libavif.

WebP and MozJPEG are pretty much neck and neck in file size until you hit about 1000px wide images. WebP then becomes the loser of the two for anything larger than about that. Seems like a waste of time in my opinion to adopt WebP now.

AVIF would be the clear winner, f

[2021-12-14 15:14] adamsilverstein commented on #46
makes sense, good suggestion @manuelRod!

[2021-12-14 16:23] mehigh commented on #7
Good read on the topic:
https://www.baekdal.com/thoughts/retina-displays-and-file-sizes/

Having a second option for compression for @2x+ retinas might be useful.
And thinking from a simplicity's point of view, for example images >3000px in actual pixel width (assuming an implementation that doesn't deliver responsive srcsets,etc.) are probably the ones where the biggest impact can a more aggressi

[2021-12-14 16:34] jonoalderson commented on #15
This is a big need, for sure.

Performant, flexible, responsive and adaptive image markup is hard to achieve when limited by local (storage and generation) resources. Optimal approaches require large sets of srcset options, and that's prohibitively expensive to generate and store on many setups.

E.g., optimal markup for a 'hero banner' on a webpage which adapts by device (including not only viewp

[2021-12-14 16:34] felixarntz commented on #46
I'm in favor of the nested structure `/modules/{focus}/{module-slug}` as well.

However, note that this will require code changes (e.g. module parsing) and documentation changes, so we need a PR. It would also mean that modules should no longer need to specify the focus in the module header, since it would already be defined by the folder name.

Let's implement the changes to make it work, but we

[2021-12-14 16:56] mehigh commented on #45
Including some plug-ins from the most popular ones will give a snapshot that's closer to the reality
https://wordpress.org/plugins/browse/popular/

1. Contact Form 7
2. Yoast SEO
3. Akismet
4. WooCommerce
5. Jetpack
6. MonsterInsights

Maybe more? I recall reading at some point that the average site has upwards of 20 plug-ins active, but might be wrong.

A level of consideration for performance pl

[2021-12-14 18:01] davidegreenwald commented on #45
👋 10up's WP Local Docker is an open-source solution to building repeatable, customizable local dev environments: https://github.com/10up/wp-local-docker-v2

Now compatible with M1 chips as well.

[2021-12-14 18:17] dustinrue commented on #45
What is the overall goal of the performance testing? When would these performance tests be run? Who would run these tests?

Are you looking to spot performance regressions in core itself? If that is the case, then I would suggest not installing any plugins as once you install other plugins you can't ensure that a performance regression was introduced due to WP or the plugin or even a combination o

[2021-12-14 18:50] adamsilverstein commented on #15
also possibly related: https://github.com/WordPress/performance/issues/8

This is exactly the motivation for this issue. Would love to hear more ideas about how we can design such an API in core.

[2021-12-14 19:54] felixarntz commented on #45
@boogah pointed out [here](https://wordpress.slack.com/archives/C02KGN5K076/p1639500745077200?thread_ts=1639500458.073800&cid=C02KGN5K076) that it is now unclear whether Docker will continue to be used for the official WordPress development environment, so it's worth taking note of that for this issue as well: https://make.wordpress.org/core/2021/11/24/wordpress-development-environment/

That arti

[2021-12-14 21:05] felixarntz commented on #45
What @dustinrue is asking above is precisely what we need to answer here first IMO:

My 2 cents on these questions are:
* What is the goal? I would start simple with a single goal: **Create a performance testing environment for WordPress core, and _only_ WordPress core.** While we should definitely look at plugins and themes too and allow for them to be tested, that makes things much more complica

[2021-12-14 22:41] felixarntz opened #48 "Add `CODE_OF_CONDUCT.md` and `SECURITY.md`"
It's a good idea to add the files to our repository. I suggest we use exactly the same those from Gutenberg which would apply just like that to this repository as well:

* https://github.com/WordPress/gutenberg/blob/trunk/CODE_OF_CONDUCT.md
* https://github.com/WordPress/gutenberg/blob/trunk/SECURITY.md

In the PR that adds these two files, it may also be good to update the `CONTRIBUTING.md` file

[2021-12-14 22:42] felixarntz commented on #48
Let's wait for #47 to be merged first.

[2021-12-14 22:44] adamsilverstein opened #49 "Add width and height attributes for images added from URL"
When images are inserted from a URL in the block editor, the resulting HTML should include the image width and height in order to avoid layout shift. Currently it does not.

See https://github.com/WordPress/gutenberg/issues/6652

Fix might need to be in Gutenberg, adding this ticket here since it can impact image performance.

[2021-12-14 22:50] felixarntz commented on #44
Thanks @lolautruche, that is great to hear!

I suggest we continue the non-logistic parts of this topic (e.g. how would we use platform.sh for our purposes?) in #45, which goes more into how to approach this - platform.sh may be a great service to achieve our goals there.

[2021-12-14 22:55] felixarntz commented on #41
@ThierryA I think for the start we'll have to do some occasional triaging of pull-requests. #47 is a good start for including a note on adding the necessary labels to every pull-request.

I think eventually it would be a good idea to require the merger of a pull-request to ensure the labels are present. We could add workflow documentation for this. Even better would be if we could have a GitHub ac

[2021-12-14 23:51] josephscott commented on #45
How consistent are the environments for GitHub actions?  In order to have high confidence in the results of a before/after comparison we should control for as many variables as possible.  From the test agent end that usually isn't too bad, use the same browser, network limits, device type, etc.  For the server hosting WordPress we are looking more at CPU, memory, storage, database.

[2021-12-14 23:55] josephscott commented on #45
In regards to the details, I agree that we should start with the basics.  Default WordPress, default theme ( 2022 ).  As that gets flushed out and any testing adjustments that come up get made, then we could consider what additional variations should be tested.

[2021-12-15 08:40] lolautruche commented on #45
Hello!
As a follow-up to #44 , I repeat here the offering of Platform.sh :wink: .
The project has already been created, with @josephscott as an admin. We may add additional users of course!
We [usually suggest to use Composer flavors of WP](https://docs.platform.sh/guides/wordpress/composer.html) for several reasons, but we might [use a vanilla instance](https://docs.platform.sh/guides/wordpress/v

[2021-12-15 08:58] jonoalderson commented on #8
Worth noting that there's often a read cost ($) associated with these types of remote lookups, depending on where/how the images are hosted.

[2021-12-15 12:24] ThierryA commented on #46
I would be in favor of doing it rather sooner than later to avoid having more modules needing to migrate.

[2021-12-15 12:30] ThierryA commented on #41
Seems to be the only bullet proof way IMO. At minimum, we could also have a PR template with a checklist with one of them being "My PR as a label with ... as per documentation<link>"

[2021-12-15 16:19] felixarntz commented on #41
Sounds good. I suggest we create two PRs: one with the changelog tooling itself (to generate it, as mentioned above inspired by the similar Gutenberg scripts), and another one with the PR integration (both template and GitHub workflow).

I'm gonna look into this today.

[2021-12-15 16:20] eugene-manuilov commented on #43
@lolautruche is it possible to see profiling results on a local machine without going to the blackfire site? The ability to observe profiling results while working on a feature on a local machine is one of the key factors of success for this project. Without it, the profiling will worth nothing if 99% of developers won't be able to see results just because they don't have access to the Blackfire a

[2021-12-15 16:34] erikyo commented on #22
@mmuyskens actually not very widely supported by [browsers](https://caniuse.com/avif ) and i guess safari support will come very late since only webp are fully supported only since the last version. IMHO webp is a good balance between support and performance

[2021-12-15 16:53] lolautruche commented on #43
@eugene-manuilov No, you have to access the Blackfire website to view the profile. I understand the issue, but we may add as many developers as needed, as long as they use it :wink:

[2021-12-15 17:02] eugene-manuilov commented on #43
Thanks, @lolautruche, but I think it will be problematic and easily become a bottleneck.

[2021-12-15 17:05] schlessera commented on #43
@eugene-manuilov - A profiling run can be shared as a publically accessible URL that anyone can go through even without an account.

Example link (just click on it to try for yourself): https://blackfire.io/profiles/compare/bb84da75-a28b-4c66-ab88-a352c8c56525/graph

[2021-12-15 17:25] eugene-manuilov commented on #43
@schlessera this is good, but it still doesn't solve the local development problem.

[2021-12-15 21:44] adamsilverstein opened #50 "Add additional documentation for each module"
Each module should include some basic documentation (both user facing and developer oriented) about what it does and how to use it.

- Add a `README.md` in each module's folder root. Primarily for developers who would be browsing the repository.
- Display a long description alongside the module in the settings screen. Primarily for users who are using the plugin.

[2021-12-15 21:44] adamsilverstein commented on #50
Question: for the long description part, do we want to use the existing `Description` field (https://github.com/WordPress/performance/blob/dcbea35a795d28cdadfed2fe88c90a7b97ed0e49/docs/Writing-a-module.md?plain=1#L44) or add a new field to the header?

[2021-12-15 23:02] josephscott commented on #43
I think there is some confusion here.  Using Blackfire on a consistent setup tracking the master branch can help us identify commits that might be hurting performance.  At the same time, devs can work against the same type of setup locally ( or on a separate server some where else ).  The only difference being that they won't have access to the Blackfire tools for their local setup.

[2021-12-15 23:26] #39 closed, assigned to JustinyAhin

[2021-12-15 23:35] felixarntz commented on #50
@adamsilverstein I think sticking to a brief description in the `Description` field would be more in line with how plugins handle this.

Regarding the longer description, I think that's a great idea, but I'm not sure a module header would be suitable for that. What if for example we want multiple sections or any formatting such as bold/italic text etc? Maybe we need another approach here.

I think

[2021-12-15 23:38] felixarntz commented on #45
@josephscott

I think it would depend more on where exactly the environment would be hosted and which service we use how for measurement. What I meant was that a GitHub action would merely trigger the latest code to be deployed into that setup/environment (whatever we define here) and then a performance test would be run against it. So the result of the test itself would be independent of GitHub a

[2021-12-16 00:24] josephscott commented on #45
Thank you, I understand better what you mean now.

[2021-12-16 01:01] westonruter commented on #49
Seems like this would be straightforward to add in Gutenberg when a remote image is added. Once the image is loaded, the width/height can then be persisted as attributes.

Nevertheless, what if the author is linking to an image without consistent width/height? For example, they could be linking to https://source.unsplash.com/random so that a random image with random dimensions are used. If the dim

[2021-12-16 01:06] felixarntz opened #52 "Implement GitHub action to ensure necessary labels and milestone are present on pull requests"
Based on https://github.com/WordPress/performance/issues/41#issuecomment-994746944, we should have a GitHub workflow that ensures that every pull request has the necessary labels and milestones. This can later be set up as a requirement that has to be met before a pull request can be merged.

Here's the specifications that the GitHub workflow should implemented (based on #41 as well):
* Every pull

[2021-12-16 01:07] felixarntz commented on #52
@ThierryA Does this sound good to you? (Paging you here expicitly due to your comment in https://github.com/WordPress/performance/issues/41#issuecomment-994746944.)

[2021-12-16 15:14] PaulHHM commented on #45
Yes, I feel that including a specific set of plugins that would replicate three different scenarios would be best. One for a generic e-commerce site, one for a generic blog site, and one for a generic company site.

I think that including any performance plugins would cause issues with reporting on the performance any specific change would make (positive or negative).

I don't think excluding plug

[2021-12-16 16:33] felixarntz commented on #45
@PaulHHM

I am not clear what specific goal such "real world" scenario test environments would address. I agree that they could be potential options for some benchmarking, e.g. we could say something like "over the last x months, performance on the average blogger setup has improved by x%". But those "real world" scenarios would hardly be a reliable indicator for measuring the impact of a particul

[2021-12-17 09:21] manuelRod commented on #25
@ThierryA here is the PR: https://github.com/WordPress/performance/pull/54

We can continue the conversation here.

So we are moving from 10 assets to total filesize, but should we maybe keep a combination of both? I think it is still useful to know the number of resources enqueued since we can still recommend concatenating them.

[2021-12-17 10:45] ThierryA commented on #52
@felixarntz yep the brief is great :)

[2021-12-17 10:51] dainemawer commented on #6
@adamsilverstein - this is an interesting scenario. The case for preloading responsive images makes sense and has the potential to better `Largest Contentful Paint` however, if everything is a priority then nothing is a priority. That means we should ideally be able to determine what image (if it is in fact an image) is the Largest Contentful Paint and preload that image, rather than attempting to

[2021-12-17 10:59] dainemawer commented on #9
Its interesting if you read the source code for `Properly size images` in Lighthouse:

[code]
In order to pass this test, we almost need to ensure that the image sizes are correct based on the `device-pixel-ratio`. As the example describes, `1000px` on a `@2x` screen is displayed at `500` so if we were to display `375px` then we need to ensure that a user uploads a `750px` image in order for their

[2021-12-20 09:58] JustinyAhin commented on #23
@tillkruss it would definitely make sense to set up that to automatically assign PR reviewers. Not sure why/if we should do the same for issues though.

[2021-12-20 09:59] JustinyAhin commented on #23
And from the GitHub documentation you shared, it is only for PRs.

[2021-12-20 15:23] adamsilverstein opened #57 "Consider page speed metrics in preview"
See previous discussion: https://github.com/WordPress/gutenberg/issues/33578

[2021-12-20 20:15] #41 closed, assigned to nobody

[2021-12-20 20:17] #48 closed, assigned to JustinyAhin

[2021-12-20 20:55] westonruter commented on #25
If concatenation is recommended that would then probably also require recommending an optimization plugin that does such such concatenation. Otherwise, concatenation would only be something that could be done in the context of a theme/plugin's individual scripts. In this latter case, the call to action would be for the site owner to consider an alternative theme/plugin.

[2021-12-20 21:03] westonruter commented on #6
The problem with preloading responsive images is that the `imagesrcset` and `imagesizes` attributes on `link[rel=preload]` are supported in Chromium-based browsers.

Therefore, it's probably safer for now to use priority hints, adding `importance=high` to the featured image of a post.

Identifying the LCP images has generally been addressed by https://github.com/WordPress/wordpress-develop/pull/15

[2021-12-21 10:02] ThierryA commented on #25
Continuing [the comment thread conversation](https://github.com/WordPress/performance/pull/54#discussion_r771282426) here. I would suggest to have a discussion with the broader group about the scripts and stylesheets size threshold as well as the number of instance if we decide to include this as a signal too.

https://almanac.httparchive.org/en/2021/javascript#how-much-javascript-do-we-load and h

[2021-12-21 16:17] adamsilverstein commented on #46
👍🏼  I will create a PR to update the webp-uploads module and adjust our docs to reflect the new naming convention.

[2021-12-21 16:21] felixarntz commented on #46
@adamsilverstein Make sure to also updated the way the modules are parsed and loaded, so that the plugin continues to work, e.g.:
* https://github.com/WordPress/performance/blob/trunk/load.php#L101
* https://github.com/WordPress/performance/blob/trunk/admin/load.php#L194

We may need to change the data in the option then so that it stores an array of strings, where each string is the focus slug an

[2021-12-21 18:18] adamsilverstein commented on #46
Question: should we also change the test file structure to move tests into focus sub-folders? eg change `/tests/modules/{module-slug}` to `/tests/modules/{focus}/{module-slug}`

[2021-12-21 18:34] adamsilverstein commented on #25
Also relevant: the CMS section of the web almanac also breaks out some WordPress specific stats showing the high number of resources enqueued: https://almanac.httparchive.org/en/2021/cms#plugins

[2021-12-21 18:51] felixarntz commented on #46
@adamsilverstein Yes, I think that change should be made everywhere, for consistency. That way we can furthermore always rely on the same full `{focus}/{module}` naming pattern.

[2021-12-21 20:26] felixarntz opened #59 "Module header information is not translatable"
#2, #27, and #46 have established the required infrastructure for modules in the performance plugin. While this approach is what we want to use going forward, at this point there is still a crucial problem with it, which is that the user-facing strings within the module header (most importantly the module description) are not translatable, because they are a PHP comment and therefore don't go thro

[2021-12-21 21:23] adamsilverstein commented on #8
I updated the trac ticket with a refresh against trunk.

From the last comment from Andrew Ozz:

* It will only be added for the "full" image size. This may not be the uploaded/original image file if the image was resized on uploading.
* It may be missing or unreliable (if the image was optimized by a plugin after uploading), and will be used primarily as cache when displaying image info in wp_adm

[2021-12-21 21:30] JanThiel commented on #36
I would like to add the suggestion to explore options to explicitly add 1st class citizen support for WordPress Multisite Setups.
The Object Caching generally works but it currently lies within the implementation layer to decide how to (and if) handle MS support.

The issue with the current API becomes obvious with the `wp_cache_flush()` method. It doesn't define how to handle MS. Take the availab

[2021-12-21 21:34] JanThiel commented on #36
Another issue we identified in the current way the Object Caching is setup are the "global cache groups". They are not really ment to be changed or configured in the way they are currently implemented.

Again: This only affects Multisite Setups. But it is also another indicator that Object Cache + Multisite does not go along that well currently.
Details are described here already: https://core.tra

[2021-12-22 07:33] ThierryA opened #61 "Define default module activation (onboarding)"
Opening this issue to discuss if modules should be activated by default or not, maybe all modules other than the experimental for instance. When someone install the plugin, the expectation is generally that there is some preset for features right away.

If it is justified not to have any modules activated, we should at least guide plugin users to the module activation page, for instance redirectin

[2021-12-22 11:37] dainemawer commented on #40
@felixarntz couple of ideas here to get this thread going:

1. First off should be a list of the improvement modules as well as why they improve performance (motivation)
2. Where we see this plugin headed (dreams/aspirations)
3. Any specific call outs (Gutenberg, Media Library etc)
4. Link to contributing guidelines
5. Perhaps a detailed section about what Web Vitals this plugin will have an impac

[2021-12-22 11:39] dainemawer commented on #16
@adamsilverstein apologies if this comment is not placed in the correct issue / PR but would it be feasible to handle alternative image formats as a query param on the image permalink? You see some CDN's manage it that way:

`<img src="https://cdn.com/images/image.jpg?format=webp">` - that way we could still make a request to the image, but perhaps return a `webp` version in the response as `image

[2021-12-22 15:10] jeffpaul commented on #61
Given that this plugin is intended to improve performance, I would be in favor of having all but the experimental items enabled by default and also with an admin notice and settings link on the plugin install page that directs users to the plugin settings page so that they can disable/enable other things that best fit their needs for their site.

[2021-12-22 16:06] mitogh commented on #61
I would be in favor of enabling all the modules by default as long as `WP_DEBUG` is defined and is set to `true` usually this is helpful for non-production environments.

Enabling all the modules specifically the ones that might have an impact on the aspect of the site on production by default like changing the enqueued or priorities of assets (JS/CSS) and such might have an impact on the aspect o

[2021-12-22 17:22] tillkruss commented on #61
+1 for activating non-breaking modules by default.

[2021-12-22 18:29] tillkruss commented on #36
@JanThiel Both fantastic points, I'll split these into separate issues to explore soon.

[2021-12-22 18:30] ecotechie commented on #61
I would like to see a test for WP_DEBUG and WP_ENVIRONMENT_TYPE. If debug is not on or environment is production, then none of the modules activate on plugin activation. We don't know who will be installing this plugin and what will break if they do. Making enabling modules easy and understandable is a great option. Aren't all the modules experimental? We don't know what will/won't break on sites

[2021-12-22 19:18] felixarntz opened #62 "Implement GitHub action to lint JS"
#51 and #60 implemented initial JS functionality (not in production, but for plugin maintenance tooling). This includes basic ES linting and formatting relying on `@wordpress/scripts`, which is what we should rely on here to have an easy-to-maintain setup. What's still missing is a GitHub workflow `js-lint.yml` that performs the linting check on commits and pull-requests.

See the existing `php-li

[2021-12-22 19:28] eugene-manuilov opened #63 "Define a list of metrics that we need to measure"
We need to conduct a list of metrics that we need to measure in order to understand whether our changes improve the performance or not. This is the first step we need to make before we can start discussing tools that can help us to measure desired metrics and environments where we will run performance tests.

Since this plugin is intended to improve frontend and backend performance, we will need t

[2021-12-22 19:37] eugene-manuilov opened #64 "Tools to collect performance metrics"
Once we figure out the list of metrics (#63) that we need to measure, we will need to select which tools we want to use to collect metrics. Ideally, all contributors should be able to run these tools on their own computers without any limitations.

Please, suggest tools that you think we would need to use and provide some details about why we should use them.

#### Tools to track frontend metrics

[2021-12-22 19:47] felixarntz commented on #45
For reference, we have now #63 to discuss specifically which metrics we want to measure and #64 to discuss how (which tooling approach) we want to measure them. Let's leave the issue here focused on in the exact scope of _where_ we're going to dedicate our initial efforts, but the _what_ and the _how_ should be discussed in those two issues, to not make the one here way too confusing.

Which metri

[2021-12-22 19:49] felixarntz commented on #64
@lolautruche @josephscott Pinging you here since you both already had some ideas and made progress on potential tools to collect performance metrics. #63 is also related to that.

[2021-12-22 19:50] felixarntz commented on #44
@lolautruche If it's okay with you, can we continue and centralize this conversation in #64 (potentially in parts also #63) and close this issue here?

[2021-12-22 19:52] felixarntz commented on #43
For reference, we now have #64 which is more holistically about which performance tooling to use for our initial project(s). Potentially you'd want to chime in there as well.

[2021-12-22 21:09] felixarntz commented on #42
@Otto42 Can you assist us or give us access to set up the [GitHub secrets](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/creating-and-using-encrypted-secrets) for this repository (`SVN_USERNAME` and `SVN_PASSWORD`) needed to automatically deploy from here to the wordpress.org plugin repository?

Also I wonder whether you have any advice on whose SVN credentials to

[2021-12-22 21:34] mitogh opened #65 "Disable the `Enable WebP Uploads?` module if server does not support it."
Right now there's no information when adding the plugin if my current server supports `WebP` or not instead of allowing users to enable the module. Instead, disable the module or don't render the module when is not supported, instead, a message can be displayed instead that the module was not activated due `WebP` is not supported on the current server where the images are being tested.

![2021-12-

[2021-12-22 21:37] mitogh opened #66 "Add a performance tab under Site Health"
Each module or specific modules from the performance plugin can take advantage of the site Helth from WordPress to indicate whether a module was not installed due to specific dependency does not exist and is recommended to enable at the server level, the site health can be used as well in order to provide a piece of more detail information or run reports for specific metrics.

![2021-12-22_15-35](

[2021-12-22 21:48] mitogh opened #67 "Image mime type is not set correctly when a `webp` image is generated."
## Note

Make sure the `Performance` plugin is enabled and activated, as well with the `webp` modules for images at: `Settings >
Performance`

Related with issue:

- #16

## Steps to recreate:

1. Open the WordPress dashboard.
2. Go to `Media > Add New`
2. Upload the image
3. Go to `Media > Library` and open the image, observe the image has an extension `image/jpeg` instead of `image/webp`

![2021

[2021-12-22 21:52] mitogh opened #68 "Setup `.github` templates"
As a feature request would be ideal to define templates for Bugs / Feature Requests in order to have a standard format for both.

Details:

- https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository

[2021-12-22 22:06] mitogh commented on #67
Related with #22

[2021-12-22 22:11] mitogh opened #69 "Image is partially converted to `WebP`"
## Note

Make sure the `Performance` plugin is enabled and activated, as well with the `webp` modules for images at: `Settings >
Performance`

Related with issue:

- #16

## Steps to recreate

1. Open the WordPress dashboard.
2. Go to `Media > Add New`
2. Upload the image
3. Visit the attachment page of the image.

![2021-12-22_16-08](https://user-images.githubusercontent.com/3921289/147160711-d6c

[2021-12-22 22:31] tillkruss commented on #66
We could use the new `site_health_navigation_tabs` filter added in 5.8:

https://make.wordpress.org/core/2021/06/22/extending-the-site-health-interface-in-wordpress-5-8/

[2021-12-22 22:41] felixarntz commented on #69
@mitogh This may be expected, as the uploaded source image is not being converted to WebP. cc @adamsilverstein

[2021-12-22 22:42] felixarntz commented on #67
@mitogh Similar to #69, this _may_ be because the source image is still JPEG if it was originally JPEG. Try uploading a WebP image directly, in that case it _should_ say `image/webp`. cc @adamsilverstein

[2021-12-22 22:44] felixarntz commented on #65
@mitogh This would tie into the infrastructure aspect of the overall plugin, and I'm not sure we should disable the entire module in that screen. We could instead show e.g. an admin notice triggered by the module itself if the server doesn't support WebP?

If we decide this should be shown before the module is even active, we would need to define a centralized approach so that a module is able to

[2021-12-23 00:32] mitogh commented on #65
Thanks @felixarntz

The main idea is basically to provide feedback to the user in order to allow a user to identify that a module is not active or can't be active because server limitations, instead of allowing users to enable the module even when no real action can happen.

[2021-12-23 00:35] mitogh commented on #65
Additionally, would be ideal if we say that the `webp` conversion is not supported prior to WordPress 5.8.0 as the filter `image_editor_output_format` was introduced after WP 5.8.0.

[2021-12-23 01:23] felixarntz commented on #65
That part should be implicitly covered, since the overall plugin will require 5.8.0 as its minimum WP version (we'll always require the latest WordPress versions since the changes target core, so we'll need to build against the latest version for most modules anyway).

[2021-12-23 01:38] mitogh opened #70 "Store previous image size before `WebP` conversion"
As part of the set of measures we want to measure and use to comparison to know the real benefits of installing the plugin and enabling the modules, we need some sort of metrics as discussed  on:

- #63

For new and existing images as described in:

- #22
- #24

Storing the size of the image before the conversion would be helpful in order to run diff in size per image against the current image siz

[2021-12-23 01:41] mitogh commented on #70
Slightly related to:

-  https://core.trac.wordpress.org/ticket/49412

[2021-12-23 12:18] #59 closed, assigned to felixarntz

[2021-12-23 13:56] lolautruche commented on #64
Hey there 👋

Thank you @felixarntz
As for the backend measurements, Blackfire can help a lot.
Blackfire will provide detailed profiles to understand where we may have bottlenecks, what we may improve, etc.
On top of that, we can [define metrics](https://blackfire.io/docs/testing-cookbooks/metrics) in a `.blackfire.yaml` file, which can then be used for [automated testing](https://blackfire.io/docs

[2021-12-23 13:57] lolautruche commented on #64
Regarding metrics, I wrote several articles explaining what we can do with them in Blackfire:
- https://blog.blackfire.io/feature-focus-the-metrics-episode-1.html (series of 3 articles)
- https://blog.blackfire.io/getting-more-precision-with-arguments-capturing.html

[2021-12-23 16:10] #62 closed, assigned to nobody

[2021-12-23 17:06] Otto42 commented on #42
Looks like the only place we have using such an action is the Gutenberg repository at the moment. They did it by creating an account on org specific for that purpose alone (named "gutenbergplugin").

We have the wordpressdotorg account, however that is mainly a placeholder, it is not used to commit any code to the repository. The account you use should be the account of a committer to the plugin o

[2021-12-24 01:13] PaulHHM commented on #45
One other option - https://warehouse.easyphp.org/inventory-devserver#applications

[2021-12-29 22:56] felixarntz commented on #25
@manuelRod @ThierryA @adamsilverstein Looking at the two posts on JS and CSS usage above, one thing to realize is that (at least on desktop) the amount of JS _and_ the overall file size of JS at the 75th percentile is about 3 times as much as the respective value for CSS.

I'm focusing on specifically the 75th percentile since that is where for CSS we are above 10 assets, which is where based on t

[2021-12-30 18:47] felixarntz commented on #46
Fixed via #58

[2021-12-30 18:47] #46 closed, assigned to adamsilverstein

[2021-12-30 22:18] felixarntz commented on #40
@dainemawer I opened a PR with an initial `readme.txt` draft. It also includes a script to facilitate maintenance of it, but specifically the readme content itself is merely a first draft, so please review and iterate on it as you please. That also applies to anyone else, we should collaborate on the content as much as possible. With that said, let's keep the first version somewhat simple, it shou

[2021-12-30 23:29] adamsilverstein commented on #21
I've been digging into how images are stored and generated a bit further and will post an update here soon with a proposed path forward.

[2021-12-31 15:45] adamsilverstein commented on #21
I started working on a POC in a branch, PR incoming.

Some good reading:
* Responsive images -  https://web.dev/serve-responsive-images/
* The`picture` element: https://web.dev/learn/design/picture-element/

Some additional details about my findings and the approach:

## Use cases for implementing the `<picture>` element

The picture element makes sense when the image has more than one mime type,

[2021-12-31 20:26] adamsilverstein opened #74 "Investigate email client support for WebP, plugin usage"
WordPress now supports WebP images, and this plugins `webp-uploads` module explores using WebP as the default sub size image format. During testing with WebP, one issue raised was support for the WebP format in email clients.

### Using WebP images in emails
According to [Can I Email](https://www.caniemail.com/features/image-webp/) (at the time of this writing) support is very good, with >97% supp

[2022-01-01 23:06] adamsilverstein opened #75 "Ensure post meta reflects image mime type"
When uploading jpeg images with the `webp-uploads` module, we use WebP as the default file type for sub sized images. The post meta that lists the image sizes includes a mime-type value; we should ensure that matches the sub sized image mime type.

As reported in https://github.com/WordPress/performance/pull/32#issuecomment-992314408

[2022-01-02 19:50] ddur commented on #21
1) New DOM element node `<picture>` may break theme or custom CSS selectors. How are you going to fix it?

2) Does `<img>` element CSS class/style applies only to `<img>` or to other `<source>` tags or to `<picture>` tag?

[2022-01-02 22:26] ecotechie commented on #64
Any thoughts of using Xdebug with the profiling flag? This is free, open source, easy enough to setup locally and very powerful if used with CacheGrind. I use Kcachegrind, but any other would do...

[2022-01-03 15:40] adamsilverstein commented on #21
Hey @ddur, thanks for the questions:

Good point, we probably want to let themes opt into the behavior so they can adjust CSS accordingly. We could make opting in as simple as checking `current_theme_supports( 'picture' )` (as suggested on the trac ticket). Maybe with core image blocks we can improve that by adjusting CSS?

Good question that needs more research; I'm guessing you would need to app

[2022-01-03 16:42] adamsilverstein commented on #21
Reading up on the various possible uses for the picture element here: https://dev.opera.com/articles/responsive-images/ I created a demo pages with `picture` elements and linked elements for testing: [preview](https://refined-github-html-preview.kidonng.workers.dev/WordPress/performance/raw/add/picture-support/modules/images/picture-element/demos/demo1.html) & [source](https://github.com/WordPress

[2022-01-04 16:12] tillkruss opened #76 "Allow global and non-persistent groups to be filtered"
See https://core.trac.wordpress.org/ticket/54303 and https://core.trac.wordpress.org/ticket/47884

This is a rarely requested feature, but given the complete lack of flexibility should be addressed.

Core calls `wp_cache_add_global_groups()` very early and using `apply_filters()` is unlikely an option.

Adding and removing groups mid-request could be catastrophic, so having an ignore-list may be t

[2022-01-04 16:15] pbearne commented on #38
I can pick this one up if you want

[2022-01-04 16:16] tillkruss opened #77 "Add `wp_cache_*_multiple` functions"
See https://core.trac.wordpress.org/ticket/54574

Alongside `wp_cache_get_multiple()`, add these helpers:

- `wp_cache_add_multiple()`
- `wp_cache_delete_multiple()`
- `wp_cache_update_multiple()`

[2022-01-04 16:16] tillkruss commented on #77
PR opened: https://github.com/WordPress/wordpress-develop/pull/2018

[2022-01-04 16:16] tillkruss commented on #34
Moved to #77

[2022-01-04 16:20] tillkruss commented on #36
@JanThiel See #76

[2022-01-04 16:26] tillkruss opened #78 "Remove cache time limitation in WP_Term_Query"
See https://core.trac.wordpress.org/ticket/54511

No need to limit the expiration to 24 hours.

Ping @spacedmonkey

[2022-01-04 16:27] tillkruss commented on #34
Moved to  #78

[2022-01-04 16:28] eugene-manuilov commented on #52
Hi @JustinyAhin. Do you need help with this ticket? Do you mind if I also take a look at it?

[2022-01-04 16:29] tillkruss opened #79 "Add query cache to `WP_User_Query` class"
See https://core.trac.wordpress.org/ticket/40613

[2022-01-04 16:30] tillkruss commented on #34
Moved to  #79

[2022-01-04 16:35] tillkruss opened #80 "Add caching to comment feed in `WP_Query`"
See https://core.trac.wordpress.org/ticket/36904

Ping @spacedmonkey

[2022-01-04 16:35] tillkruss commented on #34
Moved to #80.

[2022-01-04 17:30] JanThiel commented on #36
I do have one more thing :-) ... But it's a complex one...

`wp_cache_get` and `wp_cache_get_multiple` support a `bool $force` flag to force direct cache layer access without the intermediate WordPress in-memory cache. This is quite useful (and the only way I am aware of) to circumvent concurrency issues when having longer running background tasks (WP-Cron triggered). For example image processing

[2022-01-04 17:40] tillkruss commented on #76
@janthiel is taking a go at this.

[2022-01-04 17:52] pbearne commented on #38
is there a trac ticket for this?

[2022-01-04 17:54] tillkruss commented on #76
See https://github.com/pantheon-systems/wp-redis/pull/331 and https://github.com/pantheon-systems/wp-redis/pull/333

[2022-01-04 18:00] tillkruss commented on #38
I'd definitively add a note in the docblock about using this function carefully, because if you flush the `users` group, but not the `user_meta` group the results might be catastrophic.

- https://core.trac.wordpress.org/ticket/4476
- https://core.trac.wordpress.org/ticket/9773

[2022-01-04 18:10] tillkruss commented on #36
@JanThiel: There might be a better way: https://github.com/woocommerce/action-scheduler/issues/790

[2022-01-04 18:12] pbearne commented on #38
Should we add protection for that and delete both?

Looking at the tickets lets add a test for the function before use and fall back to flush all if the function is missing

[2022-01-04 19:12] tillkruss commented on #38
I'd just document it in the docblock, instead of writing various rules in the function.

[2022-01-04 19:18] JanThiel commented on #76
Trac Ticket ref: https://core.trac.wordpress.org/ticket/54303

[2022-01-04 19:55] tillkruss opened #81 "Allow flush runtime cache to be flushed"
Allowing users to flush the runtime (in-memory) cache, without flushing the entire persistent cache is an often requested features for app running long processes, such as Action Scheduler or WP-CLI.

- https://github.com/woocommerce/action-scheduler/issues/790
- https://github.com/WordPress/performance/issues/36#issuecomment-1005025385

I'm not sure about the naming here, since we need to distingu

[2022-01-04 22:10] pbearne commented on #78
I have this one

[2022-01-04 22:14] pbearne commented on #77
@Jonny Harris has this

[2022-01-05 01:30] mitogh commented on #75
Related with

- #69
- #67

[2022-01-05 13:38] erikyo commented on #6
Yes and it's very helpful with the featured image (or with the largest image of the above the fold)

I've tested on my [blog](https://modul-r.codekraft.it/) that improvement seems to give a [reasonable advantage for LCP](https://imgur.com/a/T4VJZsP) but I found some difficulties because the image that is loaded must be the same and of the same resize of the one that is used in the featured image a

[2022-01-05 16:44] tillkruss commented on #77
I can't assign this to @spacedmonkey, unless he response here I believe.

[2022-01-05 16:45] spacedmonkey commented on #77
I can't seem to assign myself on this one.

[2022-01-07 21:58] mitogh commented on #19
One thing to consider can be the Blurhash algorithm:

- https://github.com/woltapp/blurhash

Where the hash for the image can be stored as part of the meta of the image.

[2022-01-08 10:41] eugene-manuilov commented on #33
@felixarntz, how about using the theme support feature instead of the custom filter? In this case, if someone programmatically activates a module using the module slug (for example, `add_theme_support( 'webp-uploads' )`), they won't need to re-activate it in the future when this module makes it to the core.

I have prepared a draft PR #82 that implements this idea. Do you mind taking a look at it?

[2022-01-08 11:10] eugene-manuilov commented on #61
I agree with this statement. We can't know who will be using this plugin and what may break if they install it on production and activate it without checking for compatibility. All modules in this plugin are experimental to a certain degree and I think it would be better if we force site owners to manually activate modules that they need so that they will need to evaluate the risk of activating a

[2022-01-10 08:42] ThierryA commented on #61
Some module will be tagged as experimental when we don't have confidence it won't break sites. For all other modules, they will be developed with the goal of being production ready and therefore we should consider making them enabled by default. In theory, **all** plugins should be installed on a testing environment prior to be rolled out to production, this one is no different in that sense.

[2022-01-10 12:46] eclarke1 commented on #31
@ThierryA is this ticket still required in the performance project, if so, should we add to the Infrastructure focus and move to Triage there?

[2022-01-10 13:01] ThierryA commented on #31
@eclarke1 Yes this ticket is still applicable to the project. This one is more horizontal to the current focus area, we briefly discussed having an API (name TBD) focus for horizontal features as such but didn't quite get to decide it. I would tend to say it is ok to leave this issue as is for now and revisit it in due time.

This issue is maybe something @swissspidy or @westonruter could help wit

[2022-01-10 13:15] manuelRod commented on #25
Thanks for the feedback @felixarntz. I think we should start somewhere and those 4 thresholds can be it. Maybe we need to work a little bit extra on the messaging we want to show, like, don't worry the webmaster excessively if they see a recommendation.

We need to address:
- Specify we are checking only in is_front_page.
- Show always the number of assets/size even if they are below the threshold

[2022-01-10 16:42] #70 closed, assigned to nobody

[2022-01-10 16:43] #66 closed, assigned to nobody

[2022-01-10 16:54] swissspidy commented on #31
I feel like https://core.trac.wordpress.org/ticket/42438 should get fixed first, to have a simple API to add preloads.

Then this ticket here could be used to explore actually making use of it in core.

[2022-01-10 21:48] westonruter commented on #19
The Node.js AMP Optimizer has support for blurry image placeholders. Here's the implementation: https://github.com/ampproject/amp-toolbox/blob/main/packages/optimizer/lib/transformers/AddBlurryImagePlaceholders.js

[2022-01-11 09:34] JustinyAhin commented on #52
Hello @eugene-manuilov. Yes definitely, I'd like some help.

I've been working on this in this PR https://github.com/WordPress/performance/pull/53.
I'll add a summary later today about what I have done so far, and what's remaining.

[2022-01-11 10:59] eugene-manuilov commented on #52
Awesome! I'll work on it.

[2022-01-11 11:21] manuelRod commented on #25
@felixarntz @ThierryA I've implemented the above thresholds, these are the current string (pending to review them and decide a final version):

_The amount of %1$s enqueued %2$s (size: %3$s) is acceptable._
_Your website enqueues %1$s %2$s (size: %3$s). Try to reduce the number or to concatenate them._

[2022-01-11 11:49] eclarke1 commented on #25
@manuelRod @ThierryA could I recommend we move this issue to the 'In Progress' column in the Project Board to indicate it has an owner and is being worked on?

[2022-01-11 11:57] eclarke1 commented on #21
@adamsilverstein is this something you are continuing to work on once back from the break? If so, could we assign the ticket to you please?

[2022-01-11 11:58] ThierryA commented on #25
Thanks for the heads up @eclarke1, moved!

[2022-01-11 13:34] ThierryA commented on #31
We could also develop it as an API module here so that it serves as a "feature plugin" for core patch. Either way works, as long as some progress is made 😉

[2022-01-11 13:57] eugene-manuilov commented on #52
Ok, I have prepared a new PR using the workflow file created in the Justin's PR as an example. The workflow file in the #85 checks required labels using the [`agilepathway/pull-request-label-checker`](https://github.com/agilepathway/label-checker) action and adds a basic PR template which is needed to trigger the mileston check because there is no event that can trigger the workflow.

[2022-01-11 16:58] eclarke1 commented on #52
@eugene-manuilov @bethanylang we can remove the Needs Dev label from here right, as it's In Progress / Review?

[2022-01-11 16:58] eclarke1 commented on #33
@eugene-manuilov can we remove the Needs Dev label from here too, as it is in Progress now? @bethanylang

[2022-01-11 17:02] eugene-manuilov commented on #33
Done.

[2022-01-11 17:02] eugene-manuilov commented on #52
Done.

[2022-01-11 17:06] ecotechie commented on #22
I know WordPress is about decisions not options, but I feel forcing image changes on websites without an easy way to opt out/in seems a bit heavy handed. Yes we are working towards a leaner internet, but forcing images to degrade (if that happens) or complicating the image loading experience for users will have a detrimental effect on adoption/continued usage of any platform.

I'd suggest keeping

[2022-01-11 17:16] zero4281 commented on #22
I'm still in favor of the correct usage of the <picture> tag with <img> tags containing the correct srcset for both WebP and JPEG.  The companies that I work with are far more concerned with keeping backwards compatibility and page size than disk space.  Doing this would also allow for an additional image type as an early adoption eventually.  The supported image types could be configurable in eit

[2022-01-12 08:18] pacmanito commented on #25
Hi, all. I wonder what's the logic beyond recomending staying under certain number of resources and using concatenation? I am used to think these are best practices from HTTP/1 era.
Are there any tests supporting the idea that resources number has any meaningful impact on page loading?
Concatenation can be even counterproductive, imagine user opening home page and getting concatenated resources, t

[2022-01-12 13:03] felixarntz commented on #33
@eugene-manuilov I don't think `add_theme_support` is appropriate for this, since these modules aren't theme features. While it would work, as the name of that function states, it should be used for theme features provided by a plugin or core, which would be enabled from within the theme's codebase. But the use-case here will be most likely must-use plugins, e.g. injected by an agency or hosting p

[2022-01-12 16:31] JanThiel commented on #76
WordPress PR (currently still without tests): https://github.com/WordPress/wordpress-develop/pull/2149

[2022-01-12 16:41] JanThiel commented on #81
To add some reference to core parts currently suffer from this:
All WP core APIs using `get_metadata_raw` including but not limited to `get_post_meta`, `get_user_meta` et cetera.

Very obvious and impacting the WP user experience are the effects on `WP_User_Meta_Session_Tokens`. Any concurrency issues / stale runtime caches lead to random logouts and session terminations. We are still debugging th

[2022-01-12 19:13] mitogh opened #86 "Add `async` decoding attribute as default to the HTML image tags generated by WordPress"
We should evaluate the tradeoffs/benefits of adding the `decoding` attribute to images by default.

The idea would be to add the `decoding` attribute as `async` for nonvisible images similar to what happens with the `loading=lazy` attribute.

This ticket is created from core:

- https://core.trac.wordpress.org/ticket/53232

Useful links:

- https://developer.mozilla.org/en-US/docs/Web/API/HTMLImag

[2022-01-12 21:37] eugene-manuilov commented on #33
@felixarntz, ok, got it. Thanks for the feedback. I have decided to create a new PR with suggested changes: #87. Do you mind reviewing it?

[2022-01-13 16:40] eugene-manuilov commented on #68
Created a pull request that adds two templates: one for bug reports and one for feature requests. #88

[2022-01-13 19:42] ddur commented on #21
How about 'img' element and loading=lazy attribute? Does it apply to picture-source elements?

[2022-01-14 07:31] JustinyAhin commented on #61
I am also in favor of enabling by default the modules that are ready for production. Perhaps in this case we should keep an updated list of those modules that will be activated in the plugin's README.

Also, I'm not too much in favor of an immediate redirection to the plugin settings page after activation. We could opt for an approach similar to the WP Reset plugin (https://wordpress.org/plugins/w

[2022-01-14 08:51] manuelRod commented on #25
Hello @pacmanito, I would say the messaging we have right now is just a provisional placeholder, we are actually deciding on it.
The idea of this feature was just trying to give a sign to the web owner that it has either too many assets ( I think it is still useful ) or too heavy, in most cases one will lead to the other, and in most cases will be because the site has too many plugins installed.

[2022-01-14 09:41] yogeshbeniwal commented on #61
+1 for activating non-breaking modules by default. If this plugin is ultimately going to Core then it make more case for providing best practices enabled by default.

[2022-01-14 13:59] felixarntz commented on #23
I just realized that the [current `CODEOWNERS` file](https://github.com/WordPress/performance/blob/c1a077075a88a4d13203833e6825f1f715599633/.github/CODEOWNERS) is not fully accurate:
* It still contains `modules/webp-uploads` but following #46 all modules will be in focus area-specific directories, so this needs to be changed to `modules/images` - which actually makes the `CODEOWNERS` file mainten

[2022-01-14 15:01] pacmanito commented on #25
@manuelRod thank you for clarification. Maybe some further research is needed to give some clear recomendations?
AFAIK concatenation was still superior in many cases 3-4 years ago (although the difference was negligible), but mostly due to poor browser and server implementations of HTTP/2. I suppose the situation has changed by now and no-concatenation configuration should be better, but this is o

[2022-01-15 16:31] #40 closed, assigned to felixarntz

[2022-01-15 20:48] eugene-manuilov opened #90 "Automate @since tags generation using the `n.e.x.t` placeholders"
Currently, we use `1.0.0` for `@since` tags in the codebase. This is fine for now since we haven't released an actual version yet. Later on it may not work because some already implemented tickets might be postponed and included into later releases which means that we will need amend `@since` tags manually to match the release number.

What we can do is to start using `@since n.e.x.t` tags for new

[2022-01-16 07:08] felixarntz commented on #52
Fixed via #85

[2022-01-16 07:08] #52 closed, assigned to nobody

[2022-01-16 07:12] felixarntz commented on #90
I'm in favor of adopting this approach, since it also allows for flexibility on what the next release version will be. By using `n.e.x.t`, we can easily do a search-replace as part of release preparation to inject the actual version. I agree a simple npm script would be helpful, and we'll need to document this - we will need to add release documentation anyway, also around what this means for upda

[2022-01-16 07:15] felixarntz commented on #33
Could someone else review the PR #87? Approved from my end, but best to have at least two approvals. cc @JustinyAhin

[2022-01-17 09:48] manuelRod commented on #25
@ThierryA @felixarntz did you have the chance to review the latest changes?

[2022-01-17 10:07] manuelRod opened #92 "Create Site Health Audit for Autoloaded options"
Create a new module for site health to audit and measure heavy autoloaded data usage from the options table.

We could discuss different approaches for this or we can create and evolve the module further in different steps.

1. Informative module, we just gather the information and warn the user if needed (ex, you have more than X autoloaded options), we show them useful information of what it mea

[2022-01-17 10:12] mehigh commented on #92
❤️
If you don't know about the problem, you won't be lifting a finger to fix it. This is a great idea!

[2022-01-17 12:13] eclarke1 commented on #20
@adamsilverstein just assigning this issue to yourself as it's in progress

[2022-01-17 12:53] pbearne commented on #92
I have been working on some filters that would help provide detailed stats

[2022-01-17 13:02] eclarke1 commented on #10
@adamsilverstein I'll add this to the measurement focus for now and into the backlog, but let me know if that should change.

[2022-01-17 13:13] eclarke1 commented on #44
As per above comment, closing this issue, thanks

[2022-01-17 13:13] #44 closed, assigned to nobody

[2022-01-17 13:28] yogeshbeniwal commented on #92
Nice idea, may be rather than X autoload options, we can keep it as more than x MB size of autoload.

[2022-01-17 15:44] tillkruss commented on #92
Yeah, byte size and total count would be very useful.

[2022-01-17 16:41] mxbclang opened #95 "Discussion conversion test"
### Discussed in https://github.com/WordPress/performance/discussions/94

<div type='discussions-op-text'>

<sup>Originally posted by **bethanylang** January 17, 2022</sup>
test</div>

xyz

[2022-01-17 16:44] #95 closed, assigned to nobody

[2022-01-17 16:56] mitogh opened #96 "Store previous image size before `WebP` conversion"
As part of the set of measures we want to measure and use to comparison to know the real benefits of installing the plugin and enabling the modules, we need some sort of metrics as discussed  on:

- #63

For new and existing images as described in:

- #22
- #24

Storing the size of the image before the conversion would be helpful in order to run diff in size per image against the current image siz

[2022-01-17 17:10] mitogh opened #97 "Add a performance tab under Site Health"
Each module or specific modules from the performance plugin can take advantage of the site Helth from WordPress to indicate whether a module was not installed due to specific dependency does not exist and is recommended to enable at the server level, the site health can be used as well in order to provide a piece of more detail information or run reports for specific metrics.

![2021-12-22_15-35](

[2022-01-18 00:26] adamsilverstein commented on #96
We need to keep the old images around (eg not delete them) to avoid breaking any existing links. Storing meta data about the old images could be useful for metrics, or maybe we could store some aggregate data about the change in image sizes.

Having `picture` element support would be fantastic, although for most users they can probably switch over to WebP since web browser support is excellent. On

[2022-01-18 09:01] manuelRod commented on #92
should we define the thresholds?

[2022-01-18 10:49] mehigh commented on #92
750KB for warning (yellow background), 1MB+ for error (red background)

[2022-01-18 12:26] mxbclang opened #98 "Add details about GitHub labels and workflow to documentation"
Update `/docs/Getting-started.md` to add more details about the organization of the GitHub project, including:

- Projects
- Labels
- Issue workflow
- Who to reach out to if you have questions

[2022-01-18 12:58] manuelRod commented on #92
From WPEngine

From Kinsta

[2022-01-18 13:58] spacedmonkey commented on #92
I think whatever values we have for sizes would need a filter. It is made clear by these quotes, different hosts have different levels of acceptable autoload sizes.

[2022-01-18 14:21] eclarke1 commented on #5
@tillkruss actually I removed the 'Needs Dev' label here as assuming you are picking this up? Would be great to move to 'In Progress' once work commences. However, if you're not the one who is picking this up, perhaps we can unassign you and add the 'Needs Dev' label to indicate to the community it needs Dev? WDYT?

[2022-01-18 14:59] adamsilverstein commented on #96
A couple more thoughts:

Whatever we decide about older sub sized images (delete or not delete), the default behavior should be filterable. Worth noting that WordPress never deletes the original image, so the sub sized jpegs could always be recreated if needed.

This should be possible with a filter but maybe not the default behavior?

This is a separate issue really, I'm not sure I see the value

[2022-01-18 15:22] mxbclang commented on #61
_Please vote for this approach with a thumbs-up or thumbs-down emoji. Voting will close on **1 Feb 2022 at 6pm GMT**._

Non-experimental modules will be activated by default; experimental modules will _not_ be activated by default.

[2022-01-18 15:24] mxbclang commented on #90
_Please vote for this approach with a thumbs-up or thumbs-down emoji. Voting will close on **1 Feb 2022 at 6pm GMT**._

Use `@since n.e.x.t` tags for new functions, methods, filters and actions.

[2022-01-18 16:19] adamsilverstein commented on #69
This is expected because we keep the original image (always). I'd love to test this further though to see how older Safari (MacOS), or even outlook or ie handle this `img` tag markup - to they fall back to the jpeg since they don't support webp? If so this helps alleviate the immediate need for the `picture` element.

[2022-01-18 16:27] adamsilverstein commented on #74
Question to investigate: how do email clients handle image markup when the img src references a jpeg (the original) and the srcset references WebP (the sub sizes), for example the markup in the description of https://github.com/WordPress/performance/issues/69?

[2022-01-18 16:31] tillkruss commented on #78
See https://github.com/WordPress/wordpress-develop/pull/2162

[2022-01-18 16:36] spacedmonkey commented on #97
Related https://github.com/WordPress/performance/issues/92 ?

[2022-01-18 16:41] tillkruss commented on #92
@manuelRod: I've got a PR nearly ready for #5 that almost identical to this. What would you suggest to the user if the autoloaded options are too big, an object cache, or to reduce it?

From @spacedmonkey:

[2022-01-18 17:00] adamsilverstein commented on #69
Closing as "works for me" since this is the expected behavior. Lovely image though!

[2022-01-18 17:00] #69 closed, assigned to nobody

[2022-01-18 17:05] #23 closed, assigned to JustinyAhin

[2022-01-18 17:08] felixarntz commented on #33
Fixed via #87

[2022-01-18 17:08] #33 closed, assigned to felixarntz

[2022-01-18 18:13] hawilkins commented on #96
In response to:

Originally posted by @zero4281

WordPress is about everyone, not just _the companies you work with_, so storage space should be a consideration, as well as backwards compatibility. Users on shared hosting are going to care about disk space.

Also, easily 90% or more of WordPress users have no clue what WP-CLI is, so assuming that image cleanup can be handled via WP-CLI is not an a

[2022-01-18 18:26] zero4281 commented on #96
@halounsbury I don't disagree with you at all.  This is why forcing the end users to do things a single way might not be a good idea and exactly why I suggest adding some options to the configuration, using the picture tag for backwards compatibility and flexibility.

[2022-01-18 19:57] adamsilverstein commented on #96
I want to add that in what I consider the reference implementation, the "Regenerate Thumbnails" plugin https://wordpress.org/plugins/regenerate-thumbnails/ (installed on 1million+ sites) offers an option to "Delete thumbnail files for old unregistered sizes in order to free up server space. This may result in broken images in your posts and pages." which is **disabled by default**.

In #24 we are

[2022-01-18 20:14] adamsilverstein commented on #96
Good points @halounsbury - we will keep the hosting team updated in their chats about any potential changes (and how to opt in or out!) because often these decisions (the best default) are best made at that level.

In addition, when choosing the default behavior (users will always be able to modify the default) it is worth remembering that part of our core philosophy (https://wordpress.org/about/p

[2022-01-18 20:27] felixarntz commented on #96
Based on the conversation from Slack earlier today, the points mentioned above, and also based on the default behavior in the "Regenerate Thumbnails" plugin, I suggest the following:
1. When the user uploads a JPEG image, we generate the smaller image sizes in both JPEG and WebP by default.
2. When inserting an image into a post or including an image in the frontend through any other means, we use

[2022-01-18 20:57] adamsilverstein commented on #96
1. I like this for several reasons:
 * we keep existing behavior (the jpegs), only enhancing it with the new WebP images
 * it gives the most flexibility and sets up for AVIF where this is arguably even more useful
1. The downside of this approach:
 * greatly increases storage requirements for uploading images
 * more than doubles already lengthy time to generate all of the image sub sizes
 * bene

[2022-01-18 21:51] mitogh commented on #69
While running some tests I face a new test case that would be worth considering how we are going to handle:

1. Uploading a quite large image (higher than the default supported dimension from WordPress 2500px) (attached example)
2. This would effectively create a new with a suffix `scaled` from the original image, this image is stored as `*.webp`
3. The full image is not stored on the site, with n

[2022-01-18 22:21] mitogh opened #99 "API for Resource hints"
Having an API that can be used for Theme Developers to easily incorporate resource hints would be fantastic. This would help to provide control in the theme side of things to indicate the right order for specific resources like fonts, featured images, or other critical resources that can be used to download resources or give a better idea to the browser of the "correct" order for downloading speci

[2022-01-18 22:47] mitogh opened #100 "API for conditional loading assets"
Currently there's no API in core that allow to do that, aside from:

- `wp_enqueue_script`
- `wp_enqueue_style`

Having an API in place would help to load conditionally CSS and JS only when is required, for instance:

This CSS is only for the `single.php` page or this JS is only required for this custom post type or archive page.

Having an API on top of the existing ones to help Theme developers

[2022-01-18 23:01] swissspidy commented on #99
WordPress has had an API for this since version 4.6

https://make.wordpress.org/core/2016/07/06/resource-hints-in-4-6/

Next up is preload, see #31

[2022-01-18 23:05] swissspidy commented on #100
The easiest way to conditionally enqueue assets is by doing it just when you need it, for example in a block's render callback (or well, its `block.json` file nowadays) or in your shortcode's callback or your template file. Then the file will be enqueued in the footer.

An alternative is do do that conditional check within the `wp_enqueue_scripts` hook callback that should be used for enqueueing a

[2022-01-18 23:35] justlevine commented on #96
This would be helpful not just for WebP, but the long standing [issue with generated PNGs as well](https://core.trac.wordpress.org/ticket/39236) where the smaller files can be even 2x as heavy as the original thanks to the upscaled bit depth

[2022-01-19 00:09] mitogh commented on #99
Oh! I wasn't aware that one looks like that one would do it, I guess we can work on improving the docs for the function with some examples for fonts and images.

Closing this ticket then as there's no real point in having it open if this one already exists in core.

[2022-01-19 00:09] #99 closed, assigned to nobody

[2022-01-19 00:44] westonruter commented on #99
Fonts and images I believe are only relevant in the context of `preload`. As such they'd be part of #31.

[2022-01-19 08:58] felixarntz commented on #96
@adamsilverstein

Those are definitely crucial concerns, and that's where we have to weigh off benefits vs tradeoffs when making the decision for what the default behavior should be. But from my perspective being 100% safe in not breaking anything by keeping JPEG in addition to WebP is more valuable than those three concerns. In any case, sites that prefer it the other way, can customize the behav

[2022-01-19 09:08] JustinyAhin commented on #46
@felixarntz I've noticed that you added this issue to the initial release milestone https://github.com/WordPress/performance/milestone/1.

I think we'll only include PRs in the milestones, right? And #58 is already there. Is it okay to remove the issue?

[2022-01-19 09:18] felixarntz commented on #46
@JustinyAhin Good catch, yeah the issues don't need milestones - although I don't think it causes any harm since the changelog script for example only considers PRs anyway. I've removed it though.

[2022-01-19 09:20] JustinyAhin commented on #42
Now that #89 is close to ready, we will need to decide whether to use a dedicated w.org account, or one of the committer's account to deploy the plugin to WordPress. Can we mention this during the next meeting @bethanylang?

See Otto's comment above, https://github.com/WordPress/performance/issues/42#issuecomment-1000428780.

[2022-01-19 09:41] manuelRod commented on #92
@tillkruss as we discussed briefly on slack yesterday, the idea of this audit will be purely informative (at least on the first version) and everything should have filters ( from the information we expose to links on how to solve the problem ) those filters can be used by hosting companies to propose their solutions, see: [Kinsta](https://kinsta.com/knowledgebase/wp-options-autoloaded-data/) examp

[2022-01-19 10:14] eclarke1 commented on #92
@manuelRod sure thing, assigned to you and once development begins, it would be great to move to 'In Progress' and remove the 'Needs Discussion' label (once we're agreed on an approach). Thanks so much.

[2022-01-19 10:17] sgomes commented on #100
An argument can certainly be made that the "default way" of doing things is bad for performance, and we should be trying to nudge developers in the direction of splitting up their CSS per template, page, path, or whatever makes sense for their theme. A single theme CSS file isn't a great approach, in general.

However, I'm not sure if a new API is the best way of getting there, as I expect most of

[2022-01-19 10:18] eclarke1 commented on #42
Also adding the 'Needs Decision' label here @bethanylang and perhaps we can discuss on the meeting on Jan 25 as @JustinyAhin suggested

[2022-01-19 10:52] eclarke1 commented on #78
@tillkruss @pbearne is it feasible to put this performance issue into 'Review' and add the 'Needs Review' label based on the status of WordPress/wordpress-develop#2162 just so the 2 are aligned? I'm happy to move this issue if you agree these steps are correct?

[2022-01-19 12:12] sgomes opened #102 "Defer enqueued scripts with an experimental toggle"
## Background

`wp_enqueue_script` and friends are the recommended way of loading JavaScript in WordPress. Besides the loading aspect itself, these methods manage dependencies so that scripts are loaded in the correct sequence, with dependencies executing before their dependants, provided they're correctly declared.

The mechanism through which this is accomplished on the browser is the use of blo

[2022-01-19 12:12] spacedmonkey commented on #92
For reference, VIP GO limits to 1MB work of autoloaded options. See [alloptions-limit.php]( https://github.com/Automattic/vip-go-mu-plugins/blob/09de0f928530d6c5dbd8f56e4f5d50253798d7f4/alloptions-limit.php)

[2022-01-19 13:19] mxbclang commented on #96
_Please vote for this approach with a thumbs-up or thumbs-down emoji. Voting will close on **1 Feb 2022 at 6pm GMT**._

Based on the conversation from Slack earlier today, the points mentioned above, and also based on the default behavior in the "Regenerate Thumbnails" plugin, I suggest the following:

1. When the user uploads a JPEG image, we generate the smaller image sizes in both JPEG and WebP

[2022-01-19 14:39] sgomes commented on #102
Edit: Added some more differences between module scripts and classic scripts.

[2022-01-19 14:49] getsource commented on #92
I love this idea!

Would it make sense to profile for the user the time it takes to query the options in some way, too, since what is impactful for a user might be different depending on the host?

I'm also wondering if there might be some way to build in or recommend optimizing the table when necessary, which especially with MyISAM, can completely fix a performance issue with options.

[2022-01-19 15:21] manuelRod commented on #92
I've started working on implementing a preliminary version of how I envision these checks.
There are 3 filters that can be used by 3rd parties:

1. Warning limit ( we must define one by default, 800kb maybe?), but different hosting companies seem to recommend different max sizes ( from 700kb to 1MB as I can see )
2. Description will be filterable too, so messaging can be modified.
3. _Actions_ wil

[2022-01-19 15:24] pbearne commented on #78
I thick this can go into push to core

On Wed, Jan 19, 2022 at 5:52 AM Emily Clarke ***@***.***>
wrote:

[2022-01-19 15:52] mxbclang opened #103 "Update CODEOWNERS"
@JustinyAhin @getsource has agreed to be the second POC for the Images focus area, yay! Can you please update `CODEOWNERS` to add him alongside @adamsilverstein? Thank you!

[2022-01-19 16:20] #103 closed, assigned to JustinyAhin

[2022-01-19 16:20] JustinyAhin commented on #103
@bethanylang just did it here https://github.com/WordPress/performance/pull/104.

[2022-01-19 16:37] tillkruss commented on #78
Let's do that 👍

[2022-01-19 16:50] tillkruss commented on #92
@manuelRod: Should we point to a developer.wordpress.org article by default?

[2022-01-19 17:51] westonruter commented on #102
I don't think this is something that can be safely done by default. I think it would have to be done on a case-by-case basis. In other words, it should use an allowlist rather than a denylist for when to apply. For example, `comment-reply` and `wp-embed` are great candidates for `defer` since they have no dependencies nor dependants. On the other hand, if a plugin is enqueuing a script that does a

[2022-01-19 18:35] tillkruss commented on #80
PR: https://github.com/WordPress/wordpress-develop/pull/2181

[2022-01-19 18:38] tillkruss commented on #5
Closing in favor of #35.

[2022-01-19 18:42] tillkruss commented on #38
Currently being reviewed at XWP before opening a core PR.

https://github.com/xwp/wordpress-develop/pull/4

[2022-01-19 18:49] tillkruss opened #105 "Improve handling of mega objects"
Extracted from #36.

The `alloptions` cache key can be several hundred megabytes and could use better handling. Some 3rd party plugins handle this by splitting it up. Can core do the same?

Instead of focussing only of the `alloptions` keys, maybe cache keys can be designated as _MEGA_ and object cache implementations can handle them as they please.

[2022-01-19 18:51] tillkruss opened #106 "Improve Multisite object caching flushing"
Extracted from https://github.com/WordPress/performance/issues/36#issuecomment-999106773:

Consider supporting "per blog" flushing in multisite environments.

Object Cache Pro [has a similar feature](https://objectcache.pro/docs/multisite-networks/) that allows flushing per blog and can even include global/shared groups, such as `users`. It also adds a "Flush" site action under `Network Admin > Si

[2022-01-19 18:52] #36 closed, assigned to tillkruss

[2022-01-19 19:02] tillkruss opened #107 "Use `term_exists()` should use `get_terms()` internally"
Extracted from #34.

`term_exists()` should use `get_terms()` internally.

- https://core.trac.wordpress.org/ticket/36949
- https://github.com/WordPress/wordpress-develop/pull/2161

[2022-01-19 19:34] #5 closed, assigned to tillkruss

[2022-01-19 20:38] adamsilverstein opened #109 "Optimize compression quality levels by image size"
Currently WordPress uses the same default quality setting for all image sub sizes. We are currently in the process of enabling quality settings on a per-size bases in https://core.trac.wordpress.org/ticket/54648. We should consider if it makes sense to adjust the defaults that WordPress uses for specific (default) sizes, based on best practices.

For example it may make sense to reduce the default

[2022-01-19 20:51] adamsilverstein commented on #22
@mmuyskens thanks for the question/feedback

But is MozJPEG usable by WordPress via libGD or Imagick? or part of PHP (which now bundles GD)?

I'm hoping we see more like a %30 improvement on average, higher for mobile sites, currently the httparchive data reflects that for WordPress pages that use WebP over jpeg [[query](https://gist.github.com/adamsilverstein/d485806fa9dd0f3d73bb4709ff94d9c3)].

[2022-01-20 02:53] getsource commented on #7
@mehigh Thank you! This is really interesting.
Since you mentioned `srcset`, just in case the info is helpful: WordPress supports `srcset` natively, and the sizes should be automatically filled out with a set of thumbnails/generated sizes that are created on upload.

Some updates:
I got some initial results in this branch with Imagick before a break -- enough to find out that the method should wor

[2022-01-20 04:59] dainemawer commented on #109
I think this proposal has some legs @adamsilverstein - Im wondering how this would affect `@2x` and `@3x` screen pixel densities? Theres no way at this point to target quality per screen-density, unless we used a CSS media query which isn't going to help us much here.

Reducing quality may look okay on your average screen / laptop - but if image quality was reduced, Apple users would probably get

[2022-01-20 05:18] dainemawer commented on #102
Excellent research here @sgomes . I tend to agree with @westonruter 's comments.
The manner in which scripts depend on each other is tricky and not left up to WP's `$deps` array if the loading (for whatever reason) is borked.

Another thing to consider is that by setting `$in_footer` to true, any script placed before the closing `</body>` tag, is by default, in its nature, `deferred` as all the HT

[2022-01-20 05:23] dainemawer commented on #86
@mitogh sounds like this is a good idea! Do you think we should incorporate the code from the patch on the core trac or relook at things for this plugin?

I do feel like we need some kind of custom event in JS so that we know when an image has actually been decoded - I see they've been speaking about doing so on the WHATWG ticket: https://github.com/whatwg/html/issues/1920

The important benefit o

[2022-01-20 05:40] dainemawer commented on #63
I think this is a great starting point and very valid argument @eugene-manuilov !
That being said, I think some metrics are going to blur between backend and frontend.

Let me give you an example. `Time to First Byte: measures how long it takes the user’s browser to get (not render) the very first byte of information from the server` - this is an incredibly important metric that could be out of th

[2022-01-20 05:41] dainemawer commented on #20
Looks like @mitogh has a ticket for this aswell: https://github.com/WordPress/performance/issues/86 duplicate perhaps?

[2022-01-20 05:45] dainemawer commented on #19
The LQIP is quite a common pattern across the web now. I've worked on a few projects using https://github.com/aFarkas/lazysizes which also implements this paradigm.

One way of handling the low quality image, in order to save a server request is to encode it:
`data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==`

This means that theres no request to the placeholder image and

[2022-01-20 05:47] dainemawer commented on #15
Agreed, I think this is super important! +1 from me!
To add to this, depending on what CDN provider is chosen to run with - we should `preconnect` to the origin by placing:
`<link rel="preconnect" href="https://cdn.cloudinary.com">` in the head as part of the API. This should optimise the round trip requests that are needed

[2022-01-20 05:52] dainemawer commented on #12
From what I can tell, this format is barely supported - could be cool to provide a sandbox for it and do some initial benchmark - couldnt tell from the trac ticket if that had indeed been done, but willing to give it a stab to see if its as good as everyone says it is!

[2022-01-20 05:53] dainemawer commented on #10
@eclarke1 @adamsilverstein I think I could take a stab at this - sounds like a fun feature to build out.

[2022-01-20 08:04] dainemawer commented on #64
I cant speak too much to the backend profiling here, but wondering if we should go barebones on measuring frontend metrics.

I've seen some of the Performance Advocates at Google use the web vitals library on their own personal endeavours: https://www.npmjs.com/package/web-vitals#basic-usage

Some motivations:

**Pros**

1. Tiny file size (~1kb)
2. Accurate and doesnt re-invent the wheel - dont th

[2022-01-20 08:18] dainemawer commented on #45
Something to take into account here while talking about environments...as much as we need a desktop environment, thats a given, we should be more focused on how these environments can be configured to better reflect mobile. Performance metrics will, as a general rule of thumb always be better on Desktop, than Mobile.

This is because Desktops in general are just far more power in terms of resource

[2022-01-20 09:09] aristath commented on #63
Some additional:

* Number and size of enqueued styles
* Number and size of enqueued scripts.

[2022-01-20 09:25] manuelRod commented on #92
@tillkruss indeed, I was thinking about that, but couldn't find any relevant article. Is there any?

[2022-01-20 10:48] aristath commented on #100
Just noting here that since the future of WP is undeniably blocks and block-themes, it would make sense to focus there.
With that in mind, we have already implemented conditional styles loading for styles in blocks.
Core/themes/plugins can register a style for a specific block, and also add additional styles to a block. These are then only printed when that block exists in the current page.
We've

[2022-01-20 11:16] spacedmonkey commented on #81
The XWP performance team has been working on a patch for this. @pbearne has been taking the lead on this. If you want to see his progress, you can see his PR at https://github.com/xwp/wordpress-develop/pull/4.

[2022-01-20 11:17] swissspidy commented on #100
I wouldn't necessarily say 100% :-) Ideally only critical CSS is inlined, not just small styles. That might be something for a future enhancement there.

[2022-01-20 11:18] aristath commented on #100
Agreed. There's always room for improvement! 👍

[2022-01-20 11:25] spacedmonkey commented on #19
I have implemented blurhash for the web stories plugin. I really liked it. I would be willing to work on this as a feature plugin.

[2022-01-20 11:42] sgomes commented on #102
Thank you both for your comments, @westonruter and @dainemawer! Let me respond to your comments inline before a broader rethink at the end.

I just want to emphasise that the idea is never to do this by default, but rather to have a toggle that enables a user to try these optimisations with the awareness that they may break their site. This is meant as a very imperfect workaround for a rigid API,

[2022-01-20 11:48] eclarke1 commented on #10
Thanks @dainemawer we can assign this issue to you then and it would be great to move over to 'In Progress' once this is started please

[2022-01-20 11:57] eclarke1 commented on #81
@spacedmonkey thanks, with this in mind, do you feel this ticket should be assigned to @pbearne and moved to 'In Progress' so no-one else picks it up?

[2022-01-20 12:44] sgomes commented on #102
I changed the title and added some extra text to the "A possible general solution" section, to emphasise that this is not meant as anything other than an experimental option in the performance plugin, with no goal of it being promoted to Core.

[2022-01-20 13:09] dainemawer opened #113 "Implement Facade Method for Rich Media iFrame Embeds"
iFrames, especially those that load rich media formats like Youtube and Vimeo have generally been loaded and rendered on page load. This can often constitute a negative impact to page load speed as resources come from 3rd-party origins and can potentially pull in a lot of their own scripts.

The idea here would be to lazy-load rich media iFrames in order to improve page speed. One method of doing

[2022-01-20 13:16] futtta commented on #113
The biggest challenge is getting a representative thumbnail image in the facade, which for YouTube when done correctly requires hooking into YouTube's API which in turn requires an API key which is ... a hassle (I'm the dev of [WP YouTube Lyte](https://wordpress.org/plugins/wp-youtube-lyte/)).

[2022-01-20 13:20] dainemawer opened #114 "Site Speed Report Against CrUX"
When it comes to measuring Performance data, users should understand how their performance metrics weigh in against the greater internet. This is where the CrUX (Chrome User Experience Report) can provide valuable insight.

Interesting article for reference / more detail:
https://www.brainlabsdigital.com/blog/how-to-create-a-site-speed-report-on-data-studio-based-on-chrome-user-experience/

The ob

[2022-01-20 13:21] dainemawer commented on #113
@futtta what if this was left up to the user, to upload / assign an image from the media library? I don't think its too much of stretch.

[2022-01-20 13:32] dainemawer opened #115 "Add a Performance Checklist to Plugin"
Often end users are not aware of every aspect of performance. Hence we should help them determine what is critically missing from their site. Lighthouse may be a bit too much for them or made up of details that aren't obvious.

Similar to an SEO or Security setup which checks certain items are in order, this could look something like:

- ✅  Site runs on HTTPS?
- ✅  Uses a CDN for Images?
- ✅  Uses

[2022-01-20 13:40] dainemawer opened #116 "Performance Budgets"
One item we haven't really spoken about is Performance Budgets. There is a ton of theory and opinion on this subject, so I could see this issue becoming pretty lengthy. We often do not build sites with the question of: "What is my performance budget" in mind? As if you were budgeting financially for a month, so too should your site be budgeted, tightly coupled with your goals.

This is a feature t

[2022-01-20 13:49] dainemawer opened #117 "Identifying and Optimising the LCP Image"
This task is something that can be tricky to determine, but if we get it right, I think it could have huge positive effects on WordPress performance. Improving the loading performance of the Largest Contentful Paint image is one of the hallmarks of keeping LCP scores in the green. However, doing so has proven relatively tricky.

In order to reduce LCP, we need to consider a few things:
1. The size

[2022-01-20 13:53] dainemawer opened #118 "Implement CT.CSS"
Harry Roberts (CSS Wizardry) brought out a nifty tool that we recently included into our `wp-scaffold` at 10up, called `ct.css`
At 10up we included this CSS file behind a query param, such as: `?debug_perf`.

The CSS file trawls the `<head>` showcasing:
- Which scripts / css files are render block
- Where async / defer attributes are redundant
- Other issues that could effect the parsing of HTML o

[2022-01-20 13:56] futtta commented on #113
That's certainly a possibility, but that requires quite a few extra steps to be executed by the user as opposed to just adding a normal embed, so not really ideal?

To be clear; one can with reasonable certainty "guess" the a thumbnail URL for normal YT video's (but not playlists) in low-ish resolution;
`https://i.ytimg.com/vi/<video id>/hqdefault.jpg`

always works, but the resolution is not grea

[2022-01-20 14:02] dainemawer opened #119 "Implement PurgeCSS"
Historically, WordPress has really battled to get a good grasp of meaningful CSS being loaded to a given page. Often CSS files are loaded across the site, with no options for tree-shaking or code splitting in a way that makes semantic sense.

PurgeCSS is a tool that follows on from some of the paradigms introduced by frameworks like Tailwind, and the React space, where only the CSS that is require

[2022-01-20 14:12] eclarke1 commented on #35
@tillkruss if it's ok I just removed the 'Needs Discussion' label here as it looks like it's been started with a draft PR

[2022-01-20 14:14] dainemawer opened #120 "Implement Async CSS"
Another pattern to possibly follow is Asynchronous CSS - this was suggested by the Filament Group at some point and has had some decent results: https://www.filamentgroup.com/lab/load-css-simpler/

It is slightly hacky, but it involves loading CSS files with `media` attribute set to `print` - this allows the browser to load the stylesheet in a non render block fashion. Using the `onload` attribute

[2022-01-20 14:19] dainemawer commented on #31
Just a question about this...the more power we give end users to be able to "preload" anything the less of a priority and less sense it makes to preload resources. Preloading more than a few items kind of defeats the point. If an API is built to handle preloading, we should ensure that there is explicit guidance around _what_ to preload. Namely, assets that would improve visual impacts such as the

[2022-01-20 14:20] dainemawer commented on #100
Agreed with @sgomes here - I think code splitting via routes is an incredibly powerful way of reducing redundant Code Coverage. For me thats one of the biggest pain-points with WP - we tend to load so much unconditional CSS that do nothing for the page but bloat it and ruin performance. I have created a ticket that explores PurgeCSS which could have some benefits and essentially remove the need fo

[2022-01-20 14:20] eclarke1 commented on #106
@tillkruss thanks so much for adding the 'Needs Dev' label, if it's ok I'll pop this and #105 into 'To Do' so they get flagged in the next weekly meeting as being available

[2022-01-20 14:23] dainemawer commented on #113
Fair point @futtta
Theres also another avenue of setting a default placeholder for a user - maybe like a grey thumbnail image that can be filtered to be something closer to the brand tone of their site if need be, possibly if the the Youtube thumbnail is not present or the video has been taken download (which can also happen, and is a valid edge case)

In my opinion, the performance benefits out w

[2022-01-20 14:25] eclarke1 commented on #102
@sgomes if it's ok with you I've added the 'Needs Discussion' label as it looks like there's still suggestions on approaches that people could weigh in on :)

[2022-01-20 14:25] swissspidy commented on #31
Providing guidance/documentation definitely makes sense. Don't think we can do anything on the code level for that though.

[2022-01-20 14:29] dainemawer commented on #40
Sorry @felixarntz was out when this was merged - I'll take a quick look at the merged code and open up any further items in issues. Nice work!

[2022-01-20 14:32] sgomes commented on #102
Thank you, @eclarke1, that sounds like the right call! 👍 Sorry for not adding that myself, still getting used to the process here 🙂

[2022-01-20 14:32] futtta commented on #113
Ideal solution; upon a rich embed being added in the block editor (or being saved server-side) the thumbnail is fetched automatically and saved in the media library. If not available we automatically fallback on a (filterable) default one?

Additional advantages:
* the thumbnail is fetched from the same domain (no overhead of an extra https-connection)
* more privacy as no requests to YouTube unle

[2022-01-20 15:08] mehigh commented on #120
This is a good pattern to have access to. It can also enable more developers to make use of it for non-critical things (let's say the CSS for some overlay that's not needed for the initial paint).

[2022-01-20 17:28] tillkruss commented on #106
Both this and #105 need a lot more discussion, there isn't enough information to get started on anything.

[2022-01-20 17:30] tillkruss commented on #115
Response time may be nice to measure too and suggest page/object caching.

[2022-01-20 17:31] tillkruss commented on #92
@manuelRod: No, it probably needs to be added to https://wordpress.org/support/article/optimization/

[2022-01-20 17:32] tillkruss commented on #63
TTFB

[2022-01-20 17:34] tillkruss commented on #81
@spacedmonkey: The PR you liked is related to #38 (flushing individual groups) and not this (flushing runtime caches).

This issue needs a discussion, mostly around naming.

[2022-01-20 19:47] felixarntz commented on #42
Reopening this to figure out which WordPress account credentials to use for deployment, as well as actually configure this on GitHub. Since we can't modify the settings of this repository ourselves, we'll need to ask for help on this once we've decided which account credentials to use.

cc @JustinyAhin @ThierryA

[2022-01-20 21:53] westonruter commented on #31
If you call `wp_add_preload_link()` more than X times it could throw a `_doing_it_wrong()` 😄

[2022-01-20 21:56] westonruter commented on #113
If tapping the facade causes an `iframe` to be injected, a big problem here is on mobile where this will require a second tap to play the video. See also https://github.com/paulirish/lite-youtube-embed/issues/6

[2022-01-20 22:19] mitogh commented on #20
That's right @dainemawer I wasn't aware of this ticket and

- #86

Seems like a dupe from this one. Let's wait for @eclarke1 to see which one should we close. Thanks for the heads up.

[2022-01-20 22:21] mitogh commented on #86
I'm invision a patch from within this plugin that can eventually be merged into CORE. The idea would be similar to how the `lazy` attribute works for images applying the `decode=async` to images that are not the first image (or not inside of visible viewport). @dainemawer

[2022-01-20 22:23] mitogh commented on #97
Looks like this one is mostly an `Infrastructure` type of ticket to setup the section inside of Site Health and

- #92

Is mostly about adding a new section inside of the performance section @spacedmonkey

cc @eclarke1

[2022-01-20 22:29] mitogh commented on #120
The major problem I see with this approach is a problem with CLS (Cumulative Layout Shift) due to the styles being applied after the DOM is loaded via JavaScript.  I think it makes sense for styles that might not be used on the page like `print` or other types of CSS that do not affect the layout of the page like `modal` or hidden DOM elements.

Technically if styles are not needed for the page sh

[2022-01-20 22:35] mitogh commented on #118
This sounds like a great module to be added via a flag as described here:

- https://github.com/WordPress/performance/issues/61#issuecomment-999691430

Or to render any time a constant like `WP_PERFORMANCE_DEBUG` is set to `true

[2022-01-20 22:39] mitogh commented on #116
This metric can be compared against all the assets used on the site via themes and plugins for specific pages and offer a report of which assets goes beyond this budget.

I like the idea of having a metric that can be customized via (filters) or other ways from the developer's side in order to customize the report offered in the site health:

Related tickets:

- #63
- #97

[2022-01-20 22:41] mitogh commented on #115
I like this idea, as well I think having an API or a mechanism as well so developers can set custom measurements for specific areas of a theme like:

- how long does it take to load the main image of my products?
- how long does it take the main featured image to be displayed?

This can be a place where we can use the API [`performance.measure`](https://developer.mozilla.org/en-US/docs/Web/API/Per

[2022-01-20 22:44] adamsilverstein commented on #69
Good point about what happens when you upload a very large image and especially to consider large WebP uploads as well.

Yes, can you please open a new issue for this? I will do some testing with the image you provided (and the twentytwentytwo theme) in the meantime. Thanks!

[2022-01-20 22:57] khoipro commented on #15
We can add a new field on Settings / Media to enable and set CDN domain. Some plugins support CDN, but not all will replace it. I strong suggest take a code from my plugin: https://vi.wordpress.org/plugins/ct-optimization

[2022-01-20 23:03] khoipro opened #121 "Using new default image sizes for new site."
Currently when you install a new site, there is 3 image sizes:
- Thumbnail -150x150 cropped
- Medium - 300px
- Large - 1024px

Actually based on responsive devices, we should consider changing to:
- Medium or Mobile: 395px
- Large: 1080px

And somehow the srcset calculation should adapt well with mobile image better. Also retina support (need another ticket?)

Currently many themes will load 1024p

[2022-01-20 23:15] mehigh commented on #120
The CLS is introduced when the elements styled by those CSS files appear above the fold. And it's not always the case. Yes, you can't know for sure whether something is needed or not to block rendering off the gate, but giving this _option_ via the API allows the usage of this useful feature.
eg. I need font X, that's loaded from an external service. I don't want the first paint of the page to be

[2022-01-21 00:20] adamsilverstein commented on #69
I believe this is what happens currently when the webp-upload module is enabled.

[2022-01-21 01:09] mitogh opened #122 "`*.jpg` is not generated for scaled full size image."
## Steps to replicate

- Enable the WebP module
- Upload an image bigger than the `2560` or `big_image_size_threshold`   (Use attached image)
  - https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-admin/includes/image.php#L275
- Upload the image.
- Observe the full-size image was created with a `*webp`  extension for the full size image.

![2022-01-20_19-02](https://user-images.githu

[2022-01-21 01:10] mitogh commented on #69
Ticket created:

- #122

Partially only `*.webp` version is generated. The suggested approach adds always a `*.jpeg` if does not exist already even for the largest size available.

[2022-01-21 04:14] dainemawer commented on #120
@mitogh I can relate to your concern, it is a bit of a wild card - to be honest, this feature should be coupled with Critical CSS or only applied to stylesheets that are not considered to be part of the critical rendering path. I don't see this as being used for any stylesheet that applies styles above the fold.

However, if we can load bulky plugin CSS, or say, Gravity Form CSS (if the form is be

[2022-01-21 04:17] dainemawer commented on #115
@mitogh agreed - I think this could be seriously useful, if well thought out and purposeful. I think to scope things, we should (for now) only be concerned with what is absolutely critical for loading a good user experience above the fold. That may involve a number of areas, but if we can ensure that pixels get to the browser early enough then we're doing our job :)

[2022-01-21 04:25] dainemawer commented on #113
@futtta that sounds like a pretty good approach.

@westonruter - interesting - I see there's a lot of back and forth on that issue.
I agree with your comment that there's no real difference between lazy loading the frame and using the `IntersectionObserver` - I'll give this some thought.

[2022-01-21 04:57] getsource commented on #122
Thanks so much for the report!

The original full size uploaded image (in JPEG) should still be there (as is listed in the meta under "original image").
Just to confirm, is that the case? This image could act as a fallback if images need to be re-generated at some point.

My understanding is that the intent is for WebP to be the primary format when that module is enabled, so this sounds to me like

[2022-01-21 06:02] JustinyAhin commented on #42
@felixarntz IMO, it will make more sense to go with creating a w.org account for the plugin. Something like performanceteam for instance.

[2022-01-21 06:24] futtta commented on #113
a big difference between a facade-implementation and lazyloading is that the facade remains in place even when in view, the iframe is only loaded when a visitor wants to see the video by clicking/ tapping play. the impact on performance when the video is above-the-fold is obviously big but indeed comes with the double-tap disadvantage which I have not found a workaround for.

[2022-01-21 06:40] JustinyAhin commented on #97
@mitogh I'm definitely interested in working on this.

I think it would make sense to start with a basic set of things to include in the tab. I can see some things mentioned here https://github.com/WordPress/performance/issues/63 included.

Like:

- Number and size of enqueued styles
- Number and size of enqueued scripts.

to start with.

[2022-01-21 06:41] JustinyAhin commented on #97
Also, @mitogh to be sure, do we want to extend the current "Info" tab, with the performance metrics, or add a brand-new tab like on this picture https://make.wordpress.org/core/files/2021/06/4-menu-items.png.

[2022-01-21 10:37] eclarke1 commented on #106
Sure thing @tillkruss in that case I'll remove the 'Needs Dev' label then otherwise this issue will show up in our links to the community as a 'request for development', when we share that link in the weekly meetings, thanks

[2022-01-21 10:40] eclarke1 commented on #81
@tillkruss perhaps worth removing that 'Needs Dev' label until we have decided what the approach is here, otherwise it will show up in the links we send to the community as 'requests for development' - once the approach is agreed via a discussion, we can add the 'Needs Dev' label back to indicate to the community it's ready to go :)

[2022-01-21 10:50] eclarke1 commented on #97
Are you happy to have this issue assigned to yourself @JustinyAhin and once work commences, please move over to 'In Progress'? We will keep the 'Needs Discussion' label on this issue until an approach has been agreed together. :)

[2022-01-21 11:00] eclarke1 commented on #34
Just popping this [Type] Overview issue into 'In Progress' as the 4 x subtasks (#77 #78 #79 #80 ) are party started, hope that's ok, let me know if there's any issues with this :)

[2022-01-21 17:07] sgomes commented on #20
I'm not sure whether this or trac is the best place for discussion. [I went with trac](https://core.trac.wordpress.org/ticket/53232#comment:32) (sorry if I got that wrong!), but please let me know if you prefer to continue the discussion here!

[2022-01-21 17:19] sgomes commented on #117
I'm afraid this goes beyond tricky. It's simply not possible to determine with certainty what the LCP will be (and whether it will be an image). Beyond the factors you mentioned, device screen sizes are also a huge factor, as is anything else that could be conditional to a device type, user, location, etc.

And this is assuming the image even appears in markup; a background image can easily become

[2022-01-21 17:26] sgomes commented on #31
In my opinion a thin wrapper around `<link rel=preload>` doesn't seem particularly useful, since adding that markup is fairly doable through existing hooks, or in templates. Are there any particular use-cases a preload API would significantly help with?

[2022-01-21 17:29] sgomes commented on #116
This sounds like something for the Measurement focus area to consider.

[2022-01-21 17:30] westonruter commented on #117
The identification could be done client-side. I believe this is the approach taken with Jetpack Boost for generating the critical CSS. The frontend could be loaded up into an iframe with some `PerformanceObserver` code added. Once the iframe has finished loading, the `PerformanceObserver` could send the LCP element information to the parent page. Assuming that the LCP element (e.g. image) remains

[2022-01-21 17:43] sgomes commented on #117
Yes, definitely, the browser can determine that with 100% accuracy. However, that gives you the LCP for that particular client, which will not necessarily be the same across other devices, and might not even be the same for that client later (e.g. if the user rotates the device).

Common examples are different screen sizes and optional elements like cookie bars (which are only shown in a few count

[2022-01-21 17:43] mitogh commented on #97
I would say a tab for performance as we are going to have specific metrics let's say for first paint cache and such so this makes more sense https://make.wordpress.org/core/files/2021/06/4-menu-items.png @JustinyAhin

[2022-01-21 17:46] mitogh commented on #122
Just to confirm, is that the case? This image could act as a fallback if images need to be re-generated at some point.

That's correct, full-size image is still uploaded as specified on the meta but is the full-size image tho not the scaled version with the maximum dimensions set by WordPress.

Additionally, I think using the original image as a fallback does not provide a performance benefit, on

[2022-01-21 17:48] westonruter commented on #117
How I see it could work is the page could be loaded in an iframe with 3 different sizes: mobile, tablet, desktop. If the same resource is common across all three, then it should definitely be preloaded. The iframe needn't be displayed to the user either. It can be done silently. After saving a post, there could be a secondary spinner with a message saying something like “Optimizing performance”. I

[2022-01-21 18:06] sgomes commented on #117
I don't agree with that. Preload is a pretty heavy-handed approach, and it's easy for it to result in a de-optimisation instead.

Even if you account for different screen sizes and avoid preloading something if different image sizes are being used for different window sizes (which would greatly limit the usefulness of this feature, since multiple image sizes are a common best practice), perhaps yo

[2022-01-21 18:54] westonruter commented on #117
Humm. Well I don't agree, except for what you noted about different image sizes, which is what I mentioned above:

Responsive image preloading (once supported by non-Chromium browsers) would only load the actual image needed for the device viewport.

~The main difficulty with detecting the LCP image would be the browser cache. Once an image is cached, then something else could end up being the LCP

[2022-01-21 19:20] adamsilverstein commented on #21
@ddur great questions!

Good point, this has been raised before. One approach would be an opt-in approach for the progressive enhancement, themes would declare support for 'picture-element' to get the auto-feature for multiple mime types. Alternately, any theme or plugin could call `wp_get_attachment_image` with a parameter indicating they want a picture element.

Our main initial use case for thi

[2022-01-21 19:22] adamsilverstein commented on #21
I have self assigned, however this is a large task and could use several developers working on it, I will think about how we can break out smaller tasks.

[2022-01-21 19:47] futtta commented on #21
As [per MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture):

So the `<img>` node remains the placeholder for the image as chosen by the browser from the available sources, meaning CSS should continue to target `<img>` and not `<picture>` or `<source>`?

[2022-01-22 01:07] khoipro opened #123 "WP_Query performance for multiple taxonomies and post meta filters"
This is only a proposal to see how could we improve a way to handle a filter for large database.

**My issues**

We need to build a large app with main purpose is real estate classified. Each post will contain some data, but mostly it will be a few terms and have some post meta.

The filters based on those taxonomies work, however the performance will be slow and slow when having 100.000 and more.

[2022-01-22 15:46] jonoalderson commented on #121
'Large' should ideally be 1200px, as the minimum-optimal size for most social sharing contexts is 1200px x 675px.

[2022-01-23 11:33] erikyo commented on #109
hi @dainemawer,

I sincerely think it is not so, rather the opposite... Adopting a different quality setting for resizes allows you to serve hdpi images that weigh as much as their mdpi counterpart. You should take a look at the [ticket](https://core.trac.wordpress.org/ticket/54648) with a >= 4k monitor, there are two images that demonstrate that even if there are more artifacts in the hdpi image

[2022-01-23 20:53] erikyo commented on #75
hi @adamsilverstein,
[This ](https://gist.github.com/erikyo/f0aca6c34fd1d6bc5f73f953bb342a65)is an experiment, I did would try to solve these two issues (the other one is the #122), but after all I guess this definitively isn't in a great way because it adds an additional filter in order to work. Maybe it would be better to add a filter to media_handle_upload (wp-admin/includes/media.php) because

[2022-01-24 04:24] dainemawer commented on #117
I think, to a degree @sgomes - @westonruter suggestion can be scoped. For instance, LCP is only measured against items above the fold. So if the `PerformanceObserver` was running, then we could ensure that it was only checking for elements above-the-fold.

You're right in saying that it could potentially be any element, but again, that could be scoped: it's either going to be an image, video or te

[2022-01-24 10:43] manuelRod commented on #92
I put together a PR for our initial iteration if anyone wants to take a look and give some feedback.

[2022-01-24 11:00] eclarke1 commented on #92
@manuelRod thanks, I've moved this to 'In Progress' and will also add the 'Needs Review' label so it prompts folks that a review is needed. I've kept as 'In Progress' as I know this is an initial iteration :)

[2022-01-24 13:00] dainemawer commented on #10
@adamsilverstein before I move onto this ticket - do you have any thoughts with regards to implementation? Is this something that we would invision living in WordPress, or separate, like a chrome extension?

[2022-01-24 13:02] sgomes commented on #117
I'm happy to go into more detail for any of those points! I don't really know what you disagreed with specifically, so I'll reformulate my comment in the hope that all of it becomes clearer. But please let me know if there's something specific you disagree with!

The gist of it is: if you preload the wrong thing, you end up making things worse. Hopefully we agree there?

I then listed a few ways w

[2022-01-24 13:15] dainemawer opened #125 "Look into Documentation around RAIL"
As with other Handbooks in the WordPress eco-system - I foresee some of the work we're doing in the plugin, not only about optimising code and core, but also providing well-documented, insightful and pertinent documentation around "what makes a site performant" - after all, Core Web Vitals was created to help non-technical users get a better understanding of performance (without the technical know

[2022-01-24 13:21] dainemawer opened #126 "Performance Telemetry"
Im not sure if this goes against any best practices in open source in general or if it would be a security risk - but much like Chrome is collecting data from users browsers for CrUX, would it be worth collecting valuable data from WordPress sites when it comes to performance? This seems like a no brainer when it comes the large amount of sites that WordPress powers across the internet.

Collectin

[2022-01-24 13:31] dainemawer opened #127 "User Timings API wrapper"
Creating an API around `performance.mark` - considering WordPress' pluggable nature could provide some really useful insight to developers on sites.

As mentioned in this [article](https://www.speedcurve.com/blog/user-timing-and-custom-metrics/) by SpeedCurve, the performance browser api provides the ability for custom metrics which could better suit some areas of WordPress.

As the article mentio

[2022-01-24 13:37] dainemawer opened #128 "Ad Performance"
I know this is something that is generally out of our control - however, ad tech is simultaneously the biggest monetary benefit to sites, and its biggest thorn when it comes to performance. This is mainly because ad tech bootstraps itself on page load and requests all sorts of other 3rd-party scripts that we have no control over.

I don't have any solutions here off the bat, but I would like to se

[2022-01-24 13:45] dainemawer opened #129 "Cost to Load Site"
Not sure if its worth extrapolating this from WebPageTest but I think its an incredibly impactful metric that will really make users think. WebPageTest gives an indication of how much it costs to load a site using [What Does My Site Cost ](https://whatdoesmysitecost.com/) - this is something that users (I think) would pay attention to, and work towards bringing under control, as they can relate di

[2022-01-24 15:19] rviscomi commented on #126
I'm one of the maintainers of the public HTTP Archive project, which collects this kind of data for millions of websites, including 2.5 million WordPress sites. Let me know if there's anything I can do to help with this.

[2022-01-24 15:38] sgomes commented on #117
I don't think this is true. Caches will affect the LCP *score*, but they won't usually affect the LCP *element*. The LCP element is the largest [qualifying element](https://web.dev/lcp/#what-elements-are-considered) that is [visible within the viewport](https://web.dev/lcp/#what-is-lcp) before the user interacts with the page.

Caches won't usually affect an element's size, nor whether it renders

[2022-01-24 15:57] sgomes commented on #117
@dainemawer : My concern isn't so much the measurement part; that would be tricky to implement, but it would be feasible with the suggestions in this thread. And as for above-the-fold, as you point out, that's assumed to be the case when talking about LCP; below-the-fold elements that require user interaction to become visible (scrolling, in this case) can never become the LCP element.

My main co

[2022-01-24 17:15] westonruter commented on #10
Just to note that sometimes authors intentionally omit `width`/`height` attributes such as when adding an remote image that changes randomly. See https://github.com/WordPress/performance/issues/49#issuecomment-995343996. Surely not the normal case, but I just wanted to mention the use case.

[2022-01-24 17:19] westonruter commented on #126
For a previous discussion on telemetry in WordPress core, see https://core.trac.wordpress.org/ticket/38418

[2022-01-24 17:36] westonruter commented on #117
Agreed. But this is why I'm suggesting to look at the same page in the most common viewports for mobile, tablet, and desktop. If there is a common element that is the LCP across all three, then there would be a high level of confidence that it can be preloaded to improve the LCP metric.

The lack of cross-browser support for `imagesizes` and `imagesrcset` is indeed an issue, but I don't think it s

[2022-01-25 11:41] sgomes commented on #117
Fair enough, I agree with that. I imagine it will somewhat limit the usefulness of this feature, but let's assume that it still provides enough value to justify its implementation, and so that we can continue the discussion.

Responsive images were somewhat of a different situation, because it was an asymptotic improvement. Behaviour in browsers without support was no worse than before, and behavi

[2022-01-25 12:18] felixarntz opened #130 "Expose WebP support under Site Health status tab"
Since not every server environment supports translating JPEG uploads to WebP format, it's worth indicating this to site administrators in an easy-to-understand way. While we already have some basic PHP extension information about image capabilities in the Site Health info tab, it may be worth adding something explicitly about WebP in the Site Health "Status" tab.

For example a message like "WebP

[2022-01-25 14:08] sgomes commented on #117
I should note that [Chrome DevRel's own Priority Hints explainer reads](https://web.dev/priority-hints/#using-preload-after-chrome-95):

As such, the current proposal goes against Chrome's stated principles for how preloads should be used, unless we limit the discussion to CSS-declared background LCP images, or other LCP-affecting resources that get discovered late because they're not declared in

[2022-01-25 15:32] mehigh commented on #86
I've experienced using this even outside of AMP and have yet to encounter an edge-case where the decoding async had a negative consequence -> especially because the images in general loaded sooner when async.

There is one particular caveat with this implementation - when this is a big image (not responsive, those utterly unoptimised types) above the fold with decoding async lacking width and heig

[2022-01-25 15:39] mehigh commented on #86
I'll support the core ticket and provide before/after measurements, see if we can skip the need to put this in the plug-in and rather get that thing integrated as it is, given how trivial it is and the work already being completed.

[2022-01-25 17:03] felixarntz commented on #42
After [discussion on Slack](https://wordpress.slack.com/archives/C02KGN5K076/p1643129257383400), I'm going to move forward creating a `performanceteam` account for us to use for deployments. I'll share the credentials with all focus PoCs so that we co-own this account.

[2022-01-25 17:18] sgomes commented on #102
Following [the discussion in Slack around the expectations for performance plugin modules](https://wordpress.slack.com/archives/C02KGN5K076/p1643129818391800), it was made clear that the approach I outline here is not suitable for inclusion in the performance plugin, because it's not solid enough to ever be promoted to WordPress core.

The approach of forcefully deferring scripts is fundamentally

[2022-01-25 22:17] mxbclang commented on #81
@tillkruss For issues labeled Needs Decision, we'd like to include a recommendation for moving forward that folks can give a thumbs up/thumbs down on, as you can see here: https://github.com/WordPress/performance/issues/96#issuecomment-1016458629. If you'd like to drop that here as a comment, I can copy it and add a voting deadline and instructions. Thanks!

[2022-01-26 08:10] JustinyAhin commented on #130
@felixarntz would it makes sense to add that information in a new tab in Site Health, instead of under "Status".

Asking because it could be related to this issue: https://github.com/WordPress/performance/issues/97. And we might want to have every information output by the performance plugin in one single place.

[2022-01-26 08:15] JustinyAhin opened #131 "Add release documentation"
It'll benefit all the contributors to have some documentation about how we release the plugin (GitHub releases and deployment to w.org).

This will include any pre-release checks, scripts to run (linting, formatting?) before the releases, and any other useful information.

[2022-01-26 10:35] sgomes commented on #117
After some further research into this, I'd be happy with supporting this proposal if it moved to Priority Hints instead of preloads.

Priority Hints solve some of my main concerns:
- Browsers without full support maintain the status quo, instead of potentially suffering de-optimisations.
- Prioritised images maintain all their existing resource selection logic very easily (preloads would make this

[2022-01-26 12:56] felixarntz commented on #130
@JustinyAhin Potentially, yes. I think we shouldn't block this issue by discussion on the other though, so IMO we could start with showing this in the "Status" tab, and if/once we have a "Performance" tab, update it.

[2022-01-26 13:02] felixarntz commented on #97
Hmm, personally I'm questioning whether a "Performance" tab makes sense in Site Health. There's currently a clear differentiation between "Status" and "Info", but what would be the criteria for what goes under "Performance"? Several of the existing checks under "Status" are performance-related, at least in parts.

Basically the "Status" tab is for administrators to do a status check on how things

[2022-01-26 14:15] jeffpaul commented on #131
100% in favor of this, would recommend its either part of https://github.com/WordPress/performance/blob/trunk/CONTRIBUTING.md as a `Release Instructions` section or if its rather lengthy then could be in its own `RELEASING.md` file in the repo.

[2022-01-26 15:28] manuelRod commented on #92
@eclarke1 can you also add labels to the PR? Or let me know how to do so? ( not sure if I have permission for that )

[2022-01-26 15:43] manuelRod commented on #125
I agree! But doesn't this fall more into the documentation side of things? Like this [article](https://wordpress.org/support/article/optimization/) ?
I agree that more information and documentation should be basic for the community and a good starting point.
After that, it would totally make sense to expand Site Health to track performance issues that can be solved, either automatically or by poin

[2022-01-26 17:35] tillkruss commented on #81
_Please vote for your preferred naming using the related reaction._

We currently have the `wp_cache_flush()` function, but need an additional method to only flush the current request/process cache. This is useful for long running processes like WP CLI and Action Scheduler and highly customized sites.

- 🎉 `wp_cache_flush_runtime()`
- 🚀 `wp_cache_flush_internal()`
- ❤️ `wp_cache_flush_local()`
- 👀

[2022-01-27 04:03] dainemawer commented on #117
@sgomes with regards to running with Priority Hints is, will we see a decent enough improvement in LCP? The idea with preload is to ensure that the LCP image is part of the critical assets needed for page rendering - maybe we should run some tests to determine if there is in fact a significant difference in load time?

I guess my only other question is - what if LCP is an h1 and font related? I ha

[2022-01-27 04:04] dainemawer commented on #125
@manuelRod I think you're right yes. Maybe we can start a Documentation focus @eclarke1 @felixarntz ?

[2022-01-27 07:47] felixarntz commented on #125
@dainemawer I think this would make sense under the "Measurement" focus area maybe? We have "Documentation" as a type of issue, and I'm not sure it would make sense as a focus area, given that any focus area needs some documentation.

Is this issue more suitable in the Site Health focus or the Measurement focus? From the conversation so far, I'm leaning towards the latter.

[2022-01-27 08:27] dainemawer commented on #125
@felixarntz awesome - I think lets tag it under Measurement. Will update

[2022-01-27 09:27] sgomes commented on #117
@dainemawer I completely disagree with this approach at a conceptual level, as I mention in two of my posts.

To summarise, I strongly believe that making the LCP image part of the critical path is a bad idea, because that implies delaying first paint, which means a worse First Paint score, a very likely worse FCP score, and a worse user experience overall (because users are waiting longer for som

[2022-01-27 12:43] kirtangajjar commented on #130
@felixarntz If we end up working on this issue, I would like to work on it if you don't mind :)

[2022-01-27 18:40] adamsilverstein commented on #130
I like this idea of having something explicitly showing "WebP support", especially as part of making this the default sub size format.

For the record, this is where we currently show WebP support, the simplified version might go there as well - under Site Health -> Info -> Media Handling. Maybe we should also show the sub-sized format(s) that WordPress will use?

![image](https://user-images.gith

[2022-01-27 19:20] adamsilverstein commented on #117
@sgomes Thank you for the detailed descriptions and feedback on this ticket, which I finally got caught up on.

I agree with most of your points about the potential tradeoff of prioritizing even the correct image and agree Priority Hints seems like a hopeful/safer path forward. On caveat: in terms of blocking scripts, I would argue most of those scripts could be deferred, we can tackle that issue

[2022-01-27 19:25] adamsilverstein commented on #125
Great idea! If we see this as developer focused documentation, it would be good to consider how it might get merged into the existing theme developers handbook. If it is more user focused, it would be good to think about how it could eventually be part of an existing core help handbook or site. Maybe worth bringing up at a documentation team meeting.

[2022-01-27 21:06] sgomes commented on #117
Thank you, @adamsilverstein!

Yes, I definitely agree with that as well! I think that blocking scripts are one of the main issues with WordPress right now, and hopefully something we can tackle as part of the performance group efforts. I'm trying to find the time to do some brainstorming around what a possible solution could look like, from a developer point of view.

However, there are some signi

[2022-01-27 22:33] patrick-leb opened #132 "Revisit indexes for DB performance"
As discussed with @tillkruss :

I was having some slow queries – specifically one query that was already described 6 years ago here:
https://core.trac.wordpress.org/ticket/33885

The last comment by OllieJones https://core.trac.wordpress.org/ticket/33885#comment:86 pointed at hints on how it could be indexed better and he created a plugin that updates the indexes accordingly:

https://wordpress.or

[2022-01-28 02:13] tillkruss commented on #132
@bethanylang @felixarntz This has quite the impact and may be low hanging fruit. We don't have a database performance team do we? Maybe in core?

What are managed hosts doing? Can we discuss this next meetup?

[2022-01-28 03:35] dainemawer commented on #125
Thanks for the insight @adamsilverstein ! Let me give the two paths some thought - I feel like there could be some cross over, especially if we're aligning with Googles vision of Page Experience Signals

I will chat to @eclarke1 about this - always enjoyed a bit of technical writing!

[2022-01-28 07:19] getsource commented on #130
I do think this makes it pretty clear what formats *are* supported.
Maybe we could display a warning if any of the natively supported formats for resizing are not supported (or, the most common ones folks would notice problems with)?

[2022-01-28 09:20] felixarntz commented on #132
@tillkruss I agree this looks like a promising performance enhancement when we can find an appropriate solution. If we wanted to explore that in the performance plugin, we could consider a module that optimizes meta queries.

I'm not 100% sure we can actually do that in a plugin (i.e. using the core filters that exist), particularly around an enhanced caching mechanism. Regarding the indexes, we c

[2022-01-28 09:43] felixarntz opened #133 "Prepare initial release"
A lot of work has already gone into this plugin, so it's about time we get to the most important stuff - release it! 🚢

This issue should serve as a bit of an overview for the things we need to cover before our initial release. See the tasks below:

* [x] Define scope of the initial release, i.e. which modules should be included in which state (discussion starting in https://github.com/WordPress/p

[2022-01-28 09:49] felixarntz commented on #133
_Please vote for this approach with a thumbs-up or thumbs-down emoji. Voting will close on 8 Feb 2022 at 6pm GMT._

The "easy" things first: Let's decide on the version number to use. Currently the milestone is named `1.0.0-beta.1` - which we can definitely change - however **I'd like to suggest actually using `1.0.0-beta.1` for our first release** since:
* `1.0.0` is an appropriate first version.

[2022-01-28 09:56] felixarntz commented on #133
In addition to the above vote, let's discuss a bit on the scope:
* So far we only have the WebP for new image uploads module.
* We're also about to have the first Site Health module, informing about excessive JS and CSS assets being loaded (see #54).
* Both of these modules are definitely not in their final shape (e.g. the [WebP implementation is pending a decision here](https://github.com/WordPre

[2022-01-28 10:00] felixarntz commented on #131
@jeffpaul We have a `docs` directory intended for most documentation, so I suggest we put the release documentation in there. Potentially it could be linked in the `CONTRIBUTING.md` file - although I'm personally not sure that's necessary, given that releasing is not exactly the most relevant task for people who want to start contributing. But we should definitely have an easy-to-reach entry point

[2022-01-28 10:09] felixarntz commented on #42
We now have a https://profiles.wordpress.org/performanceteam/ account on wordpress.org. This account will not be used for anything other than automated deployment of the plugin. IMO we don't need to bother adding any more details to it since it shouldn't be linked in prominent places, it's purely a "tool" for our automated deployment workflow.

I've also submitted the current version of the `perfo

[2022-01-28 10:24] felixarntz opened #134 "Ensure Site Health enqueued assets module excludes admin-specific assets"
In the current implementation of the Site Health enqueued assets module (see #25), all assets loaded in the frontend are considered _when an administrator is logged in_. The latter is partly for security purposes, partly to avoid issues with frontend caching.

This is problematic since for example it will currently include admin-specific assets loaded in the frontend only for logged in administrat

[2022-01-28 10:28] felixarntz opened #135 "Enhance reliability of how Site Health enqueued assets module detects assets"
The initial implementation for the Site Health enqueued assets module (see #25) is a solid start, but there's room for enhancement in how reliably it detects enqueued assets. This was already pointed out in the [initial PR](https://github.com/WordPress/performance/pull/54) review, but it was decided to merge the large first PR first and then implement this enhancement separately, to allow for a mo

[2022-01-28 10:29] felixarntz commented on #135
@aristath Anything to add? Do you think this is already good to open a PR for addressing your comment, or should we evaluate the technical approach a bit more before writing code?

cc @manuelRod

[2022-01-28 10:31] felixarntz commented on #25
Opened #134 and #135 as follow-up issues, therefore closing this one. Our second module has landed 🎉

[2022-01-28 10:31] #25 closed, assigned to manuelRod

[2022-01-28 10:40] felixarntz commented on #134
For this one I would think a solid approach could be the following:
* Instead of using a "random" administrator session in the frontend to collect the data, we could send a remote (cookie-less) GET request to the frontend when the administrator is logged in (and only when the transient is expired, of course).
* The GET request could include a specific query parameter to enforce this "asset recordi

[2022-01-28 10:42] felixarntz commented on #68
Fixed via #88

[2022-01-28 10:42] #68 closed, assigned to felixarntz

[2022-01-28 11:08] aristath commented on #134
The above implementation seems reasonable and safe. I think using a nonce as "security key" would be a necessary precaution, just to be on the safe side of things and avoid accidental/malicious cache resets for performance reasons.
It may sound like a complicated solution, but it shouldn't be especially hard to implement since the steps are clear, specific, and simple enough. 👍

[2022-01-28 11:14] aristath commented on #135
Assigning this one to myself so I can take a look again on Monday.
I think the code posted in https://github.com/WordPress/performance/pull/54#discussion_r793498014 will be a good starting point, I'll just need to polish and properly test it before submitting a PR 👍

[2022-01-28 12:00] manuelRod commented on #135
Hello, @aristath @felixarntz I was working already on the proposed enhances, I didn't realise you have merged the previous PR :D

Anyways, here is the new PR with a few of the things addressed, we can keep the conversation going on there!

[#136](https://github.com/WordPress/performance/pull/136)

[2022-01-28 12:40] felixarntz commented on #135
@manuelRod Oh, sorry about that - I guess I merged that a bit too quickly. But that's great, will review soon!

[2022-01-29 14:05] lkraav commented on #132
@OllieJones deserves special recognition for his work on https://github.com/OllieJones/index-wp-mysql-for-speed

Performance results are *unreal*.

On a site with 10M wp_postmeta rows, 6M wp_posts rows, WooCommerce and the works.

`wp index-mysql enable wp_postmeta`

or

[code]

Resulted in queries for WC orders and subscriptions go from tens of seconds to near-instant.

BEFORE

![image](https://u

[2022-01-29 14:32] patrick-leb commented on #132
Thank you for tagging @OllieJones!! Somehow GitHub didn’t let me find him (?!?)

the performance gain is absolutely sick indeed. I think his indexes need to be pushed to Core but in the meantime I’ll recommend his plugin to anyone I know.

[2022-01-29 15:29] lkraav commented on #92
Also see https://github.com/wp-cli/doctor-command/blob/main/inc/checks/class-autoload-options-size.php

(Didn't see "doctor" mentioned yet.)

[2022-01-29 17:08] tillkruss commented on #132
@lkraav, @OllieJones would it make sense to have this as part of the new Performance lab plugin for wider testing, or would it be better to make a PR to core directly?

[2022-01-29 19:25] lkraav commented on #132
I'm not a DB wizard myself, so I feel like bringing in a Core DB wizard to evaluate would be the move to make.

[2022-01-31 07:08] felixarntz opened #137 "Further evaluate default thresholds for enqueued assets"
#25 introduced a Site Health module that warns if the enqueued CSS or JS files are too many or if they are too large. But what is "too many" or "too large"? The original thread where the current (preliminary) thresholds were defined (mostly to have something to start with) begins in https://github.com/WordPress/performance/issues/25#issuecomment-996561242. We can now use this issue to discuss and

[2022-01-31 07:15] felixarntz commented on #137
I'd like to call out the post https://infrequently.org/2021/03/the-performance-inequality-gap/ here as a useful resource to potentially base our thresholds on. It states:

While this post is now almost a year old, it also states right after that "this rule-of-thumb limit should hold for at least a year or two". I'm also not saying in any way that this post is the authority we should listen to, the

[2022-01-31 07:32] JustinyAhin commented on #133
@felixarntz let's also add "Create release assets" as part of the preparation. We will need a banner, a logo, and also screenshots.

[2022-01-31 07:42] felixarntz commented on #133
@JustinyAhin I agree that would be great to have, though I'm not sure it is a strict requirement. None of that is truly _needed_ for a plugin. Again, I'm not saying we shouldn't have it, but I don't think it's a blocker to release. With that said, if we want to have a banner and a logo, I think we should reach out with the wider team as soon as possible and ask if there are any volunteer designers

[2022-01-31 07:51] JustinyAhin commented on #133
@felixarntz I agree on that, let's not make it a blocker for the release.

Yes, that will be a good start.

[2022-01-31 12:06] sgomes commented on #102
It's been nearly a week and there has been no further discussion, so I'm closing this issue.

If anyone feels strongly about this and thinks they have a good solution to making this stable enough for an eventual inclusion in WordPress core, please feel free to reopen!

[2022-01-31 12:06] #102 closed

[2022-01-31 12:37] kirtangajjar commented on #130
I was testing this out in my local and I have added this check in the status section for now. If the message sounds good, I can then raise a PR.

![Screenshot from 2022-01-31 18-04-46](https://user-images.githubusercontent.com/8456197/151794938-4cc39c44-dfed-4186-8932-4a02a07499a9.png)

[2022-01-31 14:23] eugene-manuilov opened #140 "API to facilitate more accurate “sizes” attribute"
## Feature Description

Other than lack of modern image formats like WebP, the most significant performance problem per our analysis has been that the image sizes used on WordPress sites are often not sufficient for how images are being displayed in the frontend.

To clarify, an example: If an image exists in 300px, 800px, and 1200px width, but in the frontend on desktops it shows in 500px width,

[2022-01-31 14:51] adamsilverstein commented on #12
True, and it isn't even clear if this format will ever see the light of day! I opened this ticket mostly for long term tracking, I expect AVIF will be the next format we work on.

[2022-01-31 16:25] mitogh commented on #24
Adding a document with a proposal for support of multiple mime types and a process to update existing images on the sites:

- https://docs.google.com/document/d/1Wrf4K1x7rxHEaQsQ6OLiI4R05fahMikoy3znkETv9Q0/edit?usp=sharing

Please take a look at the document and add comments with suggestions / questions or feedback.

[2022-01-31 19:30] adamsilverstein commented on #67
The mime type in the media library should show the mime type of the image you uploaded - the original image, not the mime type of the sub sizes (of which there could be potentially more than one) which is what the webp-uploads module changes. So if your original image is a jpeg, this should show `image/jpeg` (even if your sub-sized images are WebP). Similarly, if you upload a WebP image, this shou

[2022-01-31 19:39] adamsilverstein commented on #75
I think you need to add the new file data to the returned `new_sizes`? if you look at the meta data after uploading, does it reference both the jpeg and webp images, or just jpeg? or is your idea to add the webp type on the fly?

[2022-01-31 22:48] erikyo commented on #75
yes, my idea is to replace also the "full" size image on the fly with the copy in webp format (so replacing the $meta['file']), since the original jpg was already stored (or can be stored) as "original_image" and since I don't want to show jpg images when I `wp_get_attachment_image()`.

At the time the filter is fired, the image has already been saved (but the resizes are not and the `sizes` array

[2022-01-31 22:56] adamsilverstein commented on #19
That looks promising, can the blurhash approach use the base64 version of the placeholder mentioned above?

[2022-01-31 23:20] mitogh commented on #67
Uploading a `WebP` image correctly sets the correct mime type @felixarntz

Agree with this behavior, however, the behavior is not consistent when a `scaled` version is created which would be created as a WebP if the module is enabled. I'm adding more details below, so we can make a decision. @adamsilverstein in how to move forward when this scenario is presented.

---

# Questions / Needs decision

[2022-02-01 00:28] erikyo commented on #75
[Moving the filter](https://gist.github.com/erikyo/f0aca6c34fd1d6bc5f73f953bb342a65) after the image subsizes generation (using wp_generate_attachment_metadata) has fixed the issue and the generated image full size image was deleted but the old "original_image" not 😥. Again, an additional filter (like 'delete_attachment') would be needed to delete the original_image because it does not happen auto

[2022-02-01 05:37] dainemawer commented on #19
Did a bit of research on this @adamsilverstein - looks like its faster to run with `blurhash` as opposed to implementing a `base64` image - so maybe we just run with `blurhash` ?

[2022-02-01 05:38] dainemawer commented on #12
Agreed! It would be an interesting exercise to see the difference in improvement, if I get some time I will try setup a sandbox and compare `JPEGXL`, `AVIF` and `WebP` on a WordPress site!

[2022-02-01 06:21] getsource commented on #130
I think this sort of message makes sense if WebP as default is enabled with the plugin.
Since if it's not, WebP is not used by WordPress to boost performance.

For the current situation, maybe limiting the message to "Uploading WebP (or whatever other support is missing) files is not supported" would be good?

[2022-02-01 10:37] manuelRod commented on #134
Would this approach imply a certain action from the administrator to run the test? or automatic when under certain circumstances? (admin logged in and transient expired?).

[2022-02-01 10:46] manuelRod commented on #137
@felixarntz though theoretically, it could make more sense to set a 75kb threshold, I don't think is realistic, how many wp installations have you seen which such a little size (sadly the norm is a heavy theme + heavy plugin usage)?
I'm afraid the warning will be triggered in a big % of WordPress websites and possibly it will lose value since it will be ignored.

[2022-02-01 12:40] erikyo commented on #75
the [original_image](https://github.com/WordPress/WordPress/blob/4894efc122bb1c40c05bbc1a1b38dc647c0c0608/wp-includes/post.php#L6479) would have been deleted if I had written the path correctly.

updated the gist now the filter it work as expected (or at least it does in the way I would like it work).
https://gist.github.com/erikyo/f0aca6c34fd1d6bc5f73f953bb342a65

Honestly, I would like the origi

[2022-02-01 13:14] eclarke1 commented on #24
@mitogh @adamsilverstein updating this issue to be a [Type] Overview as it will act as our main "epic" issue, and we will create sub-issues once we have finalised an approach. Does that work for you?

[2022-02-01 13:15] eclarke1 commented on #21
@adamsilverstein @jjgrainger updating this issue to be a [Type] Overview as it will act as our main "epic" issue, and we will create sub-issues once we have finalised an approach. Does that work for you?

[2022-02-01 13:24] eclarke1 commented on #81
@tillkruss @bethanylang could I kindly suggest we add a 'voting deadline' to this https://github.com/WordPress/performance/issues/81#issuecomment-1022431042
I think we agreed a 2 week voting period, so perhaps the deadline here should be **6pm GMT on February 9**, WDYT?

[2022-02-01 13:31] mxbclang commented on #81
@eclarke1 Works for me, will make a note to myself to update and "close" at 6pm GMT on February 9.

[2022-02-01 14:20] mitogh commented on #19
Adding some additional ideas here in case we want to explore different alternatives:

- Create a smaller image 1x1
- Create a smaller image 10x10
- Store and save the predominant image color as part of the meta and use that as background to fill the container as the image loads.

[2022-02-01 14:22] mitogh commented on #24
Thank you @eclarke1

[2022-02-01 15:41] adamsilverstein commented on #102
Catching up with the discussion here, I love this overall idea and think we can at the very least enable the `defer` attribute by extending `wp_enqueue_script`. I will open a separate issue here to further discuss the approach which can then be taken back to the trac ticket.

[2022-02-01 15:54] adamsilverstein commented on #15
Hey @khoipro thanks for sharing, can you add a link to your code where you add a CDN field in your code and maybe explain how you use it?

[2022-02-01 16:03] kevin940726 commented on #102
I just came across this, and I want to throw a hacky idea here.

What if we can defer inline scripts? We can turn this:

[code]

into:

[code]

Technically this should work but could break if the client has set up some aggressive CSP rules. We need to look into the security side of this if we ever want to enable this.

Some possible other solutions include doing the similar thing like above but cr

[2022-02-01 16:29] eugene-manuilov commented on #19
One thing that we should remember is that images are indexed by search engines and one of the techniques to drive traffic to the site. If we replace images with placeholders, then this may cause images not being indexed by search engines and thus negatively affect the organic traffic for some sites.

[2022-02-01 16:32] eugene-manuilov commented on #19
JPEG has progressive compression that allows to achieve similar results: https://medium.com/hd-pro/jpeg-formats-progressive-vs-baseline-73b3938c2339#e3aa

Not sure how feasible it is to implement in our plugin.

[2022-02-01 16:42] adamsilverstein commented on #75
If you have the right srcset, this should be the case, even if the image src says jpeg, the browser will load the correct webp from the srcset list. I tested mostly with twentytwentytwo, the behavior may be theme dependent

[2022-02-01 16:48] adamsilverstein commented on #19
Possibly we could take advantage of this with custom Image classes, we need to look into support in libgd and imagick. This wouldn't help with WebP images.

[2022-02-01 16:52] adamsilverstein commented on #19
Good point that bears more investigation. Can the image(s) be listed in a meta tag to avoid that (ie og:image)?

My other concern about this change overall is how it might negatively impact the largest contentful paint measurement, how much of a hit will that take for this "perceived" performance boost, and is that acceptable?

[2022-02-01 16:58] kirtangajjar commented on #130
I have wrote this message keeping in mind that this plugin will eventually get merged into core, so instead of changing the message when we're planning to move it to core, I thought it's better to keep a message assuming WP will be using WebP images to boost performance.

However, for the sake of more preciseness we can show current message when WebP module is activated, and something like "Upload

[2022-02-01 16:58] adamsilverstein commented on #102
Hey @kevin940726 thanks for sharing your ideas. Our eventual goal will be to get developers to change their behavior, use script apis vs directly injecting scripts, and expand those APIs to enable defer, and finally encourage its use through things like linter warnings.

I still think it is worth considering a _performance mode_ for the plugin (and **maybe** core) that does more aggressive interve

[2022-02-01 18:17] mxbclang commented on #96
**Voting is now closed.**

Based on 16 thumbs up votes and no thumbs down votes, we'll proceed with this behavior:

1. When the user uploads a JPEG image, we generate the smaller image sizes in both JPEG and WebP by default.
2. When inserting an image into a post or including an image in the frontend through any other means, we use the WebP version whenever it is available.
3. Developers can opt o

[2022-02-01 18:18] mxbclang commented on #90
**Voting is now closed.**

Based on 13 thumbs up votes and no thumbs down votes, we'll proceed with this behavior:

Use `@since n.e.x.t` tags for new functions, methods, filters and actions.

Removing Needs Decision. label and adding Needs Dev label.

[2022-02-01 18:19] mxbclang commented on #61
**Voting is now closed.**

Based on 19 thumbs up votes and no thumbs down votes, we'll proceed with this behavior:

Non-experimental modules will be activated by default; experimental modules will not be activated by default.

Removing Needs Decision label and adding Needs Dev label.

[2022-02-01 18:29] erikyo commented on #75
I created a test for this case:
https://codepen.io/erikyo/pen/Rwjaoqa
https://modul-r.codekraft.it/2022/02/image-test/

Currently, what I've noticed is that chrome uses the image in src if it fits perfectly in its container or if the images is smaller than that, and this happens also if there is a webp image of the same size of the original in srcset. I'm using canary which is chrome 3 versions ah

[2022-02-01 19:53] adamsilverstein opened #142 "When uploading, generate both WebP and jpeg format images by default"
## Feature Description

Based on the decision in https://github.com/WordPress/performance/issues/96#issuecomment-1016458629 we need to work on enabling generating both formats by default.

Specifically we need to address:
[code]
----

1. Generate both formats
  * We can hook on `wp_generate_attachment_metadata` to generate the additional mime type images (some example [code](https://gist.github.co

[2022-02-01 21:17] adamsilverstein commented on #67
@mitogh I have created a PR that skips the scaled image transformation - https://github.com/WordPress/performance/pull/143 can you give that a test, it should fix this issue at least for the single mime output use case.

[2022-02-01 21:33] adamsilverstein commented on #75
Excellent (and disappointing) research @erikyo - I think this means that when outputting the image tag, we need to ensure the `src` also uses the WebP type. Currently this is the case for large uploads, but I was planning on changing that in https://github.com/WordPress/performance/pull/143.

One thing we could consider is adjusting the output, so the img src references the large image size instea

[2022-02-01 21:33] #75 closed, assigned to adamsilverstein

[2022-02-01 21:35] adamsilverstein commented on #142
One important note here: based on https://github.com/WordPress/performance/issues/75#issuecomment-1027156989 we need to ensure that both the image `src` and `srcset` use the mime type we want to display to ensure that mime type is actually loaded (in some cases, the browser might load the `src` image). this suggests the possibility of a filter on the output side as well.

[2022-02-01 22:07] mitogh commented on #67
Just tested this fix and works as expected @adamsilverstein :+1:

[2022-02-01 23:05] SergeyBiryukov commented on #132
Catching up here, the [Index WP MySQL For Speed](https://wordpress.org/plugins/index-wp-mysql-for-speed/) plugin looks quite impressive, and the [theory behind it](https://www.plumislandmedia.net/index-wp-mysql-for-speed/tables_and_keys/) is also a recommended reading.

Indeed, I believe having this as part of the Performance Lab plugin would make it easier to test, while making a PR to core could

[2022-02-01 23:35] OllieJones commented on #132
I firmly believe this indexing stuff should be in core, or at any rate in a widely deployed plugin.

A complication:  older versions of  InnoDB (in MySQL / MariaDB) still use the so-called Antelope storage format. That has a limit of 767 bytes (not characters) in any given index. That makes the `meta_key` columns for utf8mb4 characters need a prefix index. `meta_key(191)` is the way that was handl

[2022-02-01 23:54] adamsilverstein commented on #142
I'm going to work on a PR for the generating images part.

[2022-02-02 00:10] adamsilverstein commented on #17
Looks like web support is now available in https://github.com/kleisauke/wasm-vips - we should investigate that as a possible path forward in addition to squoosh.

[2022-02-02 09:34] dainemawer opened #144 "Performance Lab: Branding"
## Performance Lab: Branding
As briefly discussed in our [Weekly Performance Meeting from 1st February 2022](https://make.wordpress.org/core/2022/02/01/performance-team-meeting-summary-1-february-2022/)

@felixarntz brought up an item with regards to design some assets for the "Performance Lab" plugin.
As we're no stranger to opinion in the WP community, it would be great to get everyones ideas /

[2022-02-02 09:43] soulgalore commented on #125
Just want to share that you be careful about the numbers in RAILs, you can read https://calendar.perfplanet.com/2018/magic-numbers/

[2022-02-02 17:16] westonruter commented on #117
One big challenge with using Priority Hints: injecting the `importance` attribute into the right image. For a `preload` it's relatively easy as it's just adding a new `link` anywhere in the `head`. But to inject an `importance` attribute to do so in a way that would catch all cases would require output buffering to locate the `<img>` tags.

[2022-02-02 17:25] mitogh opened #145 "Performance Budget Calculator and support for `budget.json`"
## Feature Description

This feature request is to create/add support for a UI where the user can define their own metrics as some metrics are more important than others depending on the use case or needs of a user.

The UI would be similar to: https://perf-budget-calculator.firebaseapp.com/

![2022-02-02_11-22](https://user-images.githubusercontent.com/3921289/152204772-bf409d25-c052-4b73-89cd-96

[2022-02-02 17:30] sgomes commented on #117
Yes, I agree that it's technically more challenging. On the flip side, it does guarantee that the image actually exists, and avoids situations where, for whatever reason, the image being preloaded is no longer part of the document.

If the buffering approach proves too challenging, we could limit the scope to images in the post content, rather than building something generic enough to optimise the

[2022-02-02 21:02] adamsilverstein commented on #142
Good suggestion from @nosilver4u on [slack](https://wordpress.slack.com/archives/C02SX62S6/p1643786711626549):
we should generate a full sized image in the output mime type (if it doesn't match the original image mime type).

For example, if you uploaded 'file.jpeg', for images below `big_image_size_threshold ` we would store a 'file-webp.webp' version of the full sized image; for larger than `big

[2022-02-02 21:17] nosilver4u commented on #142
With #143 in mind, if folks use this: `add_filter( 'image_editor_output_formats', function() { return array( 'image/webp' ); } );`
Then it seems the full-size should be stored in the WebP format whether it's above `big_image_size_threshold` or not.
Does that potentially cause issues where images over 2560 have `-scaled`, and those under 2560 have `-webp` in the filename? Or is it irrelevant so lon

[2022-02-02 21:44] SergeyBiryukov commented on #132
Just to clarify, could this be made as a progressive enhancement, i.e. improving the indexes for those systems that support it, or would it mean raising the minimum MySQL version requirement? Per the [Requirements](https://wordpress.org/about/requirements/) page, while WordPress currently recommends MySQL 5.7+ or MariaDB 10.2+, it also still supports MySQL 5.0+ in legacy environments.

The `upgrad

[2022-02-02 22:01] patrick-leb commented on #132
IMHO, the fact that there are old 5.0 environments out there should not be a blocker to create those indexes on environments that DO support it. The improvements are so massive, whoever is sensible enough to performance are on MySQL 5.7+  MariaDB 10.2+ already.

I absolutely support a progressive enhancement like that.

[2022-02-02 23:03] mitogh opened #146 "WebP image are not rotated when uploading."
## Bug Description

When a WebP image is uploaded with the rotated exif this exif is ignored and the image is uploaded as it is instead of rotating the image, as happens when a JPEG image is uploaded.

## Steps to reproduce

1. Upload the attached WebP image in this ticket
2. After the upload is completed observe the image is not rotated.

Replicate the steps with the JPEG version to compare, when

[2022-02-02 23:31] adamsilverstein commented on #142
we would probably store both versions in this case, using the WebP version for the src attribute of the image tag (matching the srcset).

in spots like the media library or certain functions, we may still want to treat the file matching the uploaded mime type as the "original" file. so even though there is a full size WebP image, if you go to the media editor, it will use the full size jpeg image

[2022-02-02 23:37] adamsilverstein commented on #146
Hey @mitogh thanks for opening this. I do agree this might be a bug in the current core implementation. I don't think this is really a performance plugin issue (although I see how it is performance related since it is WebP related)... would you be willing to recreate this ticket on the WordPress core bug tracker (https://core.trac.wordpress.org/) instead?

Before that though, can you verify that t

[2022-02-03 01:19] mitogh commented on #146
WebP is supported on my installation due WebP image sizes are being created normally when using this plugin. I've updated the ticket with some more detailed information about this.

Looks like the problem on this one is due to the rotate function only support `jpeg`:

- https://github.com/WordPress/wordpress-develop/blob/ea1fe31f028156a56eb97e8b7cce3d0f0e6e242f/src/wp-includes/class-wp-image-edito

[2022-02-03 01:28] mitogh commented on #146
Adding the Core ticket as a reference:

- https://core.trac.wordpress.org/ticket/55057

[2022-02-03 01:58] mitogh commented on #142
Created a draft version for a `sources` property approach @adamsilverstein

- https://github.com/WordPress/performance/pull/147

[2022-02-03 03:45] dainemawer commented on #125
Will give this a read thanks @soulgalore

[2022-02-03 08:08] dainemawer commented on #144
Spitballed a couple of ideas this morning:

#### Logomark with 3D Element
![3d-logo](https://user-images.githubusercontent.com/48082535/152304106-60479faa-3b3b-43b8-b68d-f12925d6088f.png)

#### Logon 1
![logon-logo](https://user-images.githubusercontent.com/48082535/152304126-cee2eaa0-0378-4b83-83d1-bb679a08a332.png)

#### Logon 1 with Illustration
![logon-logo-with-illustration](https://user-imag

[2022-02-03 08:26] dainemawer commented on #125
@soulgalore I took a read through this - the authors opinion is sound, I think he makes an interesting argument and hope his own research proves the old literature wrong / misaligned. That being said - I don't think his opinion alone would convince me to drop a RAIL methodology on the basis that `0.1` may be incorrect or outdated, or more than likely out of range. If his results came back as even

[2022-02-03 09:47] eclarke1 commented on #118
@dainemawer moved to 'In Review' column and also added the Needs Review label to encourage visibility :)

[2022-02-03 14:58] felixarntz commented on #144
@dainemawer Awesome! I personally like your "Logon 1" and "Logon 4", but curious to hear what others think. A few general points of feedback:

* I'm not sure we should include a tagline like you have throughout. It would require discussion on what it should be, but most importantly it makes me think too much of this as marketing a product, which this plugin isn't really. _If_ we want to include so

[2022-02-03 15:07] jeffpaul commented on #144
In general I tend to shy away from text within the banner (or icon) graphics as they are inherently not translatable, so you could end up with a fr.wordpress.org/plugins/slug with the readme in French but the text on the banner in English.

[2022-02-03 15:13] felixarntz commented on #144
Good point @jeffpaul, yeah that's another reason to not include a tagline. I think the plugin name would be the only exception to that, since it doesn't (or at least shouldn't) get translated anyway.

[2022-02-03 15:26] javiercasares commented on #144
Like the Logon 4.

[2022-02-03 15:46] mxbclang commented on #144
I also like 1 and 4, slightly leaning toward 4!

[2022-02-03 16:24] dainemawer commented on #144
Duly noted all :)

- @felixarntz - happy to take the tagline out. I noticed JetPack Boost had one, so thats where I got the inspiration from.
- I can play with some kind of illustration / treatment once we decide on a direction, totally agreed.
- Noted on the plugin icon and all that - theres good documentation around this all.

[2022-02-03 16:47] mitogh opened #149 "Update `the_content` with the correct image format"
## Feature Description

Once an image attachment has more than one type of image available we need to make sure the correct images are rendered:

## Scenario 1 - Render WebP by default

- If the requested browser support WebP continue with the flow, otherwise render a JPEG version.
- If the attachment has a WebP version of the image replace any JPEG version with the exact WebP version of the image

[2022-02-03 16:47] adamsilverstein commented on #144
I like 1 & 4 as well, I like how 1 has a round outline/shape which will work well at small sizes (icon).

[2022-02-03 16:49] mitogh commented on #142
Adding a link with different alternatives in how the different image mime types should be stored in the database entry for each attachment:

- https://docs.google.com/document/d/1nVFhMXacydGce1ZjSvh14MQeKPS26TcQDeIPw0vmuig/edit?usp=sharing

Add your comments, suggestions, and feedback.

Thanks.

[2022-02-03 16:59] AymenLoukil commented on #144
I like logon 4

[2022-02-03 17:42] erikyo commented on #144
![performance-Mv5 1](https://user-images.githubusercontent.com/8550908/155849670-3fd7dec2-a130-445c-a473-d91cf1277208.png)

The lightning bolt might be a bit of an overused icon (caching, amp...) but i want to give my contribution too. It might be nice to add the lightning emoji in the name of the plugin like "Performance ⚡"

@dainemawer - I played with your first design adding a triangle to creat

[2022-02-03 17:45] mitogh opened #150 "Progressive transition into WebP formats"
## Feature Description

Based on:

- #142
- #149

At this point, we can assume that every image would have at least 2 formats when the WebP module is enabled in this case the well-known and supported JPEG and the WebP format, (eventually leading into other formats as those are supported in WP). So this issue is mostly to define the strategy behind this image generation and decide into the approach

[2022-02-03 17:46] spacedmonkey commented on #78
Commited into core
https://github.com/WordPress/wordpress-develop/commit/acfcea4cba52520b4b9f352dac83addca5aa1f1e

[2022-02-03 17:46] #78 closed, assigned to spacedmonkey

[2022-02-03 17:54] felixarntz commented on #90
While we could now technically open a PR to change all `@since` annotations to be `n.e.x.t`, I'm not sure that will be needed, given that we're only going to have this in 1.0.0 anyway, and that version we already know and use in the code.

Of course we'll first release beta versions of it, but I don't think we should use those beta suffixes in `@since` annotations - WordPress core for example does

[2022-02-03 19:48] sudeep510 commented on #144
Hi Everyone,

Wanted to contribute with a few ideas I tried out today, hope I’m not too late..
Would love to hear your thoughts on this

Here are a few Logo ideas, a bit of play with the P and L letters

**Logo 1**

![logo-variation 1](https://user-images.githubusercontent.com/72914363/152417111-9a7b7187-e764-4c17-9189-c365c29ccce2.png)

**Logo 2**

![logo-variation 2](https://user-images.githubus

[2022-02-04 03:05] felixarntz commented on #149
@mitogh

I thought the idea was to always load WebP in the frontend (if the image exists in that version), based on the previous discussions on the Slack chat and the decision made in https://github.com/WordPress/performance/issues/96#issuecomment-1027147051

We decided to keep generating JPEG versions not for the frontend, but for other usages that are more niche but relevant, e.g. email newslett

[2022-02-04 07:47] #131 closed, assigned to JustinyAhin

[2022-02-04 08:16] javiercasares commented on #144
Like it a lot :)

[2022-02-04 08:41] ThierryA commented on #144
Thanks all for sharing ideas, great to see some discussions happening. I will add my two cents.

Before jumping into designs, I would suggest to brainstorm a bit further some "brand principals" such as:

- What we want the branding to transpire?
- What we **don't** want the branding to transpire?
- Some descriptive words about the look and feel we are after?
- Somethings else?

Something to take i

[2022-02-04 13:59] spacedmonkey commented on #77
Related: https://github.com/WordPress/wordpress-develop/pull/2271

[2022-02-04 14:21] mitogh commented on #149
Correct @felixarntz , the main idea would be to render WebP by default, if the browser supports it which is the majority of browsers at this point but for the cases where the browser does not support WebP the JPEG version would be displayed instead. By doing this we allow displaying the image at all times for older and more modern browsers, and this does not require a lot of extra work as is just

[2022-02-04 15:49] adamsilverstein commented on #142
Hey @mitogh - thank you for working on this! I like the way the new approach puts the image data right inside the existing sizes array.

I still wonder about the idea of storing the data right in the sizes array alongside the original data, the big benefit is all internal functionality would work as is. The disadvantage is we would probably break things :)

Noting a few places we will need to exte

[2022-02-04 15:54] adamsilverstein commented on #96
Thanks everyone for your feedback here! Closing this issue as we will continue to work on this isn #142, #149 and other related tickets

[2022-02-04 15:54] #96 closed, assigned to nobody

[2022-02-04 16:01] adamsilverstein commented on #149
Note that the intention in in #142 will be to store the default 'sizes' as WebP, so these would automatically be used for the `srcset` attributes. The one exception is the "full" sized image referenced in the `src` attribute, we need to ensure this uses the WebP file as well, currently this still references the original uploaded jpeg or -scaled version of the jpeg.

I'm also wondering whether an o

[2022-02-04 16:32] mitogh commented on #149
Created a PR with the implementation in place to replace `the_content`

- https://github.com/WordPress/performance/pull/152

[2022-02-04 17:09] felixarntz commented on #144
+1 to @ThierryA's feedback. The branding shouldn't invoke the impression that you activate this plugin and your WordPress site will be fast. Stating that would be overselling it, and the purpose of this plugin is explicitly not that - of course we aim to improve performance in the WordPress ecosystem, but the plugin is a collection of performance-focused "feature plugins" for WordPress core. The p

[2022-02-04 17:21] tillkruss commented on #81
See https://core.trac.wordpress.org/ticket/55080

[2022-02-04 17:21] felixarntz commented on #149
Thanks @mitogh for the clarification. Overall what you're suggesting makes sense to me, relying on the `Accept` HTTP header. However, as you're already saying, this will have a problem with cached content. How will we be able to reliably know whether a request to the server will later be cached or not? Let me elaborate:

* Imagine a request comes through to WordPress from a browser that doesn't su

[2022-02-04 17:44] adamsilverstein opened #153 "Investigate `document.write` usage in WordPress sites"
## Description

As part of our work to improve script loading in core, I am investigating how we can improve enqueueing to support and use `defer` for script loading where possible.

@sgomes explored using `defer` by default in #102 and one issue raised was that for scripts that use `document.write`, adding defer on the script would cause the writing to be ignored (https://github.com/WordPress/per

[2022-02-04 17:46] pbearne commented on #19
I have looked at this a bit and a bit of code that works
the approach I took was to add a background image to the img tag and removed the background on image load (for transparent images)
I created the image using blurhash and stored the hash as image meta and then created the base64 on the render
It might be better to store the base64 in DB to save having to recreate it each time but this would t

[2022-02-04 17:47] mitogh commented on #149
Great point @felixarntz  so the idea would be to add a filter inside of the plugin like this:

[code]

Applied here https://github.com/WordPress/performance/pull/152/files#diff-71ed188a16b79d179868ee80e76f775462a451e871fc3d6214fcacca3edcea8cR356 that would deliver WebP all the time in the content.