[2022-09-13 09:04] eugene-manuilov commented on #524
@felixarntz, I have created PR #527 that removes `image/jpeg` versions from the transformations list for `jpeg` uploads. The question is do we need to leave only `webp` versions for `webp` uploads as well since generating `jpeg`-s for `webp` images doesn't make sense anymore, right?

[2022-09-13 14:54] jjgrainger commented on #523
Thanks @felixarntz

I think this is something worth exploring as it could potentially solve other issues raised (#513 and #509). These are cases where users were expecting WebP to be updated across other parts of the site, such as archive pages and other templates, which do not as they fall outside of the content.

We already update the [featured image HTML](https://github.com/WordPress/performanc

[2022-09-13 14:57] pbearne commented on #526
We have 2 proposals for Options both are doing a lot the same and could run together
https://github.com/WordPress/performance/issues/347
I am going to try to summarise the differences

Both will need https://core.trac.wordpress.org/ticket/56045 and https://core.trac.wordpress.org/ticket/37930 in core.

526 works at the site level, so it will deliver not need options and miss large options
347 work

[2022-09-13 15:51] tillkruss commented on #522
@OllieJones Can you open a PR on this repo, maybe as a draft so we can take a closer look?

[2022-09-13 15:54] eugene-manuilov commented on #524
Actually, found one more problem with webp images after implementing changes required for this ticket. Will include it into my PR once I find a way how to fix it.

[2022-09-13 17:45] eugene-manuilov commented on #524
Ok, fixed all found issues. This is ready for review now.

[2022-09-13 18:42] felixarntz commented on #477
@pbearne I've added you as a module owner here as discussed earlier today, also pushed the corresponding `CODEOWNERS` change to your PR in https://github.com/WordPress/performance/pull/528/commits/280f11d81f135dc3d0a70436293588628cb5cd78.

[2022-09-14 05:15] #350 closed, assigned to nobody

[2022-09-14 11:29] mxbclang commented on #513
Tagging in @felixarntz and @adamsilverstein here for review. I agree based on what we've seen on the support forums that this is something that we should address at some point.

[2022-09-14 12:07] mxbclang commented on #505
👋 @FleetingCloud While this is something that the Core Performance team can help to advocate for and ultimately work on, this repository is for tracking issues for the Performance Lab plugin only. I'm going to close this issue out but we'll continue to monitor the Trac ticket and jump in there as needed. Thank you!

[2022-09-14 12:07] #505 closed, assigned to nobody

[2022-09-14 12:27] mxbclang commented on #523
+1 on this! Since so many folks use page builders these days, I think we'll continue to get frustration/questions about this moving forward, so it would be great to address.

[2022-09-14 12:30] mxbclang commented on #525
@felixarntz Language LGTM!

[2022-09-14 12:34] mxbclang commented on #526
Thanks @pbearne and @felixarntz! I think it's worth adding an initial discussion to next week's chat agenda to discuss both this ticket and #347 in tandem and determine next steps moving forward. Let me know if that makes sense.

@felixarntz Agreed re: focus areas. I'll pick this up with you elsewhere!

[2022-09-14 12:37] FleetingCloud commented on #505
No problem. Thanks.

[2022-09-14 12:58] mxbclang commented on #477
@pbearne @felixarntz Heads up that I've updated this issue and #528 to remove the module proposal labels/title (since we're now using this for the module implementation itself) and I've created and added a new label for this new module.

[2022-09-14 15:04] felixarntz commented on #477
@bethanylang Fair point. I was thinking that we can also use the module proposal to code the first piece of the module against it once it's approved, but probably cleaner indeed to have a more targeted issue. Maybe for next time I'd suggest we then open an entirely new one so that we keep the module proposal as is for history.

[2022-09-14 15:37] mxbclang commented on #477
@felixarntz Yep, that's what we usually do, but y'all got started without me! Will do for next time.

[2022-09-14 15:50] felixarntz commented on #477
@bethanylang Sorry! 🤣

[2022-09-14 15:58] felixarntz commented on #513
This is related to #523, however the two are a bit different.

* I think #523 is a safer first step because it only touches a function that returns an `img` tag, not just an image URL. We should probably expand that issue to also cover tweaking behavior of other core functions than `wp_get_attachment_image()` that return an `img` tag (e.g. `get_the_post_thumbnail()`).
* We have to keep in mind tha

[2022-09-14 16:50] mxbclang commented on #176
Thanks for testing, @alessandrocarrera and @erip2!

@thelovekesh Are you able to take a look?

[2022-09-14 18:05] felixarntz commented on #524
@eugene-manuilov @bethanylang Changing the milestone here to 1.6.0 because unfortunately changing the default in the PR #527 has uncovered some flaws in our logic which have always been there but only surface as problems now. So this is a great outcome honestly, although unfortunately it means we'll need more time to change the default here than originally intended.

The logic should still work we

[2022-09-14 18:07] felixarntz commented on #525
@eugene-manuilov I see you self assigned this, but since #524 requires a lot more attention than we though, it would probably be best to focus on that.

Maybe someone else could pick up this issue here? While it's technically blocked by #524, I'd say we could already start the PR here, since the only change here that would interfere with #524 should be the logic in `webp_uploads_get_upload_image_m

[2022-09-14 18:19] felixarntz opened #531 "Bump minimum WordPress requirement to 6.0"
**With this issue, I'm proposing to bump the minimum WordPress version requirement of the Performance Lab plugin to 6.0 in the upcoming 1.6.0 version (October 17).**

This is in line with https://github.com/WordPress/performance/blob/trunk/docs/Version-support-policy.md#wordpress-core-versions, and even more so, if we do this in the upcoming 1.6.0 release (October 17), we would be very close to ev

[2022-09-14 18:31] felixarntz commented on #466
`release/1.5.0` branch has been created here: https://github.com/WordPress/performance/tree/release/1.5.0

No more PRs or issues (other than this one) are present in the 1.5.0 milestone.

[2022-09-14 18:41] eugene-manuilov commented on #525
Yep, sounds good to me, @felixarntz. Unassigned myself.

[2022-09-15 04:18] thelovekesh commented on #176
Hello @alessandrocarrera @erip2

If I am not mistaken, you have tried to work with the [POC plugin ](https://github.com/rtCamp/wp-partytown). To enable partytown with that plugin you first have to allow partytown in the plugin's settings(`Settings > Partytown > Enable PartyTown`).

To avoid such confusions in future I will enable partytown setting in the POC plugin by default 👍🏼

![image](https://

[2022-09-15 08:32] erip2 commented on #176
I did enable this option.

[2022-09-15 08:33] alessandrocarrera commented on #176
@thelovekesh me, too.

[2022-09-15 08:37] thelovekesh commented on #176
@erip2 @alessandrocarrera Can you try this on a fresh installation without the performance plugin? Also please check if it's enqueueing the `partytown.js` script with `partytown` handler.

Edit:
Just for convenience, I have added `@wordpress/env` for a quick local environment. All you need is to run `npm install && npm run wp-env start`

[2022-09-15 10:53] erip2 commented on #176
Trying in my theme, but now none of the examples work. Can confirm that the `partytown.js` is loaded.

The window.partytown returns:

`{
  "lib": "https://mytheme.test/app/plugins/wp-partytown-develop/includes/js/partytown/"
}`

I should note that I haven't installed the "Performance Lab" plugin.

Trying it in the plugin with `@wordpress/env` and the examples work. The counter example doesn't work

[2022-09-15 11:43] thelovekesh commented on #176
@erip2 I think in your case either the service worker is not registered correctly or is unable to intercept dom events. You can find a similar issue here - https://github.com/BuilderIO/partytown/issues/107

[2022-09-15 18:26] JMaartenW opened #532 "wordpress upgrade from php7.2 to php74 caused errors in debug log"
## Bug Description

I recently took over an old website which had not been upgraded for some time. it was running php7.2 and no plugins had been updated for years. I took a copy of the website to do a test upgrade of all plugins and php7.4 and the debug log is showing the following notices and warnings now. the question is how to fix these or should I just ignore the errors?

The Debug log errors

[2022-09-15 19:04] tillkruss commented on #532
These errors are not related to the performance plugin.

[2022-09-15 19:04] #532 closed, assigned to nobody

[2022-09-16 10:46] luisherranz commented on #176
Are you testing this with `https`?

[2022-09-19 14:05] markjaquith commented on #347
The thing that worries me about this proposal is that for it to benefit normal WordPress sites (without a fast and persistent object cache), the storage of these options ids would have to go in the database.

1. That's a lot of new rows in the database. A site with 50,000 unique URLs (not unreasonable) would generate 100,000 new options rows, as proposed.
2. It would introduce frequent writes to t

[2022-09-19 14:41] markjaquith commented on #526
One downside of this proposal is that when you do the weekly calibration run, any options that aren't used on that load will be ejected from autoload, and then moved back in the first time they're accessed.

But we could mitigate this by storing an option containing the options keys that were dynamically loaded, and an option containing the options keys that were autoloaded because they were previ

[2022-09-19 14:47] adamsilverstein commented on #168
@Kevin-Hamilton thanks for raising this, is there an existing ticket about the CSP nonce attribute? I know there were numerous work streams for CSP that have stalled so I assume those cover this. This is a security measure, correct?

Good points to raise and perhaps indicates we can't automate the deferal of scripts with inlined dependents. The goal isn't to automate defer entirely but rather to p

[2022-09-19 15:46] pbearne commented on #526
Will this have to be loaded via object-cache to catch the early get options calls?

[2022-09-19 17:11] felixarntz opened #539 "Readme changelog command is broken"
## Bug Description

When running `npm run readme -- -m "1.5.0"` earlier to prepare the 1.5.0 release, I received an error causing the changelog to not be generated:
[code]

Please test running it on your side as well. If this is a consistent error, something broke (possibly during the recent dependency update in #511) and we need to fix it.

[2022-09-19 17:36] felixarntz opened #540 "Add `can-load.php` files to load Site Health checks for persistent cache and full page cache conditionally"
Since the two modules for the Site Health checks for persistent cache and full page cache got merged into core, we need to add logic so that these two modules are only loaded going forward when the relevant core functionality is not already present. For that we should use the `can-load.php` approach which was established in #293.

Relevant WordPress core commits:
* https://core.trac.wordpress.org/

[2022-09-19 17:43] #466 closed, assigned to felixarntz

[2022-09-19 17:51] pushpakpop commented on #539
I can reproduce the issue on my end with the same error.

[2022-09-19 20:01] markjaquith commented on #526
@pbearne Not necessarily. For sites using the default transient PHP memory object cache, we could just look inside the one-by-one object cache to see what got put in there before we were able to start listening.

Didn't validate that in my proof-of-concept, but I think it's feasible.

We can also add a filter and use that to mark certain WP core options (that are accessed early) as "should definit

[2022-09-20 02:02] Kevin-Hamilton commented on #168
@adamsilverstein - regarding CSP nonce, yes it is a security measure.  For a deeper dive on the topic, I recommend this video: https://www.youtube.com/watch?v=_L06HetskC4.

Regarding existing tickets - I believe you were owner of the ticket that resulted in the 4 new API functions added to WP 5.7: https://make.wordpress.org/core/2021/02/23/introducing-script-attributes-related-functions-in-wordpre

[2022-09-20 05:55] mukeshpanchal27 commented on #539
I also replicate the issue in my end.

Gutenberg still used old version for `@octokit/rest` https://github.com/WordPress/gutenberg/blob/trunk/package.json#L98.

I will take a look and submit PR for it.

[2022-09-20 12:26] pbearne commented on #526
I suspect that is the way to go

[2022-09-20 15:46] mxbclang commented on #531
_Please vote for if we should bump the minimum requirement for Performance Lab to WP 6.0 with a thumbs-up for yes or thumbs-down emoji for no on this comment. Voting will close on **Friday, September 30, 2022 at 5pm UTC**._

[2022-09-20 16:34] ecotechie commented on #531
Isn't the point to eventually merge these modules into Core? How would backward compatibility work then?

[2022-09-20 17:32] felixarntz commented on #531
@ecotechie Whenever a module gets merged into WP core, it would by definition only be merged into the latest core version. So I'd argue that's a point for always working against the latest core version when developing this plugin. Of course we don't need to bump the WP version requirement of the plugin unnecessarily, but IMO nothing is holding us back from doing so whenever we need it, due to the

[2022-09-20 18:12] eugene-manuilov commented on #526
This feels like a band-aid that is intended to solve symptoms of a problem by adding an additional level of functionality that is needed only because we don't have API in the codebase that will allow developers to properly register their options. We have API that allows developers register settings, meta keys for posts and terms, nav menus, sidebars and widgets, post types and taxonomies, but we d

[2022-09-20 18:36] markjaquith commented on #526
How would we store the registered options and how would we know when they weren't used anymore?

[2022-09-20 18:56] eugene-manuilov commented on #526
Registered options will be stored in memory, the same way how other registered entities are stored (an array in the global scope).

Once a plugin is deactivated, it stops registering plugin options, hence those options stop appearing in the registered options array and no longer used in preloading.

Here is a very basic sample:

[code]

[2022-09-20 19:02] tillkruss commented on #526
It would also allow WordPress to detect how many options (and bytes) a single plugin is registering.

[2022-09-20 20:12] markjaquith commented on #526
Hmm. But WordPress queries the autoloaded options before plugins are included. We need to know the contents of `active_plugins` to know which plugins are even active! So wouldn't this result at the very least in two stages of options loading?

[2022-09-20 20:14] felixarntz commented on #526
@eugene-manuilov Note that there is already `register_setting()`, so I would argue we could cover any additional arguments needed by enhancing that function rather than introducing a new one.

My main concern if we go only with such an API is that it will still not be used enough. No matter how much we advocate for it being used, as long as not using it does not result in fatal errors (which we al

[2022-09-20 20:39] eugene-manuilov commented on #526
Yes, unfortunately, we will need to execute an additional query to load active plugins (and maybe other critical information for WP core, such as home/site url, etc) before loading plugin/theme level options.

@felixarntz, yes, you are right, but the `register_settings()` function signature expects a setting to be associated with settings group, which is not needed if a plugin/theme uses its own s

[2022-09-20 20:52] felixarntz commented on #526
@eugene-manuilov

I agree that group name parameter there is unfortunate, but it is simply "legacy bloat" we will have to keep for backward compatibility. I'm not sure that justifies introducing an entirely new function though. I would say what we could do is overload the second parameter so that it becomes the `$args` instead, and soft-deprecate the 3rd parameter. Then the new encouraged way woul

[2022-09-21 09:00] ankitrox commented on #503
#### Synopsis

Background job is technically a taxonomy in WordPress. Background job queue is the collection of terms in the `background_job` taxonomy. Background job class is responsible to manage the terms and other metadata related to the background job infrastructure.

Following are the properties and meta description for job class.

| Name | Property / Meta | Data type  | Purpose | Default |

[2022-09-21 13:32] mxbclang commented on #481
@jjgrainger Assigning to you to answer @felixarntz's questions here.

[2022-09-21 14:45] #539 closed, assigned to mukeshpanchal27

[2022-09-21 14:45] #540 closed, assigned to mukeshpanchal27

[2022-09-21 14:49] mehulkaklotar commented on #525
**Work done**

- WordPress setting `generate_webp_and_jpeg` -> boolean value
- Changes default filter output for `webp_uploads_upload_image_mime_transforms` to image/jpeg and image/webp if the `generate_webp_and_jpeg` is true

**Remaining work**(After https://github.com/WordPress/performance/issues/524 is merged)

- Add unit tests around new WP Settings and their use with filter
- Changes if neede

[2022-09-22 08:36] mukeshpanchal27 commented on #523
+1 It would be fantastic if we could incorporate these changes into a plugin so that other page builders or custom template users could benefit from them.

I quickly test checked the Elementor Website Builder source code and they mainly used `wp_get_attachment_image` for image related blocks, so if we implement it, then it is a big win. Here we just need to think. We need to implement it as defaul

[2022-09-22 11:59] mukeshpanchal27 commented on #399
@felixarntz Sorry for the delay. I agree with you. I will explore that document.

[2022-09-23 15:25] jamesozzie opened #545 "Allow for modification or removal of the -jpg suffix added to webp images, generated from jpg files"
## Feature Description

As per a user request in the forums allow for modification or removal of the naming structure of _webp_ images that are generated from _jpg_ files. At present when _webp_ files are created from uploaded _jpg_ they include a -jpg suffix.

Example: If I upload `myimage.jpg` the respective webp version will be titled `myimage-jpg.webp`

- [Support topic](https://wordpress.org/

[2022-09-26 13:19] mukeshpanchal27 commented on #399
@felixarntz I have submitted PR for this issue but different PHP version is not support when we set custom `phpVersion` config value. Check https://github.com/WordPress/gutenberg/issues/29323 for more information.

[2022-09-27 01:35] PaulSchiretz commented on #545
I second that, a filter for the suffix would be great! i used a plugin that created myimage.jpg -> myimage.jpg.webp and i'm serving those images via url rewrite. So to be able to keep serving my existing images and create new ones with the performance lab plugin it would be handy to be able to to change the suffix of the generated files!

Thx paul

[2022-09-27 05:10] mukeshpanchal27 commented on #545
Thanks, Paul, for the comment.

Some background for the image extension. Plugin added the original image's extension to the WebP file name for its uniqueness in #444, for two or more images share the same file name but different mime types.

If you are aware of the rise of the same file name with different mime types issue, the filter is a good option for removing file name extensions.

Filter tha

[2022-09-27 08:03] mukeshpanchal27 commented on #531
In addition to version bump we have to remove `polyfills.php` file that we added in #376 for `wp_filesize` function.

[2022-09-29 16:49] adamsilverstein commented on #545
I'm open to the idea of introducing some developer control here, however we may want something broader to control naming overall.

We may want to hold and revisit this once we consider adjusting the approach in the plugin to match where we wound up in core.

[2022-09-30 16:11] mxbclang opened #548 "Prepare 1.6.0 release"
This issue is to track preparation of the upcoming 1.6.0 release up until publishing, which is due October 17, 2022.

- [x]  Create release/1.6.0 branch closer to the release date
- [x]  Finalize scope and punt unfinished pull requests to following release
- [x]  Prepare the release (Monday, October 17, 2022)

[2022-09-30 17:05] mxbclang commented on #531
**Voting is now closed.**

Based on **11** thumbs up votes and **0** thumbs down votes, we'll proceed with bumping the minimum requirement for Performance Lab to WP 6.0.

@felixarntz Reassigning to you!

[2022-09-30 17:19] felixarntz commented on #531
Thanks everyone for voting!

So this should be ready for a PR to created. We should throughout all the codebase (including documentation) update the minimum WP version reference to be 6.0 (instead of 5.8), and also remove any polyfills that aren't needed anymore with the new minimum version requirement (see https://github.com/WordPress/performance/issues/531#issuecomment-1259136232).

[2022-10-03 15:12] #531 closed, assigned to mukeshpanchal27

[2022-10-03 18:57] felixarntz opened #551 "Introduce Server-Timing API as part of infrastructure"
## Context

Common web performance metric and auditing tools (e.g. Lighthouse, PageSpeed Insights, WebPageTest) only focus on client-side performance in detail. Server-side performance gets reduced to a single metric ([TTFB](https://web.dev/ttfb/)), simply because these tools cannot look "behind the scenes". This means we have no clear way to figure out how e.g. a feature in the Performance Lab pl

[2022-10-04 09:32] jjgrainger commented on #479
Fixed via #507

[2022-10-04 09:32] #479 closed, assigned to jjgrainger

[2022-10-04 09:32] jjgrainger commented on #503
Fixed via #507

[2022-10-04 09:32] #503 closed, assigned to ankitrox

[2022-10-04 14:50] eugene-manuilov commented on #524
@felixarntz I have updated my PR. Could you please take another look?

[2022-10-04 15:20] jeffpaul commented on #427
@spacedmonkey see https://github.com/darylldoyle/svg-sanitizer/issues/80#issuecomment-1242284071 for info on how we could get 5.6 compat added back to the svg-sanitizer library.

[2022-10-04 15:23] jjgrainger commented on #481
@felixarntz correct, this AJAX callback is only used to start the process.

I've also updated the function signature for `perflab_background_process_run( int $job_id ): void` in the description. But I may need to re review based on the updates to the background process being made a class now.

[2022-10-04 15:43] johnbillion commented on #551
The primary problem I ran into when attempting to implement this in Query Monitor is that headers need to be sent before any output, and a lot of processing that happens in WordPress that would ideally be measured occurs after the output begins. Short of wrapping everything in an output buffer, this means the header has limited use.

I looked into HTTP trailers but these are only supported when th

[2022-10-04 16:10] tillkruss commented on #551
Right, I ran into this as well in the past. The only way around it was output buffering 😬

[2022-10-05 11:30] #524 closed, assigned to felixarntz

[2022-10-07 20:13] #525 closed, assigned to mukeshpanchal27

[2022-10-11 00:39] felixarntz commented on #551
@johnbillion I've added a POC with some testing instructions including a Gist with examples in #553. Would love to get your feedback on it.

Regarding usage of an output buffer, I think this is definitely something we should consider, given that this is a plugin. We can make it filterable like it is in the POC PR, but potentially we may even want to enable it by default.

[2022-10-11 01:02] tillkruss commented on #551
Given that my plug-in already measures timings, how can I supply them to this module at the last possible moment?

[2022-10-11 09:17] markhowellsmead commented on #7
That is the ideal situation and clients are taught to choose the appropriate size when adding content to the site. If the full-sized image is set then the performance will be worse, which is expected. If the new feature will choose between the two alternatives (WebP and JPG) for the selected size when the HTML is rendered, I agree that this will be the best solution for performance, if not for mea

[2022-10-11 10:57] isaumya commented on #86
I am so happy to see this getting merged to WP core. I'm so happy that I opened the ticket for this in the first place. Great job guys. 🥳

[2022-10-11 14:32] felixarntz commented on #551
@tillkruss Great question, I was just thinking that we should probably introduce an action like `perflab_server_timing_send_header` which could be used as the last possible point to add metrics. That'll abstract away the need to have to know the internals on when the header is sent.

[2022-10-11 16:07] felixarntz opened #554 "Revamp available focus areas"
In the [performance chat on October 11](https://wordpress.slack.com/archives/C02KGN5K076/p1665500425205239), a few proposals for aligning our focus areas were discussed, based on some requests and how the current focus areas have been working.

1. Introduce a "Database" focus area?
    * see [chat log](https://wordpress.slack.com/archives/C02KGN5K076/p1665502442523129)
2. Introduce a "CSS" focus a

[2022-10-11 16:13] mxbclang commented on #554
For proposal 1, please vote on this comment with a 👍 or 👎 emoji to **introduce a new Database focus area**. Voting will close on **Tuesday, October 18, 2022 at 5pm UTC**.

[2022-10-11 16:16] mxbclang commented on #554
For proposal 2, please vote on this comment with:
- 😄 to introduce a new CSS focus area
- 🎉 to expand the JavaScript focus area to include CSS and rename it to "CSS & JS" or "Assets"
- ❤️ to keep things as is and not add a new CSS focus area nor add it to the JS focus area

Voting will close on **Tuesday, October 18, 2022 at 5pm UTC**.

[2022-10-11 16:17] mxbclang commented on #554
For proposal 3, please vote on this comment with a 👍 or 👎 emoji to **remove the Site Health focus area and relocate existing Site Health modules to the relevant topic focus area**. Voting will close on **Tuesday, October 18, 2022 at 5pm UTC**.

[2022-10-12 16:33] felixarntz commented on #548
[Release branch for 1.6.0](https://github.com/WordPress/performance/tree/release/1.6.0) has been created. Any critical bug fixes for that release should go against that branch instead of `trunk`. No issues/PRs are left for that release.

[2022-10-17 17:45] #548 closed, assigned to felixarntz, mxbclang

[2022-10-17 17:48] felixarntz opened #560 "WebP upload configuration checkbox not showing in Settings > Media for multisite"
## Bug Description

The checkbox introduced in #525 does not show up when using Multisite. This is because the entire settings section (group `media`, section `uploads`) is not rendered for multisites. We have to fix this, which I think could be done in two alternative ways:
* Either we keep control about this per site in the multisite, thus just conditionally render it in another settings section

[2022-10-17 17:50] felixarntz commented on #560
I'm personally leaning towards still rendering the checkbox in Settings > Media (i.e. per site), just in the `default` section when using a multisite, so that it still shows up at the bottom for both scenarios (generally I'd say the "Uploads" section is most appropriate so that's why I'd still leave it there for single site environments).

Another reason IMO to not move it to the network level is

[2022-10-17 17:59] mehulkaklotar commented on #560
@felixarntz I agree to render the checkbox in Settings > Media per site. It makes more sense to put it in site settings instead of network settings.

[2022-10-18 04:28] mukeshpanchal27 opened #561 "Investigate unexpected input `Warning` message during release build process"
## Bug Description

During the release process for version 1.6.0 of the plugin the "New Release" step threw a warning:

Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16: actions/checkout, softprops/action-gh-release,

[2022-10-18 05:17] pushpakpop commented on #560
Per site settings option seems better as it provides more control.

[2022-10-18 07:01] bachjessen opened #562 "With Dominant Color enabled, loses focal point settings"
## Bug Description

When the Dominant Color is enabled in the performance plug-in the image looses its focal point

## Steps to reproduce

1. make sure Dominant Color is enabled in performance plug-in
2. Go to a page or post
3. add a cover to the post/page
4. set a focal point
5. update image and see the image just centering
6. disable Dominant Color and reload page/post
7. the focal point set in

[2022-10-18 15:49] ecotechie commented on #551
Why not use Xdebug + webgrind as mentioned in the Slack channel?
https://wordpress.slack.com/archives/C02KGN5K076/p1666106999180819

[2022-10-18 15:59] adamsilverstein opened #563 "Change default WebP quality to 82"
### Feature Description
In https://github.com/WordPress/performance/issues/7 and the related Trac ticket (https://core.trac.wordpress.org/ticket/54356) we have been researching the best default quality settings for WebP images. While results aren't conclusive, I propose testing a quality of 82 in ther plugin to gather additional (subjective) feedback.

### Current Status
Currently, when uploading

[2022-10-18 16:03] felixarntz commented on #551
@ecotechie Tools like those could certainly be used, but IMO that falls outside the scope of this issue, which is mainly about a way to _expose_ performance metrics data to the client. For _how_ the measurement happens, I think here the simplest starting point is to simply measure time in PHP.

Obviously there are more sophisticated ways to measure PHP performance like those you're mentioning, but

[2022-10-18 17:42] mxbclang commented on #554
**Voting is now closed.**

For proposal 1, based on **10** thumbs up votes, we will **introduce a new Database focus area**.

For proposal 2, based on **7** 🎉 votes and **1** 😄 votes, we will **expand the JavaScript focus area to include CSS and rename it to "CSS & JS" or "Assets"**.

For proposal 3, based on **7** 👍 votes and **1** 👎 vote, we will **remove the Site Health focus area and relocate

[2022-10-18 18:08] felixarntz commented on #554
@bethanylang I would suggest we reopen this to have it as an overview for any PRs that address this. We also still need to follow up on asking for focus leads.

I think what we need in terms of code changes are:
* PR that updates focus areas in `CODEOWNERS` (see #564)
* PR that updates focus areas in the codebase (to do)
    * Update `perflab_get_focus_areas()` to return the latest focus areas

[2022-10-18 18:10] mxbclang commented on #185
Closing as Site Health has been retired as a focus area per the vote in #554.

[2022-10-18 18:10] #185 closed, assigned to nobody

[2022-10-19 15:49] kenny-nt commented on #545
How about selections between: filename.jpg to filename.jpg.webp or filename.webp
I need option: filename.jpg.webp.

[2022-10-20 22:17] felixarntz commented on #182
While the removal of unnecessary `wp_head` meta tags, scripts, etc. is certainly a common use-case, there are several solutions to achieve this already, and overall this doesn't make for a good fit for the Performance Lab plugin. While I do that on some of my personal sites too, most of that removal is purely for "clean up" rather than a notable performance benefit.

If there is a concrete perform

[2022-10-20 22:17] #182 closed, assigned to nobody

[2022-10-20 22:20] felixarntz commented on #97
Closing this due to a lack of activity here, plus it looks like there's no path forward.

The "Status" tab already uses labels for different focuses, one of which is "Performance". Additionally, if we were to reorganize Site Health (e.g. so that these focuses are individual tabs), it should rather be a Core Trac ticket, as it would go beyond the scope of the Performance Lab plugin.

[2022-10-20 22:20] #97 closed, assigned to nobody

[2022-10-24 14:02] jamesozzie opened #567 "Improve error handling: Cannot use object of type stdClass as array"
## Bug Description

[One user in the support forums ](https://wordpress.org/support/topic/php-error-cannot-use-object-of-type-stdclass-as-array/) reported the below error:

Uncaught Error: Cannot use object of type stdClass as array in /wp-content/plugins/performance-lab/modules/images/webp-uploads/rest-api.php:21 Stack trace:

[code]

Awaiting feedback from impacted user. No further details at pr

[2022-10-24 14:52] mxbclang commented on #567
@mukeshpanchal27 Assigning this bug to you to take a look at when you return from PTO next week, thank you!

[2022-10-24 16:29] mxbclang commented on #563
@mukeshpanchal27 Assigning this to you for your return, as well. Let's prioritize this and #567 over your other projects work so we can make sure we have plenty of time for review/testing for the 1.7.0 release. Thank you!

[2022-10-27 08:49] #560 closed, assigned to mehulkaklotar

[2022-10-27 10:57] mehulkaklotar commented on #561
All actions will be running on Node 16 instead of Node 12 as [GH changelog suggests](https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/). so we need to update the `actions/checkout` to v3 or stable tag and `softprops/action-gh-release` to v1 at least in [deploy-dotorg.yml](https://github.com/WordPress/performance/blob/trunk/.github/w

[2022-10-30 02:09] Rod-Gomes commented on #15
Hello @khoipro ,

Are you sure your code above works as expected on various themes? I'm building on it for another project, but I noticed that there are some issues with some themes, related to `wp_get_attachment_url` and `wp_get_attachment_image_src`. In some themes, the image link disappears.

My code:
[code]

[2022-10-31 17:24] ecotechie commented on #563
So if the quality is dropped for WebP to 82, will they have the same hoped visual quality as their JPEG counterparts? I would think the goal is to have the uploaded image change formats, be smaller, but not have any noticeable visual change.

I suggest setting it to a level that maintains visual parity.

[2022-10-31 23:48] #567 closed, assigned to mehulkaklotar

[2022-11-01 13:06] mehulkaklotar commented on #563
@ecotechie There were some tests conducted for the quality check. You can find it here. https://github.com/WordPress/performance/issues/7#issuecomment-1144856244

[2022-11-01 13:13] mehulkaklotar commented on #563
@adamsilverstein For other mime types like `image/jpeg` what we could return from the proposed solution? Or It will remain the same from the returning filter?

[2022-11-02 21:29] pbearne commented on #562
@simon-bd thanks for spotting this. It turns out we had some extra CSS left from when we used low rez images as placeholders

[2022-11-06 03:24] wpraiz commented on #455
Nice

[2022-11-07 07:50] james58899 opened #575 "Regenerate thumbnail duplication webp file"
## Bug Description

If using the Regenerate Thumbnails plugin regenerate thumbnail cause file duplication.

## Steps to reproduce

1. Enable WebP Uploads
2. Install [Regenerate Thumbnails](https://wordpress.org/plugins/regenerate-thumbnails/)
3. Upload the image
4. Click Regenerate Thumbnails in the media library
5. Image file duplicated

## Screenshots
Before regenerate:
![](https://user-images.g

[2022-11-07 14:09] mxbclang commented on #563
@adamsilverstein Just pinging again here if you have a moment, thanks!

[2022-11-07 14:31] mxbclang opened #576 "Prepare 1.7.0 release"
This issue is to track preparation of the upcoming `1.7.0` release up until publishing, which is due **November 21, 2022**.

* [x] Create `release/1.7.0` branch closer to the release date
* [x] Finalize scope and punt unfinished pull requests to following release
* [x] Prepare the release (**Monday, November 21, 2022**)

[2022-11-07 16:05] andrewstandoutreclame commented on #86
I've got a little error maybe due to this.
Uncaught SyntaxError: Unexpected token 'async' (at (index):1310:1290)
When json_encoding html (with a srcset url) the encoding="async" bit isn't getting encoded properly.
[code]
Ill dig some deeper and i'll follow it up.

[2022-11-07 17:28] jamesozzie opened #577 "Revise "Dominant Color" styling and inline styling"
## Bug Description

As [one user in the support forums](https://wordpress.org/support/topic/dominant-color-option-enabled-it-overwrites-style-only-on-the-frontend/#post-16172789) reported, the plugin is adding the below inline styling to images if the "_Dominants Color_" option is enabled.
`style="--dominant-color: #332f2b;"`

One of the problems with this, is that it is overwriting any existing i

[2022-11-07 18:22] mxbclang commented on #577
@pbearne @spacedmonkey Tagging you in on this report from a user from the support forum. Can you please take a look?

[2022-11-07 18:27] mxbclang commented on #86
Thanks, @andrewstandoutreclame! If you do continue to encounter this error, can you please <a href="https://github.com/WordPress/performance/issues/new?assignees=&labels=%5BType%5D+Bug&template=bug_report.md">open a new bug report issue</a> and refer back to this issue? That will help us triage this more efficiently. Thank you!

[2022-11-07 19:03] #554 closed, assigned to mukeshpanchal27

[2022-11-08 06:11] isaumya commented on #86
Hi @andrewstandoutreclame,
That seems wired. Are you json encoding after the full HTML is generated cause then you are not supposed to have this issue.

[2022-11-08 10:37] #561 closed, assigned to mehulkaklotar

[2022-11-08 12:04] andrewstandoutreclame commented on #86
Thanks for the replies. I fixed it.

I could not find out how it put the decoding="async" in the HTML. The Wordpress filter changing the decoding attributes to sync didn't work. I checked for plugins but it didn't seem the case
However 'manually' putting in decoding="sync" on the image resolved the issue with the json_encode() function.

@isaumya I was generating the json via PHP (json_encode) rig

[2022-11-08 15:28] OllieJones commented on #132
This issue has generated many responses, just like the tix https://core.trac.wordpress.org/ticket/33885 it refers to.

Here's my summary of the choices.

1. Keep the status quo as of WordPress 6.1: rely on persistent caching and index optimization plugins (like mine and others). Keep hunting🔎 for opportunities to cache various things. (That hunting will happen anyway, of course.)

2. Do a schema-l

[2022-11-08 15:52] OllieJones opened #579 "Let's get WordPress.org into the Green Software Foundation."
There's a foundation called Green Software Foundation. https://greensoftware.foundation/ Let's join it. (The cost is zero for not-for-profit outfits. But it wouldn't be zero for Automattic, of course.)

It doesn't seem to be an effort at [greenwashing ](https://en.wikipedia.org/wiki/Greenwashing)for software companies, but rather seems to be doing serious work. One of their initiatives is figuring

[2022-11-08 16:28] patrick-leb commented on #132
option 1 is obviously the least controversial, however, I don't think it should be the answer. it's (very nice) bandaid to a crappy schema to begin with. I think Option 2 is the way to go, deprecating the old schema for a few years before removing it entirely. I agree with @AlecKinnear's point that not moving forward just encourages bad hosting behaviours. That Antelope engine is old AF.... we can

[2022-11-08 17:08] mxbclang commented on #579
@felixarntz Tagging you in here for your thoughts!

[2022-11-08 17:14] mxbclang commented on #132
_Please vote for an approach on this comment:_

* 😄 to keep the status quo as of WordPress 6.1: rely on persistent caching and index optimization plugins.
* 🎉 to do a schema-layout split in core. After such a split, there would be two versions of the WordPress schema going forward. One will support the legacy DBMS versions (Antelope storage engine), and the other will have better indexes without `

[2022-11-08 17:26] felixarntz commented on #579
I think it would be best to raise this with a larger audience. For example, we could talk about it in the performance chat. But eventually this will require a Make post to gain any traction, and most importantly it will require project leadership support to make it happen.

[2022-11-08 17:37] azaozz commented on #132
Seems this suggests to fork core (to certain extend). Who is going to maintain the fork? Good luck!! :)

Actually thinking to close 33885 as invalid. WP has changed quite significantly over the years and the meta box it refers to is not used (by default) any more. Any DB modernization/optimizations resulting from it should ideally go in new tickets.

Regarding the three options above, is there one

[2022-11-08 18:26] OllieJones commented on #579
Of course. I guess "Project leadership" probably means https://ma.tt , correct?

[2022-11-08 23:17] felixarntz commented on #575
@james58899 When you ran into this bug, did you have the checkbox to generate both WebP and JPEG (under `Settings > Media`) enabled or disabled?

[2022-11-09 00:59] james58899 commented on #575
I didn't enable it, only generate thumbnails in webp format.

[2022-11-09 14:20] mxbclang commented on #470
@pbearne Heads up that with the removal of WebP from core, #24 has been put on hold indefinitely, so we can't move forward on this module proposal at this time. Keeping it open and in Backlog for future consideration.

[2022-11-11 17:55] adamsilverstein commented on #168
@Kevin-Hamilton I agree we should word to land nonce support in `wp_enqueue_script`, I don't see that covered in the existing tickets but maybe I missed it. The new functions were added as a way to avoid introducing any backwards compatibility breakage. One idea to cover both a nonce and a loading strategy would be to add a new $args array parameter that included both.

[2022-11-15 14:36] adamsilverstein commented on #470
I still feel like this could be a useful module because it informs users their sizes are not set correctly. We can point to the canonical "regenerate thumbnails" plugin (or a plugin search for that phrase) to help users fix the issue

[2022-11-15 14:39] adamsilverstein commented on #470
and links to the function to rebuild if they don't

@pbearne curious how you were thinking this could be accomplished. For sites with many media items, scanning every image would be costly. A scalable approach might be to only look at the oldest X images to check for correct sizes, or use a sampling approach. Neither would be completely accurate, but would still catch most cases.

What do you thin

[2022-11-15 14:43] adamsilverstein commented on #427
Another possibility would be enabling SVG only for sites that have 7.0+; we add conditional support for other formats based on server capabilities as well (eg. PDF, WebP).

[2022-11-15 14:53] adamsilverstein commented on #354
https://github.com/WordPress/wordpress-develop/compare/trunk...pbearne:wordpress-develop:use_dominat_color_in_media_libary?expand=1

Thanks for sharing this code sample @pbearne I see how adding this in core would be much easier, however I'm going to dig in a little more to see if we can add the correct classes to the template. A possible solution would be to unhook core's template and insert our

[2022-11-15 14:56] adamsilverstein commented on #294
I wonder why this isn't enabled by default when available?

[2022-11-15 15:09] joppuyo commented on #294
Because libjpeg is the default JPEG library in most Linux distributions and other operating systems. If you wanna use MozJPEG, you will need to explicitly install it and recompile ImageMagick/GD using MozJPEG.

This is really an issue with the server environment and not the application code so WordPress can’t really influence what’s going on under the hood. It will simply use whatever JPEG library

[2022-11-15 20:19] felixarntz commented on #427
Strong +1 to what @adamsilverstein; we also discussed this a few weeks back in one of the weekly performance chats, and everyone was aligned that this would be a good feature to simply only offer for sites on PHP 7+. It can easily be built in a way that SVG uploads are not allowed for those WordPress sites still running on PHP 5.6.

I've clarified that in the issue description now.

[2022-11-16 18:57] #562 closed, assigned to pbearne

[2022-11-16 20:41] #563 closed, assigned to mehulkaklotar

[2022-11-16 20:44] felixarntz commented on #576
Release branch https://github.com/WordPress/performance/tree/release/1.7.0 has been created.

There is one PR #578 that still needs to be approved and merged for that release before it is complete.

[2022-11-16 22:30] Richard-TR commented on #17
Just a little nudge to say this would be incredibly useful. All existing image optimisation solutions available for wordpress pale in comparison to squoosh. Perhaps even a little menu for setting settings for auto squooshing on upload. Would mean inexperienced users (contributors for example) don't have to mess around with things they don't understand.

[2022-11-17 03:26] felixarntz commented on #577
Fixed via #578 and #582

[2022-11-17 03:26] #577 closed, assigned to pbearne, spacedmonkey

[2022-11-17 20:10] adamsilverstein commented on #477
Note that based on [this comment](https://github.com/whatwg/fetch/issues/1319#issuecomment-1299923409) Gecko (Mozilla) plans to implement this in Q1 of 2023.

[2022-11-18 21:52] AlecKinnear commented on #132
@bethanylang Those choices take us off track it seems to me. You've managed to obscure the original fix by muddying with changing the keys (which is a red herring here, I'd agree to keeping the keys in a less resource intensive format, but that's _another conversation_.

What we are talking about here is indexing database tables for a 30x speed improvement on larger WordPress sites. Pardon my cyni

[2022-11-20 16:07] tillkruss commented on #132
@AlecKinnear: Or index by default and allow hosting companies to opt-out.

[2022-11-21 18:46] #576 closed, assigned to felixarntz, mxbclang

[2022-11-23 17:53] #477 closed, assigned to pbearne

[2022-11-25 12:59] YellowlimeNL commented on #579
I would love to see WordPress joining this Foundation, excellent suggestion @OllieJones

[2022-11-28 10:13] mukeshpanchal27 commented on #575
@james58899 thanks for reporting the issue.

I replicate the issue when I regenerate the image using the plugin. The above PR resolves the issue with the full-size image. I find one more bug when I regenerate images multiple times.

Images after the first regeneration:
<img width="224" alt="Screenshot 2022-11-28 at 3 37 37 PM" src="https://user-images.githubusercontent.com/10103365/204250940-c1f1f

[2022-11-28 15:28] mxbclang commented on #132
@OllieJones @felixarntz Can I ask you to please take a look at the comments above and help me determine the best next steps here? Thank you both!

[2022-11-28 16:02] batonac opened #586 "Feature request: High Performance AJAX"
## Feature Description

There are some gists out there demonstrating how the highly-utilized admin-ajax.php can be sped up for frontend requests with a few tweaks, disabling certain admin actions/hooks. According to [the original gist](https://gist.github.com/yllus/8181d8670fd296854c1e41078d969cc1), this can "speed up AJAX requests by 50% or more". [Here's an updated fork for WP 6.1](https://gist.

[2022-11-29 10:43] mehulkaklotar commented on #575
@mukeshpanchal27 Actual issue is with replacing original image with custom mime type version here in this line: https://github.com/WordPress/performance/blob/trunk/modules/images/webp-uploads/load.php#L136

So it creates 2 issues there.

1. **Regenerating images**: First regeneration has no issues because till this time, the original image is not replaced. After the first regeneration, metadata is

[2022-11-29 15:32] OllieJones commented on #132
@azaozz and @AlecKinnear  have pointed out the big disadvantage to making dbms-version-dependent changes to the default schema's indexes:  more stuff to maintain in core etc. It's truly a disadvantage of that alternative, and a strong argument.

With respect, I disagree with @AlecKinnear 's assertion that the voting set up by @bethanylang obscures the issues. Quite, the opposite: it boils them dow

[2022-11-29 15:35] OllieJones commented on #579
There's a #sustainability effort going on. https://make.wordpress.org/project/2022/11/01/sustainability-channel-what-should-we-do/ This suggestion of mine is in their wheelhouse. Performance folks have plenty to do. What we do improves sustainability, but we don't have to own the foundation stuff here.

[2022-11-29 16:25] pbearne commented on #470
As I was planning to look at the file names, we could grab a few folder blobs loop to strip the filename to leave the size string and then add if different.
I like the idea of just sampling, starting with the oldest

? are we going to look for images that are not needed or/and check all images we have the image sizes we need for the current theme/setup

We can stop looking once we find a mismatch

[2022-11-29 18:51] rjasdf commented on #132
* In some situations, the improved indexes may decrease disk usage.
* LONGTEXT cannot (currently) be fully indexed MySQL  (There are partial solutions for this but that is not being suggested here.)
* There are many different suggested improvements; the package -- folding the indexes into Core does not have to be "all-or-none".  Some comments seem to imply "since this part won't work in this case,

[2022-11-29 18:56] nekohayo commented on #12
As it's been a while since the initial comments here at the beginning of 2022, and you probably noticed that JPEG XL has gotten _really_ good industry and software adoption in recent months. The list [here](https://en.wikipedia.org/wiki/JPEG_XL#Software) is getting pretty long. This image codec's support has spread like wildfire on Linux, all the major apps and desktops I've encountered support at

[2022-11-29 19:04] rjasdf commented on #347
When wp_options is abused by plugins, loading "all" options can slow down the User Experience.  The case is:
* There are a lot of options, so loading all of them is time-consuming.
* The page only needs a small fraction of options.

Corollary:  Pre-loading is 'always' slower when you only need a single option.

[2022-11-29 19:28] mxbclang commented on #132
:wave: Hi all! The vote in https://github.com/WordPress/performance/issues/132#issuecomment-1307557009 is now formally closed, with the "winning" option being to do a schema-split layout in core (17 votes).

However, it's clear that there's still discussion to be had here before we proceed with any further work, so we'll leave this issue open for that purpose for now with the intent to let everyon